---
title: Button
order: 3
collection: nav__components
template: page.jade
---

p.paragraph.
  Bacon ipsum dolor amet bacon tail ribeye jowl,
  pork chop prosciutto turducken pork shankle.
  Landjaeger short ribs capicola, frankfurter
  pork belly meatloaf picanha.

.toc
  .toc__title Inhalte auf dieser Seite
  ul.toc__anchor-navigation
    li.toc__anchor-navigation__item
      a(href='#').toc__anchor-navigation__link Primary button
    li.toc__anchor-navigation__item
      a(href='#').toc__anchor-navigation__link Secondary button
    li.toc__anchor-navigation__item
      a(href='#').toc__anchor-navigation__link Floating Action Button

h2.heading.heading--secondary Primary button

p.paragraph.
  Strip steak brisket shoulder, kielbasa meatloaf
  short ribs beef salami ball tip filet mignon pork
  loin cow boudin flank. Shank ham fatback, shoulder
  sirloin spare ribs kielbasa.

.example
  .example__header
    .example__device-selection
      .example__break-selection__device
  .example__content
    .button Foobar
  .example__code
    .example__code__trigger
    .example__code__tabs.tab-panel
      .tab-panel__header
        .tab-panel__header__tab
        .tab-panel__header__tab
      .tab-panel__content

h3.heading.heading--tertiary Checklist

ul.checklist
  li.checklist__item Foo<br/>bar
  li.checklist__item Foobar
  li.checklist__item Foobar

h2.heading.heading--secondary Secondary button

p.paragraph.
  Strip steak brisket shoulder, kielbasa meatloaf
  short ribs beef salami ball tip filet mignon pork
  loin cow boudin flank. Shank ham fatback, shoulder
  sirloin spare ribs kielbasa.

:markdown
  - Foobar
  - Other
  - Cool