---
title: Main Menu
order: 6
layout: page.pug
---

include ./includes/mixins.pug

:markdown-it
  The main menu is the primary navigation on large viewports.
  It is prominently placed in the
  [Header Component](/components/header.html "Header Component").
  
  The component displays the first level of your navigation.
  Further levels are displayed on hover or touch, where they
  appear in an overlay residing directly under the main menu.
  
aside.callout
  h2.callout__heading Not mobile-ready!
  :markdown-it
    Because of the large complexity of this component, there
    is no mobile version of the *main menu component*. Navigation on
    small viewports is instead handled using the
    [Mobile Menu Component](/components/mobile-menu.html "Mobile Menu Component").

.toc
  .toc__title Table of contents
  ul.toc__anchor-navigation
    li.toc__anchor-navigation__item
      a(href='#basic-menu').toc__anchor-navigation__link Basic Menu
    li.toc__anchor-navigation__item
      a(href='#multi-level-menu').toc__anchor-navigation__link Multi-Level Menu

:markdown-it
  # Basic Menu
  
  The basic main menu only displays the first level of
  your navigation.

+example('/components/demos/main-menu-basic.html', { disableMobile: true, disableTablet: true })

.toggle
  .toggle__button(data-info, data-target='#menu-basic')
    +svg('source', ['icon', 'toggle__icon'])
    span See code
  .toggle__content#menu-basic
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlight ./snippets/main-menu-basic.pug

:markdown-it
  ---
  
  # Multi-Level Menu

  The multi-level main menu is an extension of the basic menu.
  It allows you to define another navigational level which
  is then displayed in an overlay.
  
  The overlay is triggered on touch or hover, depending on the
  capabilities of the used device.

+example('/components/demos/main-menu-multi.html', { disableMobile: true, disableTablet: true })

.toggle
  .toggle__button(data-info, data-target='#menu-multi')
    +svg('source', ['icon', 'toggle__icon'])
    span See code
  .toggle__content#menu-multi
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
          .tab-panel__header__tab(data-tab-toggle='js') JavaScript
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlight ./snippets/main-menu-multi.pug
        .tab-panel__content__tab(data-tab-content='js')
          :markdown-it
            If you omit the `data-menu="main"` attribute, the
            menu won't get any functionality.
            
            In order to add
            the missing functionality programmatically, simply initialize the
            `$().mainMenu()` plugin.
            
            ```js
            var menu = $("[data-menu='main']")
            
            // initialize the plugin
            menu.mainMenu()
            ```

//- Copyright AXA Versicherungen AG 2015
