---
title: Typography
order: 11
layout: page.pug
tags: h1,h2,h3,paragraph,font,font-style,font-color
---

include ../mixins.pug

.toc
  .toc__title Table of contents
  ul.toc__anchor-navigation
    li.toc__anchor-navigation__item
      a(href='#general').toc__anchor-navigation__link General
    li.toc__anchor-navigation__item
      a(href='#long-words-automatic-word-breaking').toc__anchor-navigation__link Long Words: Automatic word breaking
    li.toc__anchor-navigation__item
      a(href='#long-words-overflow-ellipsis').toc__anchor-navigation__link Long Words: Overflow Ellipsis

.hr

h2.heading.heading--secondary#general General

+example('/components/demos/typography.html')

.hr

h2.heading.heading--secondary#long-words-automatic-word-breaking Long Words: Automatic word breaking

p.paragraph
  :markdown-it
    The `.word-break` mixin asks the browser to break long words automatically.
    In the best case the browser breaks only syllables and adds appropriate hyphens,
    though this is subject to the used browser's implementation it helps if you specifiy the `lang` attribute.
    See:
     - [CanIUse css-hyphens](http://caniuse.com/#feat=css-hyphens)
     - [CanIUse word-break](http://caniuse.com/#feat=word-break)

+example('/components/demos/long-words-automatic-word-breaking.html')

.hr

h2.heading.heading--secondary#long-words-overflow-ellipsis Long Words: Overflow Ellipsis

p.paragraph
  :markdown-it
    The `.ellipsis` mixin asks the browser to cut long words automatically if they overflow and to add 3 dots.
    This feature is well supported, but works only for **single line**.
    See: [CanIUse text-overflow](http://caniuse.com/#feat=text-overflow)

+example('/components/demos/long-words-overflow-ellipsis.html')

//- Copyright AXA Versicherungen AG 2015
