---
title: Form
template: development.jade
---

:markdown
  The ``form`` block provides structural elements for a form.

  The form is structured as follows:

.highlight
  pre.highlight__listing
    code.
      .form
      └── .form__group (repeat as needed)
          ├── .form__group__label
          │   └── .form__group__label__text
          |       └── Label text
          └── .form__group__control
              └── Form control
      └── .form__fotnote * Pflichtfelder

:markdown
  To use an info-icon in the `form__group__label` the structure
  is as follows:

.highlight
  pre.highlight__listing
    code.
      .form__group__label
      └── .form__group__label__info-icon
          ├── .info-icon
          └── .form__group__label__info-icon-text-wrapper
              └── .form__group__label__text
                  └── Label text

:markdown
  Some form groups don't need a label (e.g. "accept terms and
  condition"). For those use cases simply omit the
  ``.form__group__label`` element and add the
  ``.form__group__control--fullwidth`` modifier to the
  ``.form__group__control`` element.


.highlight
  pre.highlight__listing
    code.
      .form
      └── .form__group
          └── .form__group__control.form__group__control--fullwidth
              └── Form control

p.paragraph
  | For a complete example please head over to the
  a(href=relative('/example')).link Examples
  | .

:sample
  .l-container
    .form
      .form__group
        label.form__group__label
          .form__group__label__text Form label
        .form__group__control
          input.control.control--input(type='text')
      .form__group
        label.form__group__label
          .form__group__label__text Form label
        .form__group__control
          input.control.control--input(type='text')
      .form__group
        .form__group__label
          .form__group__label__info-icon
            .info-icon
          label.form__group__label__info-icon-text-wrapper
            .form__group__label__text Form label
        .form__group__control
          input.control.control--input(type='text')
      .form__group
        .form__group__control.form__group__control--fullwidth
          label.checkbox(data-checkbox)
            input.checkbox__checkbox(type='checkbox')
            .checkbox__label
              .checkbox__label__text
                span Full width control
      .form__footnote * Pflichtfelder

// Copyright AXA Versicherungen AG 2015
