---
title: Popover
template: development.jade
status: experimental
---

h2.heading.heading--secondary Intro
:markdown
  The popover block represents a small context dependent dialog to display
  arbitrary elements. It is hidden by default. Add the ``.is-active`` state
  to make it visible.

.callout.
  In small mode for mobile devices, the popover is full screen. When it's
  visible and the media query for small is active, you have to add the
  <code>.is-modal-open</code> state to the body element of your page to hide the main
  scrollbar.

:markdown
  The popover has a fixed width of 320 pixels. On mobile it's full width.

h2.heading.heading--secondary Structure
:markdown
  The ``popover__tail`` block is used to display a small angle to show on which
  element the popover was activated.
  The ``popover__box__header__headline`` block is optional. If you want a
  headline, write it in there.
  Place your content inside the ``popover__box__content`` block.

:sample
  a.button(id='toggleButton',data-popover='#popover') Show Popover
  .popover(id='popover')
    .popover__tail
    .popover__box
      .popover__box__header
        a.popover__close.icon.icon--modal-close
        .popover__box__header__headline Demo
      .popover__box__content__wrapper
        .popover__box__content
          textarea.control.control--textarea
          p.paragraph
            a.button.button--small 'clicky click'

// Copyright AXA Versicherungen AG 2015
