---
title: Progress Container
template: development.jade
---

:markdown
  The ``.progress-container`` block is designed to contain a
  ``.progress-tracker`` block and conclude it with a label of the
  current step. The container adds a background to the half
  of the ``.progress-tracker`` block.

.callout
  :markdown
    The ``.progress-container`` should never be located
    inside a ``.l-container`` since its background has to
    be full width. Instead add the ``.l-container`` class
    to the ``.progress-container__progress`` element.

:sample
  .progress-container
    .l-container.progress-container__progress.progress-tracker
      ul.progress-tracker__flow
        li.progress-tracker__step.step.step--start.is-active
          span.step__bullet 1
        li.progress-tracker__step.step.is-active
          span.step__bullet 2
        li.progress-tracker__step.step.step--end
          span.step__bullet.step__bullet--checkmark
    .progress-container__label Foobar

// Copyright AXA Versicherungen AG 2015
