// This is the main style file.
// Add this for full inclusion or only pick the needed block files.
// Enjoy!

@import 'variables';

@import 'bootstrap/normalize';
@import 'bootstrap/variables';

// Core mixins
@import 'bootstrap/mixins';

// Reset and dependencies
@import 'bootstrap/normalize';
@import 'bootstrap/print';

// Core CSS
@import 'bootstrap/reboot';
@import 'bootstrap/type';
@import 'bootstrap/images';
@import 'bootstrap/code';
@import 'bootstrap/grid';
@import 'bootstrap/tables';
@import 'bootstrap/forms';
@import 'bootstrap/buttons';

// Components
@import 'bootstrap/transitions';
@import 'bootstrap/dropdown';
@import 'bootstrap/button-group';
@import 'bootstrap/input-group';
@import 'bootstrap/custom-forms';
@import 'bootstrap/nav';
@import 'bootstrap/navbar';
@import 'bootstrap/breadcrumb';
@import 'bootstrap/pagination';
@import 'bootstrap/badge';
@import 'bootstrap/jumbotron';
@import 'bootstrap/alert';
@import 'bootstrap/progress';
@import 'bootstrap/media';
@import 'bootstrap/list-group';
@import 'bootstrap/responsive-embed';
@import 'bootstrap/close';

// Components w/ JavaScript
@import 'bootstrap/modal';
@import 'bootstrap/tooltip';
@import 'bootstrap/popover';
@import 'bootstrap/carousel';

// Mixins
@import 'style/mixins';

// Utilities
@import 'style/utilities';

// Core CSS and Components
@import 'style/alerts';
@import 'style/banner';
@import 'style/browser-not-supported';
@import 'style/btn';
@import 'style/drawer';
@import 'style/footer';
@import 'style/footer-copyline';
@import 'style/footer-languages';
@import 'style/footer-links';
@import 'style/footer-social';
@import 'style/header';
@import 'style/loading-spinner';
@import 'style/links';
@import 'style/mask';
@import 'style/nav';
@import 'style/sliding-menu';
@import 'style/table-of-contents';
@import 'style/table';
@import 'style/type';

// To be refactored and migrated to style/xyz
@import 'style/blocks/autocomplete';
@import 'style/blocks/backdrop';
@import 'style/blocks/blockquote';
@import 'style/blocks/bouncy-spinner';
@import 'style/blocks/brand';
@import 'style/blocks/bubble';
@import 'style/blocks/button-row';
@import 'style/blocks/button';
@import 'style/blocks/checkbox-group';
@import 'style/blocks/checkbox';
@import 'style/blocks/checklist';
@import 'style/blocks/chips';
@import 'style/blocks/cite';
@import 'style/blocks/code';
@import 'style/blocks/control';
@import 'style/blocks/datepicker';
@import 'style/blocks/dialog';
@import 'style/blocks/dropdown';
@import 'style/blocks/dropdown-2';
@import 'style/blocks/dropzone';
@import 'style/blocks/ellipsis';
@import 'style/blocks/example-header';
@import 'style/blocks/fieldset';
@import 'style/blocks/file-upload-multi';
@import 'style/blocks/file-upload-single';
@import 'style/blocks/header-search';
@import 'style/blocks/heading';
@import 'style/blocks/hr';
@import 'style/blocks/icon-teaser';
@import 'style/blocks/image';
@import 'style/blocks/info-icon';
@import 'style/blocks/info-text';
@import 'style/blocks/label';
@import 'style/blocks/left-navigation';
@import 'style/blocks/list';
@import 'style/blocks/link';
@import 'style/blocks/list-group';
@import 'style/blocks/main-nav';
@import 'style/blocks/menu-main';
@import 'style/blocks/menu';
@import 'style/blocks/meta-language';
@import 'style/blocks/meta-language2';
@import 'style/blocks/meta-menu';
@import 'style/blocks/mobile-actions';
@import 'style/blocks/mobile-languages';
@import 'style/blocks/mobile-menu';
@import 'style/blocks/mobile';
@import 'style/blocks/modal';
@import 'style/blocks/modal2';
@import 'style/blocks/notifications';
@import 'style/blocks/paragraph';
@import 'style/blocks/page-content';
@import 'style/blocks/popover';
@import 'style/blocks/prolist';
@import 'style/blocks/progress-container';
@import 'style/blocks/progress-tracker';
@import 'style/blocks/progress-tracker-bar';
@import 'style/blocks/progressbar';
@import 'style/blocks/richtext';
@import 'style/blocks/segmented-control';
@import 'style/blocks/step';
@import 'style/blocks/steps';
@import 'style/blocks/summary';
@import 'style/blocks/tab-panel';
@import 'style/blocks/table';
@import 'style/blocks/tag';
@import 'style/blocks/toggle';
@import 'style/blocks/word-break';

// Bootstrap utilities
@import 'bootstrap/utilities';

// Copyright AXA 2016
