// This is the main style file.
// Add this for full inclusion or only pick the needed block files.
// Enjoy!

@import 'variables';

@import 'bootstrap/normalize';
@import 'bootstrap/variables';

// Core variables and mixins
@import 'bootstrap/mixins';

// Reset and dependencies
@import 'bootstrap/normalize';
@import 'bootstrap/print';
//@import 'bootstrap/glyphicons';

// Core CSS
@import 'bootstrap/scaffolding';
@import 'bootstrap/type';
@import 'bootstrap/code';
@import 'bootstrap/grid';
@import 'bootstrap/tables';
@import 'bootstrap/forms';
@import 'bootstrap/buttons';

// Components
@import 'bootstrap/component-animations';
@import 'bootstrap/dropdowns';
@import 'bootstrap/button-groups';
@import 'bootstrap/input-groups';
@import 'bootstrap/navs';
@import 'bootstrap/navbar';
@import 'bootstrap/breadcrumbs';
@import 'bootstrap/pagination';
@import 'bootstrap/pager';
@import 'bootstrap/labels';
@import 'bootstrap/badges';
@import 'bootstrap/jumbotron';
@import 'bootstrap/thumbnails';
@import 'bootstrap/alerts';
@import 'bootstrap/progress-bars';
@import 'bootstrap/media';
@import 'bootstrap/list-group';
@import 'bootstrap/panels';
@import 'bootstrap/responsive-embed';
@import 'bootstrap/wells';
@import 'bootstrap/close';

// Components w/ JavaScript
@import 'bootstrap/modals';
@import 'bootstrap/tooltip';
@import 'bootstrap/popovers';
@import 'bootstrap/carousel';

// Utility classes
@import 'bootstrap/utilities';
@import 'bootstrap/responsive-utilities';

@import 'style/utilities';

@import 'style/type';

@import 'style/mixins/button';
@import 'style/mixins/clearfix';
@import 'style/mixins/ellipsis';
@import 'style/mixins/font';
@import 'style/mixins/invisible-font';
@import 'style/mixins/invisible-input';
@import 'style/mixins/make-link';
@import 'style/mixins/richtext';
@import 'style/mixins/target';
@import 'style/mixins/unstyle-list';
@import 'style/mixins/word-break';

@import 'style/blocks/autocomplete';
@import 'style/blocks/backdrop';
@import 'style/blocks/blockquote';
@import 'style/blocks/bouncy-spinner';
@import 'style/blocks/brand';
@import 'style/blocks/bubble';
@import 'style/blocks/button-row';
@import 'style/blocks/button';
@import 'style/blocks/checkbox-group';
@import 'style/blocks/checkbox';
@import 'style/blocks/checklist';
@import 'style/blocks/chips';
@import 'style/blocks/cite';
@import 'style/blocks/code';
@import 'style/blocks/control';
@import 'style/blocks/datepicker';
@import 'style/blocks/dialog';
@import 'style/blocks/downloads';
@import 'style/blocks/dropdown';
@import 'style/blocks/dropdown-2';
@import 'style/blocks/dropzone';
@import 'style/blocks/ellipsis';
@import 'style/blocks/example-header';
@import 'style/blocks/fieldset';
@import 'style/blocks/file-upload-multi';
@import 'style/blocks/file-upload-single';
@import 'style/blocks/footer-copyline';
@import 'style/blocks/footer-links';
@import 'style/blocks/footer-social';
@import 'style/blocks/footer-worldwide';
@import 'style/blocks/footer';
@import 'style/blocks/header-search';
@import 'style/blocks/header';
@import 'style/blocks/heading';
@import 'style/blocks/hr';
@import 'style/blocks/icon';
@import 'style/blocks/icon-teaser';
@import 'style/blocks/image';
@import 'style/blocks/info-icon';
@import 'style/blocks/info-text';
@import 'style/blocks/label';
@import 'style/blocks/left-navigation';
@import 'style/blocks/list';
@import 'style/blocks/link';
@import 'style/blocks/list-group';
@import 'style/blocks/main-nav';
@import 'style/blocks/menu-main';
@import 'style/blocks/menu';
@import 'style/blocks/meta-language';
@import 'style/blocks/meta-language2';
@import 'style/blocks/meta-menu';
@import 'style/blocks/mobile-actions';
@import 'style/blocks/mobile-languages';
@import 'style/blocks/mobile-menu';
@import 'style/blocks/mobile';
@import 'style/blocks/modal';
@import 'style/blocks/modal2';
@import 'style/blocks/notifications';
@import 'style/blocks/paragraph';
@import 'style/blocks/page-content';
@import 'style/blocks/popover';
@import 'style/blocks/prolist';
@import 'style/blocks/progress-container';
@import 'style/blocks/progress-tracker';
@import 'style/blocks/progress-tracker-bar';
@import 'style/blocks/progressbar';
@import 'style/blocks/richtext';
@import 'style/blocks/segmented-control';
@import 'style/blocks/site';
@import 'style/blocks/spinner';
@import 'style/blocks/step';
@import 'style/blocks/steps';
@import 'style/blocks/summary';
@import 'style/blocks/tab-panel';
@import 'style/blocks/table';
@import 'style/blocks/tag';
@import 'style/blocks/toc';
@import 'style/blocks/toggle';
@import 'style/blocks/word-break';

@import 'style/blocks/btn';

// Copyright AXA Versicherungen AG 2015
