---
title: Tab Panel - Full Width
layout: demo.hbs
---
<div class="tab-panel">
  <div class="tab-panel__header">
    <div class="tab-panel__header__tabs">
      <div class="tab-panel__header__tab">Tab A</div>
      <div class="tab-panel__header__tab is-active">Tab B</div>
      <div class="tab-panel__header__tab">Tab C</div>
      <div class="tab-panel__header__tab">Tab D</div>
      <div class="tab-panel__header__tab">Tab E</div>
      <div class="tab-panel__header__tab">Tab F</div>
    </div>
  </div>
  <div class="tab-panel__content tab-panel__content__tab__fullwidth-content">
    <div class="tab-panel__content__tab">Content A</div>
    <div class="tab-panel__content__tab is-active">Content B</div>
    <div class="tab-panel__content__tab">Content C</div>
    <div class="tab-panel__content__tab">Content D</div>
    <div class="tab-panel__content__tab">Content E</div>
    <div class="tab-panel__content__tab">Content F</div>
  </div>
</div>
