@import '../blocks/icon';

.make-button-size(@height, @pad-lr, @icon-pad, @icon-size, @font-size, @line-height: 1.5, @border-radius: 0) {
  // TODO: we may support @line-height in pixel or em using css guards
  @calculated-line-height: @font-size * @line-height;

  font-size: @font-size;

  line-height: @line-height;
  padding: ((@height - @calculated-line-height) / 2) @pad-lr;

  border: none;

  & .button__icon {
    font-size: @icon-size;
    display: inline;
  }

  border-radius: @border-radius;
}

.make-button-color(@bg-color, @color, @hover-bg-color: @bg-color, @hover-color: @color) {
  background: @bg-color;
  color: @color;

  text-decoration: none;

  &:hover {
    background: @hover-bg-color;
    color: @hover-color;
  }

  &:focus {
    outline: none;
    background: lighten(@bg-color, 10%);
  }

  & .button__icon {
    color: @color;

    &:hover {
      color: @hover-color;
    }
  }
}
/* Copyright AXA Versicherungen AG 2015 */
