// This is the classic clearfix hack.
// FIXME: Consider the combinator clearfix!

.clearfix {
  display: block;
  zoom: 1;

  &::after {
    content: " ";

    display: block;
    clear: both;
    visibility: hidden;

    height: 0;

    font-size: 0;
  }
}

// Copyright AXA Versicherungen AG 2015
