@import "../variables.less";

.make-font-heading-primary {
  font-size: 1.5625em; //25px
  font-weight: bold;
  line-height: 1.4;

  .respond(medium, {
    font-size: 3em; //48px
  });
}

.make-font-heading-secondary {
  font-size: 1.3125em; //21px
  line-height: 1.4;
  font-weight: bold;

  .respond(medium, {
    font-size: 2em; //32px
  });
}

.make-font-heading-tertiary {
  font-size: 1.1875em; //19px
  font-weight: bold;
  line-height: 1.4;

  .respond(medium, {
    font-size: 1.5em; //24px
  });
}

.make-font-x-large {
  font-size: 1em; //16px
  font-weight: @font-weight-medium;
  line-height: 1.6;

  .respond(medium, {
    font-size: 1.1875em; //19px
  });
}

.make-font-large {
  font-size: 1em; //16px
  line-height: 1.6;

  .respond(medium, {
    font-size: 1.0625em; //17px
  });
}

.make-font-large-semibold {
  font-size: 1em; //16px
  font-weight: @font-weight-medium;
  line-height: 1.6;

  .respond(medium, {
    font-size: 1.0625em; //17px
  });
}

.make-font-medium {
  font-size: 0.875em; //14px
  line-height: 1.6;

  .respond(medium, {
    font-size: 1em; //16px
  });
}

.make-font-medium-semibold {
  font-size: 0.875em; //14px
  font-weight: @font-weight-medium;
  line-height: 1.6;

  .respond(medium, {
    font-size: 1em; //16px
  });
}

.make-font-small-semibold {
  font-size: 0.875em; //14px;
  line-height: 1.6;
  
  font-weight: @font-weight-medium;
}
