---
title: Loading Spinner
layout: demo.hbs
---
<div class="loading-spinner is-active">
  <div class="loading-spinner-animation"></div>
  <div class="loading-spinner-caption">searching for cat videos...</div>
</div>
