@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .fade-in-#{$breakpoint}-up {
      transition: opacity $transition-normal $transition-easeout, visibility 0s linear;
      opacity: 1;
      visibility: visible;
    }

    .fade-in-delayed-#{$breakpoint}-up {
      transition: opacity $transition-normal $transition-easeout $transition-delay-normal, visibility 0s linear $transition-delay-normal;
      opacity: 1;
      visibility: visible;
    }

    .fade-out-#{$breakpoint}-up {
      transition: opacity $transition-normal $transition-easeout, visibility 0s linear $transition-delay-normal;
      opacity: 0;
      visibility: hidden;
    }

    .fade-out-delayed-#{$breakpoint}-up {
      transition: opacity $transition-normal $transition-easeout $transition-delay-normal, visibility 0s linear ($transition-delay-normal + $transition-normal);
      opacity: 0;
      visibility: hidden;
    }
  }

  @include media-breakpoint-down($breakpoint) {
    .fade-in-#{$breakpoint}-down {
      transition: opacity $transition-normal $transition-easeout, visibility 0s linear;
      opacity: 1;
      visibility: visible;
    }

    .fade-in-delayed-#{$breakpoint}-down {
      transition: opacity $transition-normal $transition-easeout $transition-delay-normal, visibility 0s linear $transition-delay-normal;
      opacity: 1;
      visibility: visible;
    }

    .fade-out-#{$breakpoint}-down {
      transition: opacity $transition-normal $transition-easeout, visibility 0s linear $transition-delay-normal;
      opacity: 0;
      visibility: hidden;
    }

    .fade-out-delayed-#{$breakpoint}-down {
      transition: opacity $transition-normal $transition-easeout $transition-delay-normal, visibility 0s linear ($transition-delay-normal + $transition-normal);
      opacity: 0;
      visibility: hidden;
    }
  }
}
