// TODO: Make it clear that these are for the drawer

@each $breakpoint in map-keys($grid-breakpoints) {
  $width: map-get($drawer-widths, $breakpoint);

  @include media-breakpoint-up($breakpoint) {
    .push-#{$breakpoint}-left {
      padding-left: $width;
    }

    .push-#{$breakpoint}-right {
      padding-right: $width;
    }
  }
}
