.typo-78-serif {
  font-family: $font-family-serif;
  font-size: 78px;
  font-weight: bold;
  letter-spacing: -0.01em;
  line-height: 1.051;
}

.typo-78 {
  font-family: $font-family-sans-serif;
  font-size: 78px;
  font-weight: bold;
  letter-spacing: -0.01em;
  line-height: 1.051;
}

.typo-62-serif {
  font-family: $font-family-serif;
  font-size: 62px;
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 1.161;
}

.typo-62 {
  font-family: $font-family-sans-serif;
  font-size: 62px;
  font-weight: bold;
  letter-spacing: -0.01em;
  line-height: 1.161;
}

.typo-48-serif {
  font-family: $font-family-serif;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 1.125;
}

.typo-48 {
  font-family: $font-family-sans-serif;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0.01em;
  line-height: 1.125;
}

.typo-36 {
  font-family: $font-family-sans-serif;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.01em;
  line-height: 1.125;
}

.typo-28-serif {
  font-family: $font-family-serif;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 1.143;
}


@mixin typo-28() {
  font-family: $font-family-sans-serif;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 1.143;
}

.typo-28 {
  @include typo-28();
}

.typo-24 {
  font-family: $font-family-sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2
}

@mixin typo-20 {
  font-family: $font-family-sans-serif;
  font-size: 20px;
  letter-spacing: 0.01em;
  line-height: 1.5;
}

.typo-20 {
  @include typo-20();
}

@mixin typo-18 {
  font-family: $font-family-sans-serif;
  font-size: 18px;
  letter-spacing: 0.01em;
  line-height: 1.5;
}

.typo-18 {
  @include typo-18();
}

@mixin typo-16 {
  font-family: $font-family-sans-serif;
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 1.5;
}

.typo-16 {
  @include typo-16();
}

.typo-14 {
  font-family: $font-family-sans-serif;
  font-size: 14px;
  letter-spacing: 0.08em;
}

.typo-13 {
  font-family: $font-family-sans-serif;
  font-size: 13px;
  letter-spacing: 0.08em;
}

.typo-main-title-editorial {
  @extend .typo-78-serif;
}

.typo-main-title {
  @extend .typo-78;
}

.typo-title-l2-editorial {
  @extend .typo-62-serif;
}

.typo-title-l2 {
  @extend .typo-62;
}

.typo-title-l3-editorial {
  @extend .typo-48-serif;
}

.typo-title-l3 {
  @extend .typo-48;
}

.typo-title-menu,
.typo-footer-l2 {
  @extend .typo-36;
  text-transform: uppercase;
}

.typo-title-l4-editorial {
  @extend .typo-28-serif;
}

.typo-title-l4 {
  @extend .typo-28;
}

.typo-footer-l1 {
  @extend .typo-28;
  font-weight: 600;
  text-transform: uppercase;
}

.typo-item-highlight {
  @extend .typo-24;
}

.typo-menu-item {
  @extend .typo-24;
  text-transform: uppercase;
}

.typo-story-text {
  @extend .typo-20;
}

.typo-body-text {
  @extend .typo-18;
}

.typo-list-body-text {
  @extend .typo-18;
}

.typo-bold-text {
  @extend .typo-18;

  font-weight: bold;
}

.typo-footer-main {
  @extend .typo-16;

  font-weight: bold;
}

.typo-footer-sub {
  @extend .typo-16;

  line-height: 2.063;
  letter-spacing: 0.01em;
}

.typo-button {
  @extend .typo-16;

  font-weight: 600;
  text-transform: uppercase;
}

.typo-article-header {
  @extend .typo-14;

  text-transform: uppercase;
}

.typo-link {
  @extend .typo-14;

  font-weight: bold;
  text-transform: uppercase;
}

.typo-navigation,
.typo-small-button {
  @extend .typo-13;

  font-weight: 600;
  text-transform: uppercase;
}

.typo-header-bar {
  @extend .typo-13;

  text-transform: uppercase;
}

.typo-footer-legal {
  @extend .typo-13;
}
