---
title: Inspiration
order: 4
collection: nav
template: page.jade
description: Get inspired in our gallery of best-pracitces from all over AXA Switzerland.
---
img(src=relative('/images/inspiration/inspiration.gif'),width='300px')

p.paragraph.
  You can find a lot of inspiration in the menue on your left hand side. Now start exploring, building and being awesome.
