---
title: Checkbox-Group
template: demo.jade
---

include /components/includes/mixins.jade

.checkbox-group
  label.checkbox(data-checkbox)
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      +svg('checkmark', 'checkbox__label__icon')
      .checkbox__label__text Sample checkbox one
  label.checkbox(data-checkbox)
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      +svg('checkmark', 'checkbox__label__icon')
      .checkbox__label__text Sample checkbox two

//- Copyright AXA Versicherungen AG 2015
