---
title: Non-Enhanced-Checkbox
template: demo.jade
---

include /components/includes/mixins.jade

label.checkbox
  input.checkbox__checkbox(type='checkbox')
  .checkbox__label
    +svg('checkmark', 'checkbox__label__icon')
    .checkbox__label__text Sample checkbox

//- Copyright AXA Versicherungen AG 2015
