---
title: Pro List
template: demo.jade
---

include /components/includes/mixins.jade

ul.prolist.prolist--conlist
  li.prolist__item
    .prolist__item__icon
      +svg('remove', ['icons-list__icon', 'icon'])
    .prolist__item__content Reparatur nach Standards und Herstellervorschriften
  li.prolist__item
    .prolist__item__icon
      +svg('remove', ['icons-list__icon', 'icon'])
    .prolist__item__content Lebenslange Garantie auf geleistete Arbeit
  li.prolist__item
    .prolist__item__icon
      +svg('remove', ['icons-list__icon', 'icon'])
    .prolist__item__content Kostenloser Ersatzwagen während der Reparatur
  li.prolist__item
    .prolist__item__icon
      +svg('remove', ['icons-list__icon', 'icon'])
    .prolist__item__content Reinigung des Fahrzeugs

//- Copyright AXA Versicherungen AG 2015
