---
title: Datepicker-Pure
template: demo.jade
---

.picker.picker--with-weeknumber.is-active
  .picker__header
    a.picker__prev
    a.picker__next
    .picker__headline
      span.picker__headline__month June 2015
  .picker__content
    .picker__month
      .picker__week.picker__week--headline
        .picker__weeknumber.picker__weeknumber--headline
        .picker__day.picker__day--headline Mo
        .picker__day.picker__day--headline Tu
        .picker__day.picker__day--headline We
        .picker__day.picker__day--headline Th
        .picker__day.picker__day--headline Fr
        .picker__day.picker__day--headline Sa
        .picker__day.picker__day--headline Su
      .picker__week
        .picker__weeknumber 23
        .picker__day 1
        .picker__day 2
        .picker__day 3
        .picker__day 4
        .picker__day.picker__day--today 5
        .picker__day 6
        .picker__day 7
      .picker__week
        .picker__weeknumber 24
        .picker__day 8
        .picker__day 9
        .picker__day 10
        .picker__day 11
        .picker__day 12
        .picker__day 13
        .picker__day 14
      .picker__week
        .picker__weeknumber 25
        .picker__day 15
        .picker__day 16
        .picker__day 17
        .picker__day 18
        .picker__day 19
        .picker__day 20
        .picker__day 21
      .picker__week
        .picker__weeknumber 26
        .picker__day 22
        .picker__day 23
        .picker__day 24
        .picker__day 25
        .picker__day 26
        .picker__day 27
        .picker__day 28
      .picker__week
        .picker__weeknumber 27
        .picker__day 29
        .picker__day 30
        .picker__day.picker__day--next-month 1
        .picker__day.picker__day--next-month 2
        .picker__day.picker__day--next-month 3
        .picker__day.picker__day--next-month 4
        .picker__day.picker__day--next-month 5

//- Copyright AXA Versicherungen AG 2015
