---
title: Datepicker
template: demo.jade
---

include /components/includes/mixins.jade

.l-container
  .form
    .form__group
      label.form__group__label
        .form__group__label__text Form label
      .form__group__control
        .datepicker#myDatepicker(
          data-datepicker-watch="#myDatepickerInput",
          data-datepicker-display-week,
          data-datepicker-icon-prev=relative('/images/icons.svg#arrow-left'),
          data-datepicker-icon-next=relative('/images/icons.svg#arrow-right')
        )
          .datepicker__trigger(data-datepicker="#myDatepicker")
            +svg('calendar', 'datepicker__trigger__icon')
          .datepicker__input
            input(type='text').control.control--input#myDatepickerInput
