---
title: Condensed-Dropdown
template: demo.jade
---

include /components/includes/mixins.jade

.dropdown(data-dropdown)
  .dropdown__label.dropdown__label--condensed(data-label)
    +svg('arrow-bottom', 'dropdown__label__icon')
    .dropdown__label__text(data-text)
  select.dropdown__select(data-select)
    option Schweiz
    option Regenbogenland

//- Copyright AXA Versicherungen AG 2015
