---
title: Condensed-Dropdown
template: demo.jade
---

include /components/includes/mixins.jade

.dropdown.dropdown--large(data-dropdown)
  .dropdown__label.dropdown__label--large(data-dropdown-label)
    +svg('arrow-bottom', 'dropdown__label__icon dropdown__label__icon--large')
    .dropdown__label__text.dropdown__label__text--large(data-dropdown-text)
  select.dropdown__select(data-dropdown-select)
    option Schweiz
    option Regenbogenland

//- Copyright AXA Versicherungen AG 2015
