---
title: Progress Tracker
template: demo.jade
---

include /components/includes/mixins.jade

.progress-tracker
  ul.progress-tracker__flow
    li.progress-tracker__step.step.step--start.is-active
      span.step__bullet 1
    li.progress-tracker__step.step.is-active.is-current
      span.step__bullet 2
    li.progress-tracker__step.step.step--end
      span.step__bullet
        +svg('process-checkmark', 'step__bullet__checkmark')

//- Copyright AXA Versicherungen AG 2015
