---
title: Progress Bar
template: demo.jade
---

include /components/includes/mixins.jade

.progress-bar
  ul.progress-bar__container
    li.progress-bar__step.is-active
      span.progress-bar__step__nr 1
      span.progress-bar__step__label Lorem Ipsum dolor sit
    li.progress-bar__step.is-active
      span.progress-bar__step__nr 2
      span.progress-bar__step__label Lorem Ipsum dolor sit
    li.progress-bar__step
      span.progress-bar__step__nr 3
      span.progress-bar__step__label Lorem Ipsum dolor sit
    li.progress-bar__step
      span.progress-bar__step__nr 4
      span.progress-bar__step__label Lorem Ipsum dolor sit

//- Copyright AXA Versicherungen AG 2015
