---
title: Pro List
template: demo.jade
---

include /components/includes/mixins.jade

h3.prolist__heading Ihre Vorteile

ul.prolist
  li.prolist__item
    .prolist__item__icon
      +svg('add', ['icons-list__icon', 'icon'])
    .prolist__item__content Reparatur nach Standards und Herstellervorschriften
  li.prolist__item
    .prolist__item__icon
      +svg('add', ['icons-list__icon', 'icon'])
    .prolist__item__content Lebenslange Garantie auf geleistete Arbeit
  li.prolist__item
    .prolist__item__icon
      +svg('add', ['icons-list__icon', 'icon'])
    .prolist__item__content Kostenloser Ersatzwagen während der Reparatur
  li.prolist__item
    .prolist__item__icon
      +svg('add', ['icons-list__icon', 'icon'])
    .prolist__item__content Reinigung des Fahrzeugs

//- Copyright AXA Versicherungen AG 2015
