---
title: Stacked Segmented Control
template: demo.jade
---

div(style='max-width:200px;')
  .segmented-control(data-segmented-control)
    label.segmented-control__item
      input.segmented-control__item__radio(type='radio', name='bar')
      span.segmented-control__item__label Foo bar
    label.segmented-control__item
      input.segmented-control__item__radio(type='radio', name='bar')
      span.segmented-control__item__label long text
    label.segmented-control__item
      input.segmented-control__item__radio(type='radio', name='bar')
      span.segmented-control__item__label and some
    label.segmented-control__item
      input.segmented-control__item__radio(type='radio', name='bar')
      span.segmented-control__item__label more controls
