---
title: Summary
template: demo.jade
---

include /components/includes/mixins.jade

.summary
  h3.summary__heading Form group name
  ul.summary__items
    li.summary__item
      h4.summary__label Field label
      .summary__content Field content ...
  a.summary__edit.link(href='#', title='Eingabe anpassen') ändern

//- Copyright AXA Versicherungen AG 2015
