---
title: Auto-complete text field
template: demo.jade
---

.l-container
  .form
    .form__group
      label.form__group__label
        .form__group__label__text Form label
      .form__group__control
        .autocomplete
          input#cities-autocomplete.control.control--input(type='text')

script.
  $('#cities-autocomplete').autocomplete({
    source: ['8000 Zürich', '8400 Winterthur', '8472 Seuzach']});

//- Copyright AXA Versicherungen AG 2015
