---
title: Auto-complete text field
layout: demo.pug
---

.l-container
  .form
    .form__group
      label.form__group__label
        .form__group__label__text Form label
      .form__group__control
        .autocomplete
          input#cities-autocomplete.control.control--input(type='text', autocomplete="off")

//- Copyright AXA Versicherungen AG 2015
