---
title: Single-line text field
template: demo.jade
---

.l-container
  .form
    .form__group
      label.form__group__label
        .form__group__label__text Form label
      .form__group__control
        input.control.control--input(type='text')
