---
title: Auto-complete Markup only
template: demo.jade
---

.autocomplete
  input.control.control--input(type="text")
  .autocomplete__suggestions
    .autocomplete__suggestions__item.autocomplete__suggestions__item--selected 8000 Zürich
    .autocomplete__suggestions__item 8400 Winterthur
    .autocomplete__suggestions__item 8472 Seuzach
