---
title: Multi-line text field
template: demo.jade
---

include /components/includes/mixins.jade

.l-container
  .form
    .form__group
      label.form__group__label
        .form__group__label__text Form label
      .form__group__control
        textarea.control.control--textarea(type='text',data-autogrow='autogrow')
