---
title: Home Page
template: inspiration/website.jade
order: 1
---

.container
  .row
    .column
      h1= title
  .row
    .column.column--4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quidem, et corrupti facere in aspernatur tempora perferendis accusantium odit laudantium cum laborum exercitationem, dignissimos illum voluptatibus libero doloremque deleniti illo?
    .column.column--8 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quidem, et corrupti facere in aspernatur tempora perferendis accusantium odit laudantium cum laborum exercitationem, dignissimos illum voluptatibus libero doloremque deleniti illo?
