---
title: Fundamentals
order: 1
collection: nav
navigationSubCollection: nav__fundamentals
template: page.jade
description: Learn more about our basics in layout, design and code.
---
img(src=relative('/images/fundamentals/fundamentals.gif'),width='300px')

p.paragraph.
  You can find the fundamental topics in the menue on your left hand side. Now start exploring, building and being awesome.
