---
title: Fundamentals
order: 1
collection: nav
navigationSubCollection: nav__fundamentals
template: page.jade
description: Our design guidelines define how our applications look and behave to ensure consistency and ease of use.
---
