# mac os x
.DS_Store/

# node
node_modules/

# build
# /js/
.happypack/

# project
dist/

# deployment
npm-debug.log

# webstorm
*.iml
.idea/

# Visual Studio
.ntvs_analysis.dat
*.v12.suo
*.njsproj
*.sln
WebEssentials-Settings.json
