# mac os x
.DS_Store/

# node
node_modules/

# build
# /js/

# jsdoc
/docs/page/jsdoc2md

# project
dist/
tmp/

# deployment
npm-debug.log

# webstorm
*.iml
.idea/

# Visual Studio
.ntvs_analysis.dat
*.v12.suo
*.njsproj
*.sln
WebEssentials-Settings.json
