# mac os x
.DS_Store/

# node
node_modules/

# bower
bower_components/
src/bower_components

# project
build/
dist/
release-latest.tar.gz
style-guide-*.tgz

# deployment
.travis/deploy_key
.travis/deploy_key.pub
out/
release-latest.tar
