.DS_Store/
.git/
.happypack/
dist/bundles/docs*
dist/docs/
docs/
lib/
webpack/
.babelrc
.dockerignore
.editorconfig
.eslintrc.json
.jsdocrc
docker-compose.yml
Dockerfile
Jenkinsfile
rancher-compose.yml
tests/
