---
title: Columnated Table
order: 10
template: page.jade
draft: true
---

p.paragraph.
  Columnated tables are a basic layout form which can cause a lot of problems in responsive design.

.toc
  .toc__title Table of contents
  ul.toc__anchor-navigation
    li.toc__anchor-navigation__item
      a(href='#standard').toc__anchor-navigation__link Standard Columnated Table
    li.toc__anchor-navigation__item
      a(href='#stacked').toc__anchor-navigation__link Stacked Columnated Table

h2.heading.heading--secondary#standard Standard Table

p.paragraph.
  This is our basic table for all usecases.

h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      An arrow right of a column name indicates that the table can be sorted by this value.
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      For (possibly) long lists, filtering should be applieable too.

.hr

h2.heading.heading--secondary#standard Drawer Table

p.paragraph.
  This is our basic table for all usecases.

h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      An arrow right of a column name indicates that the table can be sorted by this value.
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      For (possibly) long lists, filtering should be applieable too.

//- Copyright AXA Versicherungen AG 2015
