---
title: Checkbox
order: 2
layout: page.hbs
tags: Checkbox
draft: false
---

<p>
Same markup as bootstrap v4
</p>

<div>
  <label for="checkbox" class="custom-control custom-checkbox">
      <input type="checkbox" id="checkbox" class="custom-control-input" />
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">checkbox</span>
  </label>
</div>

<div>
  <label for="checkbox" class="custom-control custom-checkbox">
      <input type="checkbox" id="checkbox" class="custom-control-input" disabled />
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">disabled</span>
  </label>
</div>
