---
title: Checkbox
order: 4
layout: page.hbs
tags: Checkbox
nav: side/components/forms/checkbox
---

<p>
Same markup as bootstrap v4
</p>

{{> example path="/components/form-and-input-elements/demos/checkbox.html"}}

{{#code-snippet "html"}}{{#get snippets "/components/form-and-input-elements/snippets/checkbox"}}{{{this}}}{{/get}}{{/code-snippet}}
