---
title: Form
order: 1
layout: page.hbs
tags: Form
nav: side/components/forms/form
---

<h1 class="h2">Form and input elements</h1>

<p>The elements in this section implement the <a href="/web-guidelines/forms" >forms module</a></p>

<p>When implementing these components the main goal was to stick to the regular bootstrap markup.
  There are some exceptions, especially for custom controls.</p>

<p>Please find the docs of the individual components in the child pages.</p>

<p>TODO: Add a form example with dark background, etc.</p>
<p>TODO: Add a complete form example</p>
