---
title: Progress Tracker
order: 8
layout: page.pug
tags: Progress, Steps
---

include ../../mixins.pug

p.paragraph.
  The progress tracker informs the user about the amount of
  steps to complete a form or wizard as well as
  his current location in the process.

h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon'])
    .checklist__item__content.
      Set easy to understand names for
      every step.
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon'])
    .checklist__item__content.
      Have as few steps as necessary.
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon'])
    .checklist__item__content
      :markdown-it
        If you want to learn more about how to build forms, visit the
        <a class="link" href="../../patterns/forms.html">form pattern page</a>.

+example('/components/form-and-input-elements/demos/progress-tracker.html')

.toggle
  .toggle__button(data-info, data-target='#code')
    +svg('source', ['icon', 'toggle__icon'])
    span See code
  .toggle__content#code
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlight(renderPug) ./snippets/progress-tracker.pug


h2.heading.heading--tertiary Progress Bar Variation

p.paragraph.
  The progress bar has a different style based on how many entries it contains. This is how it will look with a maximum of 4 steps:

+example('/components/form-and-input-elements/demos/progress-tracker-bar.html')

.toggle
  .toggle__button(data-info, data-target='#code')
    +svg('source', ['icon', 'toggle__icon'])
    span See code
  .toggle__content#code
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlight(renderPug) ./snippets/progress-tracker-bar.pug

p.paragraph.
  With more than 4 steps, the progress bar will not show any numbers and labels:

+example('/components/form-and-input-elements/demos/progress-tracker-bar-long.html')

.toggle
  .toggle__button(data-info, data-target='#code')
    +svg('source', ['icon', 'toggle__icon'])
    span See code
  .toggle__content#code
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlight(renderPug) ./snippets/progress-tracker-bar-long.pug

//- Copyright AXA Versicherungen AG 2015
