---
title: Pro List
order: 12
layout: page.hbs
tags: Prolist
draft: true
---

include ../../mixins.pug

p.paragraph.
  The pro list pattern informs users about the pros of a product.

h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon'])
    .checklist__item__content.
      Short texts are preferred.
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon'])
    .checklist__item__content
      :markdown-it
        If you want to learn more about how to build forms, visit the
        <a class="link" href="../../patterns/forms.html">form pattern page</a>.

+example('/components/form-and-input-elements/demos/prolist.html')

.toggle
  .toggle__button(data-info, data-target='#code')
    +svg('source', ['icon', 'toggle__icon'])
    span See code
  .toggle__content#code
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlight(renderPug) ./snippets/prolist.pug

//- Copyright AXA Versicherungen AG 2015
