---
title: Radio buttons
order: 3
layout: page.hbs
tags: Radio, Segmented Control
nav: side/components/forms/radio
---
<h1 class="h2">Radio buttons</h1>

<h2 class="h3">Radio button 1</h2>

<p>Same markup as bootstrap v4 EXCEPT that you need to add the radio1 class to the <code>.custom-radio</code> elements</p>
<p>NOTE: either do not include any whitespace OR wrap the <code>.custom-radio</code> items inside a <code>.custom-radio1-wrapper</code></p>

{{> example path="/components/form-and-input-elements/demos/radio1.html"}}

{{#code-snippet "html"}}{{#get snippets "/components/form-and-input-elements/snippets/radio1"}}{{{this}}}{{/get}}{{/code-snippet}}

<h2 class="h3">Radio button 2</h2>

<p>Same markup as bootstrap v4 EXCEPT that you need to add the <code>.radio2</code> class to the <code>.custom-radio</code> elements</p>

{{> example path="/components/form-and-input-elements/demos/radio2.html"}}

{{#code-snippet "html"}}{{#get snippets "/components/form-and-input-elements/snippets/radio2"}}{{{this}}}{{/get}}{{/code-snippet}}
