---
title: Select
order: 5
layout: page.hbs
tags: Select, Dropdown
nav: side/components/forms/select
---

<p>Same markup as bootstrap v4. Additionally a <code>.custom-select-danger</code> class can be added to the <code>select</code> tag to highlight an error.</p>

{{> example path="/components/form-and-input-elements/demos/select.html"}}

{{#code-snippet "html"}}{{#get snippets "/components/form-and-input-elements/snippets/select"}}{{{this}}}{{/get}}{{/code-snippet}}

<p>Do NOT add the <code>.custom-select</code> to <code>&lt;select multiple &gt;</code> since they're unstyleable.</p>

{{> example path="/components/form-and-input-elements/demos/select-multiple.html"}}

{{#code-snippet "html"}}{{#get snippets "/components/form-and-input-elements/snippets/select-multiple"}}{{{this}}}{{/get}}{{/code-snippet}}
