---
title: Select
order: 5
layout: page.hbs
tags: Select, Dropdown
nav: side/components/forms/select
---

<p>Custom markup (not comparable to bootstrap v4)</p>

{{> example path="/components/form-and-input-elements/demos/select.html"}}

{{#code-snippet "html"}}{{#get snippets "/components/form-and-input-elements/snippets/select"}}{{{this}}}{{/get}}{{/code-snippet}}

<p>TODO: multi-select</p>

{{> example path="/components/form-and-input-elements/demos/select-multiple.html"}}

{{#code-snippet "html"}}{{#get snippets "/components/form-and-input-elements/snippets/select-multiple"}}{{{this}}}{{/get}}{{/code-snippet}}
