---
title: Textfield
order: 11
layout: page.hbs
tags: Textfield, Input, Textarea
draft: false
---

{{> example path="/components/form-and-input-elements/demos/textfield.html"}}

{{#code-snippet "html"}}{{#get snippets "/components/form-and-input-elements/snippets/textfield"}}{{{this}}}{{/get}}{{/code-snippet}}

<p>AXA (non-bootstrap) custom info texts</p>

{{> example path="/components/form-and-input-elements/demos/textfield-info-icon.html"}}

{{#code-snippet "html"}}{{#get snippets "/components/form-and-input-elements/snippets/textfield-info-icon"}}{{{this}}}{{/get}}{{/code-snippet}}
