---
title: Text fields
order: 2
layout: page.hbs
tags: Text field, Input, Textarea
nav: side/components/forms/textfields
---

<h1 class="h2">Text fields</h1>

<p>Same markup as bootstrap v4</p>

<p>Please find below some examples of textields.</p>

<p>When using textfields make sure to use the proper <code>type</code> (e.g. email, etc.)</p>

{{> example path="/components/form-and-input-elements/demos/textfield.html"}}

{{#code-snippet "html"}}{{#get snippets "/components/form-and-input-elements/snippets/textfield"}}{{{this}}}{{/get}}{{/code-snippet}}

<p>AXA (non-bootstrap) custom info texts</p>

{{> example path="/components/form-and-input-elements/demos/textfield-info-icon.html"}}

{{#code-snippet "html"}}{{#get snippets "/components/form-and-input-elements/snippets/textfield-info-icon"}}{{{this}}}{{/get}}{{/code-snippet}}
