---
title: Example Page
template: example.jade
---

.l-container
  .l-row
    .l-full
      h1 Welcome

  .l-row
    .l-primary
      p.
        Bacon ipsum dolor sit amet chicken sirloin ball tip, capicola short ribs
        bresaola boudin ribeye ground round shankle shoulder frankfurter pork loin
        beef ribs. T-bone biltong ham hock short loin. Capicola pork short ribs
        pastrami tri-tip frankfurter pork chop meatloaf tenderloin hamburger ham
        hock swine porchetta ball tip brisket. Pork fatback meatball ham hock.
        Doner brisket venison ribeye, tongue strip steak jerky shankle sausage
        cow jowl kevin. Shankle turducken andouille sausage pig, sirloin meatball
        doner turkey ball tip pork chop pastrami spare ribs beef biltong.
        Biltong tri-tip venison porchetta rump leberkas short loin drumstick
        ham hock.

    .l-secondary
      p.
        Turkey biltong beef ribs tail pork loin tongue pork belly pork chop
        pastrami short ribs capicola. Ground round biltong beef ribs,
        chicken ribeye shoulder short ribs porchetta landjaeger.
        Ribeye tri-tip beef ball tip, ham landjaeger prosciutto rump strip
        steak tongue meatloaf. T-bone cow andouille landjaeger.
