---
title: Logo
template: design.jade
order: 3
---

span.downloads
  a(href="./psd/AXA_forms_desktop.psd").downloads__link.downloads__link--inactive COMING SOON

.l-row
  .l-col.l-col--medium-6
    h2.heading.heading--secondary Usage
    p.paragraph.
      Our logo is the most distilled and ubiquitous
      element of our identity – a universal signature
      across all AXA Winterthur communications. While it
      is a simple logo, we must treat it nicely.
      This page covers the correct usage.
  .l-col.l-col--medium-6
    h2.heading.heading--secondary Logo without tagline
    .brand
      .brand__logo
// Copyright AXA Versicherungen AG 2015
