---
title: Logo
template: design.jade
order: 3
---

.l-row
  .l-col.l-col--medium-6
    h3 Usage
    p.
      Our logo is the most distilled and ubiquitous
      element of our identity – a universal signature
      across all AXA Winterthur communications. While it
      is a simple logo, we must treat it nicely.
      This page covers the correct usage.
  .l-col.l-col--medium-6
    h3 Logo <strong>without</strong> tagline
    .brand
      .brand__logo

    h3 Logo <strong>with</strong> tagline
    .brand
      .brand__logo
      .brand__tagline.brand__tagline--de
// Copyright AXA Versicherungen AG 2015
