---
title: Typeface
template: design.jade
order: 4
---

h2 Primary typeface: ITC Franklin Gothic

p.
  ITC Franklin Gothic is our corporate
  typeface, which has been selected for use
  with all AXA applications.

p.
  ITC Franklin Gothic may be used in two
  styles – Book and  Medium.

p.callout.
  ITC Franklin Gothic Condensed and Italic
  are not approved styles and should not
  be used.

p.callout.callout--danger.
  ITC Franklin Gothic is not yet implemented.
  Your browsers default
  font will render in the examples below.


h3 ITC Franklin Gothic Book
p.typeface.typeface--franklin-gothic-book.
  A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
  a b c d e f g h i j k l m n o p q r s t u v w x y z
  0 1 2 3 4 5 6 7 8 9


h3 ITC Franklin Gothic Medium
p.typeface.typeface--franklin-gothic-medium.
  A B C D E F G H I J K L M N O P Q R S T U V W X Y  Z
  a b c d e f g h i j k l m n o p q r s t u v w x y z
  0 1 2 3 4 5 6 7 8 9


h2 Secondary typeface: Arial

p.
  Arial is our websafe typeface, which
  has been selected to ensure maximum
  compatibility between browsers and
  operating systems.

p.
  Arial may be used in two styles –
  Regular and Bold.

p.callout.
  Arial Narrow, Italic and Black are
  not approved styles and should not
  be used.


h3 Arial regular
p.typeface.typeface--arial-regular.
  A B C D E F G H I J K L M N O P Q R S T U V W X Y  Z
  a b c d e f g h i j k l m n o p q r s t u v w x y z
  0 1 2 3 4 5 6 7 8 9


h3 Arial bold
p.typeface.typeface--arial-bold.
  A B C D E F G H I J K L M N O P Q R S T U V W X Y  Z
  a b c d e f g h i j k l m n o p q r s t u v w x y z
  0 1 2 3 4 5 6 7 8
