---
title: Primary Button
layout: demo.pug
---
<div class="button">Sample button</div>
<div class="button">
  {{> icon name="cross" classes="icon button__icon button__icon--left" }} Icon and badge
  <span class="button__badge badge">159</span>
</div>
<div class="button">
  Icon right {{> icon name="cross" classes="icon button__icon button__icon--right" }}
</div>