---
title: Ghost Button
layout: demo.pug
---
<div style="background: #0062a9">
  <div class="button button--ghost">Sample button</div>
  <div class="button button--ghost">
    {{> icon name="cross" classes="icon button__icon button__icon--left" }} Icon and badge<span class="button__badge badge">159</span></div>
  <div class="button button--ghost">Icon right
    {{> icon name="cross" classes="icon button__icon button__icon--right" }}
  </div>
</div>