---
title: More Button
layout: demo.hbs
---
<div class="button button--more">Sample button</div>
<div class="button button--more">
  {{> icon name="cross" classes="icon button__icon button__icon--left" }} Icon and badge<span class="button__badge badge">159</span></div>
<div class="button button--more">Icon right
  {{> icon name="cross" classes="icon button__icon button__icon--right" }}
</div>