---
title: Primary Button
layout: demo.pug
---

include /components/includes/mixins.pug

.button Sample button
!=' '
.button
  +svg('cross', ['button__icon', 'button__icon--left', 'icon'])
  | Icon and badge
  span.button__badge.badge 159
!=' '
.button
  | Icon right
  +svg('cross', ['button__icon', 'button__icon--right', 'icon'])

//- Copyright AXA Versicherungen AG 2015
