---
title: Font Test
layout: demo.hbs
---
<div style="font-family: Source Sans Pro; font-size: 40px; line-height: 1.3;">
  <div style="">Hello, World!</div>
  <div style="font-weight: 600;">Hello, World!</div>
  <div style="font-weight: 700;">Hello, World!</div>

  <div style="font-style: italic;">Hello, World!</div>
  <div style="font-style: italic; font-weight: 600;">Hello, World!</div>
  <div style="font-style: italic; font-weight: 700;">Hello, World!</div>
</div>