---
title: Full Footer
layout: demo.hbs
---
<footer class="footer">
  <div class="footer__main">
    <div class="footer__main__container">
      <div class="footer__main__row">
        <section class="footer__social footer-social">
          <h3 class="footer-social__headline">Keep in touch</h3>
          <ul class="footer-social__items">
            <li class="footer-social__item">
              <a href="#" class="footer-social__link">
                {{> icon name="facebook" classes="footer-social__icon" }}
              </a>
            </li>
            <li class="footer-social__item">
              <a href="#" class="footer-social__link">
                {{> icon name="twitter" classes="footer-social__icon" }}
              </a>
            </li>
            <li class="footer-social__item">
              <a href="#" class="footer-social__link">
                {{> icon name="xing" classes="footer-social__icon" }}
              </a>
            </li>
            <li class="footer-social__item">
              <a href="#" class="footer-social__link">
                {{> icon name="youtube" classes="footer-social__icon" }}
              </a>
            </li>
            <li class="footer-social__item">
              <a href="#" class="footer-social__link">
                {{> icon name="linked-in" classes="footer-social__icon" }}
              </a>
            </li>
          </ul>
        </section>
        <section class="footer__links footer-links">
          <h3 class="footer-links__headline">AXA & You</h3>
          <ul class="footer-links__menu">
            <li class="footer-links__item"><a href="#" class="footer-links__link"><span class="footer-links__text">Contact Us</span>{{> icon name="arrow-right" classes="footer-links__icon" }}</a></li>
            <li class="footer-links__item"><a href="#" class="footer-links__link"><span class="footer-links__text">Media</span>{{> icon name="arrow-right" classes="footer-links__icon" }}</a></li>
            <li class="footer-links__item"><a href="#" class="footer-links__link"><span class="footer-links__text">Claim</span>{{> icon name="arrow-right" classes="footer-links__icon" }}</a></li>
            <li class="footer-links__item"><a href="#" class="footer-links__link"><span class="footer-links__text">News</span>{{> icon name="arrow-right" classes="footer-links__icon" }}</a></li>
            <li class="footer-links__item"><a href="#" class="footer-links__link"><span class="footer-links__text">Careers</span>{{> icon name="arrow-right" classes="footer-links__icon" }}</a></li>
            <li class="footer-links__item"><a href="#" class="footer-links__link"><span class="footer-links__text">My AXA</span>{{> icon name="arrow-right" classes="footer-links__icon" }}</a></li>
          </ul>
        </section>
        <section class="footer__worldwide footer-worldwide">
          <div class="footer-worldwide__headline">AXA worldwide</div>
          <ul class="footer-worldwide__entities">
            <li href="#" class="footer-worldwide__entity"><a href="#" class="footer-worldwide__link"><span class="footer-worldwide__text">AXA worldwide</span>{{> icon name="arrow-right" classes="footer-worldwide__icon" }}<img src="{{relative "/images/axa-world.svg"}}" class="footer-worldwide__image"></a></li>
          </ul>
        </section>
      </div>
    </div>
  </div>
  <div class="footer__copyline footer-copyline">
    <div class="footer-copyline__container"><span class="footer-copyline__notice">Copyright AXA Versicherungen AG 2015 ©</span>
      <ul class="footer-copyline__entries">
        <li class="footer-copyline__item"><a href="#" class="footer-copyline__link">Disclosure</a></li>
        <li class="footer-copyline__item"><a href="#" class="footer-copyline__link">Usage Hints</a></li>
        <li class="footer-copyline__item"><a href="#" class="footer-copyline__link">Privacy</a></li>
      </ul>
    </div>
  </div>
</footer>