---
title: Slim Footer
layout: demo.pug
---

include ../../mixins.pug

footer.footer
  .footer__copyline.footer-copyline
    .footer-copyline__container
      span.footer-copyline__notice Copyright AXA Versicherungen AG 2015 ©
      ul.footer-copyline__entries
        li.footer-copyline__item
          a.footer-copyline__link(href="#") Disclosure
        li.footer-copyline__item
          a.footer-copyline__link(href="#") Usage Hints
        li.footer-copyline__item
          a.footer-copyline__link(href="#") Privacy

//- Copyright AXA Versicherungen AG 2015
