---
title: Slim Footer
layout: demo.hbs
---
<footer class="footer">
  <div class="footer__copyline footer-copyline">
    <div class="footer-copyline__container"><span class="footer-copyline__notice">Copyright AXA Versicherungen AG 2015 ©</span>
      <ul class="footer-copyline__entries">
        <li class="footer-copyline__item"><a href="#" class="footer-copyline__link">Disclosure</a></li>
        <li class="footer-copyline__item"><a href="#" class="footer-copyline__link">Usage Hints</a></li>
        <li class="footer-copyline__item"><a href="#" class="footer-copyline__link">Privacy</a></li>
      </ul>
    </div>
  </div>
</footer>