---
title: Grid quick start
layout: demo.pug
---
<div class="container">
  <div class="row">
    <div style="background-color:mediumseagreen;" class="col-xs-2">2</div>
    <div style="background-color:lemonchiffon;" class="col-xs-4">4</div>
    <div style="background-color:burlywood;" class="col-xs-6">6</div>
  </div>
  <div class="row">
    <div style="background-color:palevioletred;" class="col-xs-4 col-xs-offset-8">4, offset: 8</div>
  </div>
</div>