---
title: Long Words - Overflow Ellipsis
layout: demo.hbs
---
<h2>URL</h2>
<p class="ellipsis">For more information, please visit: http://design.axa.ch/thisisanonexistentandreallylongurltoaddtoanytextinfactwhyareyoustillreadingit.</p>
<h2>Long Word</h2>
<p class="ellipsis">According to Wikipedia, The longest word in any of the major English language dictionary is pneumonoultramicroscopicsilicovolcanoconiosis, a word that refers to a lung disease contracted from the inhalation of very fine silica particles, specifically
  from a volcano; medically, it is the same as silicosis.</p>