---
title: Long Words - Overflow Ellipsis
layout: demo.pug
---

include ../../mixins.pug

h2 URL
p.ellipsis For more information, please visit: http://design.axa.ch/thisisanonexistentandreallylongurltoaddtoanytextinfactwhyareyoustillreadingit.

h2 Long Word
p.ellipsis According to Wikipedia, The longest word in any of the major English language dictionary is pneumonoultramicroscopicsilicovolcanoconiosis, a word that refers to a lung disease contracted from the inhalation of very fine silica particles, specifically from a volcano; medically, it is the same as silicosis.

//- Copyright AXA Versicherungen AG 2015
