---
title: Multi-Level Main Menu
layout: demo.pug
---
<header class="header">
  <div class="header__main">
    <div class="header__main__container">
      <div class="header__main__row">
        <!-- This is where it starts...-->
        <ul data-menu="main" class="header__main__item header__main__item--menu menu-main">
          <li data-item class="menu-main__item"><a href="#insurance" data-link class="menu-main__link">Insurance</a>
            <section data-panel class="menu-main__panel">Insurance</section>
          </li>
          <li data-item class="menu-main__item"><a href="#claims" data-link class="menu-main__link">Claims</a>
            <section data-panel class="menu-main__panel">
              <div class="row">
                <div class="col-xs-4">
                  <h2>Services</h2>
                  <ul class="menu">
                    <li class="menu__item"><a href="#" class="menu__link">Haushaltversicherung</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Hausratversicherung</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Privathaftpflichtversicherung</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">LooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooongggggItem</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Rechtsschutzversicherung</a></li>
                  </ul>
                </div>
                <div class="col-xs-4">
                  <h2>Documents</h2>
                  <ul class="menu">
                    <li class="menu__item"><a href="#" class="menu__link">Autoversicherung</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Autoversicherung für Elektroautos</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Motorradversicherung</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Rechtschutzversicherung</a></li>
                  </ul>
                </div>
                <div class="col-xs-4">
                  <h2>Benefits</h2>
                  <ul class="menu">
                    <li class="menu__item"><a href="#" class="menu__link">Lebenversicherung</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Finanzprodukte</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Fondsinformationen</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Aktuelle Zinssätze</a></li>
                  </ul>
                </div>
              </div>
            </section>
          </li>
          <li data-item class="menu-main__item"><a href="#prevention" data-link class="menu-main__link">Prevention</a>
            <section data-panel class="menu-main__panel">Prevention</section>
          </li>
          <li data-item class="menu-main__item"><a href="#about-us" data-link class="menu-main__link">About Us</a>
            <section data-panel class="menu-main__panel">About Us</section>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>