---
title: Basic Main Menu
layout: demo.pug
---
<header class="header">
  <div class="header__main">
    <div class="header__main__container">
      <div class="header__main__row">
        <!-- This is where it starts...-->
        <ul class="header__main__item header__main__menu menu-main">
          <li class="menu-main__item"><a href="#" data-link class="menu-main__link">Insurance</a></li>
          <li class="menu-main__item is-active"><a href="#" data-link class="menu-main__link is-active">Claims</a></li>
          <li class="menu-main__item"><a href="#" data-link class="menu-main__link">Prevention</a></li>
          <li class="menu-main__item"><a href="#" data-link class="menu-main__link">About Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>