---
title: Mobile Drawer
layout: demo.pug
---

include ../../mixins.pug

.mobile(data-mobile)
  .row
    .column.mobile__section
      .dropdown(data-dropdown)
        .dropdown__label(data-dropdown-label)
          +svg('arrow-bottom', 'dropdown__label__icon')
          .dropdown__label__text(data-dropdown-text)
        select.dropdown__select(data-dropdown-select)
          option Private Individuals
          option Corporate Clients

  .row
    nav.column.mobile-menu.mobile-menu--sliding(data-menu='sliding')
      ul.mobile-menu__level(data-level)
        li.mobile-menu__item
          a.mobile-menu__link(href='#', data-link)
            span.mobile-menu__text Car Insurance
        li.mobile-menu__item
          a.mobile-menu__link(href='#', data-link)
            span.mobile-menu__text Personal Liability
        li.mobile-menu__item
          a.mobile-menu__link(href='#', data-link)
            span.mobile-menu__text Household Contents

  .row
    .column.mobile__separator

  .row
    .column.list-group
      a.list-group__item.list-group__item--link(href="#")
        img.list-group__avatar(src="https://avatars3.githubusercontent.com/u/198988?v=3&s=460")
        span.list-group__text David Knezić
      a.list-group__item.list-group__item--link(href="#")
        +svg('feedback', ['list-group__icon'])
        span.list-group__text Feedback

  .row
    ul.column.mobile__section
      .mobile-languages
        li.mobile-languages__items
          a.mobile-languages__link(href="#") DE
        li.mobile-languages__items
          a.mobile-languages__link(href="#") FR
        li.mobile-languages__items
          a.mobile-languages__link(href="#") IT
        li.mobile-languages__items.is-active
          a.mobile-languages__link.is-active(href="#") EN

//- Copyright AXA Versicherungen AG 2015
