---
title: Sliding Mobile Menu
layout: demo.hbs
---
<nav data-menu="sliding" class="mobile-menu mobile-menu--sliding">
  <ul data-level class="mobile-menu__level">
    <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link">Home</a></li>
    <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link mobile-menu__link--parent"><span class="mobile-menu__text">Individuals</span>{{> icon name="arrow-right" classes="icon mobile-menu__link__parent-icon" }}</a>
      <ul data-level class="mobile-menu__level">
        <li class="mobile-menu__item mobile-menu__item--back">
          <a href="#" data-back class="mobile-menu__link mobile-menu__link--back">
            {{> icon name="arrow-left" classes="icon mobile-menu__link__back-icon" }}
            <span class="mobile-menu__text">back</span></a>
        </li>
        <li class="mobile-menu__item mobile-menu__item--section">
          <div class="mobile-menu__link mobile-menu__link--section"><span class="mobile-menu__text">Individuals</span></div>
        </li>
        <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link"><span class="mobile-menu__text">Contents Insurance</span></a></li>
        <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link"><span class="mobile-menu__text">Liability Insurance</span></a></li>
        <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link mobile-menu__link--parent"><span class="mobile-menu__text">Services</span>{{> icon name="arrow-right" classes="icon mobile-menu__link__parent-icon" }}</a>
          <ul data-level class="mobile-menu__level">
            <li class="mobile-menu__item mobile-menu__item--back">
              <a href="#" data-back class="mobile-menu__link mobile-menu__link--back">
                {{> icon name="arrow-left" classes="icon mobile-menu__link__back-icon" }}
                <span class="mobile-menu__text">back</span></a>
            </li>
            <li class="mobile-menu__item mobile-menu__item--section">
              <div class="mobile-menu__link mobile-menu__link--section"><span class="mobile-menu__text">Services</span></div>
            </li>
            <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link"><span class="mobile-menu__text">Overview</span></a></li>
            <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link"><span class="mobile-menu__text">Claims</span></a></li>
            <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link"><span class="mobile-menu__text">Contracts</span></a></li>
            <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link"><span class="mobile-menu__text">Calculators</span></a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link mobile-menu__link--parent"><span class="mobile-menu__text">LoooooooooooooooooooooooooooooooooooooooooooooooooooooooongTitle</span>{{> icon name="arrow-right" classes="icon mobile-menu__link__parent-icon" }}</a>
      <ul data-level class="mobile-menu__level">
        <li class="mobile-menu__item mobile-menu__item--back">
          <a href="#" data-back class="mobile-menu__link mobile-menu__link--back">
            {{> icon name="arrow-left" classes="icon mobile-menu__link__back-icon" }}
            <span class="mobile-menu__text">back</span></a>
        </li>
        <li class="mobile-menu__item mobile-menu__item--section">
          <div class="mobile-menu__link mobile-menu__link--section"><span class="mobile-menu__text">LoooooooooooooooooooooooooooooooooooooooooooooooooooooooongSection</span></div>
        </li>
        <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link"><span class="mobile-menu__text">Contents Insurance</span></a></li>
        <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link"><span class="mobile-menu__text">LoooooooooooooooooooooooooooooooooooooooooooooooooooooooongTitle</span></a></li>
      </ul>
    </li>
    <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link mobile-menu__link--parent"><span class="mobile-menu__text">Business</span>{{> icon name="arrow-right" classes="icon mobile-menu__link__parent-icon" }}</a>
      <ul data-level class="mobile-menu__level">
        <li class="mobile-menu__item mobile-menu__item--back">
          <a href="#" data-back class="mobile-menu__link mobile-menu__link--back">
            {{> icon name="arrow-left" classes="icon mobile-menu__link__back-icon" }}
            <span class="mobile-menu__text">back</span></a>
        </li>
        <li class="mobile-menu__item mobile-menu__item--section">
          <div class="mobile-menu__link mobile-menu__link--section"><span class="mobile-menu__text">Business</span></div>
        </li>
        <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link"><span class="mobile-menu__text">Expatriates</span></a></li>
        <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link"><span class="mobile-menu__text">Online client service</span></a></li>
      </ul>
    </li>
    <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link"><span class="mobile-menu__text">LoooooooooooooooooooooooooooooooooooooooooooooooooooooooongTitle</span></a></li>
    <li class="mobile-menu__item"><a href="#" data-link class="mobile-menu__link"><span class="mobile-menu__text">About Us</span></a></li>
  </ul>
</nav>