---
title: Modal 2
layout: demo.hbs
---
<div style="min-height: 400px"><a href="/components/modal2.html" data-modal2 data-modal2-close-position="outside" data-modal2-icon-close="{{relative "/images/icons.svg#modal-close"}}">Show modal</a></div>