---
title: Popover
layout: demo.pug
---
<a id="toggleButton" data-popover="#popover" class="button">Show Popover</a>
<div id="popover" class="popover">
  <div class="popover__tail"></div>
  <div class="popover__box">
    <div class="popover__box__header">
      <a class="popover__close">
        {{> icon name="modal-close" classes="icon modal__close-icon" }}
      </a>
      <div class="popover__box__header__headline">Demo</div>
    </div>
    <div class="popover__box__content__wrapper">
      <div class="popover__box__content"><textarea class="control control--textarea"></textarea>
        <p class="paragraph"><a class="button button--small">'clicky click'</a></p>
      </div>
    </div>
  </div>
</div>