---
title: Progress Bar
layout: demo.hbs
---
    <div class="progressbar">
      <div class="progressbar__description">awesome_image.jpg</div>
      <div class="progressbar__percentage">22%</div>
      <div class="progressbar__progress">
        <div class="progressbar__progress-background">
          <div style="width: 22%" class="progressbar__progress-foreground"></div>
        </div>
      </div>
    </div>