---
title: Richtext
layout: demo.hbs
---
    <div class="richtext">
      <h3>heading</h3>
      <p>Lorem Ipsum</p>
      <ul>
        <li>List Item 1</li>
        <li>List Item 2</li>
        <li>List item 3</li>
      </ul>
      <h3>heading</h3>
      <ul>
        <li>List Item 1</li>
        <li>List Item 2</li>
        <li>List item 3</li>
      </ul>
    </div>