---
title: Fixed Menu Site
layout: demo.pug
---
<div data-site class="site site--fixed site--left">
  <div data-page class="site__page">
    <div data-mask class="site__page__mask"></div>
    <p class="paragraph"><a href="#" data-burger class="link">Open Menu</a></p>
    <p class="paragraph">Opening only works on mobile.</p>
  </div>
  <div data-mobile class="site__mobile">
    <p class="paragraph"><a href="#" data-burger class="link">Close Menu</a></p>
    <p class="paragraph">Closing only works on mobile.

    </p>
  </div>
</div>