---
title: Left Menu Site
layout: demo.hbs
---
<div data-site class="site site--left">
  <div data-page class="site__page">
    <div data-mask class="site__page__mask"></div>
    <p class="paragraph">Make sure you switch to one of the smaller viewports to see the mobile menu in action.</p>
    <p class="paragraph"><a href="#" data-burger class="button button--primary">Open Mobile Menu</a></p>
  </div>
  <div data-mobile class="site__mobile"><a href="#" data-burger class="button button--secondary">Close Mobile Menu</a></div>
</div>