---
title: Desktop Site
layout: demo.hbs
---
<div data-site class="site site--desktop">
  <div data-page class="site__page">
    <div data-mask class="site__page__mask"></div>
    <p class="paragraph"><a href="#" data-burger class="button button--primary">Open Menu</a></p>
  </div>
  <div data-mobile class="site__mobile"><a href="#" data-burger class="button button--secondary">Close Menu</a></div>
</div>