<div class="docs-example"
    data-example
    {{#if disableXs}}data-example-disable-xs="true"{{/if}}
    {{#if disableSm}}data-example-disable-sm="true"{{/if}}
    {{#if disableMd}}data-example-disable-md="true"{{/if}}
    {{#if disableLg}}data-example-disable-lg="true"{{/if}}>
  <div class="docs-example-devices-list">
    <button class="docs-example-device" data-example-xs>xs</button>
    <button class="docs-example-device" data-example-sm>sm</button>
    <button class="docs-example-device" data-example-md>md</button>
    <button class="docs-example-device" data-example-lg>lg</button>
  </div>
  <div class="docs-example-content">
    <iframe class="docs-example-iframe"
      src="{{relative path}}"
      data-iframe-resizer
      data-example-iframe
      {{#if maxHeight}}data-max-height="{{maxHeight}}"{{/if}}
      {{#if minHeight}}data-min-height="{{minHeight}}"{{/if}}
      ></iframe>
  </div>
</div>
