{{#get snippets snippet}}
  <div class="highlight">
    {{!Putting everything on one line because blanks and carriage returns
      are rendered in a <pre> tag}}
    <pre class="highlight__listing hljs"><code>{{#highlight}}{{{this}}}{{/highlight}}</code></pre>
  </div>  
{{/get}}