{{#each childrenArray}}
  <li class="tree-menu__item">
    <a class="tree-menu__link{{#if children}} tree-menu__link--parent{{/if}}"
      data-link
      href={{#unless children}}{{#with file}}"{{relative link}}"{{/with}}{{else}}"#"{{/unless}}>
      <span class="tree-menu__text">{{#with file}}{{title}}{{/with}}</span>
      {{#if childrenArray}}
        {{> icon name="arrow-right" classes="tree-menu__link__parent-icon"}}
      {{/if}}
    </a>
    {{#if childrenArray}}
      <ul class="tree-menu__level" data-level>
        {{> menu }}
      </ul>
    {{/if}}
  </li>
{{/each}}
