<li class="mobile-menu__item">
  <a class="mobile-menu__link"
    data-link
    href="{{package.slackWebGuidelines}}">
    <span class="mobile-menu__text">Join our Community on Slack</span>
  </a>
</li>
<li class="mobile-menu__item">
  <a class="mobile-menu__link"
    data-link
    href="{{package.homepageDesinGuidelines}}">
    <span class="mobile-menu__text">Back to Design Guidelines</span>
  </a>
</li>
