@import '../variables';
@import '../mixins/respond';

.autocomplete {
  position: relative;
}

.autocomplete-container {
  position: absolute;
  width: 100%;
  z-index: @z-index-autocomplete;
}

.autocomplete-item {
  background-color: @color-gray--mid;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;

  &:hover {
    .autocomplete-item--selected();
  }
}

.autocomplete-item--selected {
  background-color: @color-light-blue;
  color: @color-white;
}
/* Copyright AXA Versicherungen AG 2015 */
