@import '../variables';
@import '../mixins/respond';

.autocomplete {
  position: relative;
}

.autocomplete__suggestions {
  position: absolute;
  width: 100%;
  z-index: @z-index-autocomplete;
}

.autocomplete__suggestions__item {
  background-color: @color-gray--mid;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;

  &:hover {
    .autocomplete__suggestions__item--selected();
  }
}

.autocomplete__suggestions__item--selected {
  background-color: @color-light-blue;
  color: @color-white;
}
