@import '../variables';
@import '../mixins/respond';

.autocomplete {
  position: relative;
}

.autocomplete__suggestions {
  position: absolute;

  width: 100%;
  z-index: $z-index-autocomplete;
}

@mixin autocomplete__suggestions__item--selected {
  background-color: $color-light-blue;
  color: $color-white;
}

.autocomplete__suggestions__item {
  padding: 10px 15px;

  background-color: $color-gray--mid;

  cursor: pointer;

  &:hover {
    @include autocomplete__suggestions__item--selected();
  }
}

.autocomplete__suggestions__item--selected {
  @include autocomplete__suggestions__item--selected();
}

// Copyright AXA Versicherungen AG 2015
