@import '../variables';
@import '../mixins/respond';
@import '../mixins/invisible-font';

.brand {

  &__logo {
    .invisible-font;

    width: 173px;
    height: 41px;

    background-color: transparent;
    background-image: url('@{images-path}/logo.svg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto 100%;

    .respond(large, {
      width: 230px;
      height: 54px;
      background-size: auto 100%;
    });

  }

  &__tagline {
    .invisible-font;

    display: none;

    width: 230px;
    margin-top: 4px;

    background-color: transparent;
    background-image: url('@{images-path}/tagline-de.svg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto 100%;

    &--de,
    &--fr,
    &--it {
      .respond(large, {
        display: block;
      });
    }

    &--de {
      height: 14px;
    }
  }
}
/* Copyright AXA Versicherungen AG 2015 */
