@import '../mixins/invisible-font';

.brand {

  &__logo {

    .invisible-font();

    width: 173px;
    height: 41px;

    background: transparent url('@{images-path}/logo.svg') top left no-repeat;

    background-size: 173px 41px;

    .respond(large, {
      width: 230px;
      height: 54px;
      background-size: 230px 54px;
    });

  }

  &__tagline {

    display: none;
    .invisible-font();

    width: 230px;

    background: transparent url('@{images-path}/tagline-de.svg') top left no-repeat;

    background-size: 173px 41px;

    &--de,
    &--fr,
    &--it {
      .respond(large, {
        display: block;
      });
    }

    &--de {
      background: transparent url('@{images-path}/tagline-de.svg') left top no-repeat;
      height: 14px;
    }

  }
}
