@import 'style/variables';
@import 'style/blocks/icon';

.button {
  display: inline-block;

  padding: 10px 20px;

  font-size: 18px;
  color: white;
  background: @color-ui-alpha;
  text-decoration: none;

  &:hover {
    background: darken(@color-ui-alpha, 10%);
  }

  &.icon {
    &::before {
      font-size: 16px;
      margin-right: 5px;
    }
  }
}

.button--secondary {
  background: @color-ui-beta;

  &:hover {
    background: darken(@color-ui-beta, 20%);
  }
}

.button--small {
  font-size: 12px;
  line-height: 1.5;
  padding: 5px 10px;

  &.icon {
    &::before {
      font-size: 12px;
    }
  }
}
