

.button {
  display: inline-block;

  padding: 10px 20px;

  font-size: 18px;
  color: white;
  background: @color-ui-alpha;
  text-decoration: none;

  &:hover {
    background: darken(@color-ui-alpha, 10%);
  }
}

.button--secondary {
  background: @color-ui-beta;

  &:hover {
    background: darken(@color-ui-beta, 20%);
  }
}
