@import '../variables';
@import '../mixins/clearfix';
@import '../mixins/respond';

.button-row {
  &:extend(.clearfix all);
  padding-top: 10px;

  .respond(medium, {
    padding-top: 18px;
    margin-left: -@grid-gutter-width;
    margin-right: -@grid-gutter-width;
  });
}

.button-row__button {
  display: block;
  margin-top: 20px;

  &:first-of-type {
    margin-top: 0;
  }

  .respond(medium, {
    margin-top: 0;
    display: inline-block;
  });
}

.button-row__button--right {
  .respond(medium; {
    float: right;
  });
}
