@import 'style/variables';
@import 'style/mixins/respond';

.cell {
  padding: 20px;
  margin: 20px;
  text-align: center;

  background: #efefef;

  overflow: hidden;

  .respond(medium, {
    background-color: #f4f4f4;

    margin: 0;
    padding: 15px;

    text-align: left;
  });
}

.cell--title,
.list__item__cell.cell--title {
  height: 60px;
  margin: 0;

  overflow: hidden;
  background: #1762a5;
  color: white;
  text-align: left;

  .respond(medium, {
    color: white;
  });
}

.cell--action {
  margin: 0;

  .respond(medium, {
    width: 1%;
    white-space: nowrap;
    padding: 10px;
  })
}

.cell__icon {
  float: left;

  font-size: 24px;
}

.cell__icon__badge {
  position: absolute;
  top: -5px;
  right: -5px;
}

.cell--title .cell__icon {
  font-size: 32px;
}

.cell__text {
  float: left;

  margin-left: 15px;
}

.cell__label {
  color: #666;
}

.cell__value {
  font-weight: bold;

  color: @color-text-alpha;
}

.cell__action {
  width: 100%;

  .respond(medium, {
    .button();
    .button--small();
  })

}

.cell__action.is-open {
  position: relative;
  color: #333;
  background-color: white;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.cell__action.is-open::after {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;

  content: ' ';

  display: inline-block;
  width: 100%;
  height: 999px;

  background: white;
}
