@import '../variables';

.chips {
  position: relative;
}

.chips__field {
  display: block;

  width: 100%;
  padding-right: 4px;
  padding-bottom: 4px;

  background: @color-gray--lighter;
  color: @color-black;
  border-radius: 0;
  border: @focus-border-width solid @color-gray--lighter;
  -webkit-appearance: none;

  &.has-error {
    border-color: @color-red;
  }

  &.is-active {
    border-color: @color-light-blue;
    outline: none;
  }
}

.chips__chip {
  display: inline-block;

  height: 30px;
  padding: 0 10px;
  margin: 4px 0px 0px 5px;

  line-height: 30px;

  background: @color-gray--dark;
}

.chips__chip__text {
  display: inline-block;

  color: @color-white;
}

.chips__close-button {
  display: inline-block;

  width: 1.2em;
  height: 1.2em;
  padding-top: 5px;
  margin-left: 6px;

  color: @color-gray--lighter;

  &:hover {
    color: @color-gray--darker;
  }
}

.chips__close-button-background {
  position: absolute;

  height: 9px;
  width: 9px;
  margin-top: 4px;
  margin-left: 4px;

  background: @color-white;
}

.chips__close-icon {
  position: relative;
  display: block;
}

.chips__input {
  border: none;
  margin-left: 10px;

  background: transparent;

  &:focus {
    outline: none;
  }
}

/* Copyright AXA Versicherungen AG 2015 */
