@import '../variables';

.control {
  display: block;

  width: 100%;
  /*height: 40px;*/
  border: none;
  padding-left: 13px;
  padding-right: 13px;

  /*line-height: 36px;*/

  background: $color-white;
  border: 1px $color-gray--predarkest solid;
  color: $color-black;
  border-radius: 0;
}

.control--input {
  -webkit-appearance: none;

  &.has-error {
    border-color: $color-red;
  }

}

.control--short {
  max-width: 160px;
}

.control--condensed {
  height: $control-height-condensed;
  line-height: $control-height-condensed;
  font-size: 14px;
}

.control--textarea {
  @extend .control--input;

  height: auto; // Reset height for textareas
  min-height: 90px; // approx. 3 lines of text
  max-height: 232px; // 10x line-height + padding + border (needed to prevent
  //                    autogrow textareas from growing indefinitely)
  min-width: 100%;
  max-width: 100%;
  // TODO: May use border instead of padding because the padding is ignored when
  //       the textarea scrolls vertically in chrome.
  //       Con: The resive handle looks ugly when using borders.
  padding-top: 10px;
  padding-bottom: 10px;

  line-height: 1.5;
}

// Copyright AXA Versicherungen AG 2015
