@import '../variables';
@import '../mixins/respond';

.container {
  max-width: @respond-large-max-width;
  padding-left: (@grid-gutter-width / 2);
  padding-right: (@grid-gutter-width / 2);
  margin-right: auto;
  margin-left: auto;
  
  .respond(medium, {
    padding-left: @grid-gutter-width;
    padding-right: @grid-gutter-width;
  });
}

.container--fluid {
  max-width: auto;
}



