.dialog {
  display: flex;
  flex-direction: column;
}

.dialog__header {
  align-self: flex-start;
}

.dialog__content {
  margin-top: 0;
  margin-bottom: 0;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.dialog__footer {
  align-self: flex-end;
}
