@import '../variables';
@import '../blocks/icon';

.downloads {

  .icon();
  .icon--download();

  display: block;
  margin: 30px 0;
  padding: -5px 0 0 0;

  text-transform: uppercase;

  &:before {
    position: relative;
    top: -5px;
    float: left;
    font-size: 32px;
    vertical-align: middle;
    padding-right: 10px;
    color: @color-light-blue;
  }

}

.downloads__link {
  display: block;
  margin-left: 30px;
  color: @color-light-blue;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    color: @color-green;
  }
}

.downloads__link--inactive {
  cursor: default;
  color: @color-gray;

  &:hover {
    color: @color-gray;
  }
}
