@import '../mixins/make-link.less';
@import '../variables';

.dropdown-2 {
  .make-link();
  display: block;
  border: 1px solid @color-gray--light;
  background: @color-gray--lighter;
  overflow: hidden;
  width: 100%;

  /* important clear floats to get the HTML-Flow back in sync */
  &:after {
    content: '';
    clean: both;
  }
}

.dropdown-2__label {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.dropdown-2__select {
  display: block;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  /* important: fake it to have 0 width */
  float: left;
  margin-right: -100%;
  /* don't use background nor border - the parent deals with that */
  background: transparent;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  vertical-align: middle;

  /* disable outline styles */
  &:active,
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }

  /* fix ugly blue screen at focused option value in IE */
  &:focus::-ms-value {
    background: transparent;
    color: inherit;
  }

  /* fix native select arrows on IE */
  &::-ms-expand {
    display: none;
  }
}

.dropdown-2__select--large {
  padding: 0 1.25rem;

  line-height: 3rem;
  height: 3rem;
}

/* allign the icon correctly without position: absolute */
.dropdown-2__icon-right {
  display: block;
  float: right;
  height: 3rem;
  margin-left: -100%;
  padding: 0 1.25rem;
  pointer-events: none;
  background: @color-gray--lighter;
}

.dropdown-2__icon {
  display: block;
  position: relative;
  top: 50%;
  margin-top: -0.625rem;
  width: 1.25rem;
  height: 1.25rem;
}

.dropdown-2__icon--large {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: -0.75rem;
}
