@import '../variables';
@import '../mixins/grid';
@import '../mixins/respond';

.fieldset {
  .make-gutter-as-padding();
  padding-bottom: 15px;
  margin-bottom: 50px;
  border-bottom: 1px dotted @color-blue;

  .respond(medium, {
    padding-bottom: 10px;
  });

  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 60px;
  }
}

.fieldset__content {
  margin-top: 40px;
}
