.upload-remarks {
  margin: 10px 0;
}

.file-list {
  margin-top: 10px;
}

.file-status {
  border-width: 1px;
  border-style: solid;
  border-color: @color-gray;
  border-bottom-width: 0;
  height: 49px;
  padding: 0 10px;

  &:last-of-type {
    border-bottom-width: 1px;
  }
}

.file-uploading {
  padding-top: 14px;
}

.file-error {
  padding-top: 14px;
}

.file-uploaded {
}

.file-uploaded__title {
  margin: 10px;
  margin-top: 14px;
  margin-right: 158px;
}

.dropzone__text__upload-link {
  font-variant: small-caps;
  font-size: 17px;
}

.file-uploaded__description-label {

}

.file-uploaded__description {
}

.file-uploaded__actions {
  float: right;
  margin-top: 11px;
  width: 158px;
}

.file-uploaded__actions__action {
  font-variant: small-caps;
  margin: 0px 10px;
  font-size: 17px;
}

.upload-errors {
  color: @color-red;
}

.single-file-upload__status {
  height: 80px;
  background-color: @color-gray--lighter;
}

.single-file-upload__progress__icon-container {
  padding: 0 20px;
  display:table;
  position: absolute;
  height: 80px;
}

.single-file-upload__progress__icon {
  font-size: 2.25em;
  display:table-cell;
  vertical-align: middle;
  color: @color-gray;
}

.single-file-upload__progressbar-container {
  display:table;
  height: 100%;
  width: 100%;
}

.single-file-upload__progressbar {
  display:table-cell;
  vertical-align: middle;
  padding-left: 72px;
}

.single-file-upload__status__uploaded__actions {
  float: right;
  margin-top: 28px;
  margin-right: 10px;
  width: 158px;
}


.single-file-upload__status__uploaded__title {
  margin: 28px 20px;
  position: absolute;
}
