.file-dropzone {
  border-width: 10px;
  border-style: dashed;
  border-color: @color-gray--mid;
  min-height: 90px;
}

.file-dropzone--dragover {
  border-color: @color-light-blue--light;
}

.file-dropzone__text {
  text-align: center;
}

.file-dropzone__input {
  display: none;
}

.file-uploading {

}

.file-uploading__title {

}

.file-uploading__progress-background {
  background-color: @color-gray--mid;
  margin-top: 10px;
  height: 20px;
}

.file-uploading__progress-foreground {
  background-color: @color-blue;
  height: 100%;
  width: 0;
}

.file-uploading__progress-text {

}

.file-uploaded {

}

.file-uploaded__title {

}

.file-uploaded__description-label {

}

.file-uploaded__description {

}

.file-uploaded__actions {

}
