.file-drop-area {
  border: 10px dashed #ccc;
  min-height: 90px;
}

.file-drop-area--dragover {
  border-color: green;
}

.file-drop-area__text {
  text-align: center;
}

.file-uploading {

}

.file-uploading__title {

}

.file-uploading__progress {
  background-color: @color-blue;
}

.file-uploaded {

}

.file-uploaded__title {

}

.file-uploaded__description-label {

}

.file-uploaded__description {

}
