@import '../mixins/font';
@import '../mixins/grid';
@import '../mixins/unstyle-list';

.footer-copyline {
  background-color: @color-gray--lighter;
}

.footer-copyline__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 @grid-gutter-width;

  .respond(large, {
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0;
    justify-content: flex-end;
  });
}

.footer-copyline__notice {
  .make-font-large;

  display: inline-flex;
  height: 40px;
  padding: 0 10px;
  margin: 0 -10px;

  order: 2;
  color: @color-gray--darker;

  .respond(large, {
    padding: 0 18px;
    margin: 0 -18px;

    // Keeps the distance from the entries
    margin-left: 18px;
  });
}

.footer-copyline__entries {
  .unstyle-list;

  display: flex;
  margin: 0 -10px;
  padding: 8px 0;

  order: 1;
  flex-wrap: wrap;

  .respond(large, {
    margin: 0 -18px;
  });
}

.footer-copyline__item {
}

.footer-copyline__link {
  .make-font-large;

  display: inline-flex;
  height: 40px;
  padding: 8px 10px;

  text-decoration: none;
  color: @color-gray--darker;

  .respond(large, {
    padding: 0 18px;
  });
}

.footer-copyline__link:hover {
  color: @color-blue;
}

// Copyright AXA Versicherungen AG 2015
