@import '../variables';
@import '../mixins/font';
@import '../mixins/respond';
@import '../mixins/unstyle-list';

.footer-worldwide {
}

.footer-worldwide__headline {
  @extend .make-font-heading-tertiary;

  display: none;

  padding: 48px 0;
  margin: 0;

  @include respond(large) {
    display: block;

    padding: 32px 0;
  }
}

.footer-worldwide__entities {
  @include unstyle-list();

  margin: 0 -30px;

  @include respond(large) {
    margin: 0;
  }
}

.footer-worldwide__entity {
  @include respond(large) {
    display: inline-block;
  }
}

.footer-worldwide__link {
  @extend .make-font-large;

  display: flex;
  align-items: center;

  padding: 0 30px;
  height: 56px;

  background-color: $color-blue;
  color: $color-white;
  text-decoration: none;

  &:hover {
    color: $color-gray--mid;
  }

  @include respond(large) {
    display: inline-block;
    padding: 0;
    height: auto;

    background: none;
    border: none;
  }
}

.footer-worldwide__text {
  flex-grow: 1;

  @include respond(large) {
    display: none;
  }
}

.footer-worldwide__icon {
  height: 24px;
  width: 24px;
  margin-left: 20px;

  @include respond(large) {
    display: none;
  }
}

.footer-worldwide__image {
  display: none;

  @include respond(large) {
    display: block;
  }
}

// Copyright AXA Versicherungen AG 2015
