@import '../variables';
@import '../mixins/respond';
@import '../mixins/grid';

.footer {
}

.footer__main {
  border-top: 5px solid @color-blue;
}

.footer__main__content {
  max-width: 1260px;

  padding: 0 30px;

  .respond(medium, {
    display: flex;

    margin: 0 auto;
  });
}

.footer__social, .footer__links, .footer__worldwide {
  .respond(medium, {
    padding-top: 10px;
    padding-bottom: 60px;
  });
}

.footer__social {
  .respond(medium, {
    order: 2;
    flex-grow: 1;
    width: percentage(4/12);
  });
}

.footer__links {
  .respond(medium, {
    order: 1;
    flex-grow: 1;
    width: percentage(5/12);
  });
}

.footer__worldwide {
  .respond(medium, {
    order: 3;
    flex-grow: 1;
    width: percentage(3/12);
  });
}

.footer__copyline {
}

// Copyright AXA Versicherungen AG 2015
