@import '../variables';
@import '../mixins/respond';
@import '../mixins/grid';

.footer {
}

.footer__main {
}

.footer__main__content {
  padding: 0 30px;
  padding-top: 40px;

  .respond(medium, {
    .make-container(1260px, 0);
    display: flex;
  });
}

.footer__social {
  .respond(medium, {
    order: 2;
    flex-grow: 1;
  });
}

.footer__links {
  .respond(medium, {
    order: 1;
    flex-grow: 1;
  });
}

.footer__worldwide {
  .respond(medium, {
    order: 3;
    flex-grow: 1;
  });
}

.footer__copyline {
}

// Copyright AXA Versicherungen AG 2015
