@import '../variables';
@import '../mixins/font';
@import '../mixins/respond';
@import '../mixins/unstyle-list';

.footer-links {
}

.footer-links__headline {
  @extend .make-font-heading-tertiary;

  padding: 48px 0;
  padding-bottom: 24px;
  margin: 0;

  @include respond(large) {
    padding: 32px 0;
  }
}

.footer-links__menu {
  @include unstyle-list();

  margin: 0 -30px;

  @include respond(large) {
    column-count: 2;
    break-inside: avoid;

    margin: 0;
    margin-top: -8px;
  }
}

.footer-links__item {
  margin-bottom: -1px;

  @include respond(large) {
    display: inline-block;
    margin: 0;
    width: 100%;
  }
}

.footer-links__link {
  @extend .make-font-large;

  display: flex;
  align-items: center;

  padding: 0 30px;
  height: 56px;

  text-decoration: none;
  border-top: 1px solid $color-gray--light;
  border-bottom: 1px solid $color-gray--light;
  color: $color-gray--darker;

  @include respond(large) {
    height: 32px;
    padding: 0;

    border: none;
  }
}

.footer-links__link:hover {
  color: $color-blue;
}

.footer-links__text {
  flex-grow: 1;
}

.footer-links__icon {
  height: 24px;
  width: 24px;
  margin-left: 20px;

  @include respond(large) {
    display: none;
  }
}

// Copyright AXA Versicherungen AG 2015
