@import '../mixins/unstyle-list';

.footer-worldwide {
}

.footer-worldwide__headline {
  display: none;

  padding: 50px 0;
  margin: 0;
  font-size: 1.5em;
  font-weight: normal;
}

.footer-worldwide__entities {
  .unstyle-list;

  margin: 0 -30px;

}

.footer-worldwide__entity {
}

.footer-worldwide__link {
  display: flex;
  align-items: center;

  padding: 0 30px;
  height: 95px;

  background-color: #1f378c;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5em;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
}

.footer-worldwide__link:hover {
  color: #1f378c;
}

.footer-worldwide__text {
  flex-grow: 1;
}

.footer-worldwide__icon {
  height: 100%;
  align-self: flex-end;
  margin-left: 20px;
}

.footer-worldwide__image {
  display: none;
}

// Copyright AXA Versicherungen AG 2015
