.footer-links {
}

.footer-links__headline {
  padding: 50px 0;
  margin: 0;
  font-size: 1.5em;
  font-weight: normal;
}

.footer-links__menu {
  padding: 0;
  margin: 0 -30px;

  list-style-type: none;
}

.footer-links__item {
  margin-bottom: -1px;
}

.footer-links__link {
  display: flex;
  align-items: center;

  padding: 0 30px;
  height: 95px;

  text-decoration: none;
  font-size: 1.5em;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  color: #979797;
}

.footer-links__link:hover {
  color: #1f378c;
}

.footer-links__text {
  flex-grow: 1;
}

.footer-links__icon {
  height: 100%;
  align-self: flex-end;
  margin-left: 20px;
}

// Copyright AXA Versicherungen AG 2015
