@import '../mixins/grid';
@import '../mixins/respond';

.form {
}

.form__group {
  .make-row();

  margin-bottom: 15px;

  .respond(medium, {
    margin-bottom: 20px;
  });
}

.form__group--condensed {
  margin-bottom: 14px;

  .respond(medium, {

  });

  .form__group__label {
    color: @color-gray--darker;
    margin-bottom: 0;
    font-size: 0.9285em;

    .respond(medium; {
      font-size: 1em;
    });
  }
}

.form__group__label {
  .make-col(12);
  .make-col(6, medium);
  .make-col(5, large);

  margin-bottom: 6px;
}

.form__group__control {
  .make-col(12);
  .make-col(6, medium);
  .make-col(6, large);
}

.form__group__control--fullwidth {
  .make-col(12, medium);
  .make-col(12, large);
}

.form__group__info-text {
  .make-col(12);
  .make-col(6, medium);
  .make-col(6, large);

  .make-col-offset(6, medium);
  .make-col-offset(5, large);

  margin-top: 10px;
}

.form__error-message {
  margin: 5px 0 0 0;
  color: #ff0000;
}
