@import '../variables';

.heading {
  font-weight: normal;
}

.heading--page {
  display: block;

  margin: 0 0 20px 0;
  padding-top: 5px;
  padding-bottom: 19px;

  border-bottom: 1px dotted @color-blue;
  color: @color-blue;
  font-size: 27px;
}
