@import 'style/variables';
@import 'style/mixins/respond';
@import 'style/mixins/clearfix';
@import 'style/blocks/icon';

.header {
  @padding-top-bottom: 9.5px;
  @padding-top-bottom-large: 20px;
  @padding-left-right: 10px;
  @padding-left-right-large: 20px;
  @mobile-trigger-size: 41px;

  &:extend(.clearfix all);

  padding: @padding-top-bottom 0;

  border-bottom: 1px solid @color-ui-delta;

  .respond(large, {
    padding: @padding-top-bottom-large 0;
  });
}

.header__mobile-trigger {
  .icon;
  .icon--burger;

  &::before {
    font-size: 32px;
  }

  float: right;

  color: @color-ui-alpha;
  font-size: 1.3em;
  text-align: center;

  cursor: pointer;

  &:hover {
    color: lighten(@color-ui-alpha, 10%);
  }

  .respond(large, {
    display: none;
  })
}

.header__brand {
  float: left;
}

.header__meta {
  &:extend(.clearfix all);

  float: right;
  display: none;
  height: 16px;

  .respond(large, {
    display: block;
  });
}

.header__meta__upper {
  &:extend(.clearfix all);
}

.header__meta__language {
  float: right;
}

.header__meta__menu {
  float: right;
}

.header__meta__lower {
  &:extend(.clearfix all);

  margin-top: 16px;
}

.header__meta__welcome {
  &:extend(.clearfix all);

  float: right;

  padding: 5px 0 0 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.header__meta__welcome__item {
  float: left;
  margin: 0;
  padding: 0;
  height: 16px; // Hack to get the border-right exactly 16px height
  line-height: 16px;

  color: @color-text-gamma;
  font-family: ITCFranklinGothicCondensedDemi, sans-serif;
  font-size: 20px;

  a {
    color: @color-text-gamma;
    text-decoration: none;
  }

  & + & {
    border-left: 1px solid @color-text-beta; // TODO: Use ui color instead
    margin-left: 10px;
    padding-left: 10px;
  }
}

.header__meta__social {
  float: right;
  min-height: 21px; // TODO

  border-left: 1px solid @color-text-beta;
  padding: 0 0 0 10px;
  margin: 0 0 0 10px;
}
