@import '../variables';
@import '../mixins/respond';
@import '../mixins/clearfix';
@import '../blocks/icon';

.header {
  @padding-top-bottom: 9.5px;
  @padding-top-large: 20px;
  @padding-left-right: 10px;
  @padding-left-right-large: 20px;
  @mobile-trigger-size: 41px;

  &:extend(.clearfix all);

  padding: @padding-top-bottom 0;
  border-bottom: 1px solid @color-blue-gray--light;

  .respond(medium, {
    border-bottom: 5px solid @color-blue;
    margin-bottom: 30px;
    });

  .respond(large, {
    padding: @padding-top-large 0 0 0;
  });
}

.header__container {
  .respond(medium, {
    padding-bottom: 20px;
  });
}

.header__mobile-burger {
  height: 100%;
  width: 100%;
}

.header__mobile-trigger {
  height: 20px;
  width: 25px;
  margin-top: 6px;
  float: right;
  fill: @color-blue;
  cursor: pointer;

  .respond(large, {
    display: none;
  })
}

.header__brand {
  float: left;
}

.header__meta {
  &:extend(.clearfix all);

  float: right;
  display: none;

  height: 16px;

  .respond(large, {
    display: block;
  });
}

.header__meta__upper {
  &:extend(.clearfix all);
}

.header__meta__language {
  float: right;
}

.header__meta__menu {
  float: right;
}

.header__meta__lower {
  &:extend(.clearfix all);

  margin-top: 12px;
}

.header__meta__welcome {
  &:extend(.clearfix all);

  float: right;
  padding: 0;
  font-size: 17px;

  ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
  }
}

.header__meta__welcome__main {
  float: left;

  height: 16px; // Hack to get the border-right exactly 16px height
  padding: 0;
  margin: 0;

  line-height: 16px;
  font-weight: bold;

  color: @color-blue;

  a {
    color: @color-blue;
    text-decoration: none;
  }
}

.header__meta__welcome__secondary {
  float: left;

  height: 16px; // Hack to get the border-right exactly 16px height
  padding: 0;
  margin: 0;

  line-height: 16px;

  color: @color-blue;

  a {
    color: @color-blue;
    text-decoration: none;
  }
  padding-left: 10px;
  border-left: 1px solid @color-gray--darker;
  margin-left: 10px;
}


.header__meta__social {
  float: right;

  min-height: 21px; // TODO
}

.header__menu {
  display: none;

  .respond(large, {
    display: block;
    border-top: 1px solid @color-gray--lighter;
  });
}

.header__meta__action {
  float: right;
}

.header__action {
  margin-left: 8px;
  margin-top: -4px;

  .respond(large, {
    float: left;
  });

  &:first-of-type {
    margin-left: 20px;
  }

  .icon {
    &::before {
      font-size: 28px;
    }
  }
}

.header__action__button {
  background: red;
  padding: 4px 10px;

  font-weight: @font-weight-medium;
  font-size: 15px;

  color: white;
  text-decoration: none;

  &:hover {
    color: white;
    cursor: pointer;
  }
}

/* Copyright AXA Versicherungen AG 2015 */
