@import '../variables';
@import '../mixins/grid';

.heading {
  font-weight: normal;
}

.heading--page {
  .make-gutter-as-padding();
  display: block;
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 5px;
  padding-bottom: 23px;
  border-bottom: 1px dotted @color-blue;
  color: @color-blue;
  font-size: 29px;
  line-height: 1.15;
}

.heading--fieldset {
  font-size: 23px;
  line-height: 1.15;
  color: @color-blue;
  margin-top: 0; // TODO
  margin-bottom: 25px;
}
