@import '../mixins/respond';
@import '../mixins/clearfix';

.header {

  border-bottom: 1px solid #DEDEE2; // TODO: Use color defined in color palette

  &__container {
    .clearfix();

    max-width: 980px;
    margin: 0 auto;

    padding: 11px 10px 10px 10px;

    .respond(large, {
        padding: 20px;
    });
  }

  &__brand {
    float: left;
  }

  &__meta {
    float: right;
    display: none;
    height: 16px;

    .respond(large, {
      display: block;
    });

    &__upper {
      .clearfix();
    }

    &__language {
      float: right;
    }

    &__menu {
      float: right;
    }

    &__lower {
      .clearfix();

      margin-top: 16px;
    }

    &__welcome {
      .clearfix();

      float: right;

      padding: 5px 0 0 0;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      &__item {
        float: left;
        margin: 0 10px 0 0;
        padding: 0 10px 0 0;
        height: 16px; // TODO: Dirty hack to get the exact height for the right border
        line-height: 16px;

        border-right: 1px solid @color-text-beta; // TODO: is it okay to use a text color on a border for a text with diffrent coloring?

        color: @color-ui-alpha; // TODO: use text color instead of ui color
        font-family: ITCFranklinGothicCondensedDemi, sans-serif;
        font-size: 20px;

        a {
          color: #0E2E85;
          text-decoration: none;
        }

        &:last-of-type {
          border-right: 0;
          margin-right: 0;
          padding-right: 0;
        }
      }
    }

    &__social {
      float: right;
      min-height: 21px; // TODO

      border-left: 1px solid @color-text-beta;
      padding: 0 0 0 10px;
      margin: 0 0 0 10px;
    }

  }

  &__social {
    ul {

    }
  }


}
