@import '../variables';
@import '../mixins/respond';

.hr {
  border-bottom: 1px solid @color-gray;

  .respond(medium, {
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 5px solid @color-blue;
  });
}
