@import '../variables';
@import './icons/burger';

.icon {
  fill: currentColor;
  height: 1em;
  width: 1em;

  pointer-events: none;
}

.icon--language-dropdown {
  width: 0.5em;
  height: 0.5em;
}

// Copyright AXA Versicherungen AG 2015
