.info-text {
  .make-col(12, small);
  .make-col(5, medium);

  .make-col-offset(6, medium);
  .make-col-offset(5, large);

  float: none !important;
}

.info-text__content {
  background: @color-gray--darker;
  color: white;
  padding: 10px;
}
