@import '../variables';

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 85%;
  line-height: 1;
  color: @color-white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label--default {
  background-color: @color-blue-gray;
}

.label--primary {
  background-color: @color-blue;
}

.label--success {
  background-color: @color-green;
}

.label--danger {
  background-color: @color-red;
}
