@import 'style/variables';
@import 'style/mixins/grid';
@import 'style/mixins/clearfix';
@import 'style/mixins/respond';

.list {
  .make-row();
  margin: 0;
  background: #efefef;
  padding: 0 10px;
}

.list__item {
  .make-col(12);
  .make-col(6, medium, 20px);
  .make-col(4, large, 20px);
  margin: 20px 0;
}

.list__item__header {
  height: 60px;
  padding: 0 15px;
  overflow: hidden;
  background: @color-ui-alpha;
  color: white;
}

.list__item__header.icon {
  &::before {
    float: left;
    padding: 17px 10px 19px 0;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
  }
}

.list__item__headline {
  padding: 10px 0;
}

.list__item__headline__primary {
  font-weight: bold;
  font-size: 1.2em;
}

.list__item__headline__secondary {
  font-size: 0.9em;
}

.list__item__content {
  background: white;
  padding: 10px 20px 0 20px;
}

.list__item__content__item {
  &:extend(.clearfix all);

  padding: 15px;
}

.list__item__content__item__label {
  font-weight: bold;
  float: left;
  font-size: .8em;
  line-height: 1.5;
}

.list__item__content__item__value {
  float: right;
  font-size: .8em;
  line-height: 1.5;
}

.list__item__content__item--key {
  background: #efefef;

  .list__item__content__item__value {
    font-size: 1.2em;
    line-height: 1;
  }
}

.list__item__footer {
  background: white;
}

.list__item__footer__link {
  text-align: center;
  display: block;
  padding: 14px;
}

.list__item__footer__link--primary {
  background: @color-ui-alpha;
  font-weight: bold;
  color: white;
}

.list__item__footer__link--secondary {
  color: @color-ui-alpha;
  font-size: .8em;
  border-top: 1px solid #efefef;
}
