@import 'style/variables';
@import 'style/mixins/respond';

.list {
  margin: 0;
  padding: 0 10px;

  .respond(medium, {
    display: table;
    table-layout: fixed;
    border-collapse: collapse;

    width: 100%;
    padding: 0;
  });
}

.list__item {
  margin: 20px 0;

  background: #efefef;

  .respond(medium, {
    display: table-row;

    background: transparent;

    &:hover {
      background-color: lighten(@color-ui-delta, 5%);
    }
  });
}

.list__item__cell {
  padding: 20px;
  text-align: center;
  vertical-align: middle;

  .respond(medium, {
    display: table-cell;
    border: 1px solid @color-ui-delta;
    border-left: none;
    border-right: none;

    &:first-child {
      border-left: 1px solid @color-ui-delta;
    }

    &:last-child {
      border-right: 1px solid @color-ui-delta;
    }

    padding: 10px;

    text-align: left;
  });
}

.list__item__cell--header {
  height: 60px;

  overflow: hidden;
  background: @color-ui-alpha;
  color: white;
  text-align: left;

  .respond(medium, {
    background: inherit;
    color: inherit;
  });
}

.list__item__cell--action {
  padding: 10px;
}

.list__item__cell__action-button {
  width: 100%;
  border-radius: 0;
}
