@import '../variables';
@import '../mixins/clearfix';
@import '../mixins/respond';
@import '../blocks/icon';

.menu {
  &:extend(.clearfix all);

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__item {
  margin: 0;
  padding: 0;
}

.menu--left {
  font-size: 0.9em;
  display: block;

  .menu__item {
    display: block;
  }

  .menu__link {
    display: block;
    padding: 12px 0 12px 12px;
    margin-left: 8px;
    position: relative;
    color: @color-gray--dark;

    &::before {
      display: none;
      content: '';
      width: 4px;
      height: 4px;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -2px;
      background: @color-blue;
    }

    &:hover,
    &.is-active {
      color: @color-blue;

      &::before {
        display: block;
      }
    }
  }

  .menu__link--category {
    margin-top: 12px;
    font-weight: bold;
    color: @color-light-blue--light;
    font-size: 1.1em;

    //reset hover from above
    &:hover {
      color: @color-light-blue--light;

      &::before {
        display: none;
      }
    }
  }
}


// TODO: Do styling
.menu--tabs {
  &:extend(.clearfix all);

  .menu__item {
    float: left;
    margin-right: 1px;
  }

  .menu__link {
    display: block;
    padding: 8px 20px;
    background: #bcd9f4;
    color: @color-blue;
    text-decoration: none;


    &.is-active {
      background: @color-blue;
      color: white;
    }
  }

  .menu__item {
    overflow: hidden;

    &:first-of-type {
      border-top-left-radius: 5px;
    }

    &:last-of-type {
      border-top-right-radius: 5px;
    }
  }
}

.menu--collapsing,
.menu--sliding {

  .menu__link {
    display: block;
    height: 56px;
    box-sizing: border-box;
    padding: 17px 15px 16px 15px;

    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    background-color: @color-blue;
    color: @color-tbd-4;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    border-top: 1px solid @color-tbd-13;

    &:hover {
      color: white;
    }

    &:active {
      //color: @color-tbd-4;
    }

    &.icon::before {
      padding-right: 8px;
    }

    &.is-active {
      background-color: @color-tbd-10;
      color: white;
    }
  }

  .menu__link--parent {
    .icon;
    .icon--arrow-right;

    &::before {
      display: block;
      float: right;
      font-size: 1.4em;
      padding: 0;
    }
  }

  .menu__link--back {
    .icon;
    .icon--arrow-left;

    &::before {
      display: block;
      float: left;
      font-size: 1.4em;
      padding-right: 8px;
    }

    background-color: @color-tbd-10;

    &:hover {
      color: white;
    }
  }
}

.menu--collapsing {
  // Level 1
  .menu__level .menu__link {
    background: @color-tbd-9;
  }

  .menu__level .menu__link.is-active {
    background: @color-tbd-10;
  }

  // Level 2
  .menu__level .menu__level .menu__link {
    padding-left: 35px;
    background-color: @color-tbd-9;
  }

  .menu__level .menu__level .menu__link.is-active {
    background-color: @color-tbd-11;
  }

  // Level 3
  .menu__level .menu__level .menu__level .menu__link {
    background-color: @color-tbd-12;
    color: @color-tbd-9;
    border-top: none;
    border-bottom: 1px solid @color-tbd-13;
    height: 41px;
    padding-top: 10px;
    padding-bottom: 9px;
  }

  .menu__level .menu__level .menu__level .menu__link.is-active {
    background-color: @color-tbd-12;
  }

  .menu__level {
    margin: 0;
    padding: 0;
    list-style-type: none;

    width: 100%;
    max-height: 0px;

    visibility: hidden;
    overflow: hidden;

    // Watch out: prevent delayed closing with a bezier
    transition: max-height @transition-duration cubic-bezier(0, 1.05, 0, 1), visibility @transition-duration;
  }

  .menu__level.is-open {
    visibility: visible;

    // Watch out: work around, since no transition to `height: auto` is possible
    max-height: 3999px;
  }

  .menu__item {
    float: none;
  }

  .menu__link--parent.is-active {
    .icon--arrow-bottom;
  }
}

.menu--sliding {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;

  transition: height @transition-duration cubic-bezier(0.6, 0.0, 0.735, 0.045), visibility @transition-duration;

  .menu__level {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: block;
    width: 100%;

    position: absolute;
    top: 0;
    left: 100%;

    visibility: hidden;
    transition: left @transition-duration cubic-bezier(0.6, 0.0, 0.735, 0.045), visibility @transition-duration;

    &.is-previous {
    }

    &.is-current {
      visibility: visible;
    }
  }

  .menu__item {
    float: none;

    &:first-of-type .menu__link {
      border-top: none;
    }
  }
}

.menu--main {
  padding-top: 10px;
  margin-left: (@grid-gutter-width / -2);

  display: none;

  .respond(large, {
    display: block;
  });

  .menu__item {
    height: 44px;
    line-height: 44px;
    margin: 0 (@grid-gutter-width / 2);

    &.is-active,
    &:hover {
      border-bottom: 5px solid @color-blue;

      .menu__link {
        color: @color-gray--darker;
      }

      .menu__link--home::before {
        color: @color-blue;
      }
    }

    .respond(large, {
      float: left;
    });
  }

  .menu__link {
    display: block;
    color: @color-gray;
    font-size: 14px;
    font-family: "Conv_ITCFranklinGothicStd-MdCd", sans-serif;
    text-decoration: none;
  }

  .menu__link--home {
    .icon();
    .icon--home();

    &::before {
      font-size: 16px;
      color: @color-blue;
    }
  }
}

.menu--side {
  display: none;

  .respond(large, {
    display: block;
  });

  .menu__item {
  }

  .menu__link {
    display: block;
    width: 100%;

    padding: 3px 10px;

    color: @color-gray;
    text-decoration: none;
    font-size: @font-size-base;

    &:hover {
      color: @color-gray--darker;
    }

    &.is-active,
    &:active {
      color: @color-blue;
    }
  }
}

.menu--meta,
.menu--language {
  margin-left: 7px;
  font-size: 12px; // TODO: fixed font-size

  .menu__item {
    margin-left: 7px;

    &.is-active,
    &:hover {
      a {
        color: @color-blue;
      }
    }

    .respond(large, {
      float: left;
    });
  }

  .menu__link {
    text-decoration: none;
    color: @color-gray--darker;
  }
}

.menu--header-main {
  margin-top: 15px;

  .menu__item {
    font-weight: bold;
    color: @color-blue;
    font-size: 20px; // TODO: fixed font-size
  }
}

.menu--meta {

  .menu__item {
    margin-top: 2px;
    margin-left: 12px;
    padding-left: 8px;
    font-size: 12px; // TODO: fixed font-size
    font-weight: bold;
    font-family: "ITCFranklinGothicCondensedDemi", sans-serif;
  }
}

.menu--language {

  .menu__item {
    font-size: 14px; // TODO: fixed font-size
    font-family: "Conv_ITCFranklinGothicStd-MdCd", sans-serif;
    text-transform: uppercase;
  }
}

.menu--social {

  .menu__item {
    .respond(large, {
      float: left;
    });

    margin-left: 10px;

    &:first-of-type {
      margin-left: 20px;
    }

    .icon {

      &::before {
        font-size: 28px;
      }
    }
  }
}


.menu--footer {
    .make-col(12);
    .make-col(6, medium);
    padding-left: 0px;
    padding-right: 0px;
    .menu__item {
        border-top: 1px solid @color-gray--light;
        padding: 8px 0 8px 25px;
        cursor: pointer;
        .menu__link{
            font-size: 1.2em;
        }
        
        &:first-child{
            border-top: none;
        }
        &:hover{
            text-decoration: underline;
            a{
                color: @color-blue;
             }
        }
        
        font-family: "ITCFranklinGothicCondensedDemi", sans-serif;
        .respond(medium, {
            font-size: 0.875em; 
            border: none;
            padding: 0px;

        });
    
   
  }
}

.menu--footer ~ .menu--footer{
    border-top: 1px solid @color-gray--light;
    .respond(medium, {
            border-top: none;

        });
}


.menu--keep-in-touch {
    margin-top: 10px;

    padding: 10px 0 10px 25px;
     .respond(medium, {
         margin-top: 0px;
       padding: 0 ;

    
    });

  .menu__item {
   .make-col(3);
   .make-col(2, medium);
    padding: 0px;
    .respond(medium, {
         padding-left: 0px;
    
    });
    .icon {
        margin:0 auto;
        display: block;
        width: 50%;
        .respond(medium, {
            margin:0;
            display: block;
        });

      &::before {
          
        font-size: 3.125em;

        .respond(medium, {
            font-size: 2.2em;
        });
      }
    }
  }
}

.menu--international{
    margin-top: 10px;
  .menu__item{
    .make-col(6);
    .make-col(6, medium);
    padding: 0px;


    .icon {
      margin:0 auto;
      display: block;
      width: 50%;
      .respond(medium, {
        margin:0;
        display: block;
      });

      &::before {
        font-size: 4em;

    }
  }
  }
}
.menu--copyline {
  padding: 5px;
  float: right;

  .menu__item {
    font-size: 0.75em;
    float: left;
    margin: 0;
    padding: 0;
    font-family: ITCFranklinGothicCondensedDemi, sans-serif;
  }
  a {
    color: @color-gray--darkest;
    text-decoration: none;
  }
  .menu__item ~ .menu__item {
    border-left: 1px solid @color-gray--darkest;
    margin-left: 10px;
    padding-left: 10px;
  }
}