// depends on: -

@import 'style/variables';
@import 'style/mixins/clearfix';

.menu {

  .clearfix();

  // resets for ul elements
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__item {
  float: left;
  margin: 0;
  padding: 0;
}

.menu--mobile {
  display: table;
  width: 100%;

  .menu__item {
    float: none;
    height: 60px;
    display: table-row;

    &:first-of-type .menu__link {
      border-top: none;
    }
  }

  .menu__link {
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 20px;

    text-decoration: none;
    font-size: 16px;
    line-height: 1.4;
    color: #747474; // TODO color

    border-top: 1px solid @color-ui-delta; // TODO color
  }

}

.menu--main {
  padding: 10px 10px 0 10px;

  border-bottom: 5px solid @color-ui-alpha;

  display: none !important; // TODO: !important needed for

  .respond(large, {
    display: block !important;
  });

  .menu__item {
    height: 44px;
    line-height: 44px;
    margin: 0 10px;

    &.is-active,
    &:hover {
      border-bottom: 5px solid @color-ui-alpha;

      .menu__link {
        color: #6f6f6f; // TODO: Use color-text-* var
      }
    }
  }

  .menu__link {
    display: block;
    color: #B0B0B0; // TODO: Use color-text-* var
    font-size: 14px;
    font-family: "Conv_ITCFranklinGothicStd-MdCd", sans-serif;
    text-decoration: none;
  }

}

.menu--meta,
.menu--language {
  margin-left: 7px;
  font-size: 12px; // TODO: fixed font-size

  .menu__item {
    margin-left: 7px;

    &.is-active,
    &:hover {
      a {
        color: #0E2E85;
      }
    }
  }

  .menu__link {
    text-decoration: none;
    color: #6f6f6f;
  }

}

.menu--header-main {
  margin-top: 15px;

  .menu__item {
    font-weight: bold;
    color: #0E2E85;
    font-size: 20px; // TODO: fixed font-size
  }

}

.menu--meta {

  .menu__item {
    margin-top: 2px;
    margin-left: 12px;
    padding-left: 8px;
    font-size: 12px; // TODO: fixed font-size
    font-weight: bold;
    font-family: "ITCFranklinGothicCondensedDemi", sans-serif;
  }

}

.menu--language {

  .menu__item {
    font-size: 14px; // TODO: fixed font-size
    font-family: "Conv_ITCFranklinGothicStd-MdCd", sans-serif;
    text-transform: uppercase;
  }

}
