@import '../variables';
@import '../blocks/button';
@import '../mixins/respond';
@import '../mixins/grid';

.mobile {
  .make-container();

  background-color: @color-white;
}

.mobile__row {
  .make-row();
}

.mobile__dropdown {
  padding: 0;
}

.mobile__button {
  .button;

  margin: 0;

  color: @color-gray--darker;
  background-color: @color-gray--lighter;

  transition: all @transition-duration-fast @transition-fn-fancy;

  &:hover {
    color: @color-blue;
    background-color: @color-gray--lighter;
  }
}

.mobile__button--action {
  color: @color-white;
  background-color: @color-red;

  &:hover {
    color: @color-white;
    background-color: lighten(@color-red, 10%);
  }
}

.mobile__header {
  display: flex;
  height: 88px;

  align-items: center;
  justify-content: center;
}

.mobile__title {
  .make-font-x-large;

  display: flex;

  align-items: center;
  justify-content: center;
}

.mobile__user {
  font-size: 15px;
  text-align: center;

  color: @color-tbd-25;
}

.mobile__logout {
  margin: 50px 0px 80px 0px;
}

.mobile__logout__link {
  display: block;

  padding: 17px 15px 16px 15px;

  font-size: 17px;

  background: @color-blue-gray;
  color: @color-white;

  &:hover {
    cursor: pointer;
    color: @color-white;
  }
}

.mobile__languages {
  display: table;
  table-layout: fixed;

  width: 100%;
  padding: 0;
  margin-top: 30px;

  border-collapse: collapse;

  .language-item {
    display: table-cell;

    border: 1px solid @color-tbd-13;

    &:first-of-type {
      border-left: none;
    }

    &:last-of-type {
      border-right: none;
    }

    &.is-active {
      background-color: @color-tbd-24;
    }
  }

  .language-link {
    display: block;

    padding: 10px 15px 10px 15px;

    font-size: 17px;
    line-height: 22px;
    text-align: center;

    color: @color-white;

    &:hover {
      cursor: pointer;
    }
  }
}
