// TODO: Destroy hierarchies with more BEM

@import '../variables';
@import '../mixins/respond';
@import '../mixins/unstyle-list';

.mobile-menu {
  .unstyle-list();

  padding-bottom: 1px;
}

.mobile-menu--sliding {
  position: relative;
  overflow: hidden;
}

.mobile-menu--sliding .mobile-menu__level {
  .unstyle-list();

  position: absolute;
  display: block;
  top: 0;
  left: 100%;
  visibility: hidden;

  width: 100%;
  padding-bottom: 1px;

  transition: left @transition-duration @transition-fn-fancy, visibility @transition-duration;
  &.is-previous {
  }

  &.is-current {
    visibility: visible;
  }
}

.mobile-menu--sliding .mobile-menu__item {
}

.mobile-menu__item {
  margin-bottom: -1px;
}

.mobile-menu__item--section {
}

.mobile-menu__link {
  .make-font-large;

  display: flex;
  align-items: center;

  height: 56px;
  padding: 0 30px;

  color: @color-gray--darker;
  border-top: 1px solid @color-gray--light;
  border-bottom: 1px solid @color-gray--light;

  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;

  &:hover {
    color: @color-blue;
  }
}

.mobile-menu__link.is-active {
  color: @color-blue;
}

.mobile-menu__text {
  flex-grow: 1;
  order: 2;
  pointer-events: none;
}

.mobile-menu__link__parent-icon {
  order: 3;

  height: 24px;
  width: 24px;
  margin-left: 20px;
}

.mobile-menu__link--back {
}

.mobile-menu__link__back-icon {
  order: 1;

  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.mobile-menu__link--section {
  height: 2.5rem;

  color: @color-white;
  background-color: @color-blue;

  &:hover {
    color: @color-white;
  }
}

  // Level 1
.mobile-menu--collapsing .mobile-menu__level .mobile-menu__link {
  background: @color-tbd-9;
}

.mobile-menu--collapsing .mobile-menu__level .mobile-menu__link.is-active {
  background: @color-tbd-10;
}

  // Level 2
.mobile-menu--collapsing .mobile-menu__level .mobile-menu__level .mobile-menu__link {
  padding-left: 35px;
  background-color: @color-tbd-9;
}

.mobile-menu--collapsing .mobile-menu__level .mobile-menu__level .mobile-menu__link.is-active {
  background-color: @color-tbd-11;
}

  // Level 3
.mobile-menu--collapsing .mobile-menu__level .mobile-menu__level .mobile-menu__level .mobile-menu__link {
  height: 41px;
  padding-top: 10px;
  padding-bottom: 9px;
  border-top: none;
  border-bottom: 1px solid @color-tbd-13;

  background-color: @color-tbd-12;
  color: @color-tbd-9;
}

.mobile-menu--collapsing .mobile-menu__level .mobile-menu__level .mobile-menu__level .mobile-menu__link.is-active {
  background-color: @color-tbd-12;
}

.mobile-menu--collapsing .mobile-menu__level {
  padding: 0;
  margin: 0;
  visibility: hidden;

  width: 100%;
  max-height: 0px;

  overflow: hidden;

  list-style-type: none;

  // Watch out: prevent delayed closing with a bezier
  transition: max-height @transition-duration cubic-bezier(0, 1.05, 0, 1), visibility @transition-duration;
}

.mobile-menu--collapsing .mobile-menu__level.is-open {
  visibility: visible;

  // Watch out: work around, since no transition to `height: auto` is possible
  max-height: 3999px;
}

.mobile-menu--collapsing .mobile-menu__item {
}

.mobile-menu--collapsing .mobile-menu__item--back {
  display: none;
}

.mobile-menu--collapsing .mobile-menu__link--parent.is-active {
  // TODO
  //.icon--arrow-bottom;
}

// Copyright AXA Versicherungen AG 2015
