@import "../variables";

@modal-padding: 15px;

.make-center() {
  width: 780px;
  margin: 0 auto;
}

.modal {
  display: none;
}

.modal.is-active {
  display: block;
}

.is-modal-open {
  overflow: hidden;
}

.modal__backdrop {
  background: black;
  opacity: .75;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal__wrapper {
  .respond(medium, {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9998;
    overflow: auto;
    padding: 0 0;
  })
}

.modal__content {
  position: fixed;
  top: 40px;
  bottom: 51px;
  left: 0;
  right: 0;
  overflow: auto;
  background: white;
  z-index: 9999;
  padding: 0 @modal-padding;

  .respond(medium, {
    position: static;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding: 0 @grid-gutter-width/2;
  })
}

.modal__dialog {
  width: 100%;
  min-height: 100%;

  background: white;

  .respond(medium; {
    padding-top: 115px;
    padding-bottom: 85px;
    padding-left: 30px;
    padding-right: 30px;
    .make-center();
  });
}

.modal__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 40px;
  padding: 0 @modal-padding;

  background: @color-light-blue;

  .respond(medium; {
    left: auto;
    right: auto;
    max-width: 720px;
    height: 115px;
    padding: 0;
    background: white;
  });
}

.modal__close {
  .icon();
  .icon--modal-close();
  display: block;
  height: 40px;
  float: right;
  width: 44px;
  font-size: 14px;
  color: white;
  text-align: center;
  line-height: 40px;

  &:hover {
    color: white;
  }

  .respond(medium; {
    padding-top: 20px;
    font-size: 21px;
    color: @color-light-blue;

    &:hover {
      color: @color-light-blue;
    }
  });
}

.modal__heading {
  margin-right: 44px;
  padding: 6px 0 5px 0;

  .respond(medium; {
    margin-right: 0;
    padding: 0;
  });
}

.modal__footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 51px;
  padding: 10px 0 15px 0;

  background: @color-tbd-5;
  border-top: 1px solid @color-tbd-5;

  .respond(medium; {
    left: auto;
    right: auto;
    max-width: 720px;
    height: 85px;
    padding: 0;

    background: white;
    border-top: none;
  });
}

.modal__footer__wrapper {
  .respond(medium; {
    padding-top: 27px;
    border-top: 1px dotted @color-blue;
  });
}

.modal__buttons {
  float: right;
}

.modal__buttons__button {
  margin-right: @modal-padding;
}
