@import '../variables';
@import '../mixins/respond';

.notifications {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 480px;
}

.notifications__item {
  min-height: 60px;
  margin: 20px;
  padding: 20px 30px;
  background: white;
  border-left: 3px solid @color-light-blue;
  box-shadow: 0 0 3px rgba(0,0,0,.1);
}

/* Copyright AXA Versicherungen AG 2015 */
