.page-content {
  .make-container(@respond-large-max-width);

  min-height: 512px;
  margin-top: 30px;
}

.page-content--fluid {
  max-width: auto;
  padding: 0;
}


// Copyright AXA Versicherungen AG 2015
