@import './container';

.page-content {
  .container;

  min-height: 512px;
  margin-top: 30px;
}

.page-content--fluid {
  max-width: initial;
  padding: 0;
}


// Copyright AXA Versicherungen AG 2015
