.popover {

}

.popover__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .respond(medium, {
    top: auto;
    left: auto;
    height: auto;

    position: absolute;
    width: 320px;

    margin-top: 20px;
    // -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    // -mox-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    // box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
  });
  z-index: 9900;
}

.popover__tail {
  background: transparent;
  position: absolute;
  z-index: 9900;
  margin-top: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
  margin-left: -20px;
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;

  display:none;
  .respond(medium, {
    display: block;
  });
}

.popover__tail--top {
  margin-left: 80px;
  margin-top: -20px;
  border-bottom: 20px solid lightgray;
}

.popover__tail--right {
  margin-right: -20px;
  border-left: 20px solid lightgray;
}

.popover__tail--bottom {
  margin-bottom: -20px;
  border-top: 20px solid lightgray;
}

.popover__tail--left {
  margin-left: -20px;
  border-right: 20px solid lightgray;
}

.popover__wrapper__header {
  background: #0062a9;
  padding: 15px;
  color: white;
  font-size: 18px;
  .respond(medium, {
    background: @color-gray--dark;
    color: #0062a9;
  });
}

.popover__wrapper__content__wrapper {
  height: 100%;
  margin-top: -57px;
  padding-top: 57px;
  padding-bottom: 60px;
  margin-bottom: -60px;

  .respond(medium, {
    background: @color-gray--dark;
    padding: 0;
    margin: 0;
  });
}

.popover__wrapper__content {
  height: 100%;
  background: @color-gray--dark;
  padding: 15px;
  .respond(medium, {
    height: auto;
  });
}

.popover__wrapper__footer {
  height: 60px;
  background: #efefef;
  padding: 15px;
  .respond(medium, {
    background: @color-gray--dark;
  });
}

.popover__wrapper__footer__buttons {
  float:right;
}
