.progress {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.progress__flow {
  display: table-row;

  ul& {
    margin: 0;
    padding: 0;
  }
}

.progress__step {
  display: table-cell;
}
