@import 'style/mixins/respond';

.responsive-table {
  overflow-x: auto;
  width: auto;
  margin-bottom: 0;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid @color-gray--lighter;

  // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)
  min-height: 0.01%;
}

// Tighten up spacing
.responsive-table .responsive-table__table {
  margin-bottom: 0;
  border: 0;

  // Ensure the content doesn't wrap
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        white-space: nowrap;
      }
    }
  }

  // Nuke the appropriate borders so that the parent can handle them
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th:first-child,
      > td:first-child {
        border-left: 0;
      }
      > th:last-child,
      > td:last-child {
        border-right: 0;
      }
    }
  }

  > caption {
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }

  // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
  // chances are there will be only one `tr` in a `thead` and that would
  // remove the border altogether.
  > tbody,
  > tfoot {
    > tr:last-child {
      > th,
      > td {
        border-bottom: 0;
      }
    }
  }
}
