@import '../variables';
@import '../mixins/font';
@import '../mixins/respond';

@mobile-nav-width: 80%;
@mobile-nav-width-fixed: 300px;

.site {
  overflow-x: hidden;
  background-color: @color-white;
}

.site.is-mobile-nav-open {
  overflow-y: hidden;

  .respond(large, {
    overflow-y: inherit;
  });
}

.site__page {
  position: relative;
  right: 0;
  overflow: hidden;

  transition: transform @transition-duration @transition-fn-fancy,
    padding-left @transition-duration @transition-fn-fancy,
    padding-right @transition-duration @transition-fn-fancy;
}

.site__page.is-pushed {
  transform: translateX(-@mobile-nav-width);

  .respond(large, {
    transform: translateX(0);
  });
}

.site__page__mask {
  display: block;
  width: 100%;
  height: 0;

  position: absolute;
  top: 0;
  left: 0;

  background-color: @color-black;
  opacity: 0;
  z-index: @z-index-site-page-masked;
  cursor: pointer;
  pointer-events: none;

  transition:   opacity @transition-duration @transition-fn-fancy,
                height 0 @transition-duration @transition-fn-fancy;
}

.site__page__mask.is-visible {
  opacity: 0.5;
  pointer-events: all;
  height: 100%;

  transition: opacity @transition-duration @transition-fn-fancy;

  .respond(large, {
    opacity: 0;
    height: 0;
    pointer-events: none;
  });
}

.site__mobile {
  position: fixed;
  right: 0;
  transform: translateX(100%);
  top: 0;

  width: @mobile-nav-width;
  height: 100%;

  z-index: @z-index-site-mobile-nav;
  overflow-y: scroll;

  transition: transform @transition-duration @transition-fn-fancy;
}

.site__mobile.is-visible {
  transform: translateX(0);

  .respond(large, {
    transform: translateX(100%);
  });
}

.site__burger {
  transition: color @transition-duration @transition-fn-fancy;
}

.site__burger.is-open {
  color: @color-white;

  &:hover {
    color: darken(@color-white, 10%);
  }
}

.site--left {
  .site__page.is-pushed {
    transform: translateX(@mobile-nav-width);
  }

  .site__mobile {
    left: 0;
    right: auto;
    transform: translateX(-100%);
  }

  .site__mobile.is-visible {
    transform: translateX(0);

    .respond(large, {
      transform: translateX(-100%);
    });
  }
}

.site--stacked {
  .site__page.is-pushed {
    transform: translateX(0);
  }
}

.site--desktop,
.site--fixed {
  .site.is-mobile-nav-open {
    .respond(large, {
      overflow-y: hidden;
    });
  }

  .site__page.is-pushed {
    .respond(large, {
      transform: translateX(-@mobile-nav-width);
    });
  }

  &.site--left {
    .site__page.is-pushed {
      transform: translateX(@mobile-nav-width);
    }
  }

  &.site--stacked {
    .site__page.is-pushed {
      transform: translateX(0);
    }
  }

  .site__page__mask.is-visible {
    .respond(large, {
      opacity: 0.5;
      pointer-events: all;
      height: 100%;
    });
  }

  .site__mobile.is-visible {
    .respond(large, {
      transform: translateX(0);
    });
  }
}

.site--fixed {
  .site__mobile {
    width: @mobile-nav-width-fixed;
  }

  .site__page.is-pushed {
    transform: translateX(-@mobile-nav-width-fixed);
  }

  &.site--left .site__page.is-pushed {
    transform: translateX(@mobile-nav-width-fixed);
  }

  &.site--stacked .site__page.is-pushed {
    transform: translateX(0);
  }

  .respond(large, {
    .site.is-mobile-nav-open {
      overflow-y: inherit;
    }

    .site__page {
      padding-right: @mobile-nav-width-fixed;
      transform: translateX(0);
    }

    .site__page.is-pushed {
      transform: translateX(0);
    }

    &.site--left .site__page {
      padding-left: @mobile-nav-width-fixed;
      padding-right: 0;
      transform: translateX(0);
    }

    .site__page__mask.is-visible {
      opacity: 0;
      pointer-events: none;
    }

    .site__mobile {
      transform: translateX(0);
      border-left: 1px solid @color-gray--light;
    }

    &.site--left .site__mobile {
      border-right: 1px solid @color-gray--light;
      border-left: none;
    }
  });
}

// Copyright AXA Versicherungen AG 2015
