@import '../variables';

@steps-bullet-diameter: 32px;

.steps {
  margin: 15px;
}

.steps__flow {
  counter-reset: steps;
  padding: 0;
  margin: 0;
  list-style: none;
}

.steps__step {
  width: 100%;
  border-left: 1px @color-gray solid;
  padding: 0;
  margin: 0;

  &:last-child {
    border-left: none;
  }
}

.steps__indicator {
  float: left;
  width: 20px;

  &::before {
    position: absolute;
    counter-increment: steps;
    content: counter(steps);
    width: @steps-bullet-diameter;
    height: @steps-bullet-diameter;
    border-radius: @steps-bullet-diameter;
    left: 0;
    line-height: @steps-bullet-diameter - 2px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background: @color-white;
    color: @color-gray;
    border: 2px @color-gray solid;
  }
}

.steps__content {
  margin-left: 31px;
  padding-bottom: 20px;
}

.steps__title {
  margin: 0 0 -8px;
}

// Copyright AXA Versicherungen AG 2015
