@import '../variables';
@import '../mixins/font';

.summary {
  font-size: 19px;
}

.summary__heading {
  .make-font-heading-tertiary();
  margin: 0;
}

.summary__label {
  .make-font-large();
  margin: 1rem 0 0;
}

.summary__content {
  .make-font-large-semibold();

  margin: 0 0 0.5rem;
}

.summary__items {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
}

.summary__item {
  padding: 0;
  margin: 0;
  margin-bottom: 2px;
}

.summary__edit {
  font-size: 16px;
  font-weight: 600;
}

// Copyright AXA Versicherungen AG 2015
