@import '../variables';

.summary {
  margin: 15px;
  font-size: 19px;
}

.summary__heading {
  font-size: 19px;
  margin-bottom: -9px;
}

.summary__label {
  font-weight: 200;
  margin-bottom: 8px;
}

.summary__content {
  font-weight: 600;
  margin-bottom: 10px;
}

.summary__items {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
}

.summary__item {
  padding: 0;
  margin: 0;
  margin-bottom: 2px;
}

.summary__edit {
  font-size: 16px;
  font-weight: 600;
}

.summary--magic {

  display: block;
  max-width: 535px;
  margin: 0 auto;
  position: relative;

  text-align: left;

  counter-reset: summary--magic;

  &:before {
    content: "";
    position: absolute;
    top: 140px;
    left: -33px;
    height: 530px;
    border-left: 1px @color-gray solid;
  }

  .summary__heading {
    position: relative;
    font-size: 19px;
    margin-bottom: -9px;
    margin-left: -23px;

    &:before {
      content: '';
      position: absolute;
      top: -3px;
      left: -10px;
      width: 30px;
      height: @steps-bullet-diameter;
      background: #fff;
    }

    &:after {
      counter-increment: summary--magic;
      content: counter(summary--magic);
      position: absolute;
      top: -3px;
      left: -10px;
      background-color: white;
      color: black;
      text-align: center;

      width: @steps-bullet-diameter;
      height: @steps-bullet-diameter;
      border-radius: @steps-bullet-diameter;
      left: -26px;
      line-height: @steps-bullet-diameter - 2px;
      font-size: 18px;
      font-weight: 600;
      background: @color-white;
      color: @color-gray;
      border: 2px @color-gray solid;
    }
  }

  .summary__items {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
  }

  .summary__item {
    list-style-type: none;
    margin: 5px 0 15px 20px;
    padding: 0;

    &:before {
      content: '+';
      display: inline-block;
      float: left;

      width: 26px;
      height: 26px;
      border-radius: 26px;
      line-height: 0px;
      padding-top: 11px;
      padding-left: 1px;
      font-size: 20px;
      font-weight: 200;
      background: @color-white;
      color: @color-gray;
      border: 2px @color-gray solid;
      text-align: center;
      margin-right: 10px;
      margin-top: -2px;
    }
  }
}

// Copyright AXA Versicherungen AG 2015
