@import '../variables';

.tab-panel {

}

.tab-panel__content {

}

.tab-panel__tab {
  display: none;

  &.is-active {
    display: block;
  }
}

.tab-panel__content {
  border: 1px dashed @color-tbd-8;
  margin-top: -1px;
}
