@import '../variables';

.toggle {
  margin: 20px 0;
}

.toggle__button {
  display: block;
  margin: 20px 0;
  text-transform: uppercase;
  line-height: 30px;
  color: @color-light-blue;
  cursor: pointer;
  font-weight: @font-weight-medium;

  &:hover,
  &.is-active {
    color: @color-green;
  }

  &::before {
    position: relative;
    top: 9px;
    margin-right: 5px;
    font-size: 32px;
    color: @color-light-blue;
    cursor: normal;
  }

}

.toggle__content {
  display: none;
}

/* Copyright AXA Versicherungen AG 2015 */
