<div class="table-of-contents">
  <div class="table-of-contents__heading">Table of Contents</div>
  <nav class="table-of-contents__nav">
    <ul class="table-of-contents__menu">
      {{#each toc}}
        <li class="table-of-contents__item">
          <a href="#{{slug}}" class="table-of-contents__link">{{title}}</a>
        </li>
      {{/each}}
    </ul>
  </nav>
</div>
