---
title: Accessibility
order: 2
collection: nav__fundamentals__accessibility
template: page.jade
tags: accessibility, barrierefreiheit
---

:markdown
  There are around one million impaired people in Switzerland.
  Persons with disabilities include those who have long-term physical,
  mental, intellectual or sensory impairments which in interaction
  with various barriers may hinder their full and effective participation
  in society on an equal basis with others.
  (UN Convention on the Rights of Persons with Disabilities, Art. 1, Abs.2). 

  As AXA Switzerland we identified WCAG 2.0 (AA) as an appropriate standard
  for B2C websites and applications.
  Complete information about the standard and how follow
  the standard can be found on the [w3c website](http://www.w3.org/TR/WCAG20/).
