---
title: Standard Light Footer
layout: demo.hbs
---
<div class="container footer">
  <div class="row footer-bottom">
    <div class="footer-languages-bottom-container">
      <ul class="footer-languages">
        <li class="footer-language-item">
          <a class="footer-language-link" href="#">EN</a>
        </li>
        <li class="footer-language-item">
          <a class="footer-language-link active-language" href="#">DE</a>
        </li>
        <li class="footer-language-item">
          <a class="footer-language-link" href="#">FR</a>
        </li>
        <li class="footer-language-item">
          <a class="footer-language-link" href="#">IT</a>
        </li>
      </ul>
    </div>
    <div class="footer-copyline footer-copyline-bottom">
      <a href="#">Nutzungshinweise</a>
      <a href="#">Datenschutz / Cookie Policy</a>
      <span>© 2024 AXA Versicherungen AG</span>
    </div>
  </div>
</div
