---
title: Standard Footer Full
layout: demo.hbs
---
<div class="container">
  <div class="row footer-top">
    <section class="clear-gutter col-lg-3 col-lg-push-9 footer-last-column">
      <div class="clear-gutter footer-social-top-container">
        <div class="footer-link-title hidden-md-down">Follow AXA</div>
        <ul class="footer-social">
          <li class="footer-social-item">
            <a class="footer-social-link" href="#">
              <svg version="1" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 59.6 128">
                <path d="M39.7 128H13.2V64H0V41.9h13.2V28.7c0-18 7.5-28.7 28.7-28.7h17.6v22.1h-11c-8.3 0-8.8 3.1-8.8 8.8v11h20L57.3 64H39.7v64z"/>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a class="footer-social-link" href="#">
              <svg version="1" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 157.5 128">
                <path d="M157.5 15.2c-5.8 2.6-12 4.3-18.6 5.1 6.7-4 11.8-10.3 14.2-17.9-6.2 3.7-13.2 6.4-20.5 7.8C126.7 3.9 118.3 0 109 0 91.2 0 76.7 14.5 76.7 32.3c0 2.5.3 5 .8 7.4C50.7 38.3 26.9 25.5 11 5.9c-2.8 4.8-4.4 10.3-4.4 16.2C6.6 33.3 12.3 43.2 21 49c-5.3-.2-10.3-1.6-14.6-4v.4c0 15.6 11.1 28.7 25.9 31.7-2.7.7-5.6 1.1-8.5 1.1-2.1 0-4.1-.2-6.1-.6 4.1 12.8 16 22.2 30.2 22.4-11.1 8.7-25 13.8-40.1 13.8-2.6 0-5.2-.1-7.7-.4 14.3 9.2 31.3 14.5 49.5 14.5 59.4 0 91.9-49.2 91.9-91.9 0-1.4 0-2.8-.1-4.2 6.3-4.5 11.8-10.2 16.1-16.6z"/>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a class="footer-social-link" href="#">
              <svg version="1" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 254.8 244.2">
                  <path d="M254.5 150.1v94.1H200v-87.8c0-22-7.9-37.1-27.6-37.1-15.1 0-24 10.1-28 20-1.4 3.5-1.8 8.4-1.8 13.3v91.6H88s.7-148.7 0-164.1h54.6v23.3c-.1.2-.3.4-.4.5h.4v-.5c7.2-11.2 20.2-27.1 49.2-27.1 35.8-.1 62.7 23.4 62.7 73.8zM30.9 1C12.2 1 0 13.2 0 29.3c0 15.8 11.9 28.4 30.2 28.4h.4c19 0 30.9-12.6 30.9-28.4C61 13.2 49.5 1 30.9 1zM3.2 244.2h54.5V80.1H3.2v164.1zm0 0"/>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a class="footer-social-link" href="#">
              <svg version="1" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 342.8 244.2">
                <path d="M336.8 41.2c-4.2-18.2-19.1-31.5-37-33.5C257.3 2.9 214.3 0 171.4 0 128.6 0 85.6 2.9 43.1 7.7 25.1 9.7 10.2 23 6 41.2 0 67 0 95.3 0 121.9s0 54.8 6 80.7c4.2 18.1 19.1 31.5 37 33.5 42.5 4.7 85.5 7.7 128.3 7.7 42.8 0 85.8-2.9 128.3-7.7 17.9-2 32.9-15.4 37-33.5 6-25.8 6-54.1 6-80.7.2-26.7.2-54.9-5.8-80.7m-107 88.5L149 173.4c-8 4.3-14.6.4-14.6-8.7V79c0-9.1 6.6-13.1 14.6-8.7l80.8 43.7c8.1 4.3 8.1 11.4 0 15.7"/>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a class="footer-social-link" href="#">
              <svg version="1" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 243.8 244.2">
                <path d="M202 0H41.8C18.7 0 0 18.7 0 41.8V202c0 23.1 18.7 41.8 41.8 41.8H202c23.1 0 41.8-18.7 41.8-41.8V41.8C243.8 18.7 225 0 202 0zM83.8 100.7c.1 0 .1 0 0 0 .5-1 1.1-1.8 1.6-2.6.3-.5.7-1 1-1.4l1.2-1.5c.3-.4.7-.9 1-1.3.7-.8 1.4-1.6 2.1-2.3l1.1-1.1c.5-.5 1.1-1 1.6-1.5.4-.3.7-.6 1.1-1 .9-.7 1.7-1.4 2.7-2 .3-.2.7-.4 1-.7.7-.5 1.5-.9 2.2-1.3.4-.2.7-.4 1.1-.6 1-.5 2.1-1.1 3.2-1.5.3-.1.5-.2.8-.3.9-.4 1.9-.7 2.8-1 .3-.1.7-.2 1-.3 1.2-.4 2.4-.7 3.6-.9.1 0 .3 0 .4-.1 1.1-.2 2.3-.4 3.5-.5.3 0 .7-.1 1-.1 1.3-.1 2.6-.2 4-.2 1.3 0 2.7.1 4 .2.3 0 .7.1 1 .1 1.2.1 2.3.3 3.5.5.1 0 .3 0 .4.1l3.6.9c.3.1.7.2 1 .3 1 .3 1.9.7 2.8 1 .3.1.5.2.8.3 1.1.5 2.1 1 3.2 1.5.4.2.7.4 1.1.6.8.4 1.5.9 2.2 1.4.3.2.7.4 1 .6.9.6 1.8 1.3 2.7 2 .4.3.7.6 1.1.9.6.5 1.1 1 1.6 1.5.4.3.7.7 1.1 1.1.7.8 1.5 1.5 2.1 2.4.3.4.7.8 1 1.3.4.5.8 1 1.2 1.6.3.5.7.9 1 1.4 4.5 6.8 7.1 15 7.1 23.8 0 24-19.5 43.5-43.5 43.5S78.3 146 78.3 122c0-7.8 2.1-15 5.5-21.3zM217.6 189c0 16.9-13.7 30.6-30.6 30.6H56.8c-16.9 0-30.6-13.7-30.6-30.6v-88.2h29.4c-2.1 6.7-3.3 13.8-3.3 21.1 0 38.5 31.2 69.6 69.6 69.6s69.6-31.2 69.6-69.6c0-7.4-1.2-14.5-3.3-21.1h29.4V189zm0-125.3c0 2.5-2 4.6-4.6 4.6h-25c-2.5 0-4.6-2-4.6-4.6V38.6c0-2.5 2-4.6 4.6-4.6h25.1c2.5 0 4.6 2 4.6 4.6v25.1z"/>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="clear-gutter col-lg-9 col-lg-pull-3 footer-links">
      <div class="row">
        <div class="col-sm-4">
          <div
            class="footer-link-title footer-title-only hidden-sm-up"
            data-footer="#QuickAccess"
            data-back-label="Quick Access"
          >
            <span>Quick Access</span>
            <div class="footer-link-icon-container">
              <svg class="footer-link-icon" viewBox="0 0 24 24">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.39 1.478L6.86-.025l10.3 10.522.004-.004 1.467 1.497-.003.005.004.004-1.472 1.503-.004-.005L6.9 23.975 5.434 22.48 15.688 12" data-reactid="37"></path>
              </svg>
            </div>
          </div>
          <div
            class="footer-link-title hidden-xs-down"
          >
            Quick Access
          </div>
          <ul
            id="QuickAccess"
            class="footer-link-list"
          >
            <li class="footer-link-item">
              <a class="footer-link" href="#">
                Careers
              </a>
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="#">Contact</a>
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="#">AXA Around the World</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <div
            class="footer-link-title footer-title-only hidden-sm-up"
            data-footer="#OurFancyApp"
            data-back-label="Our fancy apps"
          >
            <span>Our fancy apps</span>
            <div class="footer-link-icon-container">
              <svg class="footer-link-icon" viewBox="0 0 24 24">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.39 1.478L6.86-.025l10.3 10.522.004-.004 1.467 1.497-.003.005.004.004-1.472 1.503-.004-.005L6.9 23.975 5.434 22.48 15.688 12" data-reactid="37"></path>
              </svg>
            </div>
          </div>
          <div class="footer-link-title hidden-xs-down">Our fancy apps</div>
          <ul
            id="OurFancyApp"
            class="footer-link-list"
          >
            <li class="footer-link-item">
              <a class="footer-link" href="#">AXA Sure</a>
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="#">myAXA App</a>
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="#">myAXA Web</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <div
            class="footer-link-title footer-title-only hidden-sm-up"
            data-footer="#OurFancyApp2"
            data-back-label="Our fancy apps 2"
          >
            <span>Our fancy apps 2</span>
            <div class="footer-link-icon-container">
              <svg class="footer-link-icon" viewBox="0 0 24 24">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.39 1.478L6.86-.025l10.3 10.522.004-.004 1.467 1.497-.003.005.004.004-1.472 1.503-.004-.005L6.9 23.975 5.434 22.48 15.688 12" data-reactid="37"></path>
              </svg>
            </div>
          </div>
          <div class="footer-link-title hidden-xs-down">Our fancy apps 2</div>
          <ul
            id="OurFancyApp2"
            class="footer-link-list"
          >
            <li class="footer-link-item">
              <a class="footer-link" href="#">AXA Sure</a>

            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="#">myAXA App</a>
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="#">myAXA Web</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <div class="row footer-bottom">
    <div class="footer-languages-bottom-container">
      <span class="footer-languages-label">Languages:</span>
      <ul class="footer-languages">
        <li class="footer-language-item">
          <a class="footer-language-link" href="#">English</a>
        </li>
        <li class="footer-language-item">
          <a class="footer-language-link active-language" href="#">French</a>
        </li>
        <li class="footer-language-item">
          <a class="footer-language-link" href="#">German</a>
        </li>
      </ul>
    </div>
    <div class="footer-copyline footer-copyline-bottom">
      <a href="#">Privacy Policy</a> © 2016 AXA, All Rights Reserved
    </div>
  </div>
</div
