---
title: Only Top Footer
layout: demo.hbs
---
<div class="container">
  <div class="row footer-top">
    <section class="clear-gutter col-lg-3 col-lg-push-9 footer-last-column">
      <div class="footer-copyline-top-container hidden-md-down">
        <div class="footer-copyline footer-copyline-top">
          <a href="#">Privacy Policy</a> © 2016 AXA, All Rights Reserved
        </div>
      </div>
    </section>
    <section class="clear-gutter col-lg-9 col-lg-pull-3 footer-links">
      <div class="row">
        <div class="col-sm-4">
          <div
            class="footer-link-title footer-title-only hidden-sm-up"
            data-footer="#QuickAccess"
            data-back-label="Quick Access"
          >
            <span>Quick Access</span>
            <div class="footer-link-icon-container">
              <svg class="footer-link-icon" viewBox="0 0 24 24">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.39 1.478L6.86-.025l10.3 10.522.004-.004 1.467 1.497-.003.005.004.004-1.472 1.503-.004-.005L6.9 23.975 5.434 22.48 15.688 12" data-reactid="37"></path>
              </svg>
            </div>
          </div>
          <div
            class="footer-link-title hidden-xs-down"
          >
            Quick Access
          </div>
          <ul
            id="QuickAccess"
            class="footer-link-list"
          >
            <li class="footer-link-item">
              <a class="footer-link" href="#">
                Careers
              </a>
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="#">Contact</a>
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="#">AXA Around the World</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <div
            class="footer-link-title footer-title-only hidden-sm-up"
            data-footer="#OurFancyApp"
            data-back-label="Our Fancy App"
          >
            <span>Our fancy apps</span>
            <div class="footer-link-icon-container">
              <svg class="footer-link-icon" viewBox="0 0 24 24">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.39 1.478L6.86-.025l10.3 10.522.004-.004 1.467 1.497-.003.005.004.004-1.472 1.503-.004-.005L6.9 23.975 5.434 22.48 15.688 12" data-reactid="37"></path>
              </svg>
            </div>
          </div>
          <div class="footer-link-title hidden-xs-down">Our fancy apps</div>
          <ul
            id="OurFancyApp"
            class="footer-link-list"
          >
            <li class="footer-link-item">
              <a class="footer-link" href="#">AXA Sure</a>
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="#">myAXA App</a>
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="#">myAXA Web</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <div
            class="footer-link-title footer-title-only hidden-sm-up"
            data-footer="#OurFancyApp2"
            data-back-label="Our Fancy App 2"
          >
            <span>Our fancy apps 2</span>
            <div class="footer-link-icon-container">
              <svg class="footer-link-icon" viewBox="0 0 24 24">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.39 1.478L6.86-.025l10.3 10.522.004-.004 1.467 1.497-.003.005.004.004-1.472 1.503-.004-.005L6.9 23.975 5.434 22.48 15.688 12" data-reactid="37"></path>
              </svg>
            </div>
          </div>
          <div class="footer-link-title hidden-xs-down">Our fancy apps 2</div>
          <ul
            id="OurFancyApp2"
            class="footer-link-list"
          >
            <li class="footer-link-item">
              <a class="footer-link" href="#">AXA Sure</a>

            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="#">myAXA App</a>
            </li>
            <li class="footer-link-item">
              <a class="footer-link" href="#">myAXA Web</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <div class="row footer-bottom">
    <div class="footer-copyline footer-copyline-bottom hidden-lg-up">
      <a href="#">Privacy Policy</a> © 2016 AXA, All Rights Reserved
    </div>
  </div>
</div
