---
title: Checkbox
order: 2
template: page.jade
tags: Checkbox, Select
---

include ../includes/mixins.jade

p.paragraph.
  A checkbox is a basic control that enables the user to select or deselect one or multiple options.

.toc
  .toc__title Table of contents
  ul.toc__anchor-navigation
    li.toc__anchor-navigation__item
      a(href='#enhanced').toc__anchor-navigation__link Basic Checkbox
    li.toc__anchor-navigation__item
      a(href='#group').toc__anchor-navigation__link Checkbox group
    li.toc__anchor-navigation__item
      a(href='#non-enhanced').toc__anchor-navigation__link Non enhanced checkbox

h2.heading.heading--secondary#enhanced Basic Checkbox
p.paragraph.
  The basic checkbox can be used for accepting terms & conditions or alike.

.example
  include ../includes/example-header.jade
  .example__content
    .example__border
      iframe.example__iframe(
        src=relative('/components/form-and-input-elements/demos/checkbox-basic.html')
        data-iframe-resizer
      )

.toggle
  .toggle__button(data-info, data-target='#code-basic')
    +svg('source', ['icon-svg', 'toggle__icon'])
    span See code
  .toggle__content#code-basic
    .tab-panel
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab.is-active HTML
      .tab-panel__content
        .tab-panel__content__tab.is-active
          :markdown
            The jQuery plugin bound with `data-checkbox` wil add the
            `checkbox--js` modifier for styling and `tabindex`
            attributes to allow keyboard interactions.

          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/checkbox-basic.jade

h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      Only set a default value if it is good for the user. In doubt, don't set a default value.

.hr

h2.heading.heading--secondary#group Checkbox group
p.paragraph.
  If a user needs to select multiple options, the checkbox group can be used.
.example
  include ../includes/example-header.jade
  .example__content
    .example__border
      iframe.example__iframe(
        src=relative('/components/form-and-input-elements/demos/checkbox-group.html')
        data-iframe-resizer
      )
.toggle
  .toggle__button(data-info, data-target='#code-checkbox-group')
    +svg('source', ['icon-svg', 'toggle__icon'])
    span See code
  .toggle__content#code-checkbox-group
    .tab-panel
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab.is-active HTML
      .tab-panel__content
        .tab-panel__content__tab.is-active
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/checkbox-group.jade

h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content
      :markdown
        If you have more than 10 checkboxes in one form-field,
        a <a href="./textfield.html#chips" class="link">chips component</a>
        may be more appropriate.

.hr

h2.heading.heading--secondary#non-enhanced Non enhanced checkbox

p.paragraph.
  Use the non-enhanced checkbox as a fallback only.

.example
  include ../includes/example-header.jade
  .example__content
    .example__border
      iframe.example__iframe(
        src=relative('/components/form-and-input-elements/demos/checkbox-non-enhanced.html')
        data-iframe-resizer
      )

.toggle
  .toggle__button(data-info, data-target='#code-non-enhanced')
    +svg('source', ['icon-svg', 'toggle__icon'])
    span See code
  .toggle__content#code-non-enhanced
    .tab-panel
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab.is-active HTML
      .tab-panel__content
        .tab-panel__content__tab.is-active
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/checkbox-non-enhanced.jade

//- Copyright AXA Versicherungen AG 2015
