---
title: Datepicker
order: 3
collection: nav__components__form
template: page.jade
tags: Date, Time, Picker
---

p.paragraph.
  The datepicker component helps the user selecting a date.

.example(data-example-relative-base=relative('/'))
  .example__header
    .example__device-selection
      a.example__device-selection__device.example__device-selection__device--mobile
      a.example__device-selection__device.example__device-selection__device--tablet
      a.example__device-selection__device.example__device-selection__device--desktop.is-active
  .example__content
    .example__border
      .example__bracket.example__bracket--topleft
      .example__bracket.example__bracket--bottomright
      iframe.example__iframe
      .example__html
        include:ignorefrontmatter ./snippets/datepicker.jade

.toggle
  .toggle__button(data-info, data-target='#code')
    svg.icon-svg.toggle__icon
      use(xlink:href=relative('/images/icons.svg#source'))
    span See code
  .toggle__content#code
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
          .tab-panel__header__tab(data-tab-toggle='js') JavaScript
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          :markdown
            This is the pure HTML markup to create a
            datepicker. Use our jQuery plugin or custom
            code to generate the markup and implement
            the required behaviour.
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/datepicker-markuponly.jade

        .tab-panel__content__tab(data-tab-content='js')
          :markdown
            To get localized strings use moment.locale as
            described in the <a href="http://momentjs.com/docs/" class="link">momentjs docs</a>.

            Use the jQuery plugin as follows. It will
            create the calendar and implements user
            interaction.
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/datepicker.jade

h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item Use the native datepickers on mobile devices

// Copyright AXA Versicherungen AG 2015
