---
title: Datepicker
order: 3
template: page.jade
tags: Date, Time, Picker
---

include ../includes/mixins.jade

p.paragraph.
  The datepicker component helps the user selecting a date.

.toc
  .toc__title Table of contents
  ul.toc__anchor-navigation
    li.toc__anchor-navigation__item
      a(href='#basic').toc__anchor-navigation__link Regular Datepicker
    li.toc__anchor-navigation__item
      a(href='#condensed').toc__anchor-navigation__link Condensed Datepicker

.hr

h2.heading.heading--secondary#regular Regular Datepicker

.example
  include ../includes/example-header.jade
  .example__content
    .example__border
      iframe.example__iframe(
        src=relative('/components/form-and-input-elements/demos/datepicker.html')
        data-iframe-resizer
      )

.toggle
  .toggle__button(data-info, data-target='#code-basic')
    +svg('source', ['icon-svg', 'toggle__icon'])
    span See code
  .toggle__content#code-basic
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
          .tab-panel__header__tab(data-tab-toggle='js') JavaScript
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          :markdown
            This is the pure HTML markup to create a
            datepicker. Use our jQuery plugin or custom
            code to generate the markup and implement
            the required behaviour.
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/datepicker-markuponly.jade

        .tab-panel__content__tab(data-tab-content='js')
          :markdown
            To get localized strings use moment.locale as
            described in the <a href="http://momentjs.com/docs/" class="link">momentjs docs</a>.

            Use the jQuery plugin as follows. It will
            create the calendar and implements user
            interaction.
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/datepicker.jade

h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      Use the native datepickers on mobile devices

.hr

h2.heading.heading--secondary#condensed Condensed Datepicker

.example
  include ../includes/example-header.jade
  .example__content
    .example__border
      iframe.example__iframe(
        src=relative('/components/form-and-input-elements/demos/datepicker-condensed.html')
        data-iframe-resizer
      )
.toggle
  .toggle__button(data-info, data-target='#code-condensed')
    +svg('source', ['icon-svg', 'toggle__icon'])
    span See code
  .toggle__content#code-condensed
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML/JS
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          :markdown
            To create a condensed datepicker, just add the
            `condensed` modifier to the datepicker block
            and the control element.
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/datepicker-condensed.jade

//- Copyright AXA Versicherungen AG 2015
