---
title: Dropdown
order: 4
collection: nav__components__form
template: page.jade
tags: Dropdown, Select
---

p.paragraph.
  A dropdown is always a great choice if it comes to selecting a single value out of a big list of values.

.toc
  .toc__title Table of contents
  ul.toc__anchor-navigation
    li.toc__anchor-navigation__item
      a(href='#enhanced').toc__anchor-navigation__link Basic Dropdown
    li.toc__anchor-navigation__item
      a(href='#non-enhanced').toc__anchor-navigation__link Backup: Non enhanced dropdown

.hr

h2.heading.heading--secondary#enhanced Basic Dropdown

p.paragraph.
  The dropdown is used for a single selection out of a list. 

.example
  .example__header
    .example__device-selection
      a.example__device-selection__device.example__device-selection__device--mobile
      a.example__device-selection__device.example__device-selection__device--tablet
      a.example__device-selection__device.example__device-selection__device--desktop.is-active
  .example__content
    iframe.example__iframe
    .example__html
      .dropdown(data-dropdown)
        .dropdown__label
        select.dropdown__select
          option Schweiz
          option Regenbogenland

.toggle
  .toggle__button(data-info, data-target='#code-basic')
    svg.icon-svg.toggle__icon
      use(xlink:href=relative('/images/icons.svg#source'))
    span See code
  .toggle__content#code-basic
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
          .tab-panel__header__tab(data-tab-toggle='js') JavaScript
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              :highlight
                <div data-dropdown="data-dropdown" class="dropdown">
                  <div class="dropdown__label"></div>
                  <select class="dropdown__select">
                    <option>Schweiz</option>
                    <option>Regenbogenland</option>
                  </select>
                </div>
        .tab-panel__content__tab(data-tab-content='js')
          p.paragraph.
            Our jQuery plugin adds the
            <code>dropdown--js</code> modifier and handles
            keyboard events.

          p.paragraph.
            Activate the functionality with the data-* API
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              :highlight
                <div data-dropdown="data-dropdown" class="dropdown">
                  <div class="dropdown__label"></div>
                  <select class="dropdown__select">
                    <option>Schweiz</option>
                    <option>Regenbogenland</option>
                  </select>
                </div>

h3.heading.heading--tertiary UX Checklist

ul.checklist
  li.checklist__item 
    :markdown
      Generally, if you have less than 5 options, a <a class="link" href="./segmented-control.html">segmented control</a> might be the better option.
  li.checklist__item On mobile devices, use native dropdown pickers.

.hr

h2.heading.heading--secondary#non-enhanced Non enhanced dropdown

p.paragraph.
  Use the non-enhanced dropdown as a fallback only.

.example
  .example__header
    .example__device-selection
      a.example__device-selection__device.example__device-selection__device--mobile
      a.example__device-selection__device.example__device-selection__device--tablet
      a.example__device-selection__device.example__device-selection__device--desktop.is-active
  .example__content
    iframe.example__iframe
    .example__html
      .dropdown
        .dropdown__label
        select.dropdown__select
          option Schweiz
          option Regenbogenland

.toggle
  .toggle__button(data-info, data-target='#code-non-enhanced')
    svg.icon-svg.toggle__icon
      use(xlink:href=relative('/images/icons.svg#source'))
    span See code
  .toggle__content#code-non-enhanced
    .tab-panel
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab.is-active HTML
      .tab-panel__content
        .tab-panel__content__tab.is-active
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              :highlight
                <div class="dropdown">
                  <div class="dropdown__label"></div>
                  <select class="dropdown__select">
                    <option>Schweiz</option>
                    <option>Regenbogenland</option>
                  </select>
                </div>

// Copyright AXA Versicherungen AG 2015
  
