---
title: Form group
order: 7
template: page.jade
tags:  formgroup, formfield, info, error
---

include ../includes/mixins.jade

p.paragraph.
  A form group includes multiple elements which
  aggregate to a complete form field/row.

h2.heading.heading--secondary#default Standard form group

p.paragraph.
  A normal fieldset contains a label and an input field.
  Optionally, info-icons can be added if necessary.

p.paragraph.
  Info-icons provide on click help to the user and help him better understand a particular field.

.example
  include ../includes/example-header.jade
  .example__content
    .example__border
      iframe.example__iframe(
        src=relative('/components/form-and-input-elements/demos/form-group.html')
        data-iframe-resizer
      )


.toggle
  .toggle__button(data-info, data-target='#code')
    +svg('source', ['icon-svg', 'toggle__icon'])
    span See code
  .toggle__content#code
    .tab-panel
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab.is-active HTML
      .tab-panel__content
        .tab-panel__content__tab.is-active
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/form-group.jade

h3.heading.heading--tertiary UX Checklist

ul.checklist
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      On desktop, right align labels.
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      On mobile, put the labels above the input element.
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      Mark required fiels with an asterisk*
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      Every label should be as clear as possible. Only add an info-icon if it really needs more explanation.
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      Avoid too many info-icons on one site.
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      Try to avoid error messages in the first place. Flexible input formats and automatic error correction may help.
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      Provide clear explanations instead of a generic “An error occurred”. If you don’t, your user will make the same mistake again.
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content
      :markdown
        If you want to learn more about how to build forms, visit the <a class="link" href="../../patterns/forms.html">form pattern page</a>.

//- Copyright AXA Versicherungen AG 2015
