---
title: Progresstracker
order: 8
collection: nav__components__form
template: page.jade
tags: Progress, Steps
---
p.paragraph.
  The progresstracker informs the user about the amount of steps to complete a form or wizard as well as his current location in the process.


h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item.
    Set easy to understand names for
    every step.
  li.checklist__item.
    Have as few steps as necessary.
  li.checklist__item
    :markdown
      If you want to learn more about how to build forms, visit the <a class="link" href="../../patterns/forms.html">form pattern page</a>.

.example(data-example-relative-base=relative('/'))
  .example__header
    .example__device-selection
      a.example__device-selection__device.example__device-selection__device--mobile
      a.example__device-selection__device.example__device-selection__device--tablet
      a.example__device-selection__device.example__device-selection__device--desktop.is-active
  .example__content
    .example__border
      .example__bracket.example__bracket--topleft
      .example__bracket.example__bracket--bottomright
      iframe.example__iframe
      .example__html(data-example-centered)
        include:ignorefrontmatter ./snippets/progress-tracker.jade

.toggle
  .toggle__button(data-info, data-target='#code')
    svg.icon-svg.toggle__icon
      use(xlink:href=relative('/images/icons.svg#source'))
    span See code
  .toggle__content#code
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/progress-tracker.jade
