---
title: Progresstracker
order: 8
collection: nav__components__form
template: page.jade
tags: Progress, Steps
---
p.paragraph.
  The progresstracker informs the user about the amount of steps to complete a form or wizard as well as his current location in the process.
  
  
h3.heading.heading--tertiary UX Checklist
  ul.checklist
    li.checklist__item Set easy to understand names for every step.
    li.checklist__item Have as few steps as necessary.
    li.checklist__item
      :markdown
        If you want to learn more about how to build forms, visit the [form pattern page](/patterns/forms.html).
