---
title: Progresstracker
order: 8
collection: nav__components__form
template: page.jade
tags: Progress, Steps
---

include ../includes/mixins.jade

p.paragraph.
  The progresstracker informs the user about the amount of steps to complete a form or wizard as well as his current location in the process.


h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      Set easy to understand names for
      every step.
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      Have as few steps as necessary.
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content
      :markdown
        If you want to learn more about how to build forms, visit the <a class="link" href="../../patterns/forms.html">form pattern page</a>.

.example
  include ../includes/example-header.jade
  .example__content
    .example__border
      iframe.example__iframe(
        src=relative('/components/form-and-input-elements/demos/progress-tracker.html')
        data-iframe-resizer
      )

.toggle
  .toggle__button(data-info, data-target='#code')
    +svg('source', ['icon-svg', 'toggle__icon'])
    span See code
  .toggle__content#code
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/progress-tracker.jade
