---
title: Radio buttons
order: 9
collection: nav__components__form
template: page.jade
tags: Single select, selection
---
:markdown
  A radio button is a basic control that enables the user to make a single selection from just a few options. This component is <b>not to be used</b> due to its limitations on mobile devices. See <a href="./segmented-control.html" class="link">Segmented Control</a> or <a href="./dropdown.html" class="link">Dropdown</a> as alternatives.

p.paragraph.
  Radio Buttons are only used as a backup solution for segmented controls.
