---
title: Summary
order: 12
template: page.jade
tags: Summary
---

include ../includes/mixins.jade

p.paragraph.
  Summary elements are displayed after submitting a form.

h2.heading.heading--secondary#default Single Field

+example('/components/form-and-input-elements/demos/summary-single-field.html')

.toggle
  .toggle__button(data-info, data-target='#code')
    +svg('source', ['icon', 'toggle__icon'])
    span See code
  .toggle__content#code
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/summary-single-field.jade

h2.heading.heading--secondary#default Multiple Fields

+example('/components/form-and-input-elements/demos/summary-multiple-fields.html')

.toggle
  .toggle__button(data-info, data-target='#code')
    +svg('source', ['icon', 'toggle__icon'])
    span See code
  .toggle__content#code
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/summary-multiple-fields.jade

//- Copyright AXA Versicherungen AG 2015
