---
title: Colors
template: development.jade
order: 2
---

//mixin _paletteBody(palette)
//  each colorCode, colorName in palette
//    .palette__item(class=(modifier ? 'palette__item--' + modifier : ''))
//      .palette__item__color(style='background-color: ' + colorCode)
//      .palette__item__hex(data-clipboard-text=colorCode) #{colorCode}
//      .palette__item__less(data-clipboard-text='@color-' + colorName) @color-#{colorName}
//
//mixin palette(palette, modifier)
//  .palette
//    if Object.prototype.toString.call(palette) == '[object Array]'
//      each p in palette
//        mixin _paletteBody(p.colors)
//    else
//      mixin _paletteBody(palette)
//
//h2.heading.heading--secondary Primary palette
//
//mixin palette(colors.primary)
//
//h2.heading.heading--secondary Secondary palette
//
//each colorGroup in colors.secondary
//
//
//mixin palette(colors.secondary)
//
//h2.heading.heading--secondary Colors not in a palette
//
//mixin palette(colors.tbd)
//
//
//script.
//  $('[data-clipboard-text]').each(function(i, el) {
//    new ZeroClipboard(el);
//  });

// Copyright AXA Versicherungen AG 2015
