.banner {
  display: block;
  position: relative;
  height: 95vh;
  min-height: 500px;
}

.banner-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-black;
  opacity: 0;
  will-change: opacity;

  &.semi {
    opacity: .5;
  }

  &.gradient {
    background: linear-gradient(fade-out($color-black, .25), fade-out($color-black, .5));
    opacity: 1;
  }
}

.banner-bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-bg-media {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.banner-content {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 100%;

  padding: 50px 0;

  color: $color-white;
}

.banner-title {
  @extend .typo-62;

  margin-bottom: 30px;
  font-weight: normal;
  line-height: 1;
}

.banner-lead {
  @extend .typo-24;

  margin-bottom: 40px;
  font-weight: normal;
}

.banner-actions {
}
