.browser-not-supported-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-white;
  overflow: scroll;
  z-index: 999;
}

.browser-not-supported-link {
  display: block;
  padding-bottom: 20px;
  text-align: center;

  &:hover {
    text-decoration: none;
  }
}

.browser-not-supported-browsericon {
  display: block;
  margin: 0 auto;
}
