.footer-copyline {
  @extend .typo-14;
  color: $footer-text-color;

  a {
    color: $footer-text-color;
    text-decoration: none;
    margin-right: 16px;
  }
}

.footer-copyline-top-container {
  display: flex;
  align-items: flex-end;
  height: 145px;
}

.footer-copyline-bottom {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  height: inherit;
  padding-top: 3px;
  padding-bottom: 3px;

  @include media-breakpoint-down(sm) {
    justify-content: center;
    padding-top: 0;
  }
}
