.footer-links {
  margin-right: -$grid-gutter-width/2;
  margin-left: -$grid-gutter-width/2;
  padding-right: $footer-padding-lr;
  padding-left: $footer-padding-lr;
}

.footer-link-list {
  @include unstyle-list();
}

.footer-link {
  @extend .typo-16;

  display: block;
  height: 40px;
  border-top: 1px solid $footer-secondary-color;
  color: $footer-link-color;
  line-height: 40px;

  @media (min-width: $screen-sm-min) {
    height: 33px;
    border-top: unset;
    line-height: 33px;
  }

  &:hover {
    color: $footer-link-hover-color;
    text-decoration: none;
  }
}

.footer-link-title {
  @extend .typo-16;
  padding-bottom: 25px;
  color: $footer-text-color;
  font-weight: bold;
  text-transform: uppercase;
}
