.footer-social-top-container {
  @extend .clear-gutter;
  @include media-breakpoint-up(sm) {
    padding-right: 0;
    padding-bottom: 40px;
    padding-left: 0;
  }
  @include media-breakpoint-down(xs) {
    padding-right: 0;
    padding-left: 0;
  }
}

.footer-social-bottom-container {
  @extend .clear-gutter;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include media-breakpoint-up(sm) {

    svg {
      width: 20px;
      height: 20px;
    }

  }
}

.footer-light-social-top-container {
  @include media-breakpoint-up(sm) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.footer-social-bottom-title {
  @extend .typo-14;
  display: flex;
  align-items: center;
  padding-right: 18px;
  color: $footer-text-color;
}

.footer-social-link {
  svg {
    fill: $footer-social-color;
  }
}

.footer-social {
  @include unstyle-list();
  display: flex;
  @include media-breakpoint-down(xs) {
    align-items: center;
    height: 120px;
    padding-right: $footer-sides-offset;
    padding-left: $footer-sides-offset;
  }
}

.footer-top-lang-social {
  @include media-breakpoint-up(sm) {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.footer-social-bottom {
  align-items: center;
  justify-content: center;
  @include media-breakpoint-down(md) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.footer-social-item {
  flex-grow: 2;

  @include media-breakpoint-up(sm) {
    flex-grow: unset;
  }

  &:first-of-type {
    // flex-grow: 1;

    @include media-breakpoint-up(sm) {
      flex-grow: unset;
    }

  }

  &:last-of-type {
    flex-grow: 1;

    @include media-breakpoint-up(sm) {
      flex-grow: unset;
    }

    .footer-social-link {
      padding-right: 0;

      text-align: right;
    }
  }
}

.footer-social-link {
  padding-right: 20px;
  color: $footer-link-color;

  &:hover {
    color: $footer-link-hover-color;
  }
}

.footer-social-icon {
  width: auto;
  height: 25px;

  &.footer-social-icon-sm {
    @include media-breakpoint-up(xs) {
      height: 20px;
    }
  }

  @include media-breakpoint-down(xs) {
    height: 35px;
  }
}
