.footer-social-container {
  @media (min-width: $screen-sm-min) {
    padding-right: 0;
    padding-bottom: 40px;
    padding-left: 0;
  }
}

.footer-social {
  @include unstyle-list();
  display: flex;
}

.footer-social-item {
  flex-grow: 2;

  @media (min-width: $screen-sm-min) {
    flex-grow: unset;
  }

  &:first-of-type {
    flex-grow: 1;

    @media (min-width: $screen-sm-min) {
      flex-grow: unset;
    }

  }

  &:last-of-type {
    flex-grow: 1;

    @media (min-width: $screen-sm-min) {
      flex-grow: unset;
    }

    .footer-social-link {
      padding-right: $footer-padding-lr;

      text-align: right;
    }
  }
}

.footer-social-link {
  padding-right: 20px;
  color: $footer-link-color;

  &:hover {
    color: $footer-link-hover-color;
  }
}

.footer-social-icon {
  width: auto;
  height: 20px;
}
