.footer-social {
  @include unstyle-list();
  
  display: flex;

  @media (min-width: $screen-sm-min) {
    margin-top: 25px;
  }
}

.footer-social-item {
  flex-grow: 2;

  @media (min-width: $screen-sm-min) {
    flex-grow: unset;
  }

  &:first-of-type {
    flex-grow: 1;

    @media (min-width: $screen-sm-min) {
      flex-grow: unset;
    }

    .footer-social-link {
      padding-left: $footer-padding-lr;

      text-align: left;
    }
  }

  &:last-of-type {
    flex-grow: 1;

    @media (min-width: $screen-sm-min) {
      flex-grow: unset;
    }
    
    .footer-social-link {
      padding-right: $footer-padding-lr;
    
      text-align: right;
    }
  }
}

.footer-social-link {
  display: block;
  height: 60px;
  padding: 20px;

  color: $footer-link-color;
  text-align: center;

  &:hover {
    color: $footer-link-hover-color;
  }
}

.footer-social-icon {
  width: auto;
  height: 20px;
}
