$footer-text-color: $color-white;
$footer-link-color: $color-white;
$footer-link-hover-color: $color-periwinkle;
$footer-copyline-color: $color-silver;
$footer-padding-lr: 30px;
$footer-primary-color: $color-azure;
$footer-secondary-color: $color-st-tropaz;
$footer-bottom-border: $color-indigo;
$footer-sides-offset: 50px;

.footer-top {
  padding-top: 50px;
  padding-bottom: 50px;
  background: $footer-primary-color;

  @media (min-width: $screen-lg-min) {
    padding-right: $footer-sides-offset - $grid-gutter-width/2;
    padding-left: $footer-sides-offset  - $grid-gutter-width/2;
  }
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid $footer-bottom-border;
  background: $footer-secondary-color;

  @media (min-width: $screen-lg-min) {
    padding-right: $footer-sides-offset;
    padding-left: $footer-sides-offset;
  }

}
