$footer-text-color: $color-white;
$footer-link-color: $color-white;
$footer-social-color: $color-white;
$footer-link-hover-color: $color-periwinkle;
$footer-copyline-color: $color-silver;
$footer-padding-lr: 30px;
$footer-primary-color: $color-azure;
$footer-secondary-color: $color-st-tropaz;
$footer-bottom-border: $color-indigo;
$footer-sides-offset: 50px;

.clear-gutter {
  margin-right: 0;
  margin-left: 0;
}

.footer-top {
  padding-top: 50px;
  padding-bottom: 50px;
  background: $footer-primary-color;

  @media (min-width: $screen-sm-min) {
    padding-top: 40px;
    padding-right: $footer-sides-offset;
    padding-left: $footer-sides-offset;
  }
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid $footer-bottom-border;
  background: $footer-secondary-color;

  @media (min-width: $screen-sm-min) {
    padding-right: $footer-sides-offset;
    padding-left: $footer-sides-offset;
  }

}

.footer-social-link {
  svg {
    fill: $footer-social-color;
  }
}
