@import "footer";
@import "../bootstrap/mixins/breakpoints";
@import "./utilities/typo";

.footer-languages-bottom-container {
  display: flex;
  flex-grow: 1;
  padding-top: 16px;
  padding-bottom: 16px;
  color: $footer-language-color;
  text-transform: uppercase;
  @include media-breakpoint-down(sm) {
    justify-content: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

.footer-languages {
  @include unstyle-list();
  display: flex;
  align-items: center;
}

.footer-language-item {
  padding: 0 4px;
  font-weight: bold;

  @include media-breakpoint-up(sm) {
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &:not(:last-child) {
    border-right: 1px solid $footer-language-color;
    line-height: 14px;
  }
}

.footer-language-link {
  @extend .typo-14;
  display: inline-block;
  color: $footer-language-color;
  text-transform: uppercase;

  &:hover {
    color: $footer-text-color;
  }

  &.active-language {
    color: $footer-text-color;
  }

  @include media-breakpoint-down(sm) {
    @include typo-14();
  }

}
