.form-control {
  @include typo-18;
  max-width: $axa-input-width;

  .has-danger & {
    // not included in bootstrap
    color: $brand-danger;
  }
}

.form-control:hover {
  border-color: $color-azure;
}

.form-control:focus {
  border-color: $color-azure;
  color: $color-azure;
}

.form-control::placeholder {
  color: $color-dusty-gray;
}

.form-group label {
  @include typo-18;
  color: $color-mineshaft;
}
