.tree-menu {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.tree-menu__item {
  &:last-child {
    margin-bottom: 0;
  }
}

.tree-menu__link {
  @extend .typo-16;

  display: flex;
  align-items: center;

  height: 50px;

  padding: 0 20px;

  transition: color $transition-fast $transition-easeout, background-color $transition-fast $transition-easeout;

  background-color: $color-white;
  color: $color-dark-indigo;

  line-height: 1.3;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active,
  &.is-active {
    transition: color $transition-fast $transition-easein, background-color $transition-fast $transition-easein;

    background-color: $color-wild-sand;
    color: $color-axa-blue;
    text-decoration: none;
  }
}

.tree-menu__text {
  @include word-break();

  flex-grow: 1;
  order: 2;
  pointer-events: none;
}

.tree-menu__link__parent-icon {
  order: 3;

  width: 16px;
  min-width: 16px;
  height: 16px;
  margin-left: 20px;

  fill: currentColor;
  pointer-events: none;
}

// Level 2
.tree-menu__level .tree-menu__level .tree-menu__link {
  padding-left: (20px + 15px);

  &.is-active {
  }
}

.tree-menu__level {
  width: 100%;
  max-height: 0px;

  margin: 0;
  padding: 0;

  // Watch out: prevent delayed closing with a bezier
  transition: max-height $transition-normal cubic-bezier(0, 1.05, 0, 1), visibility $transition-normal;

  overflow: hidden;
  visibility: hidden;
  list-style-type: none;
}

.tree-menu__level.is-open {
  // Watch out: work around, since no transition to `height: auto` is possible
  max-height: 2999px;

  transition: max-height $transition-normal cubic-bezier(0.01, 0, 1, 0), visibility $transition-normal;
  visibility: visible;
}

.tree-menu__link__parent-icon {
  transform: rotate(0);
  transition: transform $transition-normal ease;
}

.tree-menu__link--parent.is-active .tree-menu__link__parent-icon {
  transform: rotate(90deg);
  transition: transform $transition-normal ease;
}
