@import './variables';

// Apply a natural box layout model to all elements,
// but allowing components to change
html {
  box-sizing: border-box;
  font-size: 18px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

// Set basic typography
body {
  color: $font-color;
  font-family: "Source Sans Pro", sans-serif;
  line-height: $line-height;
}

// Copyright AXA Versicherungen AG 2015
