@import 'normalize';
@import 'style';
@import (inline) 'railscasts.css';

@import './blocks/icons-list';

.table--docs {

  caption {
    padding: 10px;

    border: 1px solid #ddd;
    border-bottom: 0;
    font-size: .8em;
    font-style: italic;
    color: #666;
  }

  td,th {
    padding: 10px;
    border: 1px solid #ddd;
  }

  tbody tr:nth-of-type(2n) {
      td,th {
        background: #eee;
      }
  }

}

.anchor--docs {
  text-decoration: none;
  color: #5BBBA6;

  font-size: .7em;

  &::after {
      content: ' \00a4';
      text-decoration: none;
  }
}

dl {
  dt {
    font-weight: bold;
  }
  dt,dd {
    padding: 5px;
  }
}
