---
title: Alerts
layout: demo.hbs
---
<div class="alert top-content-bar top-content-bar--corporate" role="alert">
  <div class="top-content-bar-message">
    AXA to merge its life and general insurance units in Singapore.
  </div>
  <button type="button" class="btn btn-ghost top-content-bar-btn">
    Know more
  </button>
</div>
<div class="alert top-content-bar top-content-bar--content" role="alert">
  <div class="top-content-bar-message">
    A new version of My AXA app is available on the both Google Play and App Store.
  </div>
  <button type="button" class="btn btn-ghost top-content-bar-btn">
    Download the app
  </button>
</div>
<div class="alert top-content-bar top-content-bar--warning" role="alert">
  <div class="top-content-bar-message">
    Henri de Castries, Chairman and Chief Executive Officer of AXA, has decied to retire on September 1st, 2016!
  </div>
  <button type="button" class="btn btn-ghost top-content-bar-btn">
    Know more
  </button>
</div>
