---
title: Grid
order: 1
template: page.jade
---
input(type='text', value='100%')#widthIn

script.
  $(function() {
    var $in = $("#widthIn");
    var $container = $("#container");

    $in.keyup(function() {
      $container.css({
        'width': $in.val()
      });
    })
  })

#container
  each j in [1, 2, 3, 4, 6, 12]
    .l-row
      - for (var i = 0; i < 12/j; i++) {
        div.l-col(class='grid-col--' + (j))
          .grid-box #{j}
      - }

.hr
      
#container2
  .l-row
    .grid-offset-col
      .grid-box offset: 3, columns: 3
    .grid-offset-col
      .grid-box offset: 3, columns: 3

.hr

#container3
  .l-row.make-row--justify-start
    .grid-col.grid-col--2
      .grid-box justify-start
    .grid-col.grid-col--2
      .grid-box box
    .grid-col.grid-col--2
      .grid-box box
  .l-row.make-row--justify-center
    .grid-col.grid-col--2
      .grid-box justify-center
    .grid-col.grid-col--2
      .grid-box box
    .grid-col.grid-col--2
      .grid-box box
  .l-row.make-row--justify-end
    .grid-col.grid-col--2
      .grid-box justify-end
    .grid-col.grid-col--2
      .grid-box box
    .grid-col.grid-col--2
      .grid-box box
  .l-row.make-row--justify-around
    .grid-col.grid-col--2
      .grid-box justify-around
    .grid-col.grid-col--2
      .grid-box box
    .grid-col.grid-col--2
      .grid-box box
  .l-row.make-row--justify-between
    .grid-col.grid-col--2
      .grid-box justify-between
    .grid-col.grid-col--2
      .grid-box box
    .grid-col.grid-col--2
      .grid-box box
      
.hr
  
#container4
  .l-row.make-row--align-start
    .grid-col.grid-col--4
      .grid-box
        p larger
        p box
    .grid-col.grid-col--4
      .grid-box align-start
    .grid-col.grid-col--4
      .grid-box box
  .l-row.make-row--align-center
    .grid-col.grid-col--4
      .grid-box
        p larger
        p box
    .grid-col.grid-col--4
      .grid-box align-center
    .grid-col.grid-col--4
      .grid-box box
  .l-row.make-row--align-end
    .grid-col.grid-col--4
      .grid-box
        p larger
        p box
    .grid-col.grid-col--4
      .grid-box align-end
    .grid-col.grid-col--4
      .grid-box box
  .l-row.make-row--align-stretch
    .grid-col.grid-col--4
      .grid-box
        p larger
        p box
    .grid-col.grid-col--4
      .grid-box align-stretch
    .grid-col.grid-col--4
      .grid-box box

.hr  
#container5
  .l-row
    .grid-col.grid-col--2
      .grid-box
        p larger
        p box
    .grid-col.grid-col--2
      .grid-box default (align-start)
    .grid-col.grid-col--2.make-col--align-start
      .grid-box .make-col--align-start
    .grid-col.grid-col--2.make-col--align-center
      .grid-box .make-col--align-center
    .grid-col.grid-col--2.make-col--align-end
      .grid-box .make-col--align-end
    .grid-col.grid-col--2.make-col--align-stretch
      .grid-box .make-col--align-stretch

.hr  
#container6
  .l-row
    .grid-col.grid-col--3
      .grid-box 1
    .grid-col.grid-col--3
      .grid-box 2
    .grid-col.grid-col--3
      .grid-box 3
    .grid-col.grid-col--3
      .grid-box 4
      
  .l-row.make-row--reverse
    .grid-col.grid-col--3
      .grid-box 1
    .grid-col.grid-col--3
      .grid-box 2
    .grid-col.grid-col--3
      .grid-box 3
    .grid-col.grid-col--3
      .grid-box 4
//- Copyright AXA Versicherungen AG 2015
