.docs-code-snippet {
  margin: 20px ($grid-gutter-width / -2);
  padding: 20px 15px;
  border: none;
  background-color: $color-wild-sand;

  @include media-breakpoint-up(lg) {
    margin: 20px 0;
    border-radius: 5px;
  }

  // reset the default pre styles when wrapped in .code-snippet
  pre {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    code {
      white-space: nowrap;
    }
  }
}

.docs-example + .docs-code-snippet {
  margin-top: 0;

  @include media-breakpoint-up(lg) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
