.docs-example {
  margin: 0 ($grid-gutter-width-base / -2);
  padding: 18px;

  border: 5px solid $color-wild-sand;

  @include media-breakpoint-up(lg) {
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.docs-example-devices-list {
  display: flex;
  justify-content: flex-end;
  margin: -18px -18px 18px -18px;
  padding: 5px 5px 10px 5px;
  background-color: $color-wild-sand;
}

.docs-example-device {
  display: none;
  align-items: center;
  justify-content: center;

  margin-left: 2px;
  padding: 2px 8px;

  transition: background $transition-slow $transition-ease, color $transition-slow $transition-ease;

  border: none;
  border-radius: .25rem;
  background-color: transparent;
  color: $color-mineshaft;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: $color-dark-indigo;
    text-decoration: none;
  }

  &.is-active {
    background: $color-dark-indigo;
    color: $color-white;
    text-decoration: none;
  }

  &.is-available {
    display: flex;
  }
}

.docs-example-content {
}

.docs-example-iframe {
  display: block;
  position: relative;

  max-width: 100%;
  margin: 0 auto;

  transition: width $transition-normal $transition-ease;

  border: none;
  background: $color-white;
}
