.docs-layout-example {
  position: relative;
  padding: 10px;
  overflow: hidden;
}

.docs-layout-example-container {
  max-width: 400px;
  margin: 0 auto;
}

.docs-layout-example-container-fluid {
}

.docs-layout-example-header {
  height: 40px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: $color-iceberg;
}

.docs-layout-example-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-right: 110px;
  border-radius: 10px;
  background-color: $color-dark-indigo;
  color: $color-white;
}

.docs-layout-example-sidebar {
  width: 100px;
  height: 120px;
  float: right;
  border-radius: 10px;
  background-color: $color-burnt-sienna;
}

.docs-layout-example-drawer {
  position: absolute;
  background: $color-flamingo;

  .docs-layout-example-wrapper:hover {
    @extend .drawer.togglable-xs-left.in;
  }
}
