.docs-responsive-utilities tbody th {
  font-weight: normal;
}

.docs-responsive-utilities td {
  text-align: center;
}

.docs-responsive-utilities .is-visible {
  background-color: #dff0d8 !important;
  color: #468847;
}

.docs-responsive-utilities .is-hidden {
  background-color: #f9f9f9 !important;
  color: #ccc;
}
