@import '../../scss/style';
@import '~highlight.js/styles/github';

@import 'code-snippet';
@import 'color-card';
@import 'example';
@import 'layout';
@import 'property';
@import 'responsive-utilities';
@import 'type';

@import './blocks/block';
@import './blocks/box';
@import './blocks/callout';
@import './blocks/color-palette';
@import './blocks/color';
@import './blocks/contribute';
@import './blocks/easter-egg';
@import './blocks/error';
@import './blocks/head';
@import './blocks/hero';
@import './blocks/icon';
@import './blocks/icons-list';
@import './blocks/image';
@import './blocks/inline-search';
@import './blocks/panel';
@import './blocks/sample';
@import './blocks/thumbnail';
@import './blocks/typeface';

.docs-body-top-padding {
  // Pad the page to make room for the fixed header
  padding-top: 74px;
}

.docs-main {
  // Add whitespace to page bottom, so things look nicer
  padding-bottom: 100px;
}

$color-github: #333;

.docs-header-github {
  width: 28px;
  height: 28px;
  transition: color $transition-normal $transition-ease;
  color: $color-github;

  &:hover {
    color: darken($color-github, 10%);
  }

  .header.transparent & {
    color: $color-white;

    &:hover {
      color: $color-mercury;
    }
  }

  .docs-header-github-icon {
    width: 100%;
    height: 100%;
  }
}

$color-npm: #CB3837;

.docs-header-npm {
  width: 28px;
  height: 28px;
  transition: color $transition-normal $transition-ease;
  color: $color-npm;

  &:hover {
    color: darken($color-npm, 10%);
  }

  .header.transparent & {
    color: $color-white;

    &:hover {
      color: $color-mercury;
    }
  }

  .docs-header-npm-icon {
    width: 100%;
    height: 100%;
  }
}

// Copyright AXA 2016
