/*
 * Based on the great github.com style
 * which is (c) Vasily Polovnyov <vast$whiteants.net>
 */

@import '../../scss/style/variables';

@import 'highlight.css';

.hljs {
  background: #fcfcfc;
}

// Copyright AXA 2016
