---
title: Activity Indicators
order: 2
collection: nav__components
template: page.jade
tags: progress,activity,loading,waiting
---

include ./includes/mixins.jade

p.paragraph.
  Performance always matters.  In cases where waiting times can’t be erased, activity indicators help guide users and manage their expectations.

//-
//-.toc
  .toc__title Table of contents
  ul.toc__anchor-navigation
    li.toc__anchor-navigation__item
      a(href='#progressbar').toc__anchor-navigation__link Progressbar
    li.toc__anchor-navigation__item
      a(href='#spinner').toc__anchor-navigation__link Loading Spinner

h2.heading.heading--secondary#progressbar Progressbar

p.paragraph.
   A progressbar is used for activities that might take more than just a few moments to complete. It has the ability to give quantitative feedback to the user (e.g. 20% uploaded  or 10 of 15 pictures deleted).

.example
  include ./includes/example-header.jade
  .example__content
    .example__border
      iframe.example__iframe(
        src=relative('/components/demos/progressbar.html')
        data-iframe-resizer
      )

.toggle
  .toggle__button(data-info, data-target='#progressbar-code')
    +svg('source', ['icon-svg', 'toggle__icon'])
    span See code
  .toggle__content#progressbar-code
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          ul.checklist
            li.checklist__item
              +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
              .checklist__item__content.
                Modify the content of
                <code>progressbar__percentage</code> and the
                width of <code>progressbar__progress-foreground</code>
                using JavaScript to display progress.

          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/progressbar.jade

h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      Do not use progressbars for technical activities (e.g. loading css, requesting file from source)

.hr

h2.heading.heading--secondary#spinner Loading Spinner

p.paragraph.
  Very important element in single page applications for short loading sequences.

.example
  include ./includes/example-header.jade
  .example__content
    .example__border
      iframe.example__iframe(
        src=relative('/components/demos/loading-spinner.html')
        data-iframe-resizer
      )

.toggle
  .toggle__button(data-info, data-target='#spinner-code')
    +svg('source', ['icon-svg', 'toggle__icon'])
    span See code
  .toggle__content#spinner-code
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
          .tab-panel__header__tab(data-tab-toggle='js') JavaScript
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          ul.checklist
            li.checklist__item
              +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
              .checklist__item__content.
                The spinner is hidden by default. Use the
                is-active modifier to toggle it.
            li.checklist__item
              +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
              .checklist__item__content.
                The spinner uses CSS animations which are
                not supported by &lt;=IE9. Add the
                <code>is-fallback-active</code> state to the
                spinner to toggle a fallback using a gif.
                Use the plugin described in the JavaScript
                section to handle it.

          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/loading-spinner.jade

        .tab-panel__content__tab(data-tab-content='js')
          ul.checklist
            li.checklist__item
              +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
              .checklist__item__content.
                Use your own JavaScript to add and remove
                the <code>is-active</code> state.
            li.checklist__item
              +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
              .checklist__item__content.
                Use the <code>IE9Spinner</code> jQuery plugin
                to handle the fallback for browsers that
                don't support CSS animations.
            li.checklist__item
              +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
              .checklist__item__content.
                To activate the plugin use the
                <code>data-spinner</code> attribute on the
                spinner block or activate it via JavaScript
                as displayed below.

          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              :highlight
                $('.spinner').ie9Spinner();

h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      Always display a loading spinner if the page might be loading longer than 0.3 seconds.
