---
title: Activity Indicators
order: 2
collection: nav__components
template: page.jade
tags: progress,activity,loading,waiting
---

p.paragraph.
  Performance always matters.  In cases where waiting times can’t be erased, activity indicators help guide users and manage their expectations.

//-
//-.toc
  .toc__title Table of contents
  ul.toc__anchor-navigation
    li.toc__anchor-navigation__item
      a(href='#progressbar').toc__anchor-navigation__link Progressbar
    li.toc__anchor-navigation__item
      a(href='#spinner').toc__anchor-navigation__link Loading Spinner

h2.heading.heading--secondary#progressbar Progressbar

p.paragraph.
   A progressbar is used for activities that might take more than just a few moments to complete. It has the ability to give quantitative feedback to the user (e.g. 20% uploaded  or 10 of 15 pictures deleted).
   
.example(data-example-relative-base=relative('/'))
  .example__header
    .example__device-selection
      a.example__device-selection__device.example__device-selection__device--mobile
      a.example__device-selection__device.example__device-selection__device--tablet
      a.example__device-selection__device.example__device-selection__device--desktop.is-active
  .example__content
    iframe.example__iframe
    .example__html
      .progressbar
        .progressbar__description awesome_image.jpg
        .progressbar__percentage 22%
        .progressbar__progress
          .progressbar__progress-background
            .progressbar__progress-foreground(style='width: 22%')
    
.toggle
  .toggle__button(data-info, data-target='#progressbar-code')
    svg.icon-svg.toggle__icon
      use(xlink:href=relative('/images/icons.svg#source'))
    span See code
  .toggle__content#progressbar-code
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          ul.checklist
            li.checklist__item.
              Modify the content of
              <code>progressbar__percentage</code> and the
              width of <code>progressbar__progress-foreground</code>
              using JavaScript to display progress.
            
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              :highlight
                <div class="progressbar">
                  <div class="progressbar__description">awesome_image.jpg</div>
                  <div class="progressbar__percentage">22%</div>
                  <div class="progressbar__progress">
                    <div class="progressbar__progress-background">
                      <div style="width: 22%" class="progressbar__progress-foreground"></div>
                    </div>
                  </div>
                </div>
          
.example(data-example-relative-base=relative('/'))
  .example__header
    .example__device-selection
      a.example__device-selection__device.example__device-selection__device--mobile
      a.example__device-selection__device.example__device-selection__device--tablet
      a.example__device-selection__device.example__device-selection__device--desktop.is-active
  .example__content
    iframe.example__iframe
    .example__html
      .spinner.is-active(data-spinner)
        .backdrop
          .backdrop__shadow.backdrop__shadow--light
          .backdrop__content.backdrop__content--centered
            .spinner__block
              .spinner__animation
                img(alt='spinner', src=relative('/images/ie9_spinner.gif')).spinner__ie9-fallback
              .spinner__caption searching for cat videos...
    
.toggle
  .toggle__button(data-info, data-target='#spinner-code')
    svg.icon-svg.toggle__icon
      use(xlink:href=relative('/images/icons.svg#source'))
    span See code
  .toggle__content#spinner-code
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          ul.checklist
            li.checklist__item.
              Bla blah
            
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              :highlight
                <div class="spinner is-active">
                  <div class="backdrop">
                    <div class="backdrop__shadow backdrop__shadow--light"></div>
                    <div class="backdrop__content backdrop__content--centered">
                      <div class="spinner__block">
                        <div class="spinner__animation"></div>
                        <div class="spinner__caption">searching for cat videos...</div>
                      </div>
                    </div>
                  </div>
                </div>

h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item Do not use progressbars for technical activities (e.g. loading css, requesting file from source)

//-
//- .hr

//- h2.heading.heading--secondary#spinner Loading Spinner

//- p.paragraph.
   Very important element in single page applications for short loading sequences.

//- h3.heading.heading--tertiary UX Checklist
//- ul.checklist
  li.checklist__item Always display a loading spinner if the page might be loading longer than 0.3 seconds.
