---
title: Activity Indicators
order: 2
collection: nav__components
template: page.jade
---

p.paragraph.
  Performance always matters.  In cases where waiting times can’t be erased, activity indicators help guide users and manage their expectations.

.toc
  .toc__title Table of contents
  ul.toc__anchor-navigation
    li.toc__anchor-navigation__item
      a(href='#progressbar').toc__anchor-navigation__link Progressbar
    li.toc__anchor-navigation__item
      a(href='#spinner').toc__anchor-navigation__link Loading Spinner

h2.heading.heading--secondary#progressbar Progressbar

p.paragraph.
   A progressbar is used for activities that might take more than just a few moments to complete. It has the ability to give quantitative feedback to the user (e.g. 20% uploaded  or 10 of 15 pictures deleted).

h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item Do not use progressbars for technical activities (e.g. loading css, requesting file from source)

.hr

h2.heading.heading--secondary#spinner Loading Spinner

p.paragraph.
   Very important element in single page applications for short loading sequences.

h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item Always display a loading spinner if the page might be loading longer than 0.3 seconds.
