---
title: Badge
order: 3
collection: nav__components
template: page.jade
tags: count, unread
---

p.paragraph.
  A badge is an element which can be attached to other components as an indicator for new or unread items.

.example(data-example-relative-base=relative('/'))
  include ./includes/example-header.jade
  .example__content
    .example__border
      .example__bracket.example__bracket--topleft
      .example__bracket.example__bracket--bottomright
      iframe.example__iframe
      .example__html(data-example-centered)
        include:ignorefrontmatter ./snippets/badge.jade

.toggle
  .toggle__button(data-info, data-target='#code')
    svg.icon-svg.toggle__icon
      use(xlink:href=relative('/images/icons.svg#source'))
    span See code
  .toggle__content#code
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/badge.jade

h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item If a badge is placed, the underlying element must be clickable.
  li.checklist__item A badge always only contains a number. No icons allowed.
  li.checklist__item It is always placed in the upper right corner of an element.

// Copyright AXA Versicherungen AG 2015
