---
title: Badge
order: 3
collection: nav__components
template: page.jade
---

p.paragraph.
  A badge is an element which can be attached to other components as an indicator for new or unread items.

h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item If a badge is placed, the underlying element must be clickable.
  li.checklist__item A badge always only contains a number. No icons allowed.
  li.checklist__item It is always placed in the upper right corner of an element.
