---
title: Button
order: 4
collection: nav__components
template: page.jade
lunr: true
---

include ./includes/mixins.jade

p.paragraph.
  A button indicates one or multiple actions to the user.

.toc
  .toc__title Table of contents
  ul.toc__anchor-navigation
    li.toc__anchor-navigation__item
      a(href='#primary').toc__anchor-navigation__link Primary button
    li.toc__anchor-navigation__item
      a(href='#secondary').toc__anchor-navigation__link Secondary button
    li.toc__anchor-navigation__item
      a(href='#floating').toc__anchor-navigation__link Floating action button

//
//-.bubble
  .bubble__image
    img(src=relative('/images/psd.svg') alt="Download psd Files")
  .bubble__content
    .bubble__title
      .bubble__title__text PSD File
    .bubble__text
      p.paragraph.
        Hallo Designer. hier kannst du unsere PSD mit allen Buttons
        herunterladen und gleich mit dem Layout anfanagen

//-.downloads
  +svg('download', ['downloads__icon', 'icon-svg'])
  .downloads__item
    a(href="../AXA.aco").downloads__link BUTTONS.PSD

.hr

h2.heading.heading--secondary#primary Primary button

p.paragraph.
  A buttons triggers an action to the page or an object. An additional icon can be added.

.example
  include ./includes/example-header.jade
  .example__content
    .example__border
      iframe.example__iframe(
        src=relative('/components/demos/button-primary.html')
        data-iframe-resizer
      )

.toggle
  .toggle__button(data-info, data-target='#code-1')
    +svg('source', ['icon-svg', 'toggle__icon'])
    span See code
  .toggle__content#code-1
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
          .tab-panel__header__tab(data-tab-toggle='css') CSS
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          ul.checklist
            li.checklist__item
              +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
              .checklist__item__content.
                Prevent whitespace at the start and the end
                of the button. It will add some additional spacing
                between the icon and the button.

          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/button-primary.jade

        .tab-panel__content__tab(data-tab-content='css')

          p.paragraph.
            Use the CSS classes mentioned in the HTML tab
            as mixins.

h3.heading.heading--tertiary UX Checklist

ul.checklist
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      Icon only buttons are usually hard to understand. Do not use withouth proper testing.

.hr

h2.heading.heading--secondary#secondary Secondary button
p.paragraph.
  The secondary button provides additional actions to
  the user. In cases where the primary call to action
  would be to strong, a secondary button might take his
  place.

.example
  include ./includes/example-header.jade
  .example__content
    .example__border
      iframe.example__iframe(
        src=relative('/components/demos/button-secondary.html')
        data-iframe-resizer
      )

.toggle
  .toggle__button(data-info, data-target='#code-2')
    +svg('source', ['icon-svg', 'toggle__icon'])
    span See code
  .toggle__content#code-2
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
          .tab-panel__header__tab(data-tab-toggle='css') CSS
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/button-secondary.jade
        .tab-panel__content__tab(data-tab-content='css')
          p.paragraph.
            Use the CSS classes mentioned in the HTML tab
            as mixins.

h3.heading.heading--tertiary.
  UX Checklist
ul.checklist
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      If the main goal of you site is information a
      secondary call to action can be used.

.hr

h2.heading.heading--secondary#floating Floating action button
p.paragraph.
  The floating action button consists of an icon only,
  it can't contain a label. This type of button is used
  to represent an action that is important and ubiquitous.

.example
  include ./includes/example-header.jade
  .example__content
    .example__border
      iframe.example__iframe(
        src=relative('/components/demos/button-floating.html')
        data-iframe-resizer
      )

.toggle
  .toggle__button(data-info, data-target='#code-3')
    +svg('source', ['icon-svg', 'toggle__icon'])
    span See code
  .toggle__content#code-3
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
          .tab-panel__header__tab(data-tab-toggle='css') CSS
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          ul.checklist
            li.checklist__item
              +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
              .checklist__item__content.
                Do not add any whitespace within the button since it would miss-position the icon

          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/button-floating.jade

        .tab-panel__content__tab(data-tab-content='css')
          p.paragraph.
            Use the CSS classes mentioned in the HTML tab
            as mixins.
h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      Avoid this type of button for destructive actions
      like delete, nonspecific actions, alerts or errors.

// Copyright AXA Versicherungen AG 2015
