---
title: Button
order: 4
collection: nav__components
template: page.jade
lunr: true
---

p.paragraph.
  A button indicates one or multiple actions to the user.

.toc
  .toc__title Table of contents
  ul.toc__anchor-navigation
    li.toc__anchor-navigation__item
      a(href='#primary').toc__anchor-navigation__link Primary button
    li.toc__anchor-navigation__item
      a(href='#secondary').toc__anchor-navigation__link Secondary button
    li.toc__anchor-navigation__item
      a(href='#floating').toc__anchor-navigation__link Floating action button
      
.bubble
  .bubble__image
    img(src=relative('/images/psd.svg'))
  .bubble__content
    .bubble__title
      .bubble__title__text PSD File
    .bubble__text
      p.paragraph.
        Hallo Designer. hier kannst du unsere PSD mit allen Buttons 
        herunterladen und gleich mit dem Layout anfanagen
      
.downloads
  .downloads__item
    a(href="../AXA.aco").downloads__link BUTTONS.PSD
      
.hr

h2.heading.heading--secondary#primary Primary button

p.paragraph.
  A call to action always has a meaningful text. An additional icon can be added.

.example
  .example__header
    .example__device-selection
      a.example__device-selection__device.example__device-selection__device--mobile
      a.example__device-selection__device.example__device-selection__device--tablet
      a.example__device-selection__device.example__device-selection__device--desktop.is-active
  .example__content.example__content--centered
      iframe.example__iframe
      .example__html(data-example-centered)
        .button Sample button
        !=' ' 
        .button
          svg.button__icon.button__icon--left.icon-svg
            use(xlink:href='/images/icons.svg#cross')
          | Icon and badge
          span.button__badge.badge 159
        !=' ' 
        .button
          | Icon right
          svg.button__icon.button__icon--right.icon-svg
            use(xlink:href='/images/icons.svg#cross')

.toggle
  .toggle__button(data-info, data-target='#code-1')
    svg.icon-svg.toggle__icon
      use(xlink:href='/images/icons.svg#source')
    span See code
  .toggle__content#code-1
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
          .tab-panel__header__tab(data-tab-toggle='css') CSS
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          ul.checklist
            li.checklist__item.
              Prevent whitespace at the start and the end
              of the button. It will add some additional spacing 
              between the icon and the button.
            
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              :highlight
                <div class="button">Sample button</div>

                <div class="button"><svg class="button__icon button__icon--left icon-svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons.svg#cross"></use></svg>Icon and badge<span class="button__badge badge">159</span></div>

                <div class="button">Icon right<svg class="button__icon button__icon--right icon-svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons.svg#cross"></use></svg></div>

        .tab-panel__content__tab(data-tab-content='css')
          
          p.paragraph.
            Use the CSS classes mentioned in the HTML tab
            as mixins.

h3.heading.heading--tertiary UX Checklist

ul.checklist
  li.checklist__item
    There is always only one big primary call to action on any given page.

.hr

h2.heading.heading--secondary#secondary Secondary button
p.paragraph.
  The secondary button provides additional actions to the user. In cases where the primary call to action would be to strong, a secondary button might take his place.

.example
  .example__header
    .example__device-selection
      .example__device-selection__device.example__device-selection__device--mobile
      .example__device-selection__device.example__device-selection__device--tablet
      .example__device-selection__device.example__device-selection__device--desktop.is-active
  .example__content.example__content--centered
      iframe.example__iframe
      .example__html(data-example-centered)
        .button.button--secondary Sample button
        !=' ' 
        .button.button--secondary
          svg.button__icon.button__icon--left.icon-svg
            use(xlink:href='/images/icons.svg#cross')
          | Icon and badge
          span.button__badge.badge 159
        !=' ' 
        .button.button--secondary
          | Icon right
          svg.button__icon.button__icon--right.icon-svg
            use(xlink:href='/images/icons.svg#cross')

.toggle
  .toggle__button(data-info, data-target='#code-2')
    svg.icon-svg.toggle__icon
      use(xlink:href='/images/icons.svg#source')
    span See code
  .toggle__content#code-2
    .tab-panel
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab.is-active HTML
          .tab-panel__header__tab LESS
      .tab-panel__content
        .tab-panel__content__tab.is-active
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              :highlight
                <div class="button button--secondary">Sample button</div>
                
                <div class="button button--secondary"><svg class="button__icon button__icon--left icon-svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons.svg#cross"></use></svg>Icon and badge<span class="button__badge badge">159</span></div>
                
                <div class="button button--secondary">Icon right<svg class="button__icon button__icon--right icon-svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons.svg#cross"></use></svg></div>
        .tab-panel__content__tab
          p.paragraph.
            Use the CSS classes mentioned in the HTML tab
            as mixins.

h3.heading.heading--tertiary.
  UX Checklist
ul.checklist
  li.checklist__item.
    If the main goal of you site is information a secondary call to action can be used.

.hr

h2.heading.heading--secondary#floating Floating action button
p.paragraph.
  The floating action button consists of an icon only, it can't contain a label. This type of button is used to represent an action that is important and ubiquitous.

.example
  .example__header
    .example__device-selection
      .example__device-selection__device.example__device-selection__device--mobile
      .example__device-selection__device.example__device-selection__device--tablet
      .example__device-selection__device.example__device-selection__device--desktop.is-active
  .example__content.example__content--centered
    iframe.example__iframe
    .example__html(data-example-centered)
      .button.button--floating
        svg.button__icon.icon-svg
          use(xlink:href='/images/icons.svg#feedback')
.toggle
  .toggle__button(data-info, data-target='#code-3')
    svg.icon-svg.toggle__icon
      use(xlink:href='/images/icons.svg#source')
    span See code
  .toggle__content#code-3
    .tab-panel
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab.is-active HTML
          .tab-panel__header__tab LESS
      .tab-panel__content
        .tab-panel__content__tab.is-active
          ul.checklist
            li.checklist__item Do not add any whitespace within the button since it would miss-position the icon
          
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              :highlight
                <div class="button button--floating icon icon--feedback" ><div>

        .tab-panel__content__tab
          p.paragraph.
            Use the CSS classes mentioned in the HTML tab
            as mixins.
h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item Avoid this type of button for destructive actions like delete, nonspecific actions, alerts or errors.

// Copyright AXA Versicherungen AG 2015
