---
title: Header
order: 6
collection: nav__components
template: page.jade
---

include ./includes/mixins.jade

aside.callout
  h2.callout__heading Feedback appreciated!
  p.paragraph
      | This element was provided by the group and may or may not be the best choice for your site or application. Reach out to us if you have any questions. For now this element is only mandatory for customer facing frontends.
p.paragraph.
  The header is a white band. It provides a discreet statement of the brand without interfering with the content and purpose of the site.


h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      The logo always links to the home page.

.example
  include ./includes/example-header.jade
  .example__content
    .example__border
      iframe.example__iframe(
        src=relative('/components/demos/header.html')
        data-iframe-resizer
      )

.toggle
  .toggle__button(data-info, data-target='#code')
    +svg('source', ['icon-svg', 'toggle__icon'])
    span See code
  .toggle__content#code
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          ul.checklist
            li.checklist__item
              +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
              .checklist__item__content.
                The <code>header__mobile-trigger</code>
                element is designed to trigger a mobile
                slide-in menu.

          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/header.jade
