---
title: Header
order: 6
collection: nav__components
template: page.jade
---

aside.callout
  h2.callout__heading Feedback appreciated!
  p.paragraph
      | This element was provided by the group and may or may not be the best choice for your site or application. Reach out to us if you have any questions. For now this element is only mandatory for customer facing frontends.
p.paragraph.
  The header is a white band. It provides a discreet statement of the brand without interfering with the content and purpose of the site.


h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item The logo always links to the home page.

.example(data-example-relative-base=relative('/'))
  .example__header
    .example__device-selection
      a.example__device-selection__device.example__device-selection__mobile
        svg.icon-svg.example__device-selection__icon
          use(xlink:href=relative('/images/icons.svg#mobile'))
      a.example__device-selection__device.example__device-selection__tablet
        svg.icon-svg.example__device-selection__icon
          use(xlink:href=relative('/images/icons.svg#tablet'))
      a.example__device-selection__device.example__device-selection__desktop.is-active
        svg.icon-svg.example__device-selection__icon
          use(xlink:href=relative('/images/icons.svg#desktop'))
  .example__content
    .example__border
      .example__bracket.example__bracket--topleft
      .example__bracket.example__bracket--bottomright
      iframe.example__iframe
      .example__html
        include:ignorefrontmatter ./snippets/header.jade

.toggle
  .toggle__button(data-info, data-target='#code')
    svg.icon-svg.toggle__icon
      use(xlink:href=relative('/images/icons.svg#source'))
    span See code
  .toggle__content#code
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          ul.checklist
            li.checklist__item.
              The <code>header__mobile-trigger</code>
              element is designed to trigger a mobile
              slide-in menu.

          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/header.jade
