---
title: Components
order: 2
collection: nav
navigationSubCollection: nav__components
template: page.jade
description: Discover our elements and their behaviour on different devices. Goodie - We added some UX knowledge to help you implement it the right way.
---

h1 Components

p TOC goes here
