---
title: Mobile Menu
order: 6
template: page.jade
---

include ./includes/mixins.jade

:markdown
  The mobile menu allows you to navigate the
  contents of an app on small viewports. It represents the
  navigation as a hierarchy.
  
  It is usually hidden in a drawer-like component that slides
  in with the tap onto a burger icon. However, that functionality
  is part of the [Site Component](/components/site.html "Site Component").

.toc
  .toc__title Table of contents
  ul.toc__anchor-navigation
    li.toc__anchor-navigation__item
      a(href='#sliding-mobile-menu').toc__anchor-navigation__link Sliding Mobile Menu

:markdown
  # Sliding Mobile Menu
  
  The sliding mobile menu only shows one level of hierarchy
  at a time. It transitions between levels by sliding to the left
  or right side.
  
  When deeper than the highest level, the uppermost item
  tells the user which level he's in. Clicking that item
  transitions back to the parent level.

+example('/components/demos/mobile-menu-sliding.html')

.toggle
  .toggle__button(data-info, data-target='#code-sliding')
    +svg('source', ['icon-svg', 'toggle__icon'])
    span See code
  .toggle__content#code-sliding
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
          .tab-panel__header__tab(data-tab-toggle='js') JavaScript
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/mobile-menu-sliding.jade
        .tab-panel__content__tab(data-tab-content='js')
          :markdown
            If you omit the `data-menu="sliding"` attribute, the
            menu won't get any functionality.
            
            In order to add
            the missing functionality programmatically, simply initialize the
            `$().slidingMenu()` plugin.
            
            ```js
            var menu = $("[data-menu='sliding']")
            
            // initialize the plugin
            menu.slidingMenu()
            ```
            
            The plugin you activated provides the `level` method which
            allows you to get or set the current level that is displayed
            in the menu.
            
            ```js
            // get the current level as a jQuery node
            var level = menu.slidingMenu('level')
            
            // navigate to another level
            
            // set level to the previously saved one
            menu.slidingMenu('level', level)
            ```

//- Copyright AXA Versicherungen AG 2015
