---
title: Modal
order: 7
collection: nav__components
template: page.jade
tags: terms, conditions, agb, avb
---
p.paragraph. A modal window can be used to present very specific information (such as terms & conditions) to the user.

.example(data-example-max-height='400')
  .example__header
    .example__device-selection
      .example__device-selection__device.example__device-selection__device--mobile
      .example__device-selection__device.example__device-selection__device--tablet
      .example__device-selection__device.example__device-selection__device--desktop.is-active
  .example__content.example__content--centered
      iframe.example__iframe
      .example__html(data-example-centered)
        div
          .button(data-modal='#myModal') Show modal
          .modal#myModal
            .modal__backdrop
            .modal__wrapper
              .modal__dialog
                .modal__header
                  a(data-modal='#myModal').modal__close
                    svg.modal__close-icon.icon-svg
                      use(xmlns:xlink='http://www.w3.org/1999/xlink',xlink:href=relative('/images/icons.svg#modal-close'))
                  .modal__heading
                    .heading.heading--modal Bacon Ipsum
                .modal__content-wrapper
                  .modal__content
                    :markdown
                      Bacon ipsum dolor amet ham hock
                      tongue ham eu short ribs, voluptate
                      hamburger ut sed excepteur brisket
                      turducken labore pork. Cupim ham
                      hock pork, ground round ullamco pork
                      belly consectetur beef ribeye
                      nostrud. Tongue andouille brisket
                      boudin porchetta cow capicola t-bone
                      culpa kevin meatball. Bacon tail
                      shankle tenderloin eu occaecat.

                      # Prosciutto ex Bacon
                      Ipsum pancetta consectetur excepteur
                      dolore frankfurter pastrami sausage.
                      Et jerky eiusmod, adipisicing flank
                      ipsum exercitation laborum t-bone
                      filet mignon corned beef bacon
                      bresaola elit labore. Ground round
                      frankfurter alcatra flank et
                      excepteur nulla ex shoulder sint.
                      Frankfurter tenderloin jowl, occaecat
                      ribeye sausage prosciutto ex bacon
                      landjaeger pork tail. Pork belly
                      proident meatball culpa.
                .modal__footer
                  .modal__footer__wrapper
                    .modal__buttons
                      a.modal__buttons__button.button.button--small.button--secondary Drucken
                      a(data-modal='#myModal').modal__buttons__button.button.button--small.button--secondary Schliessen


h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item On mobile it is presented in full screen.
  li.checklist__item The action buttons always stay visible.
  li.checklist__item Do not use them for accepting things like terms & conditions – only to display them.
