---
title: Modal
order: 7
collection: nav__components
template: page.jade
---
p.paragraph. A modal window can be used to present very specific information (such as terms & conditions) to the user.

h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item On mobile it is presented in full screen.
  li.checklist__item The action buttons always stay visible.
  li.checklist__item Do not use them for accepting things like terms & conditions – only to display them.
