---
title: Navigation bar
order: 6
collection: nav__components
template: page.jade
draft: true
---
p.paragraph.
  The navigation bar is the primary navigation for users.

h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item No more than 6 items.
  li.checklist__item Home does not need to have an icon.
  li.checklist__item Add search here.
