---
title: Notification
order: 8
collection: nav__components
template: page.jade
tags: notifications, information, alert
---

include ./includes/mixins.jade

p.paragraph.
  Notifications are presented to users to indicate that an background action came to an end. The used animations are a key element for this component since it should get the users attention.

//
//-.bubble
  .bubble__image
  .bubble__content
    .bubble__title
      .bubble__title__text PSD File
    .bubble__text
      p.paragraph.
        Hallo Designer. hier kannst du unsere PSD mit allen Buttons
        herunterladen und gleich mit dem Layout anfanagen

//-.downloads
  +svg('download', ['downloads__icon', 'icon-svg'])
  a(href="../AXA.aco").downloads__link NOTIFICATION.PSD

.hr

.example
  include ./includes/example-header.jade
  .example__content
    .example__border
      iframe.example__iframe(
        src=relative('/components/demos/notification.html')
        data-iframe-resizer
      )

.toggle
  .toggle__button(data-info, data-target='#code-1')
    +svg('source', ['icon-svg', 'toggle__icon'])
    | See code
  .toggle__content#code-1
    .tab-panel
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab.is-active HTML
          .tab-panel__header__tab CSS
          .tab-panel__header__tab JS
      .tab-panel__content
        .tab-panel__content__tab.is-active
          p.paragraph.
            Test bla bla <br /> test
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/notification.jade

h3.heading.heading--tertiary UX Checklist

ul.checklist
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      Use notifications to indicate the state of background actions like copying to the clipboard.
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      This component guarantees the attention of the user. Don't overuse it.
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      It is not to be used as a confirmation page.

// Copyright AXA Versicherungen AG 2015
