---
title: Notification
order: 8
collection: nav__components
template: page.jade
tags: notifications, information, alert
---

p.paragraph.
  Notifications are presented to users to indicate that an background action came to an end. The used animations are a key element for this component since it should get the users attention.

//
//-.bubble
  .bubble__image
  .bubble__content
    .bubble__title
      .bubble__title__text PSD File
    .bubble__text
      p.paragraph.
        Hallo Designer. hier kannst du unsere PSD mit allen Buttons
        herunterladen und gleich mit dem Layout anfanagen

//-.downloads
  a(href="../AXA.aco").downloads__link NOTIFICATION.PSD

.hr

.example(data-example-relative-base=relative('/'))
  .example__header
    .example__device-selection
      a.example__device-selection__device.example__device-selection__device--mobile
      a.example__device-selection__device.example__device-selection__device--tablet
      a.example__device-selection__device.example__device-selection__device--desktop.is-active
  .example__content
    .example__border
      .example__bracket.example__bracket--topleft
      .example__bracket.example__bracket--bottomright
      iframe.example__iframe
      .example__html
        include:ignorefrontmatter ./snippets/notification.jade
      .example__script.
        $("#showNotification").on('click', function() {
          $("#notification").notification({
            content: $("#notification_content").val(),
            modifier: $('[name="notification__modifier"]:checked').val(),
            html: $("#notification_html").is(":checked")
          });
        });

.toggle
  .toggle__button(data-info, data-target='#code-1')
    svg.icon-svg.toggle__icon
      use(xlink:href=relative('/images/icons.svg#source'))
    | See code
  .toggle__content#code-1
    .tab-panel
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab.is-active HTML
          .tab-panel__header__tab CSS
          .tab-panel__header__tab JS
      .tab-panel__content
        .tab-panel__content__tab.is-active
          p.paragraph.
            Test bla bla <br /> test
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/notification.jade

h3.heading.heading--tertiary UX Checklist

ul.checklist
  li.checklist__item Use notifications to indicate the state of background actions like copying to the clipboard.
  li.checklist__item This component guarantees the attention of the user. Don't overuse it.
  li.checklist__item It is not to be used as an confirmation page.

// Copyright AXA Versicherungen AG 2015
