---
title: Popover
order: 9
collection: nav__components
template: page.jade
---
  
p.paragraph.
  The popover represents a small context dependent dialog to display arbitrary elements. It can be used in various versions.
