---
title: Popover
order: 9
collection: nav__components
template: page.jade
draft: true
---

p.paragraph.
  If an action only requires one step (e.g. sending a feedback) then it can be packed into a popover.

.example(data-example-max-height='400', data-example-relative-base=relative('/'))
  include ./includes/example-header.jade
  .example__content
    .example__border
      .example__bracket.example__bracket--topleft
      .example__bracket.example__bracket--bottomright
      iframe.example__iframe
      .example__html(data-example-centered)
        div(style="min-height: 400px")
          include:ignorefrontmatter ./snippets/popover.jade

.toggle
  .toggle__button(data-info, data-target='#code')
    svg.icon-svg.toggle__icon
      use(xlink:href=relative('/images/icons.svg#source'))
    span See code
  .toggle__content#code
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/popover.jade

h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item Use sparingly and only for selected actions.
  li.checklist__item Mobile: Slide it up and present it in full screen.
