---
title: Popover
order: 9
template: page.jade
draft: true
---

include ./includes/mixins.jade

p.paragraph.
  If an action only requires one step (e.g. sending a feedback) then it can be packed into a popover.

.example
  include ./includes/example-header.jade
  .example__content
    .example__border
      iframe.example__iframe(
        src=relative('/components/demos/popover.html')
        data-iframe-resizer, data-max-height='400'
      )

.toggle
  .toggle__button(data-info, data-target='#code')
    +svg('source', ['icon-svg', 'toggle__icon'])
    span See code
  .toggle__content#code
    .tab-panel(data-tab, data-tab-default='html')
      .tab-panel__header
        .tab-panel__header__tabs
          .tab-panel__header__tab(data-tab-toggle='html') HTML
      .tab-panel__content
        .tab-panel__content__tab(data-tab-content='html')
          .tab-panel__content__tab__fullwidth-content
            .highlight: pre.highlight__listing.hljs: code.js
              include:highlightcode ./snippets/popover.jade

h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      Use sparingly and only for selected actions.
  li.checklist__item
    +svg('checkmark', ['checklist__item__icon', 'icon-svg'])
    .checklist__item__content.
      Mobile: Slide it up and present it in full screen.

//- Copyright AXA Versicherungen AG 2015
