---
title: Popover
order: 9
collection: nav__components
template: page.jade
---
p.paragraph.
  If an action only requires one step (e.g. sending a feedback) then it can be packed into a popover.

h3.heading.heading--tertiary UX Checklist
ul.checklist
  li.checklist__item Use sparingly and only for selected actions.
  li.checklist__item Mobile: Slide it up and present it in full screen.
