---
title: Typography
order: 11
template: page.jade
tags: h1,h2,h3,paragraph,font,font-style,font-color
---

include ./includes/mixins.jade

.toc
  .toc__title Table of contents
  ul.toc__anchor-navigation
    li.toc__anchor-navigation__item
      a(href='#general').toc__anchor-navigation__link General
    li.toc__anchor-navigation__item
      a(href='#primary').toc__anchor-navigation__link Long Words: Automatic word breaking
    li.toc__anchor-navigation__item
      a(href='#secondary').toc__anchor-navigation__link Long Words: Overflow Ellipsis

.hr

h2.heading.heading--secondary#general General

+example('/components/demos/typography.html')

.hr

h2.heading.heading--secondary#long-words-automatic-word-breaking Long Words: Automatic word breaking

+example('/components/demos/long-words-automatic-word-breaking.html')

.hr

h2.heading.heading--secondary#long-words-overflow-ellipsis Long Words: Overflow Ellipsis

+example('/components/demos/long-words-overflow-ellipsis.html')

//- Copyright AXA Versicherungen AG 2015
