---
title: Typography
order: 11
template: page.jade
tags: h1,h2,h3,paragraph,font,font-style,font-color
---

include ./includes/mixins.jade

.example
  include ./includes/example-header.jade
  .example__content
    .example__border
      iframe.example__iframe(
        src=relative('/components/demos/typography.html')
        data-iframe-resizer
      )



//- Copyright AXA Versicherungen AG 2015
