---
title: Typography
order: 11
template: page.jade
tags: h1,h2,h3,paragraph,font,font-style,font-color
---

include ./includes/mixins.jade

//- .toc
//-   .toc__title Table of contents
//-   ul.toc__anchor-navigation
//-     li.toc__anchor-navigation__item
//-       a(href='#general').toc__anchor-navigation__link General Typography
//-     li.toc__anchor-navigation__item
//-       a(href='#primary').toc__anchor-navigation__link Primary Heading
//-     li.toc__anchor-navigation__item
//-       a(href='#secondary').toc__anchor-navigation__link Secondary Heading
//-     li.toc__anchor-navigation__item
//-       a(href='#tertiary').toc__anchor-navigation__link Tertiary Heading

h2.heading.heading--secondary#general General

+example('/components/demos/typography.html')

//- Copyright AXA Versicherungen AG 2015
