---
title: Bouncing Loading Spinner
template: demo.jade
---

.bouncy-spinner.is-active(data-spinner="bouncy")
  .backdrop
    .backdrop__shadow.backdrop__shadow--light
    .backdrop__content.backdrop__content--centered
      .bouncy-spinner__content
        .bouncy-spinner__indicator
          img.bouncy-spinner__logo(
            alt='spinner',
            src=relative('/images/axa.svg'),
            data-default
          )
          .bouncy-spinner__shadow(data-default)
          img.bouncy-spinner__ie9-fallback(
            alt='spinner',
            src=relative('/images/ie9_spinner.gif'),
            data-fallback
          )
        .bouncy-spinner__caption bouncing smoothly...

//- Copyright AXA Versicherungen AG 2015
