---
title: Floating Action Button
template: demo.jade
---

include /components/includes/mixins.jade

.button.button--floating
  +svg('feedback', ['button__icon', 'icon-svg'])

//- Copyright AXA Versicherungen AG 2015
