---
title: Primary Button
template: demo.jade
---

include /components/includes/mixins.jade

.button Sample button
!=' '
.button
  +svg('cross', ['button__icon', 'button__icon--left', 'icon-svg'])
  | Icon and badge
  span.button__badge.badge 159
!=' '
.button
  | Icon right
  +svg('cross', ['button__icon', 'button__icon--right', 'icon-svg'])

//- Copyright AXA Versicherungen AG 2015
