---
title: More Button
template: demo.jade
---

include /components/includes/mixins.jade

.button.button--more Sample button
!=' '
.button.button--more
  +svg('cross', ['button__icon', 'button__icon--left', 'icon'])
  | Icon and badge
  span.button__badge.badge 159
!=' '
.button.button--more
  | Icon right
  +svg('cross', ['button__icon', 'button__icon--right', 'icon'])
