---
title: Floating Action Button
layout: demo.pug
---

include /components/includes/mixins.pug

.button.button--floating
  +svg('feedback', ['button__icon', 'icon'])

//- Copyright AXA Versicherungen AG 2015
