---
title: Chips
template: demo.jade
---

.chips
  .chips__chip
    .chips__chip__text Foo
    .chips__close-button
      .chips__close-button-background
      svg.chips__close-icon.icon-svg
        use(xlink:href=relative('/images/icons.svg#close'))
  .chips__chip
    .chips__chip__text Bar
    .chips__close-button
      .chips__close-button-background
      svg.chips__close-icon.icon-svg
        use(xlink:href=relative('/images/icons.svg#close'))
  .chips__chip
    .chips__chip__text Test
    .chips__close-button
      .chips__close-button-background
      svg.chips__close-icon.icon-svg
        use(xlink:href=relative('/images/icons.svg#close'))

  input.chips__input
