---
title: Chips
template: demo.jade
---

.chips
  .chips__chip
    .chips__chip__text Foo
    .chips__close-button
      .chips__close-icon.icon.icon--close
  .chips__chip
    .chips__chip__text Bar
    .chips__close-button
      .chips__close-icon.icon.icon--close
  .chips__chip
    .chips__chip__text asdfsda
    .chips__close-button
      .chips__close-icon.icon.icon--close

  input.chips__input
