---
title: Dialog
template: demo.jade
---

include /components/includes/mixins.jade

div(style="height: 400px;")
  .button(data-dialog='#myDialog' data-dialog-icon-close=relative('/images/icons.svg#modal-close')) Show Dialog

  #myDialog.dialog
    .dialog__header
      .dialog__close(data-modal2-close)
        +svg('modal-close', ['dialog__close__icon', 'icon'])

      h1.dialog__heading Dialog Header should wrap nicely

    .dialog__content
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed felis gravida nibh varius sodales. Aenean quis nisl odio. Curabitur convallis erat purus. Nullam nec tincidunt lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla eleifend tortor et purus dictum, eget ullamcorper elit convallis. Etiam semper mi in erat auctor blandit. Praesent sollicitudin suscipit gravida. Donec sit amet dui luctus, luctus nisi eu, pellentesque dolor. Aliquam et molestie nunc. Nunc condimentum orci faucibus, tempus lacus ac, lacinia nisl. Sed molestie nisl et commodo fringilla. Phasellus cursus, risus at ornare viverra, erat magna blandit libero, eget condimentum orci magna sed sem.

            Mauris rutrum, justo sed varius faucibus, nunc metus congue dui, eu cursus odio tellus at purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque porttitor tortor ac nisl pretium aliquet. Sed viverra tincidunt elit non faucibus. Cras et orci a est varius rhoncus et non arcu. Vestibulum facilisis ac ligula venenatis sodales. Quisque tristique turpis a nisi vehicula euismod.

            Nullam massa elit, scelerisque a turpis at, tristique convallis turpis. Proin mattis fermentum pulvinar. Fusce ac sagittis mi, at pretium eros. Proin nec porta dui, vehicula sollicitudin arcu. Pellentesque blandit accumsan diam nec volutpat. Aenean dui lacus, pulvinar nec mi id, fermentum sollicitudin nibh. Praesent id dolor libero. Ut ut mollis massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus ullamcorper quam fermentum risus tempor, in bibendum eros tincidunt. Vestibulum at venenatis erat. Sed quis venenatis turpis.

            Suspendisse urna nibh, vestibulum at lacus quis, pharetra vulputate erat. Praesent mattis mi consectetur, bibendum libero vel, aliquet enim. Donec a arcu a ex sagittis semper. Aenean id nibh velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum iaculis tellus vitae nisl vestibulum, eu tincidunt ipsum faucibus. Aenean volutpat condimentum ante, eget viverra dolor.

            Sed lacinia urna eu tortor hendrerit, sit amet venenatis purus scelerisque. Vivamus convallis fringilla iaculis. Nam mattis quam sit amet finibus tempor. Praesent suscipit accumsan lacus eget imperdiet. Quisque viverra nulla tortor, nec dapibus dui fermentum sit amet. Donec volutpat vestibulum sapien quis hendrerit. Integer pulvinar sit amet massa a viverra. Mauris at leo sapien. Phasellus scelerisque felis eleifend nibh euismod ornare. Cras eu mauris nec nunc pellentesque tincidunt. Etiam rhoncus risus in scelerisque vulputate. Nam urna diam, porta at risus non, commodo porttitor dolor. Pellentesque consequat augue tortor, in lobortis mi sollicitudin lacinia. Nullam rutrum maximus enim ut suscipit.

    .dialog__footer.
      Footer
