---
title: Footer
template: demo.jade
---

include /components/includes/mixins.jade

footer.footer
  .footer__main
    .footer__main__content
      section.footer-social
        h3.footer-social__headline Keep in touch
        ul.footer-social__items
          li.footer-social__item
            a(href="#").footer-social__link
              +svg('facebook', ['footer-social__icon', 'icon-svg'])
          li.footer-social__item
            a(href="#").footer-social__link
              +svg('twitter', ['footer-social__icon', 'icon-svg'])
          li.footer-social__item
            a(href="#").footer-social__link
              +svg('xing', ['footer-social__icon', 'icon-svg'])
          li.footer-social__item
            a(href="#").footer-social__link
              +svg('google-plus', ['footer-social__icon', 'icon-svg'])

      section.footer-links
        h3.footer-links__headline AXA & You
        ul.footer-links__menu
          li.footer-links__item
            a.footer-links__link(href="#")
              span.footer-links__text Contact Us
              +svg('arrow-right', ['footer-links__icon', 'icon-svg'])
          li.footer-links__item
            a.footer-links__link(href="#")
              span.footer-links__text Media
              +svg('arrow-right', ['footer-links__icon', 'icon-svg'])
          li.footer-links__item
            a.footer-links__link(href="#")
              span.footer-links__text Claim
              +svg('arrow-right', ['footer-links__icon', 'icon-svg'])
          li.footer-links__item
            a.footer-links__link(href="#")
              span.footer-links__text News
              +svg('arrow-right', ['footer-links__icon', 'icon-svg'])
          li.footer-links__item
            a.footer-links__link(href="#")
              span.footer-links__text Careers
              +svg('arrow-right', ['footer-links__icon', 'icon-svg'])
          li.footer-links__item
            a.footer-links__link(href="#")
              span.footer-links__text My AXA
              +svg('arrow-right', ['footer-links__icon', 'icon-svg'])

      section.footer-worldwide
        .footer-worldwide__headline AXA worldwide
        ul.footer-worldwide__entities
          li.footer-worldwide__entity(href="#")
            a.footer-worldwide__link(href="#")
              span.footer-worldwide__text AXA worldwide
              +svg('arrow-right', ['footer-worldwide__icon', 'icon-svg'])
              img.footer-worldwide__image(src=relative('/images/axa-world.svg'))

  .footer__copyline.footer-copyline
    .footer-copyline__content
      span.footer-copyline__notice Copyright AXA 2015 ©
      ul.footer-copyline__entries
        li.footer-copyline__item
          a.footer-copyline__link(href="#") Disclaimer
        li.footer-copyline__item
          a.footer-copyline__link(href="#") Impressum
        li.footer-copyline__item
          a.footer-copyline__link(href="#") Sitemap
        li.footer-copyline__item
          a.footer-copyline__link(href="#") Privacy

//- Copyright AXA Versicherungen AG 2015
