---
title: Footer
template: demo.jade
---

include /components/includes/mixins.jade

.footer
  .footer__content
    .footer__item.footer__item--keep-in-touch
      .footer__item__headline Keep in touch
      ul.menu.menu--keep-in-touch
        li.menu__item
          a.menu__link
            +svg('facebook', ['footer__social-media-icon', 'icon-svg', 'icon--facebook'])
        li.menu__item
          a.menu__link
            +svg('twitter', ['footer__social-media-icon', 'icon-svg', 'icon--twitter'])
        li.menu__item
          a.menu__link
            +svg('xing', ['footer__social-media-icon', 'icon-svg', 'icon--xing'])
        li.menu__item
          a.menu__link
            +svg('google-plus', ['footer__social-media-icon', 'icon-svg', 'icon--google-plus'])

    .footer__item.footer__item--links
      .footer__item__headline AXA & You
      .footer__item__menu
        ul.menu.menu--footer
          li.menu__item.is-active
            a.menu__link Contact Us
          li.menu__item
            a.menu__link Help & Advice
          li.menu__item
            a.menu__link Latest News
        ul.menu.menu--footer
          li.menu__item.is-active
            a.menu__link Lorem ipsum
          li.menu__item
            a.menu__link Lorem ipsum
          li.menu__item
            a.menu__link Lorem ipsum

    .footer__item.footer__item--international
      .footer__item__headline AXA worldwide
      a.footer__international
        img(src=relative('/images/axa-world.svg')).footer__international__image
        span.footer__international__text AXA Worldwide

  .footer__copyline
    .l-container
      ul.menu.menu--copyline
        li.menu__item
          a.menu__link Sitemap
        li.menu__item
          a.menu__link Privacy
        li.menu__item
          a.menu__link Disclaimer
        li.menu__item
          span.menu__link AXA 2015 ©
