---
title: Grid quick start
template: demo.jade
---

.container 
  .row
    .column.column--2(style="background-color:mediumseagreen;") 2
    .column.column--4(style="background-color:lemonchiffon;") 4
    .column.column--6(style="background-color:burlywood;") 6
  .row
    .column.column--4.column--offset-8(style="background-color:palevioletred;") 4, offset: 8
    
