---
title: Header
template: demo.jade
---

include /components/includes/mixins.jade

header.header
  .header__meta
    .header__meta__content
      .header__meta__item.header__meta__menu
        ul.menu.menu--meta
          li.menu__item.is-active
            a.menu__link Individuals
          li.menu__item
            a.menu__link Small Business Insurance
          li.menu__item
            a.menu__link About Us
      .header__meta__item.header__meta__search.search.search--header
        input.search__input.search--header(type='text')
        +svg('search', ['search__icon', 'search--header', 'icon-svg'])
        .search__suggestions.search--header
      .header__meta__item.header__meta__language
        a.header__meta__language-button(data-popover="#languageMenu")
          | En
          +svg('arrow-bottom', ['icon--language-dropdown', 'icon-svg'])
        .popover(id="languageMenu")
          .popover__tail.popover__tail--top
          .popover__box
            .popover__box__header
              a.popover__close
                +svg('modal-close', ['modal__close-icon', 'icon-svg'])
              .popover__box__header__headline Language
            .popover__box__content__wrapper
              .popover__box__content
                ul.menu.menu--language
                  li.menu__item
                    a.menu__link Deutsch
                  li.menu__item
                    a.menu__link Français
                  li.menu__item
                    a.menu__link Italiano
                  li.menu__item
                    a.menu__link English
      a.header__meta__item.header__meta__action myAXA Login
  .header__main
    .header__main__content
      .header__brand.brand
        .brand__logo
        .brand__tagline.brand__tagline--de
      .header__menu
        ul.menu-main
          li.menu-main__item
            a.menu-main__link(href="#") Menu Item 1
          li.menu-main__item.is-active
            a.menu-main__link.is-active(href="#") Menu Item 2
          li.menu-main__item
            a.menu-main__link(href="#") Menu Item 3
          li.menu-main__item
            a.menu-main__link(href="#") Menu Item 4
      a.header__main__mobile-trigger.site__burger(data-burger, href="#")
        svg.header__main__mobile-icon.icon-svg.icon--burger(data-burger, width="24", height="24", viewBox="0 0 24 24")
          g(stroke="currentColor", stroke-width="2", fill="none", fill-rule="evenodd")
            path(d="M0,5 L24,5", class="top")
            path(d="M0,12 L24,12", class="middle")
            path(d="M0,19 L24,19", class="bottom")

//- Copyright AXA Versicherungen AG 2015
