---
title: Header
template: demo.jade
---

include /components/includes/mixins.jade

header.header
  .header__meta
    .header__meta__container
      .header__meta__row
        ul.header__meta__item.header__meta__item--menu.meta-menu
          li.meta-menu__item
            a.meta-menu__link(href="#") Individuals
          li.meta-menu__item.is-active
            a.meta-menu__link.is-active(href="#") Small Business Insurance
          li.meta-menu__item
            a.meta-menu__link(href="#") About Us
        form.header__meta__item.header__meta__item--search.header-search(action="#")
          input.header-search__input(type="text")
          button.header-search__button(type="submit")
            +svg('search', ['header-search__icon', 'icon'])
        .header__meta__item.header__meta__item--language.meta-language
          .meta-language2
            a.meta-language2__button
              span.meta-language2__text 
                | de
                svg.meta-language2__icon.icon.is-toggled(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 24 24")
                  path(d="M 24.003 6.81 l -1.505 -1.47 L 11.99 15.652 L 1.498 5.412 L 0.004 6.88 l 10.49 10.24 l -0.004 0.004 l 1.506 1.47 l 0.004 -0.003 l 0.004 0.005 l 1.496 -1.47 l -0.004 -0.003")
            .meta-language2__menu.is-open
              .meta-language2__menu__items
                a.meta-language2__menu__item.is-active de
                a.meta-language2__menu__item en
                a.meta-language2__menu__item fr
                a.meta-language2__menu__item it
        a.header__meta__item.header__meta__item--action myAXA Login
  .header__main
    .header__main__container
      .header__main__row
        a.header__main__item.header__main__item--brand.brand(href="#")
          img.brand__image(src=relative('/images/logo.svg'), alt='AXA logo')
        ul.header__main__item.header__main__item--menu.menu-main
          li.menu-main__item
            a.menu-main__link(href="#") Menu Item 1
          li.menu-main__item.is-active
            a.menu-main__link.is-active(href="#") Menu Item 2
          li.menu-main__item
            a.menu-main__link(href="#") Menu Item 3
          li.menu-main__item
            a.menu-main__link(href="#") Menu Item 4
        
        .header__main__item.header__main__item--mobile-actions.mobile-actions
          a.mobile-actions__item(href="#")
            +svg('search', ['mobile-actions__icon', 'icon'])
          a.mobile-actions__item.site__burger(data-burger, href="#")
            svg.mobile-actions__icon.icon.burger-icon(data-burger)
              g(stroke="currentColor", stroke-width="2", fill="none", fill-rule="evenodd")
                path.burger-icon__top(d="M0,5 L24,5")
                path.burger-icon__middle(d="M0,12 L24,12")
                path.burger-icon__bottom(d="M0,19 L24,19")

//- Copyright AXA Versicherungen AG 2015
