---
title: Header
template: demo.jade
---

include /components/includes/mixins.jade

header.header
  .header__meta
    .header__meta__container
      .header__meta__row
        ul.header__meta__item.header__meta__item--menu.meta-menu
          li.meta-menu__item
            a.meta-menu__link(href="#") Individuals
          li.meta-menu__item.is-active
            a.meta-menu__link.is-active(href="#") Small Business Insurance
          li.meta-menu__item
            a.meta-menu__link(href="#") About Us
        form.header__meta__item.header__meta__item--search.header-search(action="#")
          input.header-search__input(type="text")
          button.header-search__button(type="submit")
            +svg('search', ['header-search__icon', 'icon'])
        .header__meta__item.header__meta__item--language.meta-language
          a.meta-language__button(href="#", data-popover="#languageMenu") English
        a.header__meta__item.header__meta__item--action myAXA Login
  .header__main
    .header__main__container
      .header__main__row
        a.header__main__item.header__main__item--brand.brand(href="#")
          .brand__logo
        ul.header__main__item.header__main__item--menu.menu-main
          li.menu-main__item
            a.menu-main__link(href="#") Menu Item 1
          li.menu-main__item.is-active
            a.menu-main__link.is-active(href="#") Menu Item 2
          li.menu-main__item
            a.menu-main__link(href="#") Menu Item 3
          li.menu-main__item
            a.menu-main__link(href="#") Menu Item 4
        a.header__main__item.header__main__item--mobile-action(href="#")
          +svg('search', ['header__main__mobile-icon', 'icon'])
        a.header__main__item.header__main__item--mobile-action.site__burger(data-burger, href="#")
          svg.icon.burger-icon(data-burger)
            g(stroke="currentColor", stroke-width="2", fill="none", fill-rule="evenodd")
              path(d="M0,5 L24,5", class="burger-icon__top")
              path(d="M0,12 L24,12", class="burger-icon__middle")
              path(d="M0,19 L24,19", class="burger-icon__bottom")

//- Copyright AXA Versicherungen AG 2015
