---
title: Multi-Level Main Menu
template: demo.jade
---

include /components/includes/mixins.jade

header.header
  .header__main
    .header__main__container
      .header__main__row
        // This is where it starts...
        ul.header__main__item.header__main__menu.menu-main(data-menu="main")
          li.menu-main__item(data-item)
            a.menu-main__link(href="#insurance", data-link) Insurance
            section.menu-main__panel(data-panel) Insurance
          li.menu-main__item(data-item)
            a.menu-main__link(href="#claims", data-link) Claims
            section.menu-main__panel(data-panel)
              .l-row
                .l-third
                  h2 Services
                  ul.menu
                    li.menu__item
                      a.menu__link(href="#") Haushaltversicherung
                    li.menu__item
                      a.menu__link(href="#") Hausratversicherung
                    li.menu__item
                      a.menu__link(href="#") Privathaftpflichtversicherung
                    li.menu__item
                      a.menu__link(href="#") Rechtsschutzversicherung
                .l-third
                  h2 Documents
                  ul.menu
                    li.menu__item
                      a.menu__link(href="#") Autoversicherung
                    li.menu__item
                      a.menu__link(href="#") Autoversicherung für Elektroautos
                    li.menu__item
                      a.menu__link(href="#") Motorradversicherung
                    li.menu__item
                      a.menu__link(href="#") Rechtschutzversicherung
                .l-third
                  h2 Benefits
                  ul.menu
                    li.menu__item
                      a.menu__link(href="#") Lebenversicherung
                    li.menu__item
                      a.menu__link(href="#") Finanzprodukte
                    li.menu__item
                      a.menu__link(href="#") Fondsinformationen
                    li.menu__item
                      a.menu__link(href="#") Aktuelle Zinssätze

          li.menu-main__item(data-item)
            a.menu-main__link(href="#prevention", data-link) Prevention
            section.menu-main__panel(data-panel) Prevention
          li.menu-main__item(data-item)
            a.menu-main__link(href="#about-us", data-link) About Us
            section.menu-main__panel(data-panel) About Us

//- Copyright AXA Versicherungen AG 2015
