---
title: Multi-Level Main Menu
template: demo.jade
---

include /components/includes/mixins.jade

header.header
  .header__meta
  .header__main
    .header__main__content
      nav.header__menu

        ul.menu.menu-main
          li.menu-main__item
            a.menu-main__link(href="#") Versicherungen & Mehr
          li.menu-main__item.is-active
            a.menu-main__link.is-active(href="#") Schaden
            .menu-main__content.is-open
              .menu-main__panel
                .l-row
                  .l-third
                    h2 Wohnen & Eigentum
                    ul.menu
                      li.menu__item
                        a.menu__link(href="#") Haushaltversicherung
                      li.menu__item
                        a.menu__link(href="#") Hausratversicherung
                      li.menu__item
                        a.menu__link(href="#") Privathaftpflichtversicherung
                      li.menu__item
                        a.menu__link(href="#") Rechtsschutzversicherung
                  .l-third
                    h2 Fahrzeug & Reise
                    ul.menu
                      li.menu__item
                        a.menu__link(href="#") Autoversicherung
                      li.menu__item
                        a.menu__link(href="#") Autoversicherung für Elektroautos
                      li.menu__item
                        a.menu__link(href="#") Motorradversicherung
                      li.menu__item
                        a.menu__link(href="#") Rechtschutzversicherung
                  .l-third
                    h2 Vorsorge & Sparen
                    ul.menu
                      li.menu__item
                        a.menu__link(href="#") Lebenversicherung
                      li.menu__item
                        a.menu__link(href="#") Finanzprodukte
                      li.menu__item
                        a.menu__link(href="#") Fondsinformationen
                      li.menu__item
                        a.menu__link(href="#") Aktuelle Zinssätze

          li.menu-main__item
            a.menu-main__link(href="#") Kontakt & Hilfe
          li.menu-main__item
            a.menu-main__link(href="#") Prävention
          li.menu-main__item
            a.menu-main__link(href="#") Kundenportale

//- Copyright AXA Versicherungen AG 2015
