---
title: Notification
template: demo.jade
---

#notification(data-notification-info=relative('/images/icons.svg#info')
  data-notification-success=relative('/images/icons.svg#checkmark')
  data-notification-error=relative('/images/icons.svg#cross'))
.form
  .form__group
    .form__group__label
      .form__group__text Modifier
    .form__group__control
      div(data-segmented-control).segmented-control#notification__modifier
        label.segmented-control__item
          input(type="radio", name="notification__modifier", value="info", checked).segmented-control__item__radio
          span.segmented-control__item__label Default
        label.segmented-control__item
          input(type="radio", name="notification__modifier", value="success").segmented-control__item__radio
          span.segmented-control__item__label Success
        label.segmented-control__item
          input(type="radio", name="notification__modifier", value="error").segmented-control__item__radio
          span.segmented-control__item__label Error
  .form__group
    .form__group__label
      .form__group__text Content
    .form__group__control
      textarea.control.control--textarea#notification_content.
        Notification text
  .form__group
    .form__group__label
      .form__group__text
    .form__group__control
      label(data-checkbox="data-checkbox").checkbox
        input(type="checkbox").checkbox__checkbox#notification_html
        div.checkbox__label
          div.checkbox__label__text HTML
  .form__group
    .form__group__label
      .form__group__text
    .form__group__control
      .button#showNotification Show notification

script.
  $("#showNotification").on('click', function() {
    $("#notification").notification({
      content: $("#notification_content").val(),
      modifier: $('[name="notification__modifier"]:checked').val(),
      html: $("#notification_html").is(":checked")
    });
  });

//- Copyright AXA Versicherungen AG 2015
