---
title: Progress Bar
template: demo.jade
---

.progressbar
  .progressbar__description awesome_image.jpg
  .progressbar__percentage 22%
  .progressbar__progress
    .progressbar__progress-background
      .progressbar__progress-foreground(style='width: 22%')

//- Copyright AXA Versicherungen AG 2015
