---
title: Left Menu Site
template: demo.jade
---

include /components/includes/mixins.jade

.site.site--left(data-site)
  .site__page(data-page)
    .site__page__mask(data-mask)
    p.paragraph.
      Make sure you switch to one of the smaller viewports to see
      the mobile menu in action.
    p.paragraph
      a.button.button--primary(href="#", data-burger) Open Mobile Menu
  .site__mobile(data-mobile)
    a.button.button--secondary(href="#", data-burger) Close Mobile Menu

//- Copyright AXA Versicherungen AG 2015
