---
title: Desktop Site
layout: demo.pug
---

include /components/includes/mixins.pug

.site.site--desktop(data-site)
  .site__page(data-page)
    .site__page__mask(data-mask)
    p.paragraph
      a.button.button--primary(href="#", data-burger) Open Menu
  .site__mobile(data-mobile)
    a.button.button--secondary(href="#", data-burger) Close Menu

//- Copyright AXA Versicherungen AG 2015
