---
title: Typography Demo
template: demo.jade
---

include /components/includes/mixins.jade

h1.make-font-heading-primary Page Title (&lt;h1&gt;)
p.paragraph Preset: heading--primary
p.paragraph Desktop: 48px=3rem, font-face: demi (weight: bold), line-height: 1.4
p.paragraph Mobile: 25px=1.5625rem, font-face: demi (weight: bold), line-height: 1.4

h2.make-font-heading-secondary Sub Title (&lt;h2&gt;)
p.paragraph Preset: heading--secondary
p.paragraph Desktop: 32px=2rem, font-face: demi (weight: bold), line-height: 1.4
p.paragraph Mobile: 24px=1.5rem, font-face: demi (weight: bold), line-height: 1.4

h3.make-font-heading-tertiary Headline (&lt;h3&gt;)
p.paragraph Preset: heading--tertiary
p.paragraph Desktop: 24px=1.5rem, font-face: demi (weight: bold), line-height: 1.4
p.paragraph Mobile: 22px=1.375rem, font-face: demi (weight: bold), line-height: 1.4

p.make-font-x-large Text Large
p.paragraph Preset: x-large
p.paragraph Desktop: 19px=1.1875rem, font-face: medium (weight: @font-weight-medium = 600), line-height: 1.6
p.paragraph Mobile: 16px=1rem, font-face: medium (weight: @font-weight-medium = 600), line-height: 1.6
p.paragraph E.g. USP's (unique selling position)

p.make-font-large Running Text
p.paragraph Preset: large
p.paragraph Desktop: 17px=1.0625rem, font-face: book (weight: normal), line-height: 1.8
p.paragraph Mobile: 16px=1rem, font-face: book (weight: normal), line-height: 1.8
p.paragraph Attention: Design uses a 19px font and 1.6 line-height. But the 19px font is rendered pretty weird in all browsers on Windows so we use 17px font and line-height 1.8.
p.paragraph E.g. running text

p.make-font-large-semibold Running Text Bold
p.paragraph Preset: large-semibold
p.paragraph Desktop: 17px=1.0625rem, font-face: medium (weight: @font-weight-medium = 600), line-height: 1.8
p.paragraph Mobile: 16px=1rem, font-face: medium (weight: @font-weight-medium = 600), line-height: 1.8
p.paragraph Attention: Design uses a 19px font and 1.6 line-height. But the 19px font is rendered pretty weird in all browsers on Windows so we use 17px font and line-height 1.8.
p.paragraph E.g. highlighted running text

p.make-font-medium Text Small
p.paragraph Preset: medium
p.paragraph Desktop: 16px=1rem, font-face: book (weight: normal), line-height: 1.6
p.paragraph Mobile: 14px=0.875rem, font-face: book (weight: normal), line-height: 1.6

p.make-font-medium-semibold Text Small Bold
p.paragraph Preset: medium-semibold
p.paragraph Desktop: 16px=1rem, font-face: medium (weight: @font-weight-medium = 600), line-height: 1.6
p.paragraph Mobile: 14px=0.875rem, font-face: medium (weight: @font-weight-medium = 600), line-height: 1.6
p.paragraph E.g. Icon text, sharp line

p.make-font-small-semibold Text X-Small
p.paragraph Preset: small-semibold
p.paragraph Desktop: 14px=0.875rem, font-face: medium (weight: @font-weight-medium = 600), line-height: 1.6
p.paragraph Mobile: 14px=875rem, font-face: medium (weight: @font-weight-medium = 600), line-height: 1.6
p.paragraph E.g. top navigation


//- Copyright AXA Versicherungen AG 2015
