---
title: Typography Demo
template: demo.jade
---

include /components/includes/mixins.jade

h1.make-font-heading--primary Lorem Ipsum dolor
h2.make-font-heading--secondary Lorem Ipsum dolor
h3.make-font-heading--tertiary Lorem Ipsum dolor
p.make-font-x-large Lorem Ipsum dolor
p.make-font-large Lorem Ipsum dolor
p.make-font-large-semibold Lorem Ipsum dolor
p.make-font-medium Lorem Ipsum dolor
p.make-font-medium-semibold Lorem Ipsum dolor
p.make-font-small-semibold Lorem Ipsum dolor

//- Copyright AXA Versicherungen AG 2015
