---
title: Typography Demo
template: demo.jade
---

include /components/includes/mixins.jade

h1.heading.heading--primary Lorem Ipsum dolor
h2.heading.heading--secondary Lorem Ipsum dolor
h3.heading.heading--tertiary Lorem Ipsum dolor
p.paragraph.paragraph--large Lorem Ipsum dolor
p.paragraph.paragraph--large-demi Lorem Ipsum dolor
p.paragraph.paragraph--large-demi Lorem Ipsum dolor
p.paragraph.paragraph--medium Lorem Ipsum dolor
p.paragraph.paragraph--medium-demi Lorem Ipsum dolor
p.paragraph.paragraph--small Lorem Ipsum dolor

//- Copyright AXA Versicherungen AG 2015
