---
title: Typography Demo
template: demo.jade
---

include /components/includes/mixins.jade

h1.make-font-heading-primary Lorem Ipsum dolor
p.paragraph Preset: heading--primary
p.paragraph Desktop: 48px=3rem, font-face: demi (weight: bold), line-height: 1.4
p.paragraph Mobile: 25px=1.5625rem, font-face: demi (weight: bold), line-height: 1.4

h2.make-font-heading-secondary Lorem Ipsum dolor
p.paragraph Preset: heading--secondary
p.paragraph Desktop: 32px=2rem, font-face: demi (weight: bold), line-height: 1.4
p.paragraph Mobile: 24px=1.5rem, font-face: demi (weight: bold), line-height: 1.4

h3.make-font-heading-tertiary Lorem Ipsum dolor
p.paragraph Preset: heading--tertiary
p.paragraph Desktop: 24px=1.5rem, font-face: demi (weight: bold), line-height: 1.4
p.paragraph Mobile: 22px=1.375rem, font-face: demi (weight: bold), line-height: 1.4

p.make-font-x-large Lorem Ipsum dolor
p.paragraph Preset: x-large
p.paragraph Desktop: 19px=1.1875rem, font-face: medium (weight: @font-weight-medium = 500), line-height: 1.6
p.paragraph Mobile: 16px=1rem, font-face: medium (weight: @font-weight-medium = 500), line-height: 1.6

p.make-font-large Lorem Ipsum dolor
p.paragraph Preset: large
p.paragraph Desktop: 17px=1.0625rem, font-face: book (weight: normal), line-height: 1.8
p.paragraph Mobile: 16px=1rem, font-face: book (weight: normal), line-height: 1.8

p.make-font-large-semibold Lorem Ipsum dolor
p.paragraph Preset: large-semibold
p.paragraph Desktop: 17px=1.0625rem, font-face: medium (weight: @font-weight-medium = 500), line-height: 1.8
p.paragraph Mobile: 16px=1rem, font-face: medium (weight: @font-weight-medium = 500), line-height: 1.8

p.make-font-medium Lorem Ipsum dolor
p.paragraph Preset: medium
p.paragraph Desktop: 16px=0.875rem, font-face: book (weight: normal), line-height: 1.6
p.paragraph Mobile: 14px=1rem, font-face: book (weight: normal), line-height: 1.6

p.make-font-medium-semibold Lorem Ipsum dolor
p.paragraph Preset: medium-semibold
p.paragraph Desktop: 16px=0.875rem, font-face: medium (weight: @font-weight-medium = 500), line-height: 1.6
p.paragraph Mobile: 14px=1rem, font-face: medium (weight: @font-weight-medium = 500), line-height: 1.6

p.make-font-small-semibold Lorem Ipsum dolor
p.paragraph Preset: small-semibold
p.paragraph Desktop: 14px=0.875rem, font-face: medium (weight: @font-weight-medium = 500), line-height: 1.6
p.paragraph Mobile: 14px=875rem, font-face: medium (weight: @font-weight-medium = 500), line-height: 1.6


//- Copyright AXA Versicherungen AG 2015
