---
title: Buttons
description: Showcases and descriptions of the different types of buttons and how to use them. 
nav: side/components/buttons
order: -1
toc:
  - title: Standard Buttons
    slug: standard-buttons
---

{{#> page}}
  {{#*inline "content"}}
    <h1 class="h2">{{title}}</h1>
    {{> table-of-contents data=toc}}

    <h2 class="h3" id="standard-buttons">Standard Buttons</h2>
    <p>
      Use the <code>btn-primary</code> modifier for standard buttons.
    </p>
    
    {{> example path="/components/buttons/demos/standard-button.html"}}

{{> highlight-code snippet="/components/buttons/snippets/standard-button" }}

    
  {{/inline}}
{{/page}}