.brand {
  display: flex;
  padding: 20px $grid-gutter-width-base/2;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.brand__image {
  height: 37px;

  @include media-breakpoint-up(lg) {
    height: 54px;
  }
}

.brand__addition {
  margin-left: 15px;
  padding-left: 10px;
  border-left: 1px solid $color-blue;
  color: $color-blue;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;

  @include media-breakpoint-up(lg) {
    margin-left: 20px;
    padding-left: 15px;
    border-left: 1px solid $color-blue;
    color: $color-blue;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px
  }
}

// Copyright AXA Versicherungen AG 2015
