@import '../variables';
@import '../mixins/clearfix';
@import '../mixins/respond';

.button-row {
  @extend .clearfix;
  margin-bottom: 80px;

  @include respond(medium) {
    padding-top: 8px;
    margin-left: -$grid-gutter-width;
    margin-right: -$grid-gutter-width;
  }
}

.button-row__button {
  display: block;

  margin-top: 20px;

  // prevent style collision
  &.button {
    display: block;

    @include respond(medium) {
      display: inline-block;
    }
  }

  &:first-of-type {
    margin-top: 0;
  }

  @include respond(medium) {
    display: inline-block;
    margin-top: 0;
  }
}

.button-row__button--right {
  @include respond(medium) {
    float: right;
  }
}

// Copyright AXA Versicherungen AG 2015
