.button-row {
  @extend .clearfix;

  margin-bottom: 80px;

  @include media-breakpoint-up(md) {
    padding-top: 8px;
    margin-left: -$grid-gutter-width-base;
    margin-right: -$grid-gutter-width-base;
  }
}

.button-row__button {
  display: block;

  margin-top: 20px;

  // prevent style collision
  &.button {
    display: block;

    @include media-breakpoint-up(md) {
      display: inline-block;
    }
  }

  &:first-of-type {
    margin-top: 0;
  }

  @include media-breakpoint-up(md) {
    display: inline-block;
    margin-top: 0;
  }
}

.button-row__button--right {
  @include media-breakpoint-up(md) {
    float: right;
  }
}

// Copyright AXA Versicherungen AG 2015
