.chips {
  position: relative;
}

.chips__field {
  display: block;

  width: 100%;
  padding-right: 2px;
  padding-bottom: 2px;

  background: $color-gray--lighter;
  color: $color-black;
  border-radius: 0;
  border: $focus-border-width solid $color-gray--lighter;
  -webkit-appearance: none;

  @include media-breakpoint-up(md) {
      padding-right: 4px;
      padding-bottom: 4px;
    }

  &.has-error {
    border-color: $color-red;
  }

  &.is-active {
    border-color: $color-light-blue;
    outline: none;
  }
}

.chips__chip {
  display: inline-flex;
  align-items: center;

  height: 32px;

  margin-top: 4px;
  margin-left: 5px;

  background: $color-gray--dark;
}

.chips__chip__text {
  @extend .make-font-medium;

  flex-grow: 1;
  padding-left: 16px;

  color: $color-white;
}

.chips__chip__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29px;
  height: 100%;

  text-align: center;
  color: $color-gray--light;

  &:hover {
    color: $color-white;
  }
}

.chips__chip__close-button__icon.icon {
  display: block;
  height: 16px;
  width: 16px;
}

.chips__input {
  margin: 8px;

  border: none;
  background: transparent;

  &:focus {
    outline: none;
  }
}

// Copyright AXA Versicherungen AG 2016
