.copyline-menu {
  @extend .clearfix;

  margin: 0 -12.5px;
  padding: 0;

  list-style-type: none;
}

.copyline-menu__item {
  @include media-breakpoint-up(md) {
    float: left;
    border-right: 1px dotted $color-gray--mid;

    &:last-child {
      border-right: none;
    }
  }
}

.copyline-menu__text,
.copyline-menu__link {
  display: block;

  width: 100%;
  height: 40px;

  padding: 0 12.5px;

  line-height: 40px;

  @include media-breakpoint-up(md) {
    height: auto;

    line-height: 30px;
    font-size: $font-size-sm;
  }
}

.copyline-menu__link {
  color: $color-gray--darkest;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Copyright AXA Versicherungen AG 2015
