// TODO: Instead of viewport we should consider usage of a --js which will be
// added when js is available and it is a non-touch device

@mixin make-picker-cell {
  display: table-cell;

  height: 32px;
  width: 31px;
  padding: 0;
  border: 3px solid $color-gray--dark;

  text-align: center;
  vertical-align: middle;
}

.example {
  overflow: visible !important;
}

.datepicker {
  @extend .clearfix;

  @include media-breakpoint-up(md) {
    @include control--short();
  }
}

.datepicker--condensed {
  @include control--condensed();

  .datepicker__trigger,
  .datepicker__trigger__icon {
    height: $control-height-condensed;
  }
}

.datepicker__input {
  margin-right: 40px;
}

.datepicker__trigger {
  cursor: pointer;

  display: block;
  position: relative;
  float: right;

  width: 40px;
  height: 40px;
  padding: 0 10px;

  background: $color-blue-gray--light;
}

.datepicker__trigger__icon {
  width: 20px;
  height: 40px;
  fill: $color-light-blue;
  display: inline-block;
  vertical-align: middle;
}

.datepicker__trigger__mobile {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  height: 100% !important;
  width: 100% !important;
  opacity: 0 !important;
  background: transparent !important;
}

.picker {
  display: none;
  position: absolute;

  width: 260px;
  border-collapse: collapse;
  margin-top: 6px;
  z-index: $z-index-datepicker;

  background: $color-gray--dark;

  &.is-active {
    display: block;
  }
}

.picker--with-weeknumber {
  width: 290px;
}

.picker__header {
  padding: 10px 10px 0 10px;
  color: white;
}

.picker__headline {
  margin: 0 30px;

  line-height: 31px;
  font-size: 18px;
  text-align: center;
}

.picker__headline__month {
  display: inline;
  font-weight: bold;
}

.picker__prev,
.picker__next {
  display: block;

  width: 30px;
  height: 30px;

  text-align: center;

  cursor: pointer;

  &:hover {
    .picker__icon--next,
    .picker__icon--prev {
      fill: $color-gray--light;
    }
  }
}

.picker__icon--next,
.picker__icon--prev {
  display: inline-block;
  width: 11px;
  height: 17px;
  fill: white;
}

.picker__prev {
  float: left;
  padding-top: 6px;
}

.picker__next {
  float: right;
  padding-top: 6px;
}

.picker__content {
  padding: 10px 17px 18px 17px;
}

.picker__month {
  display: table;
  width: 100%;
}

.picker__weeks {
  display: table-row-group;
}

.picker__week {
  display: table-row;
}

.picker__day {
  @include make-picker-cell();

  color: $color-light-blue;
  background: white;

  cursor: pointer;

  &:hover,
  &.is-active {
    background: $color-light-blue;
    color: white;
  }
}

.picker__day--today {
  background: $color-gray--light;
}

.picker__day--headline {
  font-size: 15px;

  background: transparent;
  color: white;

  cursor: default;

  &:hover {
    background: transparent;
  }
}

.picker__day--prev-month,
.picker__day--next-month {
  background: $color-gray;
  color: white;
}

.picker__day--disabled {
  background: $color-gray--dark;
  color: white;

  cursor: default;

  &:hover {
    background: $color-gray--dark;
    color: white;
  }
}

.picker__weeknumber {
  @include make-picker-cell();
  background: transparent;
  color: white;
  font-size: 13px;
}

.picker__weeknumber--headline {

}

// Birthday Datepicker styles:

.datepicker--birthday {
  display: flex;
  max-width: none !important;

  flex-direction: column;

  .control--birthday {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;

    .birthday--day {
      flex: 3;
      min-width: 120px;
    }
    .birthday--month {
      flex: 5;
      min-width: 190px;
    }
    .birthday--year {
      flex: 3;
      min-width: 120px;
    }
  }
}

// Copyright AXA Versicherungen AG 2015
