$dropdown-arrow-width: 40px;

.dropdown {
  @include make-link;

  position: relative;
}

.dropdown__label {
  display: none;
}

.dropdown__label.is-enhanced {
  @include control;
  color: inherit; // reset color set in .control
  display: flex;
  align-items: center;

  border: 1px solid $color-gray--light;
}

.dropdown__label__text,
.dropdown__label__icon {
  margin: 0 0.25rem;
}

.dropdown__label__text {
  @include ellipsis();
  order: 1;
  flex-grow: 1;
  max-width: 100%;
}

.dropdown__label__icon {
  order: 2;
  flex-shrink: 0;

  width: 1.25rem;
  height: 1.25rem;
}

.dropdown__select {
  width: 100%;
}

.dropdown__select.is-enhanced {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;

  display: block;

  line-height: 3.5rem;

  opacity: 0;
  filter: alpha(opacity=0);
  border: none;
  z-index: $z-index-dropdown-select;
}

.dropdown--large {
  @extend .make-font-large;
}

.dropdown__label--large.is-enhanced {
  height: 3rem;
  padding: 0 $grid-gutter-width/2 - 0.25rem;
}

.dropdown__label__icon--large {
  width: 1.5rem;
  height: 1.5rem;
}

.dropdown__label--condensed.is-enhanced {
  @include control--condensed;
}

.dropdown__label__icon--condensed {
  width: 1rem;
  height: 1rem;
}

// Copyright AXA Versicherungen AG 2015
