$dropdown-arrow-width: 40px;

.dropdown {
  @include make-link($color-gray--darker,$color-blue);

  position: relative;
}

.dropdown__label {
  display: none;
}

.dropdown__label.is-enhanced {
  @include control;
  color: inherit; // reset color set in .control
  display: flex;
  align-items: center;

  border: 1px solid $color-gray--light;
}

.dropdown__label__text,
.dropdown__label__icon {
  margin: 0 4px;
}

.dropdown__label__text {
  @include ellipsis();
  order: 1;
  flex-grow: 1;
  max-width: 100%;
}

.dropdown__label__icon {
  order: 2;
  flex-shrink: 0;

  width: 20px;
  height: 20px;
}

.dropdown__select {
  width: 100%;
}

.dropdown__select.is-enhanced {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;

  display: block;

  line-height: 56px;

  opacity: 0;
  filter: alpha(opacity=0);
  border: none;
  z-index: $z-index-dropdown-select;
}

.dropdown--large {
  @extend .make-font-large;
}

.dropdown__label--large.is-enhanced {
  height: 48px;
  padding: 0 $grid-gutter-width-base/2 - 4px;
}

.dropdown__label__icon--large {
  width: 24px;
  height: 24px;
}

.dropdown__label--condensed.is-enhanced {
  @include control--condensed;
}

.dropdown__label__icon--condensed {
  width: 16px;
  height: 16px;
}

// Copyright AXA Versicherungen AG 2015
