.fieldset {

  padding-bottom: 0;
  border-bottom: 1px dotted $color-blue;
  margin-bottom: 40px;

  &:last-of-type {
    margin-bottom: 50px;
  }
}

.fieldset__content {
  padding-bottom: 15px;
  margin-top: 40px;

  @include media-breakpoint-up(md) {
    padding-bottom: 10px;
  }
}

.fieldset__button {
  @extend .clearfix;
}

.fieldset__button__button {
  float: right;
}

// Copyright AXA Versicherungen AG 2015
