.footer-copyline {
  background-color: $color-gray--lighter;
}

.footer-copyline__container {
  @extend .container;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-top: 8px;
  padding-bottom: 8px;

  @media (min-width: $screen-md-min) {
    flex-direction: row;
    flex-wrap: wrap;

    padding-top: 0;
    padding-bottom: 0;
    justify-content: flex-end;
  }
}

.footer-copyline__notice {
  @extend .make-font-medium-semibold;

  display: flex;
  height: 40px;
  padding: 0 10px;
  margin: 0 -10px;

  align-items: center;

  order: 2;
  color: $color-gray--darker;

  @media (min-width: $screen-md-min) {
    height: 56px;

    padding: 0 18px;
    margin: 0 -18px;

    // Keeps the distance from the entries
    margin-left: 18px;
  }
}

.footer-copyline__entries {
  @include unstyle-list;

  display: flex;
  margin: 0 -10px;
  padding: 0 0;

  order: 1;
  flex-wrap: wrap;

  @media (min-width: $screen-md-min) {
    margin: 0 -18px;
  }
}

.footer-copyline__item {
}

.footer-copyline__link {
  @extend .make-font-medium-semibold;

  display: flex;
  height: 40px;
  padding: 0 10px;

  align-items: center;

  text-decoration: none;
  color: $color-gray--darker;

  @media (min-width: $screen-md-min) {
    height: 56px;
    padding: 0 18px;
  }
}

.footer-copyline__link:hover {
  color: $color-blue;
}

// Copyright AXA Versicherungen AG 2015
