@import '../variables';
@import '../mixins/font';
@import '../mixins/make-link';
@import './control';

.header-search {
  @include make-link;

  display: flex;
}

.header-search__input {
  @extend .make-font-large;
  @include control;
  @include control--input;

  height: 100%;
  width: 17rem;
  padding: 1rem;
  padding-right: 4rem;
  border: 0;

  background-color: $color-gray--mid;
  color: $color-gray--darker;
}

.header-search__button {
  margin: 0;
  padding: 1rem;
  width: 3.5rem;

  border: none;
  background-color: $color-gray--mid;
}

.header-search__icon {
}

.header-search__suggestions {
  left: 0;
  top: 3.5rem;
}
