.header-search {
  @include make-link($color-gray--darker,$color-blue);

  display: flex;
}

.header-search__input {
  @extend .make-font-large;
  @include control;
  @include control--input;

  height: 100%;
  padding: 16px;
  padding-right: 64px;
  border: 0;

  background-color: $color-gray--mid;
  color: $color-gray--darker;
}

.header-search__button {
  margin: 0;
  padding: 16px;
  width: 56px;

  border: none;
  background-color: $color-gray--mid;
}

.header-search__icon {
}

.header-search__suggestions {
  left: 0;
  top: 56px;
}
