.header {
  border-bottom: 1px solid $color-gray--light;
}

.header__meta {
  display: none;
  height: 56px;

  background: $color-gray--lighter;

  @media (min-width: $screen-md-min) {
    display: block;
  }
}

.header__main {
  height: 77px;

  @media (min-width: $screen-md-min) {
    height: 94px;
  }
}

.header__meta__container,
.header__main__container {
  @extend .container;

  // This is for the menu-main overlay!
  position: relative;

  height: 100%;
}

.header__meta__row,
.header__main__row {
  @extend .row;

  display: flex;

  // This is for the menu-main overlay!
  position: static;

  flex-wrap: nowrap;
  justify-content: flex-end;
  height: 100%;
}

.header__main__row {
  justify-content: space-between;
}

.header__meta__item {
  position: relative;
  min-height: 1px;
  padding-left:  ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);

  height: 56px;
  padding: 0;
}

.header__main__item {
  position: relative;
  min-height: 1px;
  padding-left:  ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);

  height: 100%;
}

.header__meta__item--menu {
  order: 1;
  flex-grow: 1;
}

.header__meta__item--search {
  order: 3;
}

.header__meta__item--language {
  order: 4;
  flex-shrink: 0;
}

.header__meta__item--action {
  @extend .make-font-small-semibold;
  @include make-link;

  display: flex;
  align-items: center;
  justify-content: center;

  order: 5;
  flex-shrink: 0;
  padding: 0 $grid-gutter-width/2;

  color: $color-white;
  background: $color-red;

  &:hover {
    color: darken($color-white, 10%);
  }
}

.header__main__item--brand.brand {
  order: 1;
  align-self: center;
}

.header__main__item--menu.menu-main {
  // This is for the menu-main overlay!
  position: static;

  display: none;
  align-self: flex-end;

  @media (min-width: $screen-md-min) {
    display: inherit;
    order: 3;
  }
}

.header__main__item--mobile-actions.mobile-actions {
  order: 4;
  padding: 0;

  @media (min-width: $screen-md-min) {
    display: none;
  }
}

.header__main__item--title {
  display: flex;
  align-items: center;

  order: 20;
  flex-grow: 1;

  font-size: 24px;

  @media (min-width: $screen-md-min) {
    font-size: 28px;
  }
}

.header--compact {
  .header__main {
    height: 77px;

    @media (min-width: $screen-md-min) {
      height: 77px;
    }
  }
}

.header--fixed {
  .header__main {
  }
}

// Copyright AXA Versicherungen AG 2015
