.icon-teaser {
  @extend .container;

  max-width: $grid-breakpoint-lg;
}

.icon-teaser__items {
  @include unstyle-list();
  @include make-row();

  padding-top: 4rem;

  @media (min-width: $screen-lg-min) {
    padding-top: 0;
  }
}

.icon-teaser__item {
  @include make-lg-column(4);

  text-decoration: none;
  outline: none;

  display: flex !important;
  flex-direction: column;
  align-items: center;

  padding-top: 3rem;
  padding-bottom: 3rem;
}

.icon-teaser__item__icon-wrapper {
  flex-grow: 0;
  justify-content: center;

  display: flex;
  align-items: center;
  flex-shrink: 0;

  height: 5rem;
  width: 5rem;
  border: 2px solid $color-blue-gray--light;
  border-radius: 2.5rem;

  background: $color-white;
}

.icon-teaser__item__icon {
  @extend .icon;

  height: 2rem;
  width: 2rem;

  color: $color-blue;
}

.icon-teaser__item__title {
  @extend .make-font-medium-semibold;

  padding: 1.5rem 0 1rem 0;

  color: $color-blue-gray;
}

.icon-teaser__item__text {
  @extend .make-font-heading-tertiary;

  flex-grow: 1;
  text-align: center;

  max-width: 300px;
  padding-bottom: 2rem;
}

.icon-teaser__item__action {
  @extend .make-font-medium-semibold;
  @include make-link();

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 15px 2rem;
  margin: 0;

  background: $color-white;
  border: 2px solid $color-blue-gray--light;
  transition: all $transition-duration-fast;

  @media (min-width: $screen-lg-min) {
    padding: 13px 2rem 14px;
  }

  &:hover, &:focus {
    background: $color-white;
    border-color: $color-blue;
    color: $color-blue;
  }
}

.icon-teaser__item__action2 {
  flex-shrink: 0;
  margin: 0;
}

.icon-teaser .slick-dots {
  display: flex;
  flex-wrap: nowrap;

  width: 100%;
  height: 4rem;

  margin: 0;
  padding: 0;

  position: absolute;
  top: 0;

  background-color: $color-white;

  @media (min-width: $screen-lg-min) {
    display: none;
  }

  li {
    flex-grow: 1;
    height: 100%;
    margin: 0;
    padding: 0;

    list-style-type: none;

    .icon-teaser__link {
      @include make-link();

      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 100%;
      width:100%;

      padding: 0.5rem $grid-gutter-width/2;

      text-align: center;
      font-size: 0.875em;
      font-weight: 600;
      border-bottom: 5px solid transparent;
      outline: none;
      transition: all .25s ease;
    }
  }

  .icon-teaser__link:hover,
  li.slick-active .icon-teaser__link {
    border-color: $color-blue;
    color: $color-blue;
  }
}
