.left-navigation {
  margin-top: 26px;
  margin-left: 24px;

  @include media-breakpoint-up(md) {
    margin-top: 54px;
  }
}

.left-navigation__category {
  cursor: pointer;
}

.left-navigation__category__headline {
  padding: 11px 0;

  font-weight: bold;
  color: black;
}

.left-navigation__category__menu {
  margin-left: 24px;
}

// Copyright AXA Versicherungen AG 2015
