@import "../variables.scss";

@mixin link {
  color: $color-blue;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $color-red;
  }
}

.link {
  @include link;
}

// Copyright AXA Versicherungen AG 2015
