.list-group {
  display: block;

  padding: 0;
}

.list-group__item {
  @extend .typo-16;

  display: flex;
  align-items: center;

  min-height: 56px;
  margin-bottom: -1px;
  padding: 0 ($grid-gutter-width-base/2 - 4px);

  border-top: 1px solid $color-gray--light;
  border-bottom: 1px solid $color-gray--light;
}

.list-group__item--link {
  @include make-link($color-gray--darker,$color-blue)

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.list-group__text,
.list-group__icon,
.list-group__avatar {
  margin: 0 4px;
}

.list-group__text {
  flex-grow: 1;
}

.list-group__icon {
  width: 40px;
  height: 40px;

  padding: 8px;
}

.list-group__avatar {
  width: 40px;
  height: 40px;

  border-radius: 50%;
}

// Copyright AXA Versicherungen AG 2015
