.meta-menu {
  @include unstyle-list;

  display: flex;
  height: 100%;
}

.meta-menu__item {
  @extend .make-font-small-semibold;

  height: 100%;
  border-right: 1px solid $color-gray--mid;
}

.meta-menu__item.is-active {
  background: $color-white;
  box-shadow:
    -4px 0px 3px -3px $color-gray--mid,
    3px 0px 3px -3px $color-gray--mid,
    0 0px 0px 0 $color-white,
    0 0px 0px 0 $color-white;
}

.meta-menu__link {
  @include make-link($color-gray--darker,$color-blue);

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding: 0 $grid-gutter-width-base/2;
}

.meta-menu__link.is-active {
  color: $color-blue;
}

// Copyright AXA Versicherungen AG 2015
