.meta-language {
}

.meta-language__button {
  @extend .make-font-small-semibold;
  @include make-link($color-gray--darker,$color-blue);

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding: 0 $grid-gutter-width-base/2;
}

// Copyright AXA Versicherungen AG 2015
