.mobile {
  @extend .container;

  background-color: $color-white;
}

.mobile__separator {
  height: 64px;
}

.mobile__section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.mobile__title {
  @extend .make-font-large-semibold;

  display: flex;

  align-items: center;
  justify-content: center;
}

// Copyright AXA Versicherungen AG 2015
