.mobile-actions {
  display: flex;
}

.mobile-actions__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 $grid-gutter-width-base/2;

  color: $color-gray--darker;
  cursor: pointer;

  z-index: $z-index-burger-icon;

  &:hover,
  &:focus {
    color: $color-blue;
  }
}

.mobile-actions__icon {
  display: block;
}

// Copyright AXA Versicherungen AG 2015
