.page-content {
  @extend .container;

  max-width: map_get($container-max-widths,lg);
  min-height: 512px;

  padding-top: 32px;
  padding-bottom: 32px;
}

.page-content--fluid {
  max-width: 100%;
}

.page-content--fit {
  min-height: auto;
}

// Copyright AXA Versicherungen AG 2015
