.progress-container {
  padding-bottom: 17px;
  margin-top: 40px;

  overflow: visible;
  background: $color-gray--lighter;

  @include media-breakpoint-up(md) {
    margin-top: 60px;
    padding-bottom: 24px;
  }
}

.progress-container__progress {
  position: relative;
  top: -10px;

  margin-bottom: 12px;

  @include media-breakpoint-up(md) {
    top: -20px;
    margin-bottom: 5px;
  }
}

.progress-container__label {
  padding: 0 $grid-gutter-width-base/2;

  font-size: 17px;
  text-align: center;

  color: $color-light-blue;

  @include media-breakpoint-up(md) {
    font-size: 24px;
  }
}

// Copyright AXA Versicherungen AG 2015
