$prolist_item_icon_size: 1.625rem;

.prolist {
  list-style-type: none;
  margin: 1.5rem 0 2rem;
  padding: 0;
}

.prolist__heading {
  @extend .make-font-heading-tertiary;

  margin: 0;
}

.prolist__item {
  margin: 0 0 1rem;
}

.prolist__item__icon {
  float: left;

  width: $prolist_item_icon_size;
  height: $prolist_item_icon_size;
  padding: 2px;
  border-radius: $prolist_item_icon_size;
  background: $color-white;
  color: $color-gray;
  border: 2px $color-gray solid;

  fill: $color-gray;
  stroke: $color-gray;

  // $todo: these font-size, line-height values should be coded in a central place as variables, that we can reuse it here.
  margin-top: ((1rem * 1.8) - $prolist_item_icon_size) / 2;

  @media (min-width: $screen-md-min) {
    margin-top: ((1.0625rem * 1.8) - $prolist_item_icon_size) / 2;
  }
}

.prolist__item__content {
  @extend .make-font-large;

  margin: 0;
  margin-left: 2.25rem;
}

// Copyright AXA Versicherungen AG 2015
