$mobile-nav-width: 80%;
$mobile-nav-width-fixed: 300px;

.site {
  overflow-x: hidden;
  background-color: $color-white;
}

.site.is-mobile-nav-open {
  overflow-y: hidden;

    @media (min-width: $screen-lg-min) {
    overflow-y: inherit;
  }
}

.site__page {
  position: relative;
  right: 0;
  overflow: hidden;

  transition: transform $transition-normal $transition-easeout,
    padding-left $transition-normal $transition-easeout,
    padding-right $transition-normal $transition-easeout;
}

.site__page.is-pushed {
  transform: translateX(-$mobile-nav-width);

  transition: transform $transition-normal $transition-easein,
    padding-left $transition-normal $transition-easein,
    padding-right $transition-normal $transition-easein;

  @media (min-width: $screen-lg-min) {
    transform: translateX(0);
  }
}

.site__page__mask {
  display: block;
  width: 100%;
  height: 0;

  position: absolute;
  top: 0;
  left: 0;

  background-color: $color-black;
  opacity: 0;
  z-index: $z-index-site-page-masked;
  cursor: pointer;
  pointer-events: none;

  transition: opacity $transition-normal $transition-easeout,
    height 0;
}

.site__page__mask.is-visible {
  opacity: 0.5;
  pointer-events: all;
  height: 100%;

  transition: opacity $transition-normal $transition-easein,
    height 0;

  @media (min-width: $screen-lg-min) {
    opacity: 0;
    height: 0;
    pointer-events: none;
  }
}

.site__mobile {
  position: fixed;
  right: 0;
  transform: translateX(100%);
  top: 0;

  width: $mobile-nav-width;
  height: 100%;

  z-index: $z-index-site-mobile-nav;
  overflow-y: scroll;

  background-color: $color-white;

  transition: transform $transition-normal $transition-easeout;
}

.site__mobile.is-visible {
  transform: translateX(0);

  transition: transform $transition-normal $transition-easein;

  @media (min-width: $screen-lg-min) {
    transform: translateX(100%);
  }
}

.site__burger {
  transition: color $transition-normal $transition-default;
}

.site__burger.is-open {
  color: $color-white;

  &:hover {
    color: darken($color-white, 10%);
  }
}

.site--left {
  .site__page.is-pushed {
    transform: translateX($mobile-nav-width);
  }

  .site__mobile {
    left: 0;
    right: auto;
    transform: translateX(-100%);
  }

  .site__mobile.is-visible {
    transform: translateX(0);

    @media (min-width: $screen-lg-min) {
      transform: translateX(-100%);
    }
  }
}

.site--stacked {
  .site__page.is-pushed {
    transform: translateX(0);
  }
}

.site--desktop,
.site--fixed {
  .site.is-mobile-nav-open {
    @media (min-width: $screen-lg-min) {
      overflow-y: hidden;
    }
  }

  &.site--stacked {
    .site__page.is-pushed {
      transform: translateX(0);
    }
  }

  .site__page__mask.is-visible {
    @media (min-width: $screen-lg-min) {
      opacity: 0.5;
      pointer-events: all;
      height: 100%;
    }
  }

  .site__mobile.is-visible {
    @media (min-width: $screen-lg-min) {
      transform: translateX(0);
    }
  }
}

.site--desktop {
  .site__page.is-pushed {
    @media (min-width: $screen-lg-min) {
      transform: translateX(-$mobile-nav-width);
    }
  }

  &.site--left {
    .site__page.is-pushed {
      transform: translateX($mobile-nav-width);
    }
  }
}

.site--fixed {
  .site__mobile {
    width: $mobile-nav-width-fixed;
  }

  .site__page.is-pushed {
    transform: translateX(-$mobile-nav-width-fixed);
  }

  &.site--left .site__page.is-pushed {
    transform: translateX($mobile-nav-width-fixed);
  }

  &.site--stacked .site__page.is-pushed {
    transform: translateX(0);
  }

  @media (min-width: $screen-lg-min) {
    .site.is-mobile-nav-open {
      overflow-y: inherit;
    }

    .site__page {
      padding-right: $mobile-nav-width-fixed;
      transform: translateX(0);
    }

    .site__page.is-pushed {
      transform: translateX(0);
    }

    &.site--left .site__page,
    &.site--left .site__page.is-pushed {
      padding-left: $mobile-nav-width-fixed;
      padding-right: 0;
      transform: translateX(0);
    }

    .site__page__mask.is-visible {
      opacity: 0;
      pointer-events: none;
    }

    .site__mobile {
      width: $mobile-nav-width-fixed;
      transform: translateX(0);
      border-left: 1px solid $color-gray--light;
    }

    &.site--left .site__mobile {
      border-right: 1px solid $color-gray--light;
      border-left: none;
    }
  }
}

// Copyright AXA Versicherungen AG 2015
