.summary {
  font-size: 19px;
}

.summary__heading {
  @extend .make-font-heading-tertiary;
  margin: 0;
}

.summary__label {
  @extend .make-font-large;
  margin: 16px 0 0;
}

.summary__content {
  @extend .make-font-large-semibold;

  margin: 0 0 8px;
}

.summary__items {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
}

.summary__item {
  padding: 0;
  margin: 0;
  margin-bottom: 2px;
}

.summary__edit {
  @extend .make-font-large-semibold;
}

// Copyright AXA Versicherungen AG 2015
