---
title: Browser support
slug: 2browsers
segment: development
collection: development
template: development.jade
---


section.callout
  h1.callout__heading Analytics are snapshots
  p.paragraph.
    The following article is based on data collected
    by analytics tools. The article is based on a 
    snapshot as of 21. January 2015.
  p.paragraph.
    We do our best to update the analytics data 
    regulary.
    
h1 Internal vs. external web apps/sites
p.paragraph.
  The browser support requirements in this chapter
  apply to internal and external web apps/sites.

h1 Stick to web standards
p.paragraph.
  First of all we should stick to web standards 
  defined by the w3c and not to browser specific 
  technologies or features. Therefore new browser
  releases should be supported out of the box. 
  When it comes to older browsers we have to test
  our web apps/sites on these browsers in detail.

h1 What browsers to support?
p.paragraph.
  As mentioned above we need to test our web apps/sites
  on diffrent browsers, especially the older ones.
p.paragraph.
  We created the following list of browsers you 
  should support based on analytics data per 
  21. January 2015.
  
section.callout.callout--danger
  h1.callout__heading TODO
  We should dig into the Android 5.0 (Lollipop) browser. It seems that a chrome 37 is used.
  
table.table
  thead
    tr.table__header
      th.table__header__item Browser
      th.table__header__item Platform
      th.table__header__item Version
  tbody.table__content
    tr.table__item
      td.table__item__info.table__item__info--headline 
        .table__item__info__content Internet Explorer
      td.table__item__info 
        .table__item__info__content Windows
      td.table__item__info 
        .table__item__info__content 9+
    tr.table__item
      td.table__item__info.table__item__info--headline 
        .table__item__info__content Firefox 
      td.table__item__info 
        .table__item__info__content Desktop
      td.table__item__info 
        .table__item__info__content 34.0+
    tr.table__item
      td.table__item__info.table__item__info--headline 
        .table__item__info__content Chrome 
      td.table__item__info 
        .table__item__info__content Desktop, Android, iOS
      td.table__item__info 
        .table__item__info__content 39.0.2171+
    tr.table__item
      td.table__item__info.table__item__info--headline 
        .table__item__info__content Android Browser
      td.table__item__info 
        .table__item__info__content Android
      td.table__item__info 
        .table__item__info__content 4.0+
    tr.table__item
      td.table__item__info.table__item__info--headline 
        .table__item__info__content Safari 
      td.table__item__info 
        .table__item__info__content Mac
      td.table__item__info 
        .table__item__info__content 8.0+
    tr.table__item
      td.table__item__info.table__item__info--headline 
        .table__item__info__content Safari 
      td.table__item__info 
        .table__item__info__content iOS
      td.table__item__info 
        .table__item__info__content 8.0+
    tr.table__item
      td.table__item__info.table__item__info--headline 
        .table__item__info__content Chrome 
      td.table__item__info 
        .table__item__info__content iOS
      td.table__item__info 
        .table__item__info__content 8.1+
        
