---
title: Datepicker
template: development.jade
---

:markdown
  To get localized strings use ``moment.locale`` as described in the [momentjs docs](http://momentjs.com/docs/)

:sample
  .datepicker#myDatepicker(data-datepicker-watch="#myDatepickerInput")
    a(data-datepicker="#myDatepicker").datepicker__trigger
    .datepicker__input
      input(type='text').control.control--input#myDatepickerInput

:sample
  script.
    var handleDatepickerClick = function(e) {
      e.preventDefault();

      $('#myDatepicker2').datepicker({
        input: $('#myDatepickerInput2'),
        moment: window.moment,
        action: 'toggle'
      })
    }

  .datepicker#myDatepicker2
    a(onclick="handleDatepickerClick(event)").datepicker__trigger
    .datepicker__input
      input(type='text').control.control--input#myDatepickerInput2

// Copyright AXA Versicherungen AG 2015
