---
title: Modal
template: development.jade
---

h2.heading.heading--secondary Intro

p.paragraph.
  This plugin provides the handling of showing a modal.
  See the modal block for further information.

h2.heading.heading--secondary Usage

p.paragraph Activate the functionality with the data-* API

.highlight
  pre.highlight__listing.hljs: code.js
    :highlight
      <a data-modal="#myModal" ></a>

p.paragraph Activate the functionality with JavaScript:

.highlight
  pre.highlight__listing.hljs: code.js
    :highlight
      $('#myModal').modal(options)

h3 Options

p.paragraph None.

h3 Methods

h4: code .modal('toggle')

p.paragraph Manually toggles the modal.

.highlight
  pre.highlight__listing.hljs: code.js
    :highlight
      $('#myModal').modal('toggle')

// Copyright AXA Versicherungen AG 2015
