---
title: Form
description: An example of a form.
thumbnail: form.png
collection: examples
filename: form.html
template: examples/master.jade
---

.l-container
  h1.heading.heading--page Motorfahrzeugschaden
.progress-container
  .l-container.progress-container__progress.progress-tracker
    ul.progress-tracker__flow
      li.progress-tracker__step.step.step--start.is-active
        span.step__bullet 1
      li.progress-tracker__step.step.is-active
        span.step__bullet 2
      li.progress-tracker__step.step.step--end
        span.step__bullet.step__bullet--checkmark
  .progress-container__label Foobar
.l-container
      .fieldset
        .fieldset__content
          h2.heading.heading--fieldset Schadensobjekt
          .form__group
            .form__group__label
              .form__group__label__info-icon
                a.info-icon(data-info, data-target='#slideTarget')
              label.form__group__label__info-icon-text-wrapper
                .form__group__label__text Was wurde beschädigt?
            .form__group__control
              .checkbox-group
                label.checkbox(data-checkbox)
                  input.checkbox__checkbox(type='checkbox')
                  span.checkbox__label Fahrzeug des Versicherungsnehmers
                label.checkbox(data-checkbox)
                  input.checkbox__checkbox(type='checkbox')
                  span.checkbox__label Fahrzeug einer anderen Partei
                label.checkbox(data-checkbox)
                  input.checkbox__checkbox(type='checkbox')
                  span.checkbox__label Gegenst&auml;nde / Geb&auml;ude
                label.checkbox(data-checkbox)
                  input.checkbox__checkbox(type='checkbox')
                  span.checkbox__label Personen
              .form__info-text(id='slideTarget', style='display:none;')
                .info-text
                  p.paragraph.
                    Hallo Welt!
      .fieldset
        .fieldset__content
          h2.heading.heading--fieldset Schadensobjekt 2
          .form__group
            label.form__group__label Was wurde besch&auml;digt?
            .form__group__control
              .checkbox-group.has-error
                label.checkbox(data-checkbox)
                  input.checkbox__checkbox(type='checkbox')
                  span.checkbox__label Fahrzeug des Versicherungsnehmers
                label.checkbox(data-checkbox)
                  input.checkbox__checkbox(type='checkbox')
                  span.checkbox__label Fahrzeug einer anderen Partei
                label.checkbox(data-checkbox)
                  input.checkbox__checkbox(type='checkbox')
                  span.checkbox__label Gegenst&auml;nde / Geb&auml;ude
                label.checkbox(data-checkbox)
                  input.checkbox__checkbox(type='checkbox')
                  span.checkbox__label Personen
              .form_.form__error-message Bitte machen Sie hier eine Angabe.
      .fieldset
        .fieldset__content
          h2.heading.heading--fieldset Schadensort
          .form__group
            label.form__group__label Datum
            .form__group__control
              input.control.control--input(type='text')
          .form__group
            label.form__group__label Strasse, Nr.
            .form__group__control
              input.control.control--input(type='text')
          .form__group
            label.form__group__label PLZ, Ort
            .form__group__control
              input.control.control--input(type='text')
          .form__group
            label.form__group__label Land
            .form__group__control
              .dropdown(data-dropdown)
                .dropdown__label
                select.dropdown__select
                  option Schweiz
                  option Regenbogenland
      .fieldset
        .fieldset__content
          h2.heading.heading--fieldset Schaden
          .form__group
            label.form__group__label Wie ist der Schaden entstanden?
            .form__group__control
              textarea.control.control--textarea(data-autogrow='autogrow')
          .form__group
            label.form__group__label Wurde der Schaden der Polizei gemeldet?
            .form__group__control
              .segmented-control(data-segmented-control)
                label.segmented-control__item.is-active
                  input.segmented-control__item__radio(type='radio', name='polizei')
                  span.segmented-control__item__label Ja
                label.segmented-control__item
                  input.segmented-control__item__radio(type='radio', name='polizei')
                  span.segmented-control__item__label Nein
          .form__group
            label.form__group__label Ist der Versicherungsnehmer aus Ihrer Sicht Schuld am Schaden
            .form__group__control
              .segmented-control(data-segmented-control).has-error
                label.segmented-control__item
                  input.segmented-control__item__radio(type='radio', name='schuld')
                  span.segmented-control__item__label Ja
                label.segmented-control__item
                  input.segmented-control__item__radio(type='radio', name='schuld')
                  span.segmented-control__item__label Nein
                label.segmented-control__item
                  input.segmented-control__item__radio(type='radio', name='schuld')
                  span.segmented-control__item__label Vielleicht
              .form__error-message Bitte machen Sie hier eine Angabe.
    .l-container
      .button-row
        a.button-row__button.button-row__button--right.button.button--primary Weiter
        a.button-row__button.button.button--secondary Zurück
      .form__footnote * Pflichtfelder

// Copyright AXA Versicherungen AG 2015
