---
title: Principles
collection: design
template: design.jade
---

p.
  Key design principles to guide us all.

ol
  li Strengthen the brand image and respect the AXA fundamentals
  li Embrace the flat design trend
  li Focus on the content
  li Keep it simple
  li The power of full screen "hero" images
