---
title: Full width grid
description: An interactive grid example
thumbnail: grid.png
collection: examples
filename: grid.html
template: examples/master.jade
---

style(type='text/css').
  .box {
    color: #0f2e86;
    background-color: #bcd9f4;
    margin: 10px 0;
    padding: 10px;
  }

input(type='text', value='100%')#widthIn

script.
  $(function() {
    var $in = $("#widthIn");
    var $container = $("#container");

    $in.keyup(function() {
      $container.css({
        'width': $in.val()
      });
    })
  })

#container
  each j in [1, 2, 3, 4, 6, 12]
    .l-row
      - for (var i = 0; i < 12/j; i++) {
        div.l-col(class='l-col--' + (j))
          .box #{j}
      - }

// Copyright AXA Versicherungen AG 2015
