---
template: master.jade
segment: design
---

.l-row
  .l-docs-menu

    ul.menu.menu--left
      each page in design
        li.menu__item
          a.menu__link(
            href=relative(page.link)
            class={'is-active': link == page.link}
          )= page.title

      - var sections = []
      - sections.push({ name: 'Fundamentals', items: design_fundamentals })
      - sections.push({ name: 'Components', items: design_components })

      each section in sections
        li.menu__item
          .menu__link.menu__link--category= section.name
          ul.menu
            each page in section.items
              li.menu__item
                a.menu__link(
                  href=relative(page.link)
                  class={'is-active': link == page.link}
                )= page.title

  .l-docs-main
    h1.heading.heading--page= title

    != contents
