---
template: _left-menu.jade
segment: development
menu: development
cache: true
filename: development.jade
---

!= contents

// ko if: hasGitHubIntegration
.contribute
  .contribute__row
    .contribute__image
      img(src='', data-octocat).contribute__octocat
    .contribute__content
      .contribute__headline Contribute to this article
      p.contribute__text(data-bind='visible: !github.isSignedIn()').
        To contribute to this article please sign in with GitHub
      p(data-bind='visible: !github.isSignedIn()')
        img(src='https://www.scopevisio.com/sites/all/themes/scopevisio/images/loading.gif', data-bind='visible: github.isAuthenticating()').menu__link
        a(data-bind="visible: !github.isAuthenticating(), attr: { href: github.getAuthUrl() }").button.button--small.button--primary Sign in with GitHub
      div(data-bind='visible: github.isSignedIn()')
        p.contribute__text.
          Want to edit or suggest changes
          to this content? You can edit and
          submit changes to this article
          using GitHub.
        p.paragraph
          a(href=config.repository.url + '/blob/master/docs' + ((link ? link : '').replace(/\.html$/, '.jade'))).button.button--small.button--primary Edit article on GitHub
// /ko

// Copyright AXA Versicherungen AG 2015
