---
title: Persistent side menu
layout: demo.hbs
---
<div class="push-sm-left">
  <header class="header">
    <div class="header-main">
      <a href="#" class="header-brand">
        <span>Example</span>
      </a>
    </div>
  </header>

  <div class="container-fluid">
    <div class="alert alert-danger hidden-sm-up" role="alert" style="margin-top: 20px;">
      <strong>Watch out!</strong>
      It's a bad idea to make the side menu persistent on the smallest viewport.
      Try a larger one!
    </div>

    <h1 class="h3">A title</h1>

    <p>A paragraph...</p>
  </div>

  <div class="drawer persistent-sm-left hidden-xs-down">
    <div class="container-fluid">
      <div class="alert alert-info" role="alert" style="margin-top: 20px;">
      <strong>Fill me!</strong> I can contain a navigation menu,
      search and a million other things you can think of!</div>
    </div>
  </div>
</div>
