---
title: Colors
template: development.jade
order: 2
---

mixin _paletteBody(palette)
  each colorCode, colorName in palette
    .table__row
      .table__row__item.table__row__item--headline
        .color(style='background: ' + colorCode)
      .table__row__item(data-clipboard-text=colorCode) #{colorCode}
      .table__row__item(data-clipboard-text='@color-' + colorName) @color-#{colorName}


mixin palette(palette)
  .table
    .table__header
      .table__header__item
      .table__header__item HEX
      .table__header__item LESS Variable
    .table__content
      if Object.prototype.toString.call(palette) == '[object Array]'
        each p in palette
          mixin _paletteBody(p.colors)
      else
        mixin _paletteBody(palette)

h2.heading.heading--secondary Primary palette

mixin palette(colors.primary)

h2.heading.heading--secondary Secondary palette

mixin palette(colors.secondary)

h2.heading.heading--secondary Colors not in a palette

mixin palette(colors.tbd)
        
          
script.
  $('[data-clipboard-text]').each(function(i, el) {
    new ZeroClipboard(el);
  });

// Copyright AXA Versicherungen AG 2015
