@import 'style/mixins/clearfix';

.l-row {
	position: relative;
	margin: 0 auto;
	max-width: 74.11765em;

	.clearfix;
}

.l-row .l-row {
	padding: 0;
}

.l-full,
.l-primary,
.l-secondary,
.l-third,
.l-half,
.l-fourth,
.l-thumbnail {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 12.5px;
  padding-right: 12.5px;
}
