@import 'style/mixins/clearfix';

.l-row {
	position: relative;
	margin: 0 auto;
	max-width: 74.11765em;

	.clearfix;
}

.l-row .l-row {
	padding-left: 0;
	padding-right: 0;
}

.l-full,
.l-primary,
.l-secondary,
.l-third,
.l-half,
.l-fourth,
.l-thumbnail {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 12.5px;
  padding-right: 12.5px;
}

.l-full {
	.respond(medium, {
	});

	.respond(large, {
	});
}

.l-primary {
	.respond(medium, {
		width: 66.66667%;
	});

	.respond(large, {
		width: 66.66667%;
	});
}

.l-secondary {
	.respond(medium, {
		width: 33.33333%;
	});

	.respond(large, {
		width: 33.33333%;
	});
}

.l-third {
	.respond(medium, {
		width: 33.33333%;
	});

	.respond(large, {
		width: 33.33333%;
	});
}

.l-half {
	.respond(medium, {
		width: 50%;
	});

	.respond(large, {
		width: 50%;
	});
}

.l-fourth {
	.respond(medium, {
		width: 25%;
	});

	.respond(large, {
		width: 25%;
	});
}

.l-thumbnail {
	.respond(medium, {
		width: 33.33333%;
	});

	.respond(large, {
		width: 16.66667%;
	});
}
