@import './variables';

body {
  color: @color-tbd-3;
  font-family: ITCFranklinGothicStd, Arial, sans-serif;
  font-size: 14px;
}

p {
  line-height: 1.5;
  margin: .5em 0;
}

.heading {
  font-weight: 500;
}

h1 {
  &:extend(.heading all);
  font-size: 2em;
}

h2 {
  &:extend(.heading all);
  font-size: 1.8em;
}

h3 {
  &:extend(.heading all);
  font-size: 1.4em;
}

h4 {
  &:extend(.heading all);
  font-size: 1.2em;
}

h5 {
  &:extend(.heading all);
  font-size: 1.1em;
}

h6 {
  &:extend(.heading all);
  font-size: 1em;
}

mark {
  background: @color-tbd-19;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  color: @color-blue;
  text-decoration: none;

  &:hover {
    color: @color-red;
  }
}
