// #############################
// # Grid
// #############################

$respond-medium-min-width: 768px;
$respond-large-min-width: 980px;
$respond-large-max-width: 1400px;

$grid-breakpoint-sm: 0;
$grid-breakpoint-md: 48rem;
$grid-breakpoint-lg: 90rem;

// #############################
// # Icon font
// #############################

$icon-font-path: '../fonts';
$icon-font-name: 'style-guide-font';

// #############################
// # Colors
// #############################

// Primary colors

$color-blue: #103184;
$color-red: #ff1821;

// Secondary colors

$color-light-blue--light: #5c91c0;
$color-light-blue: #0062a9;
$color-green: #7a9f35;
$color-blue-gray--light: #dedee2;
$color-blue-gray: #79838d;

$color-white: #ffffff;
$color-gray--lighter: #efefef;
$color-gray--light: #e5e5e5;
$color-gray--mid: #dadada;
$color-gray: #b0b0b0;
$color-gray--dark: #919191;
$color-gray--darker: #6f6f6f;
$color-gray--predarkest: #666666;
$color-gray--darkest: #333333;
$color-black: #000000;


// TBD colors

$color-tbd-4: #a5afcb;
$color-tbd-5: #eff4f9;
$color-tbd-6: #dde8f2;
$color-tbd-7: #12369d;
$color-tbd-8: #e0e0e0;
$color-tbd-9: #22336a;
$color-tbd-10: #040b20;
$color-tbd-11: #131f44;
$color-tbd-12: #f3f6fc;
$color-tbd-13: #4f5d88;
$color-tbd-16: #f2f2f2;
$color-tbd-17: #dfdfdf;
$color-tbd-23: #1762a5;
$color-tbd-24: #010943;
$color-tbd-25: #babfd3;

// #############################
// # Buttons
// #############################

$font-size: 16px;
$font-size-small: 0.875em;
$font-size-large: 1.125em;
$font-weight-medium: 600;
$line-height: 1.375;
$font-color: $color-gray--darkest;

// #############################
// # Transitions
// #############################

$transition-duration: 0.5s;
$transition-fn-fancy: cubic-bezier(0, 0, 0.57, 0.95);
$transition-duration-fast: 250ms;

// #############################
// # Images
// #############################

$images-path: '../images';

// #############################
// # Grid
// #############################

$grid-gutter-width: 3rem;

// #############################
// # Focus
// #############################

$focus-border-width: 1px;

// #############################
// # Controls
// #############################

$control-height-condensed: 30px;

// #############################
// # Buttons
// #############################

$button-height: 50px;
$button-height--medium: 50px;
$button-pad-lr: 30px;
$button-pad-lr--medium: 40px;
$button-icon-size: 16px;
$button-font-size: 16px;
$button-font-size--medium: 18px;

$button-sm-height: 30px;
$button-sm-height--medium: 30px;
$button-sm-pad-lr: 15px;
$button-sm-icon-size: 14px;
$button-sm-font-size: 14px;

$button-primary-bg: $color-blue;
$button-primary-color: white;
$button-primary-highlight-bg: lighten($color-blue, 5%);

$button-secondary-bg: $color-gray--dark;
$button-secondary-color: white;
$button-secondary-highlight-bg: lighten($color-gray--dark, 5%);

// #############################
// # z-index
// #############################

$z-index-progress-step: 15;
$z-index-progress-step-bullet: 16;
$z-index-dropdown: 30;
$z-index-dropdown-select: 31;
$z-index-datepicker: 32;
$z-index-autocomplete: 33;
$z-index-button__badge: 9800;
$z-index-popover: 9900;
$z-index-notifications: 9950;
$z-index-site-mobile-nav: 9960;
$z-index-site-page-masked: 9961;
$z-index-example-header: 9970;
$z-index-backdrop: 9980;
$z-index-burger-icon: 9981;
$z-index-backdrop-content: 9982;
$z-index-modal-wrapper: 9998;
$z-index-modal: 9999;

// #############################
// # Material inspired forms
// #############################

$material-form-container-max-width: 535px;
$material-form-input-height: 64px;

$material-border-color-inactive: #999;
$material-border-color-active: $color-light-blue;
$material-border-color-disabled: $color-gray--mid;
$material-border-color-error: $color-red;

$material-group-bottom-margin: 40px;
$material-group-bottom-margin-textarea: $material-group-bottom-margin - 20px;

$material-label-color-default: $color-gray--dark;
$material-label-color-active: $color-light-blue;
$material-label-color-disabled: $color-gray--mid;
$material-label-color-error: $color-red;
$material-label-font-size-closed: 1.15em;
$material-label-font-size-open: 1.05em;
$material-label-padding-left-closed: 15px;
$material-label-padding-right-closed: 15px;
$material-label-padding-top-closed: 21px;
$material-label-padding-bottom-closed: 19px;
$material-label-open-label-offset-top: -10px;

$material-field-padding-top: $material-label-padding-top-closed + 11px;
$material-field-padding-bottom: $material-label-padding-bottom-closed - 9px;
$material-field-font-weight: bold;

$material-placeholder-color: $color-gray;
$material-placeholder-font-weight: normal;

$material-form-group-info-icon-diameter: 22px;
$material-form-group-info-color: $color-white;
$material-form-group-info-bg-color: $color-gray--predarkest;

// Copyright AXA Versicherungen AG 2015
