@respond-medium-min-width: 768px;
@respond-large-min-width: 1024px;

@sg-icon-font-path: '../fonts';
@sg-icon-font-name: 'style-guide-font';

@color-ui-alpha: #243980;
@color-ui-beta: #ff1821;
@color-ui-gamma: #0f2e86;
@color-ui-delta: #5c91c0;
@color-ui-epsilon: #69be28;
@color-text-alpha: #444;
