@respond-medium-min-width: 768px;
@respond-large-min-width: 1024px;

@sg-icon-font-path: '../fonts';
@sg-icon-font-name: 'style-guide-font';

@color-ui-alpha: #103184;
@color-ui-beta: #ff1821;
@color-ui-gamma: #86a647;
@color-text-alpha: #333333;
@color-text-beta: #6f6f6f;
@color-text-gamma: #103184;

@images-path: '../images';
