---
title: Home Page
layout: inspiration/website.pug
order: 1
---

.container
  .row
    .col-md-12
      h1= title
  .row
    .col-md-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quidem, et corrupti facere in aspernatur tempora perferendis accusantium odit laudantium cum laborum exercitationem, dignissimos illum voluptatibus libero doloremque deleniti illo?
    .col-md-8 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quidem, et corrupti facere in aspernatur tempora perferendis accusantium odit laudantium cum laborum exercitationem, dignissimos illum voluptatibus libero doloremque deleniti illo?
