---
title: Clearfix
template: development.jade
---

:markdown
  Use the ``.clearfix`` to reset previous floats.

.highlight
  pre.highlight__listing.hljs
    code.less
      :highlight
        .clearfix();
// Copyright AXA Versicherungen AG 2015
