---
title: Clearfix
template: development.jade
---

:markdown
  Use the ``.clearfix`` to reset previous floats. It adds the "classic clearfix hack" to the `::after` element.

.highlight
  pre.highlight__listing.hljs: code.less
    :highlight
      selector {
        .clearfix();
      }

:markdown
  Use the extend functionality to reduce your css output.

.highlight
  pre.highlight__listing.hljs: code.less
    :highlight
      selector {
        &:extend(.clearfix all);
      }

:markdown
  The examples above result in the markup below.

.highlight
  pre.highlight__listing.hljs: code.less
    :highlight
      seclector {
        display: block;
        zoom: 1;
      }

      selector::after {
        content: " ";
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
        font-size: 0;
      }

// Copyright AXA Versicherungen AG 2015
