---
title: Invisible Input
slug: invisible-inpit
collection: development_mixins
template: development.jade
draft: true
---

:markdown
  The ``.invisible-input`` mixin can be used to
  hide checkboxes and radio buttons.
// Copyright AXA Versicherungen AG 2015
