---
title: Respond
template: development.jade
---

:markdown
  The respond mixin can be used to add conditional rules. The rules can restrict on the viewport size or type (e.g. print).

h2.heading.heading--secondary Usage

.highlight
  pre.highlight__listing.hljs: code.less
    :highlight
      selector {
        .respond(@device, @rules);
      }

h3 Options

dl
  dt @device
  dd Device on which the @rules should apply. See table below.
  dt @rules
  dd Rules to apply

h4 Available rules

:markdown
  Device name | Media query
  --- | ---
  medium | min-width: 768px
  large | min-width: 1024px
  print | print

h2.heading.heading--secondary Example

.highlight
  pre.highlight__listing.hljs: code.less
    :highlight
      selector {
        background: red; // default

        .respond('medium', {
          background: green; // on medium and larger devices
        })

        .respond('large', {
          background: blue; // large devices
        })
      }

// Copyright AXA Versicherungen AG 2015
