---
title: Overview
description: Layout your app according to your needs using the AXA Web Toolkit.
nav: side/layout/overview
order: 2
lunr: true
toc:
  - title: Quick Start
    slug: quick-start
  - title: Starter Template
    slug: starter-template
  - title: Important Globals
    slug: important-globals
---

{{#> page}}
  {{#*inline "content"}}

    <h1 class="docs-h2">{{title}}</h1>

    <p class="lead"></p>

    <p></p>

    {{> table-of-contents data=toc}}

    <h2 id="quick-start" class="docs-h3"></h2>

    <p></p>

  {{/inline}}
{{/page}}
