---
title: Color
template: design.jade
order: 1
---

:markdown
  Use these colors to guide your designs and to ensure you’re staying consistent with the AXA brand.

.downloads
  a(href="./AXA.aco").downloads__link Download swatches

h2.heading.heading--secondary Primary palette

.l-row
  .color-palette.color-palette--primary
    each colorCode, colorName in colors.primary
      .l-col.l-col--medium-3
        .color-palette__color
          .color-palette__color__box(style='background: ' + colorCode)
          .color-palette__color__code #{colorCode}

h2.heading.heading--secondary Secondary palette

each colorGroup in colors.secondary
  .color-palette.color-palette--secondary
    .l-row
      each colorCode, colorName in colorGroup.colors
        .l-col.l-col--medium-3
          .color-palette__color
            .color-palette__color__box(style='background: ' + colorCode, class=(colorCode == '#ffffff' ? 'color-palette__color__box--white' : ''))
            .color-palette__color__code #{colorCode}
// Copyright AXA Versicherungen AG 2015
