---
title: Icons
template: design.jade
order: 3
---

p.paragraph.
  An icon is a graphic that takes up a small portion of screen and provides a quick, intuitive representation of an action or a status.
p.paragraph.
  For all AXA Applications use Helveticons, which are based on the Helvetica Bold typeface.  If you need further icons please contact us.

.downloads
  a(href='Helveticons-basic-preview.png').downloads__link Helveticons-basic-preview.png
  a(href='Helveticons-additional-preview.png').downloads__link Helveticons-additional-preview.png
  a(href='Helveticons-extras-preview.png').downloads__link Helveticons-extras-preview.png