---
title: Components
order: 2
collection: navigation
children: components/*
template: page.jade
description: Discover our elements and their behavior on different devices. Plus get to know some UX basics.
thumbnail: /images/home/Components.svg
headline: false
---

.hero
  .hero__image
    img(src=relative('/images/components/components.svg') alt="Animated Components Graphic").hero__image__img
  .hero__content
    .hero__content__headline #{title}
    p.paragraph.
      You can find all components in the menu on your left hand side. Now start exploring, building and being awesome.

//- Copyright AXA Versicherungen AG 2015
