---
title: Fundamentals
order: 1
collection: navigation
children: fundamentals/*
template: page.jade
description: Learn more about our basics in layout, design and code.
thumbnail: /images/home/fundamentals.svg
headline: false
---
  
.hero
  .hero__image
    img.hero__image__img(
      src=relative('/images/home/fundamentals.svg')
      alt="animated fundamentals graphic")
  .hero__content
    .hero__content__headline #{title}
    p.paragraph.
        In the menu you can find everything to get started
        using our basic layout, design and code guidelines.
    p.paragraph.
        Now start exploring, building and being awesome.

//- Copyright AXA Versicherungen AG 2015
