---
title: AXA Web Guidelines
template: slim.jade
landing: true
description: We're making this global!
---

.global
  .page-section

    .global__map
      .global__map__visual
        img.global__map__visual__image(src="/images/global/bg.png" data-object-fit="cover")
      .global__map__overlay
        .global__map__content
          h1.global__map__heading Web Guidelines

          p.global__map__text.
            Introducing a unified way
            to build web interactions at AXA.

  .page-section.page-section--global
    .global-intro
      .global-intro__row
        .global-intro__image
          svg.global-intro__icon(width="253" height="178" viewBox="0 0 253 178" xmlns="http://www.w3.org/2000/svg")
            path(d="M252.785 173.2a4.235 4.235 0 0 1-4.227 4.236H4.278c-2.323 0-4.22-1.897-4.22-4.236V8.883A4.23 4.23 0 0 1 4.28 4.65h244.28a4.232 4.232 0 0 1 4.227 4.233V173.2z" fill="#634D43")
            path(d="M242.796 168.85H10.05v-10.426h232.746v10.425z" fill="#D5B6AA")
            path(d="M126.377 168.85V15.52a.982.982 0 0 0 .134-.454c0-.423-.038-.844-.064-1.26.64-7.567 6.977-13.53 14.694-13.53h101.657v159.62H141.14c-6.4 0-11.964 3.64-14.763 8.954" fill="#F5DFD4")
            path(d="M126.46 168.85V15.52a1 1 0 0 1-.126-.454c0-.423.03-.844.065-1.26-.647-7.567-6.984-13.53-14.703-13.53H10.05v159.62h101.647c6.402 0 11.964 3.64 14.764 8.954" fill="#F5DFD4")
            path(d="M126.4 13.805c-.45-5.29-3.693-9.786-8.233-12.014v159.434a16.87 16.87 0 0 1 8.294 7.625V15.52a.993.993 0 0 1-.126-.453c0-.423.03-.846.065-1.262" fill="#FFF")
            path(d="M227.155 33.757h-86.098v-5.54h86.098v5.54zM227.155 53.785h-86.098v-5.532h86.098v5.532zM227.155 73.816h-86.098v-5.533h86.098v5.533zM227.155 93.854h-86.098v-5.55h86.098v5.55zM227.155 113.88h-86.098v-5.532h86.098v5.532zM227.155 133.917h-86.098v-5.543h86.098v5.543z" fill="#907165")
            path(d="M95.414 134.202h-58.16V28.382h58.16v105.82z" fill="#D5B6AA")
            path(d="M95.08 49.476H37.255V28.38H95.08v21.096z" fill="#B0958C")
            path(d="M95.08 33.738H37.255V31.73H95.08v2.008zM95.08 38.092H37.255v-2.008H95.08v2.008zM95.08 42.444H37.255v-2.01H95.08v2.01zM95.08 46.797H37.255v-2.01H95.08v2.01z" fill="#D5B6AA")
            path(d="M85.143 37.672H47.315c-4.01 0-7.263 3.26-7.263 7.28v80.23c0 4.02 3.252 7.28 7.263 7.28h37.828c4.013 0 7.266-3.26 7.266-7.28v-80.23c0-4.02-3.254-7.28-7.267-7.28" fill="#3C3F41")
            path(d="M85.143 34.994H47.315c-4.01 0-7.263 3.258-7.263 7.28v80.23c0 4.018 3.252 7.278 7.263 7.278h37.828c4.013 0 7.266-3.26 7.266-7.277V42.273c0-4.02-3.254-7.28-7.267-7.28" fill="#000")
            path(d="M71.486 44.052c0 .58-.47 1.054-1.052 1.054h-8.412c-.58 0-1.052-.474-1.052-1.054 0-.578.473-1.05 1.052-1.05h8.412c.58 0 1.052.472 1.052 1.05M68.65 121.896a2.42 2.42 0 1 1-2.42-2.42c1.337 0 2.42 1.08 2.42 2.42" fill="#3A3D3F")
            path(d="M46.146 49.323v65.514h40.167V49.324H46.146z" fill="#F4827D")
            path(d="M82.712 55.17H49.286v-1.785h33.426v1.785zM82.712 60.86H49.286v-1.785h33.426v1.786zM82.712 66.555H49.286V64.77h33.426v1.785zM82.712 72.25H49.286v-1.787h33.426v1.786zM82.712 77.94H49.286v-1.783h33.426v1.784zM82.712 83.633H49.286V81.85h33.426v1.783zM82.712 89.327H49.286V87.54h33.426v1.787zM82.712 95.02H49.286v-1.786h33.426v1.787zM82.712 100.714H49.286v-1.786h33.426v1.786zM67.003 106.406H49.286v-1.784h17.717v1.784z" fill="#FFF")
            path(d="M83.713 90.667h-21.39V68.9h21.39v21.767z" fill="#F4827D")
            path(d="M82.88 89.494H66V70.406h16.88v19.088z" fill="#DE605E")
            path(d="M75.192 101.548h-3.677v-3.01h3.677v3.01zM60.82 95.69h-3.677v-3.015h3.677v3.014zM72.184 67.225h-3.677v-3.013h3.677v3.013zM63.66 55.672h-3.676V52.66h3.676v3.012z" fill="#F4827D")

        .global-intro__text
          p.
            At AXA, we're comitted building exciting experiences.
          p.
            These experiences evolve out of in depth user research, great visual design and
            a working implementation. Love in the details.
          p.
            Now let's create a global platform that
            lets our teams at AXA contribute their components,
            patterns and guidelines to. Allowing it to be used and gradually improved by our global community.

  .page-section.page-section--global.page-section--yellow
    .global-quote
      svg.global-quote__marks(width="94" height="69" viewBox="0 0 94 69" xmlns="http://www.w3.org/2000/svg")
        path(fill="#004F94" d="M0 41.955C0 16.425 20.888 1.428 32.493 0l2.678 6.963c-6.783 4.463-12.496 12.14-11.96 16.603 7.676.536 20.174 4.82 20.174 21.425.178 12.676-6.963 23.21-20.71 23.21C10.534 68.2 0 59.81 0 41.955zM72.674 68.2C60.534 68.2 50 59.81 50 41.955 50 16.425 70.888 1.428 82.493 0l2.678 6.963c-6.783 4.463-12.496 12.14-11.96 16.603 7.676.536 20.174 4.82 20.174 21.425.178 12.676-6.963 23.21-20.71 23.21z")

      blockquote.global-quote__text(cite="#")
        .global-quote__text__body.
          We want to be key players in the technology revolution,
          not followers.
        footer.global-quote__text__meta
          span —
          = ' '
          a.link(href="https://twitter.com/AXA/status/570504898988519424" target="_blank") Henry de Castries, CEO AXA

  .page-section.page-section--global
    h2.global-heading Things we get from such a platform

    .global-reasons

      .global-reasons__reason
        .global-reasons__row
          .global-reasons__image
            svg.global-reasons__icon(width="155" height="155" viewBox="0 0 155 155" xmlns="http://www.w3.org/2000/svg")
              path(d="M22.595 131.676c30.12 30.12 78.958 30.12 109.082 0 30.12-30.124 30.12-78.96 0-109.082C101.55-7.532 52.717-7.53 22.59 22.592c-30.12 30.124-30.12 78.956.005 109.084" fill="#004F94")
              path(d="M38.614 123.82c7.554-1.376 15.362-3.632 18.954-13.024 0-.126-.122-.38-.373-.38-3.22 1.88-7.433 2.128-8.794 2.128-.374 0-.496-.125-.496-.503-.122-1.375-.497-5.634.993-9.014.124-.124-.122-.377-.374-.377-8.793 4.76-10.156 12.77-10.65 20.54.12.383.488.63.74.63z" fill="#FF827D")
              path(d="M28.948 86.25c-.373.502 0 1.252.742.874 9.787-3.254 19.446-1.755 22.794-1.005.742.124.994.874.866 1.377l-2.227 8.524c-.122.504.122 1.253.742 1.377 1.36.503 3.838 1.63 6.194 3.634 2.354 2.258 3.837 4.507 4.334 5.883.375.503.866.752 1.36.503l8.053-3.255c.743-.122 1.24 0 1.614.75.995 3.132 3.84 12.904 1.614 23.046-.124.503.496 1.006.993.503 4.71-5.39 14-17.41 13.253-35.067 0-.38.122-.503.373-.75 24.156-21.29 27.75-45.96 28.118-59.24-12.884 1.878-36.917 8.387-55 35.066-.376.123-.498.378-.873.378-17.342 1.376-28.116 12.145-32.95 17.4zm24.402 1.247l-2.227 8.524c-.122.504.122 1.253.742 1.377 1.36.503 3.838 1.63 6.194 3.634 2.354 2.258 3.837 4.507 4.334 5.883.375.503.866.752 1.36.503l8.053-3.255c.743-.122 17.595-11.27 17.846-11.517 24.156-21.29 27.75-45.96 28.118-59.24-12.884 1.878-36.917 8.387-55 35.066-.376.123-9.292 18.524-9.42 19.027z" fill="#FFE392")
              path(d="M53.35 87.497l-2.227 8.524c-.122.504.122 1.253.742 1.377 1.36.503 3.838 1.63 6.194 3.634 2.354 2.258 3.837 4.507 4.334 5.883.375.503.866.752 1.36.503l8.053-3.255c.743-.122 17.595-11.27 17.846-11.517 24.156-21.29 27.75-45.96 28.118-59.24-12.884 1.878-36.917 8.387-55 35.066-.376.123-9.292 18.524-9.42 19.027z" fill="#DBEBF7")
              path(d="M92.246 62.207c3.594 3.255 3.962 9.014.743 12.77-3.22 3.635-8.918 4.007-12.634.752-3.594-3.257-3.96-9.016-.742-12.773 3.342-3.757 9.046-4.128 12.632-.75z" fill="#004F94")
          .global-reasons__content
            h3.global-reasons__title Speed
            p.global-reasons__text.
              Collecting UX best practices,
              designs and UI components. Making
              them as accessible as possible allows our
              product teams to get up and running faster by
              reusing the fundamentals and
              focusing on customer value.

      .global-reasons__reason
        .global-reasons__row
          .global-reasons__image.global-reasons__image--alternative
            svg.global-reasons__icon(width="155" height="155" viewBox="0 0 155 155" xmlns="http://www.w3.org/2000/svg")
              path(d="M131.677 131.676c30.12-30.124 30.12-78.96 0-109.082C101.55-7.532 52.717-7.53 22.59 22.592c-30.12 30.124-30.12 78.956.005 109.084 30.12 30.12 78.958 30.12 109.082 0z" fill="#004F94")
              path(d="M38.67 115.6c21.242 21.244 55.686 21.244 76.932 0 21.243-21.245 21.243-55.687 0-76.932-21.247-21.247-55.69-21.246-76.936 0-21.244 21.245-21.244 55.685.003 76.933" stroke="#DBEBF7" stroke-width="11" fill="#004F94")
              path(d="M54.507 99.76c12.496 12.497 32.757 12.497 45.255 0 12.496-12.496 12.496-32.756 0-45.253-12.498-12.498-32.76-12.498-45.256 0-12.497 12.497-12.497 32.755 0 45.254" stroke="#DBEBF7" stroke-width="11" fill="#004F94")
              path(d="M72.273 81.995a6.875 6.875 0 1 0 9.722-9.723 6.875 6.875 0 0 0-9.722 9.723" stroke="#DBEBF7" stroke-width="14" fill="#004F94")
              path(d="M73.766 75.93c-1.202 1.2-.82 3.522.38 4.72 1.196 1.198 3.522 1.58 4.72.38l35.686-30.444c4.206-.966 9.365-3.567 10.652-4.854l14.025-14.024-14.605-2.325L122.3 14.78l-15.024 15.024c-1.503 1.503-3.105 6.96-4.07 11.443L73.766 75.93z" fill="#004F94")
              path(d="M75.96 75.835c-1.148 1.15-1.74 2.413-.593 3.56 1.144 1.144 2.413.553 3.56-.594l31.25-30.064c4.022-.924 9.91-3.41 11.14-4.64l13.41-13.41-12.05.645.646-12.05-13.41 13.41c-1.437 1.437-2.97 7.61-3.89 11.898L75.96 75.835z" fill="#FF827D")
          .global-reasons__content.global-reasons__content--alternative
            h3.global-reasons__title Consistency
            p.global-reasons__text.
              Sharing components and working collaboratively
              on guidelines will naturally
              make our experiences more consistent.
              A key ingredient in making our customers life easier.

      .global-reasons__reason
        .global-reasons__row
          .global-reasons__image
            svg.global-reasons__icon(width="155" height="155" viewBox="0 0 155 155" xmlns="http://www.w3.org/2000/svg")
              mask(id="b" fill="#fff")
                path(d="M.606 72.24C1.888 54.39 9.352 36.904 23 23.26 34.305 11.95 48.245 4.887 62.844 2.07h29.38c14.603 2.818 28.552 9.882 39.86 21.19 12.397 12.398 19.69 27.965 21.883 44.095v20.89c-2.192 16.13-9.486 31.696-21.884 44.096-13.564 13.563-30.923 21.02-48.656 22.368H71.656C53.92 153.358 36.564 145.903 23 132.34 9.353 118.693 1.888 101.205.606 83.357V72.24z")
              path(d="M23.002 132.342c30.12 30.12 78.958 30.12 109.082 0 30.12-30.124 30.12-78.96 0-109.082-30.126-30.126-78.962-30.124-109.086-.002-30.122 30.124-30.122 78.956.004 109.084" fill="#004F94")
              path(d="M45.48 47.103L1.045 91.537c1.09 9.4-.9 19.4-.336 35.753l62.58-62.376-17.81-17.81z" fill="#1C74A7" mask="url(#b)")
              path(d="M50.974 102.15l55.66 55.66c9.943-.356 30.015 1.22 34.428-1.165l-72.28-72.303-17.808 17.81z" fill="#F1827C" mask="url(#b)")
              path(d="M112.622 103.283l43.872-43.82c0-12.405.114-22.67-.244-35.428L94.804 85.46l17.818 17.823z" fill="#EB557D" mask="url(#b)")
              path(d="M107.196 48.14L61.502 2.447c-10.047-.325-24.48-.554-36.336-.2l64.22 63.702 17.81-17.81z" fill="#FFE398" mask="url(#b)")
              path(d="M62.494 64.117l2.815-2.81L49.51 45.515l-2.81 2.812 15.792 15.79z" fill="#FFF" mask="url(#b)")
              path(d="M36.418 79.113c1.234 1.236 1.123 3.346-.24 4.71-1.362 1.365-3.47 1.473-4.71.236L19.707 72.292c-1.234-1.235-1.13-3.34.234-4.71 1.365-1.363 3.475-1.47 4.71-.234L36.42 79.112z" fill="#E7BAA2" mask="url(#b)")
              path(d="M40.58 73.39c1.21 1.21 1.09 3.303-.276 4.67-1.366 1.366-3.457 1.487-4.67.275L24.083 66.783c-1.21-1.21-1.09-3.304.276-4.667 1.366-1.366 3.457-1.49 4.67-.278L40.582 73.39z" fill="#E7BAA2" mask="url(#b)")
              path(d="M46.3 69.227c1.24 1.235 1.135 3.343-.233 4.712-1.365 1.36-3.47 1.467-4.71.23L29.594 62.403c-1.235-1.234-1.13-3.345.235-4.707 1.367-1.367 3.473-1.467 4.71-.233L46.3 69.227z" fill="#E7BAA2" mask="url(#b)")
              path(d="M52.22 65.257c1.28 1.275 1.207 3.42-.16 4.785-1.362 1.363-3.506 1.433-4.784.16L35.143 58.064c-1.278-1.273-1.204-3.41.164-4.78 1.36-1.364 3.503-1.438 4.78-.163l12.134 12.137z" fill="#E7BAA2" mask="url(#b)")
              path(d="M28.06 80.648l9.745 9.74L57.067 70.1l-4.643-4.643-24.363 15.19z" fill="#E7BAA2" mask="url(#b)")
              path(d="M56.64 69.674s5.04 4.774 5.76 6.68c.92 2.435-.74 4.253-.687 4.636.053.378 4.68 4.768 4.68 4.768L53.246 99.195 49.37 95.39s-4.393 5.45-8.6 2.97c-3.675-2.16-6.633-4.305-6.633-4.305l3.665-3.667 7.255-9.632L56.64 69.674z" fill="#E7BAA2" mask="url(#b)")
              path(d="M65.176 82.32l-15.79 15.79 2.814 2.815 15.792-15.79-2.816-2.816z" fill="#FFF" mask="url(#b)")
              path(d="M89.587 117.84c1.234-1.234 3.344-1.134 4.714.234 1.364 1.363 1.47 3.477.233 4.713L82.77 134.552c-1.234 1.235-3.348 1.13-4.713-.236-1.368-1.366-1.47-3.478-.232-4.714l11.762-11.762z" fill="#E7BAA2" mask="url(#b)")
              path(d="M83.868 113.676c1.212-1.214 3.3-1.096 4.67.274 1.365 1.363 1.483 3.456.275 4.667L77.257 130.17c-1.213 1.213-3.304 1.09-4.667-.273-1.366-1.37-1.49-3.457-.276-4.67l11.554-11.55z" fill="#E7BAA2" mask="url(#b)")
              path(d="M79.7 107.954c1.238-1.233 3.345-1.136 4.71.232 1.366 1.363 1.468 3.475.235 4.713L72.88 124.657c-1.233 1.237-3.346 1.135-4.713-.234-1.364-1.363-1.465-3.473-.23-4.707L79.7 107.954z" fill="#E7BAA2" mask="url(#b)")
              path(d="M75.733 102.032c1.275-1.276 3.413-1.206 4.78.162 1.366 1.365 1.438 3.507.165 4.783L68.54 119.11c-1.273 1.278-3.418 1.204-4.783-.16-1.366-1.37-1.44-3.507-.16-4.784l12.136-12.134z" fill="#E7BAA2" mask="url(#b)")
              path(d="M91.124 126.192l9.74-9.744-20.288-19.26-4.643 4.64 15.19 24.364z" fill="#E7BAA2" mask="url(#b)")
              path(d="M80.152 97.612s4.772-5.038 6.675-5.76c2.437-.916 4.254.744 4.64.69.372-.053 3.856-3.746 3.856-3.746l13.875 12.694-3.334 3.395s5.446 4.39 2.975 8.598c-2.164 3.675-4.313 6.635-4.313 6.635l-3.663-3.66-9.633-7.262-11.078-11.584z" fill="#E7BAA2" mask="url(#b)")
              path(d="M95.606 86.267l-2.808 2.81 15.786 15.79 2.812-2.812-15.79-15.788z" fill="#FFF" mask="url(#b)")
              path(d="M101.527 80.613s-5.036-4.772-5.76-6.68c-.915-2.432.743-4.25.69-4.634-.047-.38-4.677-4.767-4.677-4.767l12.797-13.776 4.227 4.144s4.386-5.447 8.596-2.974a91.496 91.496 0 0 1 6.632 4.31L120.37 59.9l-7.26 9.634-11.583 11.08zM121.756 71.178c-1.236-1.234-1.132-3.344.236-4.71 1.366-1.365 3.47-1.473 4.71-.235l11.762 11.763c1.235 1.235 1.133 3.345-.236 4.713-1.366 1.364-3.473 1.466-4.71.23l-11.762-11.762z" fill="#E7BAA2" mask="url(#b)")
              path(d="M117.592 76.902c-1.217-1.218-1.094-3.31.272-4.676 1.367-1.364 3.454-1.484 4.67-.27l11.55 11.552c1.213 1.21 1.093 3.304-.27 4.667-1.368 1.368-3.46 1.49-4.676.274L117.592 76.9z" fill="#E7BAA2" mask="url(#b)")
              path(d="M111.868 81.067c-1.238-1.24-1.13-3.347.235-4.713 1.367-1.366 3.47-1.472 4.71-.234l11.763 11.765c1.236 1.233 1.132 3.343-.23 4.71-1.367 1.362-3.48 1.47-4.717.233l-11.762-11.76z" fill="#E7BAA2" mask="url(#b)")
              path(d="M105.948 85.032c-1.28-1.277-1.205-3.415.16-4.78 1.365-1.366 3.51-1.44 4.785-.167l12.136 12.14c1.274 1.27 1.2 3.418-.166 4.783-1.365 1.366-3.505 1.433-4.78.16l-12.136-12.136z" fill="#E7BAA2" mask="url(#b)")
              path(d="M130.107 69.64l-9.738-9.74-19.265 20.29 4.64 4.642 24.362-15.19z" fill="#E7BAA2" mask="url(#b)")
              path(d="M92.997 67.97l15.79-15.79-2.813-2.813-15.79 15.788 2.813 2.814z" fill="#FFF" mask="url(#b)")
              path(d="M67.297 23.87l-10.28 10.283L77.845 52.87l4.64-4.642L67.298 23.87z" fill="#E7BAA2" mask="url(#b)")
              path(d="M68.556 32.478c-1.238 1.236-3.345 1.13-4.713-.237-1.366-1.362-1.474-3.47-.235-4.71l11.76-11.762c1.24-1.236 3.35-1.132 4.714.234 1.366 1.366 1.472 3.475.234 4.715l-11.76 11.76z" fill="#E7BAA2" mask="url(#b)")
              path(d="M74.277 36.64c-1.214 1.213-3.305 1.095-4.67-.273-1.368-1.365-1.49-3.452-.274-4.67l11.55-11.548c1.212-1.214 3.305-1.09 4.666.27 1.367 1.368 1.49 3.457.275 4.67L74.277 36.64z" fill="#E7BAA2" mask="url(#b)")
              path(d="M78.44 42.366c-1.233 1.237-3.345 1.13-4.708-.235-1.367-1.364-1.472-3.47-.236-4.71L85.26 25.657c1.235-1.237 3.347-1.133 4.71.235 1.367 1.36 1.47 3.473.234 4.71L78.44 42.366z" fill="#E7BAA2" mask="url(#b)")
              path(d="M82.408 48.286c-1.275 1.275-3.417 1.203-4.785-.165-1.36-1.364-1.43-3.504-.16-4.777l12.14-12.138c1.273-1.277 3.413-1.203 4.78.16 1.366 1.367 1.436 3.507.16 4.784L82.407 48.285zM77.99 52.703s-4.773 5.04-6.68 5.758c-2.433.922-4.342-.82-4.723-.77l-2.45 2.454L50.862 46.87l1.417-1.438s-5.45-4.393-2.978-8.6c2.163-3.675 4.308-6.63 4.308-6.63l3.667 3.665 9.632 7.256 11.08 11.58z" fill="#E7BAA2" mask="url(#b)")
          .global-reasons__content
            h3.global-reasons__title Community
            p.global-reasons__text.
              Collaborating across teams worldwide
              will create a vibrant and innovative
              community of user experience architects,
              designers, developers and potentially
              any digital discipline.
              Imagine all these brains getting together,
              exchanging and improving their work.

  .page-section.page-section--global.page-section--blue
    h2.global-heading How we'll start

    .global-reasons

      .global-reasons__reason
        .global-reasons__row
          .global-reasons__image.global-reasons__image--alternative
            svg.global-reasons__icon(width="155" height="155" viewBox="0 0 155 155" xmlns="http://www.w3.org/2000/svg")
              path(d="M131.677 131.676c30.12-30.124 30.12-78.96 0-109.082C101.55-7.532 52.717-7.53 22.59 22.592c-30.12 30.124-30.12 78.956.005 109.084 30.12 30.12 78.958 30.12 109.082 0z" fill="#FFE392")
              path(d="M111.608 125.134c0 2.402-2.03 4.34-4.534 4.34h-59.85c-2.504 0-4.535-1.938-4.535-4.34V40.016c0-2.395 2.03-4.336 4.533-4.336h59.85c2.504 0 4.535 1.94 4.535 4.336v85.118z" fill="#005B99")
              path(d="M106.06 122.466H49.09V41.804h56.97v80.662z" fill="#FFF")
              path(d="M91.816 32.08H86.3c-.527-3.73-3.867-6.606-7.908-6.606-4.044 0-7.382 2.876-7.91 6.607h-5.515c-1.694 0-3.073 1.318-3.073 2.943v5.846c0 1.624 1.38 2.94 3.073 2.94h26.85c1.693 0 3.07-1.316 3.07-2.94v-5.847c0-1.625-1.377-2.942-3.07-2.942m-13.374 1.134c-1.385 0-2.512-1.076-2.512-2.4 0-1.327 1.128-2.4 2.513-2.4s2.51 1.073 2.51 2.4c0 1.324-1.125 2.4-2.51 2.4" fill="#1C74A7")
              path(d="M98.935 59.997H81.1v-3.903h17.835v3.903zM93.037 66.12H81.1V62.22h11.937v3.903z" fill="#00599C")
              path(d="M61.317 67.466l-5.52-7.99c-.558-.802-.327-1.874.51-2.407.836-.53 1.96-.307 2.513.487l2.938 4.25 8.643-9.22c.67-.713 1.815-.772 2.564-.133.744.643.802 1.74.14 2.45L61.318 67.467z" fill="#EC2B53")
              path(d="M98.935 82.455H81.1v-3.907h17.835v3.907zM93.037 90.613H81.1v-3.9h11.937v3.9z" fill="#00599C")
              path(d="M61.317 89.92l-5.52-7.996c-.558-.796-.327-1.872.51-2.405.836-.53 1.96-.307 2.513.49l2.938 4.25 8.643-9.22a1.878 1.878 0 0 1 2.564-.132c.744.64.802 1.735.14 2.448L61.318 89.92z" fill="#EC2B53")
              path(d="M98.935 106.947H81.1v-3.903h17.835v3.903zM93.037 113.07H81.1v-3.902h11.937v3.903z" fill="#00599C")
              path(d="M61.317 114.414l-5.52-7.99c-.558-.803-.327-1.874.51-2.403.836-.53 1.96-.31 2.513.49l2.938 4.25 8.643-9.224a1.875 1.875 0 0 1 2.564-.13 1.69 1.69 0 0 1 .14 2.45l-11.787 12.558z" fill="#EC2B53")

          .global-reasons__content.global-reasons__content--alternative
            h3.global-reasons__title Design Guidelines
            p.global-reasons__text.
              A set of accessible best practices and
              branded guidelines will answer
              all our digital brand, usability and design questions.
              If not, we’ll extend them.

      .global-reasons__reason
        .global-reasons__row
          .global-reasons__image
            svg.global-reasons__icon(width="155" height="155" viewBox="0 0 155 155" xmlns="http://www.w3.org/2000/svg")
              mask(id="mask" fill="#fff")
                path(d="M131.677 131.676c30.12-30.124 30.12-78.96 0-109.082C101.55-7.532 52.717-7.53 22.59 22.592c-30.12 30.124-30.12 78.956.005 109.084 30.12 30.12 78.958 30.12 109.082 0z")
              g(mask="url(#mask)")
                path(d="M131.677 131.676c30.12-30.124 30.12-78.96 0-109.082C101.55-7.532 52.717-7.53 22.59 22.592c-30.12 30.124-30.12 78.956.005 109.084 30.12 30.12 78.958 30.12 109.082 0z" fill="#FFE392")
                path(d="M25 10h22.486v2.2H25V10zM25 16h22.486v2.2H25V16zM19 22h12v2.2H19V22zM-1 69h12v2.2H-1V69z" fill="#004F94")
                path(d="M15 69h12v2.2H15V69z" fill="#000")
                path(d="M31 69h16v2.2H31V69zM16 127h31v2.2H16V127z" fill="#004F94")
                path(d="M35 121h12v2.2H35V121z" fill="#000")
                path(d="M5 121h26v2.2H5V121zM-9 75h56v2.2H-9V75zM-9 81h56v2.2H-9V81z" fill="#004F94")
                path(d="M-1 35h48.486v25H-1V35zM-1 95h48.486v17H-1V95z" fill="#FF827D")
                path(d="M58-2h110.022v161H58V-2z" fill="#363F49")
                path(d="M70 10h22.486v2.2H70V10zm0 17.1h6.324v2.2H70v-2.2z" fill="#ADDBE1")
                path(d="M96 10h8.934v2.2H96V10z" fill="#EF8261")
                path(d="M78 27h22.888v2.2H78V27z" fill="#666B74")
                path(d="M76 16h10.038v2.2H76V16zm0 28.7h10.038v2.2H76v-2.2z" fill="#ADDBE1")
                path(d="M70 79h16.463v2.2H70V79z" fill="#E5E4E4")
                path(d="M76 49.8h4.116V52H76v-2.2zM88.448 44h26.3v2.2h-26.3V44zm-1.606 17.5h25.598v2.2H86.842v-2.2zm-5.42 63.2h9.134v2.2H81.42v-2.2z" fill="#ADDBE1")
                path(d="M115.702 85h9.436v2.2h-9.436V85zM89 113.7h17.768v2.2H89v-2.2zm5.822 11.7h20.88v2.2h-20.88v-2.2z" fill="#E5E4E4")
                path(d="M132.158 96.5h7.63v2.2h-7.63v-2.2zM117 62h18.973v2.2H117V62z" fill="#EF8261")
                path(d="M117.86 44.7h18.973v2.2H117.86v-2.2zm22.788 0h11.644v2.2h-11.644v-2.2zM76 33h15.058v2.2H76V33zm0 5.8h21.382V41H76v-2.2zm5.722 11.7h24.494v2.2H81.722v-2.2z" fill="#666B74")
                path(d="M76 91h24.494v2.2H76V91z" fill="#E5E4E4")
                path(d="M76 96h26.903v2.2H76V96z" fill="#666B74")
                path(d="M99 119h47.582v2.2H99V119z" fill="#EF8261")
                path(d="M122.062 124.7h10.44v2.2h-10.44v-2.2zM106 96h23.29v2.2H106V96zm7.63 17h23.288v2.2h-23.29V113z" fill="#666B74")
                path(d="M82.046 56h7.93v2.2h-7.93V56zm0 11.7h8.633v2.2h-8.634v-2.2zm-5.722 17h36.34v2.2h-36.34v-2.2zM70 113.4h16.262v2.2H70v-2.2zm6.324 5.9h18.57v2.2h-18.57v-2.2z" fill="#ADDBE1")
                path(d="M92 56h47.783v2.2H92V56z" fill="#E5E4E4")
                path(d="M81 102h15.258v2.2H81V102z" fill="#666B74")
                path(d="M102 102h42.262v2.2H102V102z" fill="#E5E4E4")
                path(d="M111 50h16.062v2.2H111V50z" fill="#EF8261")
                path(d="M100 38h21.382v2.2H100V38z" fill="#666B74")
                path(d="M122 38h17.567v2.2H122V38z" fill="#EF8261")
                path(d="M146.617 38.8h9.536V41h-9.536v-2.2zM96.123 33h23.09v2.2h-23.09V33zM90 16h22.888v2.2H90V16z" fill="#E5E4E4")
          .global-reasons__content
            h3.global-reasons__title Web Toolkit
            p.global-reasons__text.
              A Bootstrap-like web toolkit will
              provide common components for our
              developers to use and extend.
              The toolkit will be continuously
              delivered and collaboratively developed.

      .global-reasons__reason
        .global-reasons__row
          .global-reasons__image.global-reasons__image--alternative
            svg.global-reasons__icon(width="155" height="155" viewBox="0 0 155 155" xmlns="http://www.w3.org/2000/svg")
              mask(id="mask" fill="#fff")
                path(d="M131.677 131.676c30.12-30.124 30.12-78.96 0-109.082C101.55-7.532 52.717-7.53 22.59 22.592c-30.12 30.124-30.12 78.956.005 109.084 30.12 30.12 78.958 30.12 109.082 0z")
              path(d="M131.677 131.676c30.12-30.124 30.12-78.96 0-109.082C101.55-7.532 52.717-7.53 22.59 22.592c-30.12 30.124-30.12 78.956.005 109.084 30.12 30.12 78.958 30.12 109.082 0z" fill="#FFE392")
              path(d="M117.132 118.048h-5.864v-37.14c0-1.08-.875-1.954-1.954-1.954h-19.55c-1.08 0-1.953.875-1.953 1.954v37.14H38.94a1.958 1.958 0 0 1-1.953-1.953V62.23h82.098v53.864a1.956 1.956 0 0 1-1.953 1.954z" fill="#004F94" mask="url(#mask)")
              path(d="M33.372 66.7c-.245-.25-.404-.707-.437-1.24l6.185-17.732a1.886 1.886 0 0 0 .104-.607v-4.027a1.85 1.85 0 0 1 1.847-1.847H115c1.017 0 1.846.83 1.846 1.847v4.028c0 .207.036.413.105.608l6.21 17.8c0 .285-.05.883-.343 1.21-.18.208-89.362.047-89.445-.037z" fill="#ED1745" mask="url(#b)")
              path(d="M104.474 64.818c.257 1.276.41 2.092.39 2.145a7.072 7.072 0 0 0 7.07 7.07c3.906 0 7.07-3.17 7.07-7.07 0-.112.073-.473.073-.473l-.187-.63a4.32 4.32 0 0 1-.306-.477c-.107-.197-.415-.96-.48-1.178l-4.187-14.074a1.78 1.78 0 0 0-1.7-1.267h-8.915c-.537 0-1.043.243-1.382.658-.336.42-.464.967-.35 1.49 1 4.618 2.565 11.948 2.912 13.808h-.008zM86.7 50.278l1.446 15.988s.02.188-.028.456a6.814 6.814 0 0 0 6.812 6.812 6.814 6.814 0 0 0 6.812-6.812c0-.11-.027-.206-.034-.31h.06c-.026-.085-.035-.146-.035-.146L98.99 49.938a1.774 1.774 0 0 0-1.63-1.075h-8.923a1.77 1.77 0 0 0-1.737 1.415zM71.87 50.148l-.62 16.118s0 .06-.007.145h.012c-.004.106-.032.203-.032.312a6.815 6.815 0 0 0 6.812 6.812 6.814 6.814 0 0 0 6.812-6.812c0-.11-.027-.208-.032-.31h.024l-.016-.146-.62-16.107a1.776 1.776 0 0 0-1.71-1.297h-8.92c-.806 0-1.49.542-1.704 1.285zM54.34 66.266s0 .06-.01.145c.023.106-.006.203-.006.312a6.814 6.814 0 0 0 6.812 6.812 6.814 6.814 0 0 0 6.813-6.812c0-.11-.028-.208-.034-.31.01-.085.006-.146.006-.146l1.447-16a1.774 1.774 0 0 0-1.735-1.402h-8.92c-.724 0-1.362.436-1.633 1.08l-2.74 16.32zM37.238 65.69l-.238.8s-.005.082-.005.15h.025c-.004.11-.034.21-.034.323 0 3.9 3.163 7.07 7.07 7.07 3.906 0 7.07-3.17 7.07-7.07 0-.014-.004-.028-.004-.038-.01-.057.192-1.065.514-2.604.34-1.644 1.1-5.174 1.845-8.613.37-1.706.73-3.37 1.042-4.795a1.77 1.77 0 0 0-1.75-2.048h-8.917c-.786 0-1.475.517-1.7 1.268l-4.183 14.073c-.01.03-.01.066-.018.1a6.19 6.19 0 0 1-.54 1.134 4.92 4.92 0 0 1-.176.25z" fill="#FF827D" mask="url(#b)")
              path(d="M78.036 78.954H46.76c-1.08 0-1.955.875-1.955 1.954v27.367c0 1.08.875 1.954 1.954 1.954h31.275c1.08 0 1.955-.876 1.955-1.955V80.908c0-1.08-.873-1.954-1.954-1.954z" fill="#DBEBF7" mask="url(#mask)")
          .global-reasons__content.global-reasons__content--alternative
            h3.global-reasons__title Showcase
            p.global-reasons__text.
              Great web experiences will be promoted
              in our very own showcase gallery.
              An encouraging way for teams to connect with each other,
              exchanging knowledge and insights.

  .page-section.page-section--global
    h2.global-heading Like what you read?

    .global-subscribe
      .global-subscribe__row
        .global-subscribe__image
          svg.global-subscribe__icon(width="155" height="155" viewBox="0 0 155 155" xmlns="http://www.w3.org/2000/svg")
            path(d="M131.677 131.676c30.12-30.124 30.12-78.96 0-109.082C101.55-7.532 52.717-7.53 22.59 22.592c-30.12 30.124-30.12 78.956.005 109.084 30.12 30.12 78.958 30.12 109.082 0z" fill="#FF827D")
            path(d="M68.273 75.006L39.08 101.04a5.017 5.017 0 0 0 4.69 3.257h67.352a5.02 5.02 0 0 0 4.693-3.257L86.622 75.006h-18.35z" fill="#FFF")
            path(d="M86.77 75.138l29.045 25.903a5.257 5.257 0 0 1-.345.723l.01.01a4.998 4.998 0 0 0 .676-2.513V50.174L86.77 75.138zM39.08 101.04L68.123 75.14 38.74 50.174V99.26c0 .92.246 1.774.675 2.513l.01-.007a5.014 5.014 0 0 1-.345-.725" fill="#E3EFF9")
            path(d="M77.448 89.258L96.78 69.66l19.34-19.593H38.777L58.114 69.66 77.448 89.26z" fill="#E3EFF9")
            path(d="M77.448 84.254L96.78 67.212l19.34-17.037H38.777l19.337 17.037 19.333 17.042z" fill="#FFF")

        .global-subscribe__body
          p.global-subscribe__text.
            Stay updated, #[br] subscribe to our hot newsletter!

          a.global-subscribe__button.button2.button2-primary.button2-primary--blue(href="#", data-subscribe) Keep Me Updated

          p.global-subscribe__notice.
            We will let you know when there
            are news and there sure will be great ones!

  .page-section.page-section--global.page-section--gray
    h2.global-heading FAQ

    .global-faq.collapse(data-collapse)
      .collapse__panels__top-border
      ul.collapse__panels
        li.collapse__panels__item
          a.collapse__panels__item__header(href="#", data-trigger="public")
            span.collapse__panels__item__header__text Why is this public?
            svg.icon.icon--toggle.collapse__panels__item__header__icon(viewBox="0 0 24 24", data-trigger="public")
              path.horizontal(d='M0 11h24v2H0z',fill="currentColor")
              path.vertical(d='M13 0h-2v24h2z',fill="currentColor")
          .collapse__panels__item__body.is-hidden(data-panel="public")
            p.
              We think that in order to reach as many
              people and disciplines as possible we need to keep this
              initiative open and accessible. This is why we like
              keeping things public.
            p.
              Moreover, we'd like to continue developing the
              Web Guidelines publicly, we really believe that
              we'll get more contributors and activity if there
              is no hurdle of authentication.

          .collapse__panels__item__border
        li.collapse__panels__item
          a.collapse__panels__item__header(href="#", data-trigger="mobile")
            span.collapse__panels__item__header__text Will there be a #[strong Mobile] Style Guide, too?
            svg.icon.icon--toggle.collapse__panels__item__header__icon(viewBox="0 0 24 24", data-trigger="mobile")
              path.horizontal(d='M0 11h24v2H0z',fill="currentColor")
              path.vertical(d='M13 0h-2v24h2z',fill="currentColor")
          .collapse__panels__item__body.is-hidden(data-panel="mobile")
            p.
              It totally makes sense to expand
              an initiative like this one to the mobile world, too.
            p.
              However, our first priority is to set up
              a web-focused style guide using the experience
              we've gained over the past years doing this in a
              local environment.
            p.
              If you are coming from the native mobile world
              and you are willing to integrate mobile guidelines,
              let's get in touch.
          .collapse__panels__item__border
        li.collapse__panels__item
          a.collapse__panels__item__header(href="#", data-trigger="contribute")
            span.collapse__panels__item__header__text How do I contribute?
            svg.icon.icon--toggle.collapse__panels__item__header__icon(viewBox="0 0 24 24", data-trigger="contribute")
              path.horizontal(d='M0 11h24v2H0z',fill="currentColor")
              path.vertical(d='M13 0h-2v24h2z',fill="currentColor")
          .collapse__panels__item__body.is-hidden(data-panel="contribute")
            p.
              We love and absolutely need contributors from
              all web-related disciplines.
            p.
              Make sure you get in touch with us and tell
              us where you'd like to help.
            p
              a.link(href="#", data-chat) Give us a shout.
          .collapse__panels__item__border
        li.collapse__panels__item
          a.collapse__panels__item__header(href="#", data-trigger="another")
            span.collapse__panels__item__header__text I have another question.
            svg.icon.icon--toggle.collapse__panels__item__header__icon(viewBox="0 0 24 24", data-trigger="another")
              path.horizontal(d='M0 11h24v2H0z',fill="currentColor")
              path.vertical(d='M13 0h-2v24h2z',fill="currentColor")
          .collapse__panels__item__body.is-hidden(data-panel="another")
            p.
              Simply get in touch with the team
              using #[a.link(href="#", data-chat) our chat].
              If it's a question whose answer might
              be of general interest, we'll add another
              entry to our FAQ.
          .collapse__panels__item__border

  .page-section.page-section--global.global__section--heart
    .global-heart
      svg.global-heart__icon(width="82" height="77" viewBox="0 0 82 77" xmlns="http://www.w3.org/2000/svg")
        path(d="M40.492 20.616C40.492 9.26 31.287.026 19.93.026 8.574.027.066 9.074.066 20.437c0 1.453-.2 3.014.094 4.39.255 3.094 3.585 34.917 40.332 51.57v.63c0-.103-.234-.213 0-.32.228.107 0 .217 0 .32v-.637C77.24 59.772 80.512 28.067 80.82 24.84c.295-1.382.257-2.78.257-4.246C81.077 9.236 72.41 0 61.057 0 49.7 0 40.49 9.26 40.49 20.616" fill="#ED1745" fill-rule="evenodd")

      p.global-heart__text.
        Thanks to Thomas Helbig, DE (Bubble Quote),
        Simon Mettler, CH (Rocket)
        and Douglas Santos, BR (Store)
        for licensing their
        great work under #[a.global-heart__link(href="http://creativecommons.org/licenses/by/3.0/us/", target="_blank") CC BY 3.0 US]
        and making it possible for us to use it!
