---
title: Going Global
template: page.jade
landing: true
description: We're making this global!
---

.global
  .page-section

    .global__map
      picture.global__map__visual
        img.global__map__visual__image(src='/images/global/map.png', alt='World Map', data-object-fit='cover')
      .global__map__content
        .global__map__content__container
          h1 Web Style Guide

          p.
            Introducing a unified way
            to build web interactions at AXA.

  .page-section
    p.
      As AXA, we're building lots of
      new and exciting user experiences.
    
    p.
      Now let's create a global platform that
      lets our teams share components,
      patterns and guidelines.
      
  .page-section
    blockquote(cite="#")
      p.
        We want to be key players in the technology revolution,
        not followers.
      footer
        span —
        = ' '
        a(href="#") Henry de Castries, CEO AXA
      
  .page-section
    h2 Things we get from such a platform
    
    section
      h3 Speed
      p.
        Collecting UX best practices,
        designs and UI components allows our
        product teams get up and running faster
        reusing the fundamentals and
        focusing on key customer value.
      
    section
      h3 Consistency
      p.
        Sharing components and collaboratively
        working on guidelines will naturally
        make our experience more consitent,
        making life easier for our customers.
    
    section
      h3 Community
      p.
        Collaborating across teams worldwide
        will create a vibrant and innovative
        community of user experience architects,
        designers, developers and potentially
        any digital discipline.
        Imagine all these brains getting together,
        exchanging and improving their work.
    
    .page-section
      h2 How we'll start
      
      section
        h3 Design Guidelines
        p.
          A set of best practices and
          branded guildelines will answer
          all our brand, UX and design questions.
          If not, we’ll extend them.
      
      section
        h3 Web Toolkit
        p.
          A Bootstrap-like web toolkit will
          provide common components for our
          developers to use and extend.
          The toolkit will be continuously
          delivered and collaboratively developed.
          
      section
        h3 Showcase
        p.
          Great web experiences will be promoted
          on our very own showcase,
          encouraging teams to connect to each other.
  
  .page-section
    h2 Like what you read?

    p.
      Stay updated, subscribing to our hot newsletter.
    
    a(href="#", data-subscribe) Keep Me Updated
    
    p.
      We will let you know when there
      are news ant there sure will be great ones!

  .page-section
    h2 FAQ
    
    section
      header.
        Will there be a #[strong Mobile] Style Guide, too?
      
      p.
        It totally makes sense to expand
        an initiative like this one to the mobile world, too.
      
      p.
        However, our first priority is to set up
        a web-focused style guide using the experience
        we've gained over the past years doing this in a
        local environment.
      
      p.
        If you are coming from the native mobile world
        and you are willing to integrate mobile guidelines,
        let's get in touch.
      
    section
      header.
        How do I contribute?
      
      p.
        We love and absolutely need contributors from
        all web-related disciplines.
      
      p.
        Make sure you get in touch with us and tell
        us where you'd like to help.
        
      p
        a(href="#", data-contribute) Give us a shout.

    section
      header.
        I have another question.
      
      p.
        Simply get in touch with the team
        using #[a(href="#") our chat].
        If it's a question whose answer might
        be of general interest, we'll add another
        entry to our FAQ.

  .page-section
    // heart
