---
title: Going Global
template: page.jade
landing: true
description: We're making this global!
---

.global
  .page-section
    .global__map
      picture.global__map__visual
        img.global__map__visual__image(src='/images/global/map.png', alt='World Map', data-object-fit='cover')
      .global__map__content
        .global__map__content__container
          .page-title
            h1.page-title__heading.global__map__content__container__heading Web Style Guide
          .text
            .text__content.text__content--narrow.text__content--center.global__map__content__container__text
              p
                | A unified way to build web interactions
                br
                | across all of AXA.

  .page-section
    .icon-teaser(data-icon-teaser)
      .icon-teaser__items(data-icon-teaser-container)
        - var items = []
        - items.push({ icon: 'speed', title: 'Speed', text: '' })
        - items.push({ icon: 'consistency', title: 'Consistency', text: '' })
        - items.push({ icon: 'community', title: 'Community', text: '' })
        each item in items
          .icon-teaser__item(data-icon-teaser-panel, data-title=item.title)
            .icon-teaser__item__icon-wrapper
            .icon-teaser__item__title= item.title
            .icon-teaser__item__text= item.text

  .page-section.page-section--padded
    .text
      .text__content.text__content--narrow.text__content--lead.text__content--center
        p Are you willing to be part of that?
        p Joining our community is as easy as one click!
    .global__cta
      a.global__cta__button.button(href="#", data-subscribe) Keep Me Updated
    .text
      .text__content.text__content--narrow.text__content--center
        p You'll be the first to hear about exciting news!
      
  .page-section.page-section--alternative.page-section--padded
    .global__faq
      h1.global__faq__title Frequently Asked Questions
      .global__faq__collapse.collapse(data-collapse, data-single)
        .collapse__panels__top-border
        ul.collapse__panels
          li.collapse__panels__item
            a.collapse__panels__item__header(href="#", data-trigger="mobile")
              span.collapse__panels__item__header__text Is there going to be a Mobile Style Guide too?
              svg.icon.icon--toggle.collapse__panels__item__header__icon(viewBox="0 0 24 24", data-trigger="mobile")
                path.horizontal(d='M0 11h24v2H0z',fill="currentColor")
                path.vertical(d='M13 0h-2v24h2z',fill="currentColor")
            .collapse__panels__item__body.is-hidden(data-panel="mobile").
            .collapse__panels__item__border
          li.collapse__panels__item
            a.collapse__panels__item__header(href="#", data-trigger="contribute")
              span.collapse__panels__item__header__text I'd like to contribute! How do I do that?
              svg.icon.icon--toggle.collapse__panels__item__header__icon(viewBox="0 0 24 24", data-trigger="contribute")
                path.horizontal(d='M0 11h24v2H0z',fill="currentColor")
                path.vertical(d='M13 0h-2v24h2z',fill="currentColor")
            .collapse__panels__item__body.is-hidden(data-panel="contribute").
            .collapse__panels__item__border

  .page-section.page-section--padded
