---
title: UI Patterns
order: 3
collection: navigation
children: patterns/*
template: page.jade
description: Find out more about certain special topics.
thumbnail: /images/home/UI_Patterns.svg
headline: false
---
  
.hero
  .hero__image
    img(src=relative('/images/pattern/uipattern.svg')).hero__image__img
  .hero__content
    .hero__content__headline #{title}
    p.paragraph.
      Is it the same or the same it is? In the menu you'll' find patterns that will make our websites and applications truly consistent.
    p.paragraph.
      Now start exploring, building and being awesome.

//- Copyright AXA Versicherungen AG 2015
