---
title: UI Patterns
order: 3
collection: navigation
children: patterns/*
template: page.jade
description: Find out more about certain special topics.
thumbnail: /images/home/UI_Patterns.svg
headline: false
---
  
.hero
  .hero__image
    img(src=relative('/images/pattern/uipattern.svg')).hero__image__img
  .hero__content
    .hero__content__headline #{title}
    p.paragraph.
      You can find all UI Patterns in the menu on your left hand side. Now start exploring, building and being awesome.

//- Copyright AXA Versicherungen AG 2015
