---
title: Icons
order: 3
collection: nav__fundamentals__design
template: page.jade
---

p.paragraph.
  An icon is a graphic that takes up a small portion of screen and provides a quick, intuitive representation of an action or a status.

p.paragraph.
  For all AXA Applications use Helveticons, which are based on the Helvetica Bold typeface.  If you need further icons please contact us.

.downloads
  .downloads__item
    a(href=relative('/content/Helveticons-basic-preview.png')).downloads__link Helveticons-basic-preview.png
  .downloads__item
    a(href=relative('/content/Helveticons-additional-preview.png')).downloads__link Helveticons-additional-preview.png
  .downloads__item
    a(href=relative('/content/Helveticons-extras-preview.png')).downloads__link Helveticons-extras-preview.png

.icons
  ul.icons-list
    each icon in icons
      li.icons-list__item
        svg.icons-list__icon.icon-svg
          use(xlink:href=relative('/images/icons.svg#' + icon.name))
        span.icons-list__text=icon.name

// Copyright AXA Versicherungen AG 2015
