---
title: Examples
slug: examples
segment: examples
template: examples.jade
---

.l-row
  each example in examples
    .thumbnail.l-third
      a.thumbnail__img-link(href="pages/" + example.filename)
        img.thumbnail__img(src="images/" + example.thumbnail)
      h2.thumbnail__heading= example.title
      p.thumbnail__text= example.description

// Copyright AXA Versicherungen AG 2015
