---
title: AXA Button
layout: demo.hbs
---

<p>
  <button type="button" class="btn btn-lg btn-axa">Large Button</button>
</p>

<p>
  <button type="button" class="btn btn-axa">Default Button</button>
</p>

<p>
  <button type="button" class="btn btn-sm btn-axa">Small Button</button>
</p>

<p>
  <button type="button" class="btn btn-axa" disabled>Disabled Button</button>
</p>
