---
title: AXA Button
layout: demo.hbs
---
<div style="padding: 20px;">
  <a class="axa-arrow-link-blue">Third link {{> icon name="btn-arrow" classes="icon"}}</a>
</div>
<div style="padding: 20px;">
  <a class="axa-icon-link-blue">{{> icon name="download" classes="icon"}} Third link</a>
</div>
<div style="padding: 20px;">
  <ul class="axa-links">
    <li>
      <a class="axa-arrow-link-blue">{{> icon name="btn-arrow" classes="icon"}} Third link</a>
    </li>
    <li>
      <a class="axa-arrow-link-blue">{{> icon name="btn-arrow" classes="icon"}} Third link</a>
    </li>
    <li>
      <a class="axa-arrow-link-blue">{{> icon name="btn-arrow" classes="icon"}} Third link</a>
    </li>
  </ul>
</div>

<div style="padding: 20px;">
  <a class="axa-arrow-link-red">Third link {{> icon name="btn-arrow" classes="icon"}}</a>
</div>
<div style="padding: 20px;">
  <a class="axa-icon-link-red">{{> icon name="download" classes="icon"}} Third link</a>
</div>
<div style="padding: 20px;">
  <ul class="axa-links">
    <li>
      <a class="axa-arrow-link-red">{{> icon name="btn-arrow" classes="icon"}} Third link</a>
    </li>
    <li>
      <a class="axa-arrow-link-red">{{> icon name="btn-arrow" classes="icon"}} Third link</a>
    </li>
    <li>
      <a class="axa-arrow-link-red">{{> icon name="btn-arrow" classes="icon"}} Third link</a>
    </li>
  </ul>
  <div style="padding: 20px;">
    <ul class="axa-links">
      <li>
        <button class="btn btn-link">Link Button</button>
      </li>
      <li>
        <button class="btn btn-link" disabled>Disabled Link Button</button>
      </li>
    </ul>
  </div>
</div>
