---
title: Ghost Button
layout: demo.hbs
---
<div style="padding: 20px;">
  <button type="button" class="btn btn-ghost btn-lg">Ghost Button</button>
</div>
<div style="padding: 20px;">
  <button type="button" class="btn btn-ghost">Ghost Button</button>
</div>
<div style="padding: 20px;">
  <button type="button" class="btn btn-ghost btn-sm">Ghost Button</button>
</div>
<div style="padding: 20px;">
  <button type="button" class="btn btn-ghost" disabled>Disabled Ghost Button</button>
</div>

<div style="background-color: rgb(52, 60, 63); padding: 20px;">
  <button type="button" class="btn btn-ghost btn-lg btn-ghost-white">Ghost Button</button>
</div>
<div style="background-color: rgb(52, 60, 63); padding: 20px;">
  <button type="button" class="btn btn-ghost btn-ghost-white">Ghost Button</button>
</div>
<div style="background-color: rgb(52, 60, 63); padding: 20px;">
  <button type="button" class="btn btn-ghost btn-sm btn-ghost-white">Ghost Button</button>
</div>

