---
title: Icon Button
layout: icon-font-demo.hbs
---
<div style="padding: 20px;">
  <button type="button" class="btn btn-axa btn-icon-arrow">Fallback Icon Button SVG{{> icon name="btn-arrow" classes="icon btn-icon"}}</button>
</div>
<div style="padding: 20px;">
  <button type="button" class="btn btn-ghost btn-icon-arrow">Ghost Button{{> icon name="btn-arrow" classes="btn-icon-blue icon btn-icon"}}</button>
</div>
