---
title: Standard Button
layout: demo.hbs
---
<p>
  <button type="button" class="btn btn-primary">Primary Button</button>
</p>
<p>
  <button type="button" class="btn btn-primary btn-lg ">Large Button</button>
</p>
<p>
  <button type="button" class="btn btn-primary btn-sm">Small Button</button>
</p>
<p>
  <button type="button" class="btn btn-primary" disabled>Disabled Button</button>
</p>

