---
title: Templates
description: A collection of real-world templates built using the AXA Web Toolkit.
nav: side/templates
order: 98
---

{{#> page}}
  {{#*inline "content"}}

    <h1 class="h2">{{title}}</h1>

    <h2 id="overview" class="h3">Overview</h2>

    <p>{{description}}</p>

  {{/inline}}
{{/page}}
