include ./mixins.jade

.example__header
  .example__device-selection
    a.example__device-selection__device.example__device-selection__mobile
      +svg('mobile', ['icon-svg', 'example__device-selection__icon'])
    a.example__device-selection__device.example__device-selection__tablet
      +svg('tablet', ['icon-svg', 'example__device-selection__icon'])
    a.example__device-selection__device.example__device-selection__desktop.is-active
      +svg('desktop', ['icon-svg', 'example__device-selection__icon'])

//- Copyright AXA Versicherungen AG 2015
