.example__header
  .example__device-selection
    a.example__device-selection__device.example__device-selection__mobile
      svg.icon-svg.example__device-selection__icon
        use(xlink:href=relative('/images/icons.svg#mobile'))
    a.example__device-selection__device.example__device-selection__tablet
      svg.icon-svg.example__device-selection__icon
        use(xlink:href=relative('/images/icons.svg#tablet'))
    a.example__device-selection__device.example__device-selection__desktop.is-active
      svg.icon-svg.example__device-selection__icon
        use(xlink:href=relative('/images/icons.svg#desktop'))
