mixin svg(id, classes, config)
  - config = config || {}
  - config.attrs = config.attrs || {}
  - path = relative(config.path || '/images/icons.svg') + '#' + id
  svg(class=classes)&attributes(config.attrs)
    use(xlink:href=path)

//- Copyright AXA Versicherungen AG 2015
