---
title: AXA Button
layout: demo.hbs
---

<div class="form-steps">
    <div class="form-steps__wrapper">
        <div class="form-steps__prev"></div>
        <a href="#" class="form-steps__step form-steps__step--done">
            <div class="form-steps__step__number">step 1</div>
            <div class="form-steps__step__count">step 1/3</div>
            <div class="form-steps__step__title">Your vehicle</div>
        </a>
        <a href="#" class="form-steps__step form-steps__step--active">
            <div class="form-steps__step__number">step 2</div>
            <div class="form-steps__step__count">step 2/3</div>
            <div class="form-steps__step__title">Your personal details</div>
        </a>
        <a href="#" class="form-steps__step">
            <div class="form-steps__step__number">step 3</div>
            <div class="form-steps__step__count">step 3/3</div>
            <div class="form-steps__step__title">Driver details</div>
        </a>
        <div class="form-steps__next"></div>
    </div>
</div>
