---
title: Autogrow
template: development.jade
---

h2.heading.heading--secondary Intro

p.paragraph.
  The Autogrow plugin is used to make a textarea element grow in height as the
  user is typing. It respects the min-height and max-height CSS properties
  of the textarea.

h2.heading.heading--secondary Usage

p.paragraph Activate the functionality with the data-* API

:sample
  textarea.control.control--textarea(data-autogrow="autogrow")

p.paragraph Activate the functionality with JavaScript:

.highlight
  pre.highlight__listing.hljs: code.js
    :highlight
      $('.control--textarea').autogrow()

h3 Options

p.paragraph.
  None.
// Copyright AXA Versicherungen AG 2015
