---
title: Autocomplete
slug: autocomplete
collection: development_plugins
template: development.jade
status: experimental
---

h3 Intro

blockquote.callout.callout--danger.
  This plugin is a very basic example of an autocomplete component.
  It is by no means complete.

p.
  Use your own library to create appropriate autocomplete components and style
  it according to the <code>autocomplete</code> block.


h3 Example

:sample
  .autocomplete
    input.control.control--input(type='text', id='autocomplete-input')

script.
  $('#autocomplete-input').autocomplete({
    source: ['8000 Zürich', '8400 Winterthur', '8460 Marthalen']});

p Activate the functionality with Javascript

.highlight
  pre.highlight__listing.hljs: code.js
    :highlight
      <div class="autocomplete">
        <input id="autocomplete-input" type="text" class="control control--input"/>
      </div>

      <script>
        $('#autocomplete-input').autocomplete({
          source: ['8000 Zürich', '8400 Winterthur', '8472 Seuzach']});
      </script>



h4 Options

table.table
  thead
    tr.table__header
      th.table__header__item Name
      th.table__header__item Type
      th.table__header__item Default
      th.table__header__item Description
  tbody.table__content
    tr.table__item
      td.table__item__info
        code.table__item__info__content source
      td.table__item__info
        code.table__item__info__content array
      td.table__item__info
        code.table__item__info__content false
      td.table__item__info
        p.table__item__info__content.
          Source to filter and create the dropdown-list.
