---
title: Autocomplete
template: development.jade
---

h2.heading.heading--secondary Intro

p.callout.callout--danger.
  This plugin is only a very basic example of an autocomplete component.
  It is by no means complete.

p.paragraph.
  Use your own library to create appropriate autocomplete components and style
  it according to the <code>autocomplete</code> block.

p.callout.
  Try typing '8' to toggle the autocomplete dropdown.

h2.heading.heading--secondary Example

:sample
  .autocomplete
    input.control.control--input(type='text', id='autocomplete-input')

script.
  $('#autocomplete-input').autocomplete({
    source: ['8000 Zürich', '8400 Winterthur', '8460 Marthalen']});

p.paragraph Activate the functionality with Javascript

.highlight
  pre.highlight__listing.hljs: code.js
    :highlight
      <div class="autocomplete">
        <input id="autocomplete-input" type="text" class="control control--input"/>
      </div>

      <script>
        $('#autocomplete-input').autocomplete({
          source: ['8000 Zürich', '8400 Winterthur', '8472 Seuzach']});
      </script>



h3 Options

table.table
  thead
    tr.table__header
      th.table__header__item Name
      th.table__header__item Type
      th.table__header__item Default
      th.table__header__item Description
  tbody.table__content
    tr.table__row
      td.table__row__item
        code.table__row__item__content source
      td.table__row__item
        code.table__row__item__content array
      td.table__row__item
        code.table__row__item__content false
      td.table__row__item
        p.table__row__item__content.
          Source to filter and create the dropdown-list.
// Copyright AXA Versicherungen AG 2015
