---
title: Dropzone
template: development.jade
---

h2.heading.heading--secondary Intro

p.paragraph.
  The Dropzone plugin is used to handle transition from and to the dragover
  state on a file-dropzone block.
p.paragraph.
  It handles the dragover, dragleave and drop events of the dropzone to add
  and remove the dragover modifier to the file-dropzone block.

h2.heading.heading--secondary Usage

p.paragraph Activate the functionality with the data-* API

:sample
  .dropzone
    .dropzone__container(data-dropzone='dropzone')
      input(type='file').dropzone__input
      .dropzone__icon-container
        i.dropzone__icon.icon.icon--upload
      .dropzone__text-container
        .dropzone__text
          span Drag file here or&nbsp;
          a.dropzone__text__upload-link click to choose

p.paragraph Activate the functionality with JavaScript:

.highlight
  pre.highlight__listing.hljs: code.js
    :highlight
      $('.file-dropzone').dropzone();
// Copyright AXA Versicherungen AG 2015
