---
title: Info
template: development.jade
---

h2.heading.heading--secondary Intro

p.paragraph.
  The <code>info</code> plugin is used to toggle an info-text block and switch
  the icon to the <code>icon--close</code> icon.

p.paragraph.
  Combine it with the <code>info-icon</code> and the <code>info-text</code>
  blocks to display information non-intrusivevely.

h2.heading.heading--secondary Example

:sample
  .l-container
    .form
      .form__group          
        .form__group__label
          .form__group__label__info-icon
            a.info-icon(data-info, data-target='#target')
          label.form__group__label__info-icon-text-wrapper
            .form__group__label__text Was wurde beschädigt?
        .form__group__control
          input.control.control--input(type='text')
          .form__info-text(id='target', style='display:none;')
            .info-text
              p.paragraph.
                Hallo Welt!
h2.heading.heading--secondary Usage

p.paragraph Activate the functionality with the data-* API

.highlight
  pre.highlight__listing.hljs: code.js
    :highlight
      <div data-info="data-info" data-target="#target" ...>...</div>
      <div id="target" ...>...</div>

p.paragraph Activate the functionality with Javascript

.highlight
  pre.highlight__listing.hljs: code.js
    :highlight
      <div id="trigger" ...>...</div>
      <div id="target" ...>...</div>

      <script>
        $('#trigger').info({target: '#target'})
      </script>



h3 Options

table.table
  thead
    tr.table__header
      th.table__header__item Name
      th.table__header__item Type
      th.table__header__item Default
      th.table__header__item Description
  tbody.table__content
    tr.table__row
      td.table__row__item
        code.table__row__item__content target
      td.table__row__item
        code.table__row__item__content string
      td.table__row__item
        code.table__row__item__content false
      td.table__row__item
        p.table__row__item__content.
          jQuery selector to configure which elements should be toggled.
// Copyright AXA Versicherungen AG 2015
