---
title: Collapsing Menu
template: development.jade
---

h2.heading.heading--secondary Intro

p.paragraph.
  The collapsing menu plugin provides all functionality for the collapsible
  menu. It triggers the opening of sub levels when a parent node is
  clicked.

h2.heading.heading--secondary Example

:sample
  nav.menu.menu--collapsing(data-menu="collapsing", data-exclusive)
    ul.menu__level.is-open
      li.menu__item
        a(href='#home').menu__link.icon.icon--home Home
      li.menu__item
        a(href='#private-individuals').menu__link.is-parent Private individuals
        ul.menu__level
          li.menu__item
            a(href='#contents-insurance').menu__link Contents insurance
      li.menu__item
        a(href='#contact-and-service').menu__link.is-parent Contact and service
        ul.menu__level
          li.menu__item
            a(href='#claims-and-benefits').menu__link Claims and benefits
          li.menu__item
            a(href='#contracts-and-documents').menu__link Contracts and documents
          li.menu__item
            a(href='#guides-and-other-services').menu__link.is-parent Guides and other services
            ul.menu__level
              li.menu__item
                a(href='#guides').menu__link Guides
              li.menu__item
                a(href='#publications').menu__link Publications
              li.menu__item.is-parent
                a(href='#mobile-apps').menu__link Mobile apps

h2.heading.heading--secondary Usage

p.paragraph Activate the functionality with JavaScript:

.highlight
  pre.highlight__listing.hljs: code.js
    :highlight
      $('#menu').collapsingMenu(options)

p.paragraph Alternatively, you can activate the plugin with data attributes:

.highlight
  pre.highlight__listing.hljs: code.html
    :highlight
      <nav data-menu="collapsing" data-exclusive></nav>

h3 Options

table.table
  thead
    tr.table__header
      th.table__header__item Name
      th.table__header__item Type
      th.table__header__item Default
      th.table__header__item Description
  tbody.table__content
    tr.table__content__item
      td.table__row__item
        code.table__row__item__content exclusive
      td.table__row__item
        code.table__row__item__content boolean
      td.table__row__item
        code.table__row__item__content false
      td.table__row__item
        p.table__row__item__content.
          Closes all other levels when opening a new one. This option
          makes the menu behave like an accordion.

h3 Methods

h4: code .collapsingMenu('toggle', menuLevel)

p.paragraph Manually toggle a menu level.

.highlight
  pre.highlight__listing.hljs: code.js
    :highlight
      $('#menu').collapsingMenu('toggle', $('#second.menu__level'))
// Copyright AXA Versicherungen AG 2015
