---
title: Sliding Menu
template: development.jade
---

h2.heading.heading--secondary Intro

p.paragraph.
  The sliding menu plugin provides all functionality for the sliding
  menu. It manages the menu level change and links the back menu item
  to a back action.

h2.heading.heading--secondary Example

:sample
  nav.menu.menu--sliding(data-menu="sliding")
    ul.menu__level
      li.menu__item
        a(href='#home').menu__link.icon.icon--home Home
      li.menu__item.is-parent
        a(href='#private-individuals').menu__link.is-parent Private individuals
        ul.menu__level
          li.menu__item.menu__item--back
            a(href='#private-individuals').menu__link.menu__link--back Private individuals
          li.menu__item
            a(href='#contents-insurance').menu__link Contents insurance
      li.menu__item.is-parent
        a(href='#contact-and-service').menu__link.is-parent Contact and service
        ul.menu__level
          li.menu__item.menu__item--back
            a(href='#contact-and-service').menu__link.menu__link--back Contact and service
          li.menu__item
            a(href='#claims-and-benefits').menu__link Claims and benefits
          li.menu__item
            a(href='#contracts-and-documents').menu__link Contracts and documents
          li.menu__item.is-parent
            a(href='#guides-and-other-services').menu__link.is-parent Guides and other services
            ul.menu__level
              li.menu__item.menu__item--back
                a(href='#guides-and-other-services').menu__link.menu__link--back Guides and other services
              li.menu__item
                a(href='#guides').menu__link Guides
              li.menu__item
                a(href='#publications').menu__link Publications
              li.menu__item.is-parent
                a(href='#mobile-apps').menu__link Mobile apps

h2.heading.heading--secondary Usage

p.paragraph Activate the functionality with JavaScript:

.highlight
  pre.highlight__listing.hljs: code.js
    :highlight
      $('#menu').slidingMenu()

p.paragraph Alternatively, you can activate the plugin with a data attribute:

.highlight
  pre.highlight__listing.hljs: code.html
    :highlight
      <nav data-menu="sliding"></nav>

h4 Methods

h5: code .slidingMenu('level', [levelToSet])

p.paragraph Get the currently active level or set one.

.highlight
  pre.highlight__listing.hljs: code.js
    :highlight
      $('#menu').slidingMenu('level')
      // -> returns the current jQuery object of the current level

      $('#menu').slidingMenu('level', $('#first.menu__level'))
// Copyright AXA Versicherungen AG 2015
