---
title: Popover
template: development.jade
status: experimental
---

h2.heading.heading--secondary Intro

p.paragraph.
  This plugin handles displaying a popover dialog. It handles the positioning
  of the popover box and tail components.
  See the popover block description for further information.

h2.heading.heading--secondary Usage

p.paragraph Activate the functionality with the data-* API

.highlight
  pre.highlight__listing.hljs: code.js
    :highlight
      <a data-popover="#popover" ></a>

h3 Options

None.