---
title: Site
template: development.jade
---

h2.heading.heading--secondary Intro

p.paragraph.
  The main functionality this plugin provides is the side menu handling for
  mobile devices. It binds to the <em>burger</em> icon and triggers the
  toggling of the menu.

h2.heading.heading--secondary Usage

p.paragraph Activate the functionality with the data-* API

.highlight
  pre.highlight__listing.hljs: code.js
    :highlight
      <a data-toggle="site-menu" data-target=".site" ></a>

p.paragraph Activate the functionality with JavaScript:

.highlight
  pre.highlight__listing.hljs: code.js
    :highlight
      $('body.site').site(options)

h4 Options

table.table
  thead
    tr.table__header
      th.table__header__item Name
      th.table__header__item Type
      th.table__header__item Default
      th.table__header__item Description
  tbody.table__content
    tr.table__row
      td.table__row__item
        code.table__row__item__content mask
      td.table__row__item
        code.table__row__item__content boolean
      td.table__row__item
        code.table__row__item__content true
      td.table__row__item
        p.table__row__item__content.
          Includes a backdrop element which darkens the actual page when the
          menu is open. A click anywhere on the mask closes the menu again.

h4 Methods

h5: code .site('toggleMenu')

p.paragraph Manually toggles the menu.

.highlight
  pre.highlight__listing.hljs: code.js
    :highlight
      $('body.site').site('toggleMenu')

h5: code .site('showMenu')

p.paragraph Manually shows the menu. Doesn't do anything when the menu is already open.

.highlight
  pre.highlight__listing.hljs: code.js
    :highlight
      $('body.site').site('showMenu')

h5: code .site('hideMenu')

p.paragraph Manually hides the menu. Doesn't do anything when the menu is already hidden.

.highlight
  pre.highlight__listing.hljs: code.js
    :highlight
      $('body.site').site('hideMenu')

h4 Events

table.table
  thead
    tr.table__header
      th.table__header__item Event Type
      th.table__header__item Description
  tbody.table__content
    tr.table__row
      td.table__row__item
        code.table__row__item__content show.axa.site-menu
      td.table__row__item

// Copyright AXA Versicherungen AG 2015
