@import 'style/variables';

.box {
  display: block;

  width: 100%;
  min-height: 1px;

  padding: 5px;
  margin: 10px 0;

  color: @color-ui-delta;
  border: 1px solid @color-ui-epsilon;
  background-color: @color-ui-alpha;
}
