@import 'style/variables';

.callout {
  background: lighten(@color-gray--lighter, 5%);
  border: 1px solid darken(@color-gray--lighter, 5%);
  border-left: 3px solid @color-blue;
  padding: 20px;
  margin: 20px 0;
}

.callout--danger {
  border-left-color: @color-red;
}
