@import 'style/variables';
@import 'style/mixins/clearfix';
@import 'style/grid';

@color-palette-padding: 20px;

.color-palette {
  &:extend(.clearfix all);
  padding: 20px 20px + @color-palette-padding @color-palette-padding + 20px 20px;
}

.color-palette__color {
  float: left;
  width: 25%;
  padding: @color-palette-padding 0 0 @color-palette-padding;
}

.color-palette__color--secondary {
  width: 20%;
}

.color-palette__color__content {
  background: white;
  padding: 20px 10px;
  text-align: center;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: hidden;
}

.color-palette__color__box {
  height: 190px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  overflow: hidden;
}

.color-palette__color__box--secondary {
  height: 150px;

}

.color-palette__color__code {
}

.color-palette__color__less {
  font-family: monospace;
  font-size: .7em;
}

/* Copyright AXA Versicherungen AG 2015 */
