@import 'style/variables';

.easter-egg {
  height: 0;
  visibility: hidden;
  opacity: 0;

  transition: all @transition-duration @transition-fn-fancy;
}

.easter-egg.is-unlocked {
  height: auto;
  visibility: visible;
  opacity: 1;
}
