@import 'style/variables';
@import 'style/mixins/respond';

.example {
  position: relative;

  padding: 45px 15px 15px;
  margin: 15px -15px 0; // TODO: Use variables for left & right margin

  border-width: 1px 0;
  border-style: solid;
  border-color: @color-gray--lighter;

  overflow: hidden;

  .respond(medium, {
    margin-left: 0;
    margin-right: 0;

    border-width: 1px;
  });

  &::after {
    position: absolute;
    top: 15px;
    left: 15px;

    content: 'example';

    font-size: @font-size-small;
    font-weight: normal;
    color: @color-gray;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

/* Copyright AXA Versicherungen AG 2015 */
