.grid-col {
  .l-col();

  display: flex;
}

.grid-col--1 {
  .l-col--1();
}

.grid-col--2 {
  .l-col--2();
}

.grid-col--3 {
  .l-col--3();
}

.grid-col--4 {
  .l-col--4();
}

.grid-col--5 {
  .l-col--5();
}

.grid-col--6 {
  .l-col--6();
}

.grid-col--7 {
  .l-col--7();
}

.grid-col--8 {
  .l-col--8();
}

.grid-col--9 {
  .l-col--9();
}

.grid-col--10 {
  .l-col--10();
}

.grid-col--11 {
  .l-col--11();
}

.grid-col--12 {
  .l-col--12();
}

.grid-box {
  flex-grow: 1;
  padding: 10px;
  margin: 10px 0;

  background-color: #bcd9f4;
  color: #0f2e86;
}

.grid-offset-col {
  .make-col(12);
  .make-col(3, medium);

  .make-col-offset(3, medium);
}
