@import 'style/variables';
@import 'style/mixins/respond';

.highlight {
  margin: 0;
  padding: 0;

  border-width: 1px 0;
  border-style: solid;
  border-color: @color-ui-delta;

  background: lighten(@color-ui-delta, 5%);

  .respond(medium, {
    margin: 0;

    border-width: 1px;
  });

  .example + & {
    border-top-width: 0;
  }
}

.highlight__listing {
  margin: 0;
  padding: 15px;

  font-size: @font-size-small;
  white-space: pre-wrap;
  line-height: 1.4em;
}
