@import 'style/variables';
@import 'style/mixins/respond';

.masthead.masthead--docs {
  padding: 10px inherit;
  margin-bottom: 20px;

  background-color: @color-ui-gamma;
  text-align: center;
  color: white;

  .respond(medium, {
    padding: 20px inherit;
    margin-bottom: 40px;
  });
}

.masthead__lead {
  padding: 10px inherit;

  font-size: 1.3em;
  line-height: 1.6em;

  .respond(medium, {
    padding: 20px 100px;

    font-size: 1.8em;
    line-height: 1.4em;
  });
}
