.menu--docs-submenu {

  border-bottom-color: @color-green;

  .menu__item.is-active,
  .menu__item:hover {
    border-bottom-color: @color-green;
  }
}

.menu--docs--left {
  font-size: .9em;

  .menu__link {
    display: block;
    padding: 6px 0;

    &.is-active {
      font-weight: bold;
    }
  }

  .menu__link--category {
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8em;
    color: @color-gray;
    letter-spacing: 1px;
    margin-top: 12px;
  }
}
