@import 'style/mixins/respond';

.nav {
}

.nav--side {
  // TODO: Never let the block hide itself!
  display: none;

  .respond(large, {
    display: block;
  });
}

.nav--side.is-affixed {
  // TODO: http://cameronspear.com/blog/css-transform-obliterates-position-fixed/
  position: fixed;
  top: 20px;
}

.nav--side.is-affixed-top {
}

.nav--side.is-affixed-bottom {
}
