.nav {
  &--docs {
    ul& {
      list-style: none;
      padding: 0;
    }
  }

  &__item {
    margin-bottom: 1px;
  }

  &__link {
    display: block;
    height: 2.5em;
    line-height: 2.5em;
    text-decoration: none;
    color: #fff;
    background-color: #5BBBA6;
    padding: 0 5px;

    &:hover {
      background-color: #2A7766;
    }
  }
}
