@import 'style/variables';
@import 'style/mixins/make-container';

.page-title {
  .make-container();

  max-width: 72rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;

  text-align: center;

  .respond(large, {
    padding-top: 1rem;
    padding-bottom: 1rem;
  });
}

.page-title__heading {
  margin: 0;

  .respond(large, {
    margin-bottom: -0.5rem;
  });
}
