@import 'style/mixins/respond';

.side-menu {
  display: none;

  &, & > ul {
    padding: 0;

    list-style-type: none;
  }

  .respond(medium, {
    display: block;
  });
}

.side-menu.is-affixed {
  .respond(medium, {
    position: fixed;
    top: 20px;
  });
}

.side-menu.is-affixed-top {
}

.side-menu.is-affixed-bottom {
}

.side-menu__item {
}

.side-menu__link {
}
