.table--docs {
  width: 100%;

  caption {
    padding: 10px;
    border: 1px solid #ddd;
    border-bottom: 0;
    font-size: .8em;
    font-style: italic;
    color: #666;
  }

  td, th {
    padding: 10px;
    border: 1px solid #ddd;
  }

  tbody tr:nth-of-type(2n) {
    td, th {
      background: #eee;
    }
  }
}
