@import 'style/variables';
@import 'style/mixins/respond';

.thumbnail {
  text-align: center;
}

.thumbnail__img-link {
  display: block;
}

.thumbnail__img {
  width: 100%;
  max-width: 256px;
}

.thumbnail__heading {
  display: block;
  max-width: 300px; // set max, so it stays readable
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.thumbnail__link {
}

.thumbnail__text {
  display: block;
  max-width: 300px; // set max, so it stays readable
  margin-left: auto;
  margin-right: auto;
}
