.typeface {
  white-space: pre-wrap;

  &--franklin-gothic-book,
  &--franklin-gothic-medium {
    &, & * {
      // TODO: Add web font
      font-family: "FranklinGothic" !important;
    }
  }

  &--arial-regular,
  &--arial-bold {
    &, & * {
      font-family: Arial !important;
    }
  }

  &--arial-bold {
    &, & * {
      font-weight: bold;
    }
  }
}
/* Copyright AXA Versicherungen AG 2015 */
