---
title: Browser support
order: 3
collection: nav__fundamentals__code
template: page.jade
tags: safari, ios, chrome, android, internet explorer, firefox,
---

p.paragraph.
  Customers, partners and employees are using an
  extensive amount of different browsers.
  Therefore, websites and applications should cater
  to all of them and not rely on proprietary
  technologies in or for different browsers.
  The W3C standards are also our standards.

h2.heading.heading--secondary What browsers to support?

p.paragraph.
  Based on data from the 13th of may 2015, we are
  supporting the following browsers and mobile
  operating systems:

h3 Desktop
table.table.table--docs
  thead
    tr.table__header
      th.table__header__item Browser
      th.table__header__item Platform
      th.table__header__item Browser Version
  tbody.table__content
    tr.table__row
      td.table__row__item
        .table__row__item__content Internet Explorer
      td.table__row__item
        .table__row__item__content Windows
      td.table__row__item
        .table__row__item__content 9+
    tr.table__row
      td.table__row__item
        .table__row__item__content Firefox
      td.table__row__item
        .table__row__item__content Desktop
      td.table__row__item
        .table__row__item__content 34.0+
    tr.table__row
      td.table__row__item
        .table__row__item__content Chrome
      td.table__row__item
        .table__row__item__content Windows / Mac OS X
      td.table__row__item
        .table__row__item__content 39.0.2171+
    tr.table__row
      td.table__row__item
        .table__row__item__content Safari
      td.table__row__item
        .table__row__item__content Mac OS X
      td.table__row__item
        .table__row__item__content 7.0+

h3 Mobile & Tablet

.l-row
  .l-half
    .docs-chart-container#android-piechart Android Chart
  .l-half
    .docs-chart-container#ios-piechart iOS Chart

table.table.table--docs
  thead
    tr.table__header
      th.table__header__item Browser
      th.table__header__item Platform
      th.table__header__item System Version
  tbody.table__content
    tr.table__row
      td.table__row__item
        .table__row__item__content Android Browser
      td.table__row__item
        .table__row__item__content Android
      td.table__row__item
        .table__row__item__content 4.0+
    tr.table__row
      td.table__row__item
        .table__row__item__content Chrome
      td.table__row__item
        .table__row__item__content Android, iOS
      td.table__row__item
        .table__row__item__content 39.0.2171+ (Browser Version)
    tr.table__row
      td.table__row__item
        .table__row__item__content Safari
      td.table__row__item
        .table__row__item__content iOS
      td.table__row__item
        .table__row__item__content 7.0+

.hr

h2.heading.heading--secondary Internet Explorer 8 & 9

p.paragraph.
  You'll need to add some of the polyfills listed
  below to add support for IE 9.

p.paragraph.
  With the current release Internet Explorer 8 is
  NOT supported. Please consider adding a "Your
  browser is not supported page" or add support
  for IE 8 on your own. The polyfills listed below
  will do the major parts of the job.


table.table.table--docs
  thead
    tr.table__header
      th.table__header__item Version
      th.table__header__item Polyfill
  tbody.table__content
    tr.table__row
      td.table__row__item(style="min-width: 100px")
        .table__row__item__content up to IE 9
      td.table__row__item
        .table__row__item__content.
          HTML 5 Elements
          <br/><br />
          Don't use HTML 5 tags or add the
          <a class="link" href="https://github.com/afarkas/html5shiv" class="link" >HTML5SHIV</a>
          polyfill.
    tr.table__row
      td.table__row__item
        .table__row__item__content up to IE 8
      td.table__row__item
        .table__row__item__content.
          Media queries
          <br/><br/>
          Add the
          <a class="link" href="https://github.com/scottjehl/Respond" class="link" >respond.js</a>
          polyfill to support media queries.
    tr.table__row
      td.table__row__item
        .table__row__item__content up to IE 8
      td.table__row__item
        .table__row__item__content.
          CSS 3 pseudo element selectors (::selector)
          <br/><br/>
          Replace every double colon selector (::selector)
          with a single colon one (:selector).
          <br/><br/>
          We recommend to use
          <a class="link" href="https://www.npmjs.com/package/postcss-pseudoelements" >postcss-pseudoelements</a>
          postcss plugin to automate this task.
    tr.table__row
      td.table__row__item
        .table__row__item__content up to IE 8
      td.table__row__item
        .table__row__item__content.
          Border radius
          <br/><br/>
          Accept the square corners or add the
          <a class="link" href="http://css3pie.com/" >css3pie</a>
          polyfill. Note that this polyfill may slow
          down the page rendering on IE 8.
    tr.table__row
      td.table__row__item
        .table__row__item__content up to IE 8
      td.table__row__item
        .table__row__item__content.
          Background size
          <br/><br/>
          Add the
          <a class="link" href="https://github.com/louisremi/background-size-polyfill" >background-size-polyfill</a>
          to support this property in IE 7/8.
    tr.table__row
      td.table__row__item
        .table__row__item__content up to IE 8
      td.table__row__item
        .table__row__item__content.
          jQuery
          <br/><br/>
          jQuery 2.0 dropped support for IE 8 in favour
          of a major performance boost. Use the 1.x Version
          instead to support IE 8.
    tr.table__row
      td.table__row__item
        .table__row__item__content -
      td.table__row__item
        .table__row__item__content.
          Other
          <br/><br/>
          Use
          <a class="link" href="http://caniuse.com" >caniuse.com</a>
          to look up browser support for a specific feature.
          <br/><br/>
          Take a look at the
          <a class="link" href="https://github.com/Modernizr/Modernizr/wiki/HTML5-Cross-Browser-Polyfills" >Modernizr wiki</a>
          to find further polyfills.

script.
  google.setOnLoadCallback(drawCharts);
  function drawCharts() {
    var androidData = google.visualization.arrayToDataTable([
      ['Android Version', 'Visits'],
      ['5.x',     3532],
      ['4.x',      6321],
      ['older',  147]
    ]);

    var iosData = google.visualization.arrayToDataTable([
      ['iOS Version', 'Visits'],
      ['8.x',     8249],
      ['7.x',      1504],
      ['older',  246]
    ]);

    $('.docs-chart-container').addClass('is-active');
    var androidChart = new google.visualization.PieChart(document.getElementById('android-piechart'));
    var iosChart = new google.visualization.PieChart(document.getElementById('ios-piechart'));

    androidChart.draw(androidData, { title: 'Android Version Share' });
    iosChart.draw(iosData, { title: 'iOS Version Share' });
  }
