---
title: jQuery Plugins
order: 5
template: page.jade
---

.toc
  .toc__title Table of contents
  ul.toc__anchor-navigation
    li.toc__anchor-navigation__item
      a(href='#plugin').toc__anchor-navigation__link Plugin
    li.toc__anchor-navigation__item
      a(href='#html5data').toc__anchor-navigation__link HTML5data

include:markdown ../../jsdoc2md/plugin.md

include:markdown ../../jsdoc2md/html5data.md
