---
title: jQuery Plugins
order: 5
template: page.jade
---

p.
  We decided that our jQuery Plugins should be easily utilisable in a declarative manner.
  To achive this we utilise standard HTML5 data attributes, to attach a plugin to any DOM
  and to pass options around. All options can be namespaced simply by the plugin's name.
  The basic syntax is as follows:

p
  :highlightcode
    <div data-plugin data-option="foo" data-plugin-option="bar">

p.
  To reduce boilerplate glue code we developed a generic function which let's you consistenly develop new jQuery plugins.
  Supported features are:

ul
  li Declarative approach
  li Automatic instantiation
  li Custom, manual instantiation
  li Default options
  li Options as HTML5 data attributes
  li Namespaced options
  li Multiple Plugin registration for the same DOM node
  li Basic clean-up feature (destroy method)

.toc
  .toc__title Table of contents
  ul.toc__anchor-navigation
    li.toc__anchor-navigation__item
      a(href='#registerplugin').toc__anchor-navigation__link registerPlugin
    li.toc__anchor-navigation__item
      a(href='#html5data').toc__anchor-navigation__link HTML5data

include:markdown ../../jsdoc2md/register-plugin.md

include:markdown ../../jsdoc2md/html5data.md
