---
title: Autocomplete
slug: autocomplete
collection: development_blocks
template: development.jade
status: new
---

h3 Intro

p.
  The <code>autocomplete</code> block is used to style form an autocomplete
  control.

p.
  It consists of a child <code>control</code> block and an
  <code>autocomplete-container</code> element with it's
  <code>autocomplete-item</code> children.

p.
  Use it to style your own autocomplete elements.

blockquote.callout.callout--danger.
  Be aware, this example uses a 'position: relative;' style override on the
  autocomplete-container, as no behaviors are shown here.
  Remove the style attribute on autocomplete-container to use default
  positioning necessary for the correct behaviour.

h3 Example

:sample
  .autocomplete
    input.control.control--input(type='text')
    .autocomplete-container
      .autocomplete-item.
        8000 Zürich
      .autocomplete-item.autocomplete-item--selected.
        8400 Winterthur
      .autocomplete-item.
        8472 Seuzach
  .l-container
    .form
      .form__group
        label.form__group__label Form label
        .form__group__control
          input.control.control--input(type='text')
      .form__group
        label.form__group__label Form label
        .form__group__control
          input.control.control--input(type='text')
