---
title: Autogrow
slug: autogrow
collection: development_blocks
template: development.jade
---

:markdown
  The ``control`` block is used to style form controls.

  Use the modifieres ``control--input`` or
  ``control--textarea `` for input fields or textareas
  respectively.

:sample
  textarea.control.control--textarea(data-autogrow="autogrow")
