---
title: Autocomplete
template: development.jade
---

h2.heading.heading--secondary Intro

p.paragraph.
  The <code>autocomplete</code> block is used to style form an autocomplete
  control.

p.paragraph.
  It consists of a child <code>autocomplete__input</code> block and an
  <code>autocomplete__suggestions</code> element with it's
  <code>autocomplete__suggestions__item</code> children.

p.paragraph.
  Use it to style your own autocomplete elements.

p.callout.
  Do not add an excessive amount of autocomplete suggestions since
  this will bloat your page.

blockquote.callout.callout--danger.
  Be aware, this example uses a 'position: relative;' style override on the
  autocomplete-container, as no behaviors are shown here.
  Remove the style attribute on autocomplete-container to use default
  positioning necessary for the correct behaviour.

h2.heading.heading--secondary Example

:sample
  .autocomplete
    input.control.control--input(type='text')
    .autocomplete__suggestions(style='position: relative;')
      .autocomplete__suggestions__item.
        8000 Zürich
      .autocomplete__suggestions__item.autocomplete__suggestions__item--selected.
        8400 Winterthur
      .autocomplete__suggestions__item.
        8472 Seuzach

// Copyright AXA Versicherungen AG 2015
