---
title: Badge
template: development.jade
status: experimental
---

p.paragraph.
  With badges, you can highlight new or unread items. Use them standalone
  or in another block, like a button or on an icon.

:sample
  p
    span.badge 42
  p
    span.badge
  p
    a.button.button--secondary.button--small
      span Hello
      span.button__badge.badge 2

// Copyright AXA Versicherungen AG 2015
