---
title: Button
slug: button
collection: development_blocks
template: development.jade
---

h1.heading.heading--page Button

p.
  The Style Guide comes with different kinds of buttons for you to
  use. There are multiple importance levels and sizes. You also
  have the option to include icons in buttons.

h3 Primary and secondary buttons

p.
  Use the <em>primary button</em> as the primary call
  to action (e.g. save, get a quote) and the <em>secondary button</em>
  as the secondary call to action (e.g. cancel, print offer).

:sample
  a(href="#button-one").button Primary Action
  = '\n'
  a(href="#button-two").button.button--secondary Secondary Action

h3 Small buttons

p.
  If you need to have smaller buttons (e.g. in a table) use the
  <code>.button--small</code> modifier.

:sample
  a(href="#button-one").button.button--small Primary Action
  = '\n'
  a(href="#button-two").button.button--small.button--secondary
    span Secondary Action

h3 Icon buttons

p.
  Simply add an icon to a button by nesting the icon block.
  When doing this, give the icon the <code>.button__icon</code>
  element. This way the icon will have the best positioning and sizing.
  See the icon block for all available icons.

:sample
  p
    a(href="#").button
      i.button__icon.icon.icon--arrow-right
      != ' '
      span Primary Action
    = '\n'
    a(href="#button-two").button.button--secondary
      i.button__icon.icon.icon--cross
  p
    a(href="#").button.button--small
      i.button__icon.icon.icon--home
      != ' '
      span Return home
    = '\n'
    a(href="#button-two").button.button--secondary.button--small
      i.button__icon.icon.icon--cross
