---
title: Button
template: development.jade
---

p.paragraph.
  The Developer Toolkit comes with different kinds of buttons for you to
  use. There are multiple importance levels and sizes. You also
  have the option to include icons in buttons.

h2.heading.heading--secondary Primary and secondary buttons

p.paragraph.
  Use the <em>primary button</em> as the primary call
  to action (e.g. save, get a quote) and the <em>secondary button</em>
  as the secondary call to action (e.g. cancel, print offer).

:sample
  a(href="#button-one").button Primary Action
  = '\n'
  a(href="#button-two").button.button--secondary Secondary Action

h2.heading.heading--secondary Small buttons

p.paragraph.
  If you need to have smaller buttons (e.g. in a table) use the
  <code>.button--small</code> modifier.

:sample
  a(href="#button-one").button.button--small Primary Action
  = '\n'
  a(href="#button-two").button.button--small.button--secondary
    span Secondary Action

h2.heading.heading--secondary Icon buttons

p.paragraph.
  Simply add an icon to a button by nesting the icon block.
  When doing this, give the icon the <code>.button__icon</code>
  element. This way the icon will have the best positioning and sizing.
  See the icon block for all available icons.

:sample
  p
    a.button
      i.button__icon.icon.icon--arrow-right
      != ' '
      span Primary Action
    = '\n'
    a(href="#button-two").button.button--secondary
      i.button__icon.icon.icon--cross
  p
    a.button.button--small
      i.button__icon.icon.icon--home
      != ' '
      span Return home
    = '\n'
    a(href="#button-two").button.button--secondary.button--small
      i.button__icon.icon.icon--cross

h2.heading.heading--secondary Floating buttons

p.paragraph.
  Use the <em>floating button</em> as ...

p.callout.
  Your application is responsible to place the button as
  required by the design guidelines.

:sample
  a(href="#button-one").button.button--floating.icon.icon--feedback
:sample
  a(href="#button-two").button.button--floating.button--secondary.icon.icon--feedback
:sample
  a(href="#button-two").button.button--floating.button--secondary.button--small.icon.icon--feedback

// Copyright AXA Versicherungen AG 2015
