---
title: Checkbox
template: development.jade
---

:markdown
  Surround checkboxes with a ``checkbox-group`` when you use them
  within a form.

  The ``checkbox--js`` modifier will add custom styling to checkboxes.
  Be aware that it **depends on JavaScript**. Therefore you have to
  include the jQuery plugin bundled with the style guide or set the
  ``.is-active`` state on your own, depending on whether the checkbox
  is selected or not. See the checkbox plugin docs for further
  information on this topic.

h2.heading.heading--secondary Non-enhanced checkbox (no JavaScript)

:sample
  label.checkbox
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      .checkbox__label__text Fahrzeug des Versicherungsnehmers

:sample
  label.checkbox
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      .checkbox__label__text
        span Lorem ipsum dolor sit amet consetetur elitr,
        a  Nutzungsbedingungen
        span  nonumy eirmod tempor invidunt.


h2.heading.heading--secondary Enhanced checkbox (JavaScript)

:sample
  label.checkbox(data-checkbox)
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      .checkbox__label__text Fahrzeug des Versicherungsnehmers

:sample
  label.checkbox(data-checkbox)
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      .checkbox__label__text
        span Lorem ipsum dolor sit amet consetetur elitr,
        a  Nutzungsbedingungen
        span  nonumy eirmod tempor invidunt.
// Copyright AXA Versicherungen AG 2015
