---
title: Control
slug: control
collection: development_blocks
template: development.jade
---

:markdown
  The ``control`` block is used to style form controls.
  
  Use the modifieres ``control--input`` or 
  ``control--textarea `` for input fields or textareas 
  respectively.
    
:sample
  input.control.control--input(type='text')
    
:sample
  textarea.control.control--textarea
// Copyright AXA Versicherungen AG 2015
