---
title: Datepicker
template: development.jade
---

:markdown
  The `datepicker` block displays an input field a calendar icon and a
  calendar to select a date.

h2.heading.heading--secondary Behavior
p.paragraph.
  The calendar should not be displayed when the page loads and should appear, when
  the user clicks the calendar icon.
  A click in the textbox should not toggle the calendar appearance.

:sample
  .datepicker
    a(data-datepicker="#myDatepickerInput").datepicker__trigger
    .datepicker__input
      input(type='text')#myDatepickerInput.control.control--input

    .picker.is-active
      .picker__header
        a.picker__prev
        a.picker__next
        .picker__headline
          span.picker__headline__month Januar
          span 2015
      .picker__content
        .picker__month
          .picker__week.picker__week--headline
            .picker__day.picker__day--headline M
            .picker__day.picker__day--headline D
            .picker__day.picker__day--headline M
            .picker__day.picker__day--headline D
            .picker__day.picker__day--headline F
            .picker__day.picker__day--headline S
            .picker__day.picker__day--headline S
          .picker__week
            .picker__day.picker__day--empty
            .picker__day.picker__day--empty
            .picker__day.picker__day--empty
            .picker__day 1
            .picker__day 2
            .picker__day 3
            .picker__day 4
          .picker__week
            .picker__day 5
            .picker__day 6
            .picker__day 7
            .picker__day 8
            .picker__day 9
            .picker__day 10
            .picker__day 11
          .picker__week
            .picker__day 12
            .picker__day 13
            .picker__day 14
            .picker__day 15
            .picker__day.picker__day--today 16
            .picker__day 17
            .picker__day 18
          .picker__week
            .picker__day 19
            .picker__day 20
            .picker__day 21
            .picker__day 22
            .picker__day 23
            .picker__day 24
            .picker__day 25
          .picker__week
            .picker__day 26
            .picker__day 27
            .picker__day 28
            .picker__day 29
            .picker__day 30
            .picker__day 31
            .picker__day.picker__day--empty
  div(style='height: 280px')

// Copyright AXA Versicherungen AG 2015
