---
title: Multi File Upload
slug: file-upload2
collection: development_blocks
template: development.jade
status: experimental
---

:markdown
  The ``multi-file-upload`` block is used to display drag and drop zones for
  multiple files and display status info (progress) to the uploaded files.

h3 Behavior
:markdown
  When a file is dropped into the dropzone or uploaded through the dialog,
  a new element with the status info about this file should be displayed in the
  ``file-list`` block below the ``dropzone``.

h3 Example

.l-container
  .form
    .form__group
      .form__group__label.
        Datei
      .form__group__control
        .multi-file-upload(id='example')
          .dropzone
            .dropzone__container(data-dropzone='dropzone')
              input.dropzone__input(type='file')
              .dropzone__icon-container
                i.dropzone__icon.icon.icon--upload
              .dropzone__text-container
                .dropzone__text
                  span Drag file here or
                  | &nbsp;
                  a.dropzone__text__upload-link click to choose
          .upload-remarks
            | Nur Bilder (.jpg, .png, .gif) oder Dokumente (.pdf, .docx).
            br
            | Maximal 2 MB pro Datei
          .file-list

script.
  (function () {
    var $example = $('#example');
    var $dropzone = $example.find('.dropzone__container');
    var $fileList = $example.find('.file-list');

    var init = function() {
      $dropzone.on('drop', function(event) {
        event.preventDefault();
        for (var i = 0;i<event.originalEvent.dataTransfer.files.length;i++)
        {
          upload(event.originalEvent.dataTransfer.files[i].name);
        }
      });

      $dropzone.find('.dropzone__text__upload-link').on ('click', function() {
          $example.find('.dropzone__input')[0].click();
        });

      $dropzone.find('.dropzone__input').on('change', fileSelected);
    }

    var fileSelected = function(event) {
      var name = this.value.replace(/\\/g, '/').replace(/.*\//, '')
      upload(name);
    };

    var upload = function (name) {
      var fileStatus = $('<div></div>').addClass('file-status file-uploading');

      var fakeUpload = function () {
        var progressBar = $('<div></div>').addClass('progressbar');

        var progressBarDescription = $('<div></div>').addClass('progressbar__description');
        progressBarDescription.text(name);
        progressBar.append(progressBarDescription);

        var progressBarPercentage = $('<div></div>').addClass('progressbar__percentage');
        progressBarPercentage.text('0%');
        progressBar.append(progressBarPercentage);

        var progressBarProgress = $('<div></div>').addClass('progressbar__progress');
        var progressBarProgressBackground = $('<div></div>').addClass('progressbar__progress-background');

        var progressBarProgressForeground = $('<div></div>').addClass('progressbar__progress-foreground');
        progressBarProgressBackground.append(progressBarProgressForeground);
        progressBarProgress.append(progressBarProgressBackground);
        progressBar.append(progressBarProgress);

        fileStatus.append(progressBar);
        $fileList.append(fileStatus);

        var progressUpdater = function (foreground, percentageElement) {
          var fakeProgressSteps = 5;
          for (i = 0; i <= fakeProgressSteps ; i++) {
            (function (j) {
              setTimeout(function () {
                var width = 100 / fakeProgressSteps * j;
                foreground.css('width', width + '%');
                if (j !== fakeProgressSteps) {
                  percentageElement.text(width.toPrecision(2) + '%');
                }
                else {
                  percentageElement.text('100%');
                  foreground.css('width', '100%');
                  setTimeout(function () {
                    finish();
                  }, 1000);
                }
              }, j*1000);
            })(i);
          }
        };
        progressUpdater(progressBarProgressForeground, progressBarPercentage);
      }

      var finish = function() {
        var fileUploadedActions = $('<div></div>').addClass('file-uploaded__actions');

        var viewAction = $('<a></a>').addClass('file-uploaded__actions__action');
        viewAction.text('ansehen');
        fileUploadedActions.append(viewAction);

        var deleteAction = $('<a></a>').addClass('file-uploaded__actions__action');
        deleteAction.text('löschen');
        fileUploadedActions.append(deleteAction);

        var fileUploadedTitle = $('<div></div>').addClass('file-uploaded__title');
        fileUploadedTitle.text(name);

        fileStatus.empty()
        fileStatus.removeClass('file-uploading');
        fileStatus.addClass('file-uploaded');
        fileStatus.append(fileUploadedActions);
        fileStatus.append(fileUploadedTitle);
      }

      fakeUpload();
    }

    init();
  })();

h3 Styles

:sample
  .l-container
    .form
      .form__group
        .form__group__label.
          Datei
        .form__group__control
          .multi-file-upload
            .dropzone
              .dropzone__container(data-dropzone='dropzone')
                input.dropzone__input(type='file')
                .dropzone__icon-container
                  i.dropzone__icon.icon.icon--upload
                .dropzone__text-container
                  .dropzone__text
                    span Drag file here or
                    | &nbsp;
                    a.dropzone__text__upload-link click to choose
            .upload-remarks
              | Nur Bilder (.jpg, .png, .gif) oder Dokumente (.pdf, .docx).
              br
              | Maximal 2 MB pro Datei
            .upload-errors
              | Die Datei awesome_image.jpg konnte nicht hochgeladen werden.
              | Bitte löschen Sie sie aus der Liste und laden sie erneut hoch.
            .file-list
              .file-status.file-uploading
                .progressbar
                  .progressbar__description awesome_image.jpg
                  .progressbar__percentage 22%
                  .progressbar__progress
                    .progressbar__progress-background
                      .progressbar__progress-foreground(style='width: 22%')
              .file-status.file-uploaded
                .file-uploaded__actions
                  a.file-uploaded__actions__action ansehen
                  a.file-uploaded__actions__action löschen
                .file-uploaded__title axaswitch.gif
              .file-status.file-uploaded
                .file-uploaded__actions
                  a.file-uploaded__actions__action ansehen
                  a.file-uploaded__actions__action löschen
                .file-uploaded__title superblock.bmp
              .file-status.file-error
                .progressbar
                  .progressbar__description awesome_image.jpg (Error)
                  .progressbar__error
                    a.progressbar__error-icon.icon.icon--modal-close(href='#')
                  .progressbar__progress
                    .progressbar__progress-error
