---
title: Single Upload
template: development.jade
---

:markdown
  The ``single-upload`` block is used to display drag and drop zones for a
  file and display status info (progress) to the uploaded file.

h2.heading.heading--secondary States and Behavior
:markdown
  Default state of a fileupload control is the dropzone block.
  When something is dragged over it, toggle the ``dragover`` modifier.

.callout.
  Use the dropzone plugin, to handle transitions from and to the dragover state
  of the <code>dropzone</code> block.

:markdown
  Register to the ``ondrop`` event to upload the file.
  The dropzone block must be replaced by the ``single-upload__status``
  block to display a ``progressbar`` and info about the upload process.

:markdown
  A ``click`` into the ``dropzone`` should open the browser file chooser dialog.

.callout.
  Use Javascript to invoke a click event ``input`` element with class
  ``dropzone__input`` to open the file dialog, when the user clicks the link.

:markdown
  When the file upload is finished, replace contents of the
  ``single-upload__uploading`` block to display the
  ``single-upload__status__uploaded`` block.

.callout.callout--danger.
  Look at the bottom of the page for some info about file uploads on IE 9.

h2.heading.heading--secondary Styles

:sample
  .l-container
    .form
      .form__group
        .form__group__label.
          Datei
        .form__group__control
          .single-upload
            .dropzone
              .dropzone__container(data-dropzone='dropzone')
                input.dropzone__input(type='file')
                .dropzone__icon-container
                  i.dropzone__icon.icon.icon--upload
                .dropzone__text-container
                  .dropzone__text
                    span Drag file here or
                    | &nbsp;
                    a.dropzone__text__upload-link click to choose
      .form__group
        .form__group__label.
          Datei (Dragover)
        .form__group__control
          .single-upload
            .dropzone
              .dropzone__container.dropzone__container--dragover
                input.dropzone__input(type='file')
                .dropzone__icon-container
                  i.dropzone__icon.icon.icon--upload
                .dropzone__text-container
                  .dropzone__text
                    span Drag file here or
                    | &nbsp;
                    a.dropzone__text__upload-link click to choose
      .form__group
        .form__group__label.
          Datei (Error)
        .form__group__control
          .single-upload
            .dropzone
              .dropzone__container
                input.dropzone__input(type='file')
                .dropzone__icon-container
                  i.dropzone__icon.icon.icon--upload
                .dropzone__text-container
                  .dropzone__text
                    span Drag file here or
                    | &nbsp;
                    a.dropzone__text__upload-link click to choose
          .form__error-message Das Bild ist zu gross.
      .form__group
        .form__group__label.
          Datei (Uploading)
        .form__group__control
          .single-upload
            .single-upload__status
              .single-upload__status__icon-container
                i.single-upload__status__icon.icon.icon--upload
              .single-upload__progressbar-container
                .single-upload__progressbar.progressbar
                  .progressbar__description awesome_image.jpg
                  .progressbar__percentage 22%
                  .progressbar__progress
                    .progressbar__progress-background
                      .progressbar__progress-foreground(style='width: 22%')
      .form__group
        .form__group__label.
          Datei (Uploaded)
        .form__group__control
          .single-upload
            .single-upload__status
              .single-upload__status__icon-container
                i.single-upload__status__icon.icon.icon--upload
              .single-upload__status__uploaded
                .single-upload__status__uploaded__actions.file-uploaded__actions
                  a.file-uploaded__actions__action ansehen
                  a.file-uploaded__actions__action löschen
                .single-upload__status__uploaded__title axaswitch.gif
      .form__group
        .form__group__label.
          Fallback for dropzone on IE 9
        .form__group__control
          .multi-file-upload
            .dropzone-fallback
              input.dropzone-fallback__input(type='file')
              a.dropzone-fallback__button.button.button--primary
                i.dropzone-fallback__button__icon.icon.icon--upload
                span.dropzone-fallback__button__text Click to upload files

h2.heading.heading--secondary IE 9

p.paragraph.
  IE 9 does not support drag and drop functionality for files. It also doesn't
  support the <code>FileReader</code> API. So, just do it like its 2007:

ul.list.list--unordered
  li.list__item.
    Use <code>Modernizr.draganddrop && window.FileReader</code> to detect
    whether drag and drop and the <code>FileReader</code> API are supported so
    you can activate the fallback implementation for the file upload.
  li.list__item.
    Create upload functionality using a hidden <code>iframe</code>.
  li.list__item.
    Replace the <code>dropzone</code> block with the <code>dropzone__fallback</code> block.
    A click on <code>dropzone-fallback__button</code> block must open the
    file chooser dialog.
    After a file is selected, the upload should start. Display status info in the
    <code>single-upload__status</code> block as usual.

// Copyright AXA Versicherungen AG 2015
