---
title: Single File Upload
slug: file-upload1
collection: development_blocks
template: development.jade
status: experimental
---

:markdown
  The ``single-file-upload`` block is used to display drag and drop zones for a
  file and display status info (progress) to the uploaded file.

h3 States and Behavior
:markdown
  Default state of a fileupload control is the dropzone block.
  When something is dragged over it, toggle the ``dragover`` modifier.

.callout.
  Use the dropzone plugin, to handle transitions from and to the dragover state
  of the <code>dropzone</code> block.

:markdown
  Register to the ``ondrop`` event to upload the file.
  The dropzone block must be replaced by the ``single-file-upload__status``
  block to display a ``progressbar`` and info about the upload process.

:markdown
  A ``click`` into the ``dropzone`` should open the browser file chooser dialog.

.callout.
  Use Javascript to invoke a click event ``input`` element with class
  ``dropzone__input`` to open the file dialog, when the user clicks the link.

:markdown
  When the file upload is finished, replace contents of the
  ``single-file-upload__uploading`` block to display the
  ``single-file-upload__status__uploaded`` block.

h3 Styles

:sample
  .l-container
    .form
      .form__group
        .form__group__label.
          Datei
        .form__group__control
          .single-file-upload
            .dropzone
              .dropzone__container(data-dropzone='dropzone')
                input.dropzone__input(type='file')
                .dropzone__icon-container
                  i.dropzone__icon.icon.icon--upload
                .dropzone__text-container
                  .dropzone__text
                    span Drag file here or
                    | &nbsp;
                    a.dropzone__text__upload-link click to choose
      .form__group
        .form__group__label.
          Datei (Dragover)
        .form__group__control
          .single-file-upload
            .dropzone
              .dropzone__container.dropzone__container--dragover
                input.dropzone__input(type='file')
                .dropzone__icon-container
                  i.dropzone__icon.icon.icon--upload
                .dropzone__text-container
                  .dropzone__text
                    span Drag file here or
                    | &nbsp;
                    a.dropzone__text__upload-link click to choose
      .form__group
        .form__group__label.
          Datei (Error)
        .form__group__control
          .single-file-upload
            .dropzone
              .dropzone__container
                input.dropzone__input(type='file')
                .dropzone__icon-container
                  i.dropzone__icon.icon.icon--upload
                .dropzone__text-container
                  .dropzone__text
                    span Drag file here or
                    | &nbsp;
                    a.dropzone__text__upload-link click to choose
          .form__error-message Das Bild ist zu gross.
      .form__group
        .form__group__label.
          Datei (Uploading)
        .form__group__control
          .single-file-upload
            .single-file-upload__status
              .single-file-upload__progress__icon-container
                i.single-file-upload__progress__icon.icon.icon--upload
              .single-file-upload__progressbar-container
                .single-file-upload__progressbar.progressbar
                  .progressbar__description awesome_image.jpg
                  .progressbar__percentage 22%
                  .progressbar__progress
                    .progressbar__progress-background
                      .progressbar__progress-foreground(style='width: 22%')
      .form__group
        .form__group__label.
          Datei (Uploaded)
        .form__group__control
          .single-file-upload
            .single-file-upload__status
              .single-file-upload__progress__icon-container
                i.single-file-upload__progress__icon.icon.icon--upload
              .single-file-upload__status__uploaded
                .single-file-upload__status__uploaded__actions.file-uploaded__actions
                  a.file-uploaded__actions__action ansehen
                  a.file-uploaded__actions__action löschen
                .single-file-upload__status__uploaded__title axaswitch.gif
