---
title: File upload
slug: fileupload
collection: development_blocks
template: development.jade
status: experimental
---

:sample
  .fileupload
    .fileupload__dd
      .fileupload__dd__target
      .fileupload__dd__label
    .fileupload__or
    .fileupload__buttons
      input(type=).fileupload__buttons__choose
