---
title: Multi File Upload
slug: file-upload2
collection: development_blocks
template: development.jade
status: experimental
---

:markdown
  The ``multi-file-upload`` block is used to display drag and drop zones for
  multiple files and display status info (progress) to the uploaded files.

h3 Behavior
p.
  When a file is dropped into the dropzone or uploaded through the dialog,
  a card with the status info should be displayed below the dropzone.

h3 Styles

:sample
  .l-container
    .form
      .form__group
        .form__group__label.
          Datei
        .form__group__control
          .multi-file-upload
            .dropzone
              .dropzone__container(data-dropzone='dropzone')
                input.dropzone__input(type='file')
                .dropzone__icon-container
                  i.dropzone__icon.icon.icon--upload
                .dropzone__text-container
                  .dropzone__text
                    span Drag file here or
                    | &nbsp;
                    a.dropzone__text__upload-link click to choose
            .upload-remarks
              | Nur Bilder (.jpg, .png, .gif) oder Dokumente (.pdf, .docx).
              br
              | Maximal 2 MB pro Datei
            .file-list
              .file-status
                .file-uploading__title awesome_image.jpg
                .file-uploading__percentage 22%
                .file-uploading__progress
                  .file-uploading__progress-background
                    .file-uploading__progress-foreground(style='width: 22%')
              .file-status
                .file-uploaded__actions
                  a ansehen
                  a löschen
                .file-uploaded__title axaswitch.gif
              .file-status
                .file-uploaded__actions
                  a ansehen
                  a löschen
                .file-uploaded__title superblock.bmp
