---
title: Filter
slug: filter
collection: development_blocks
template: development.jade
---

:sample
  p
    .button.button--secondary.button--small
      span Filtern nach
      span.icon.icon--arrow-right
    span
      strong  Audi Q5
      span  (5 Resultate)

  .filter.is-active
    .filter__content
      .filter__item.filter__item--large
        .filter__item__heading Art
        .filter__item__options
          .filter__option
            .filter__option__checkbox: .checkbox
            .filter__option__label Kombi 
          .filter__option
            .filter__option__checkbox: .checkbox
            .filter__option__label Limousine
      .filter__item
        .filter__item__heading Türen
        .filter__item__options
          .filter__option
            .filter__option__checkbox: .checkbox
            .filter__option__label 3
          .filter__option
            .filter__option__checkbox: .checkbox
            .filter__option__label 5
      .filter__item
        .filter__item__heading PS
        .filter__item__options
          .filter__option
            .filter__option__checkbox: .checkbox
            .filter__option__label 110 
          .filter__option
            .filter__option__checkbox: .checkbox
            .filter__option__label 155
          .filter__option
            .filter__option__checkbox: .checkbox
            .filter__option__label 170
    .filter__close
      a.filter__close__link
