---
title: Footer
slug: footer
collection: visuals
---

:sample
  .footer
    .footer__content-container
      .footer__content.l-row
        .l-third
          h3 Keep In Touch
          ul.footer-menu
            li.footer-menu__item
              a.footer-menu__link(href="#facebook") Facebook
            li.footer-menu__item
              a.footer-menu__link(href="#twitter") Twitter
            li.footer-menu__item
              a.footer-menu__link(href="#youtube") YouTube
            li.footer-menu__item
              a.footer-menu__link(href="#linkedin") LinkedIn

        .l-third
          h3 AXA & You
          ul.footer-menu
            li.footer-menu__item
              a.footer-menu__link(href="#contact-us") Contact Us
            li.footer-menu__item
              a.footer-menu__link(href="#help-and-advice") Help & Advice
            li.footer-menu__item
              a.footer-menu__link(href="#latest-news") Latest News
            li.footer-menu__item
              a.footer-menu__link(href="#jobs") Jobs

        .l-third
          h3 AXA Worldwide
          ul.worldwide
            li.worldwide__item
              a.worldwide__link.worldwide__link--world(href="#axa-com", title="AXA International") AXA.com
            li.worldwide__item
              a.worldwide__link.worldwide__link--switzerland(href="#axa-ch", title="AXA Switzerland") AXA.ch

    .footer__copyline
      .footer__copyline__inner.l-row
        .l-full
          ul.copyline-menu
            li.copyline-menu__item
              a.copyline-menu__link(href="#sitemap") Sitemap
            li.copyline-menu__item
              a.copyline-menu__link(href="#privacy") Privacy
            li.copyline-menu__item
              a.copyline-menu__link(href="#disclaimer") Disclaimer
            li.copyline-menu__item
              span.copyline-menu__text AXA 2014 ©
