---
title: Footer
slug: footer
collection: development_blocks
template: development.jade
---


:markdown
    The ``footer`` block is mandatory as defined by the AXA Group's Webcharter.


:sample
    footer.footer
      .footer__content

          .footer__item.footer__item--keep-in-touch
              .footer__item__headline Keep in touch
              ul.menu.menu--keep-in-touch
                li.menu__item
                  a(href='#facebook').menu__link.icon.icon--facebook
                !='&nbsp;' 
                // necessary for text align justify
                li.menu__item
                  a(href='#twitter').menu__link.icon.icon--twitter
                !='&nbsp;'
                li.menu__item
                  a(href='#twitter').menu__link.icon.icon--xing
                !='&nbsp;'
                li.menu__item
                  a(href='#twitter').menu__link.icon.icon--google-plus


          .footer__item.footer__item--links
              .footer__item__headline AXA & You
              .footer__item__menu
                ul.menu.menu--footer
                    li.menu__item.is-active
                        a(href='#').menu__link Contact Us
                    li.menu__item
                        a(href='#').menu__link Help & Advice
                    li.menu__item
                        a(href='#').menu__link Latest News
                ul.menu.menu--footer
                    li.menu__item.is-active
                        a(href='#').menu__link Lorem ipsum
                    li.menu__item
                        a(href='#').menu__link Lorem ipsum
                    li.menu__item
                        a(href='#').menu__link Lorem ipsum

          .footer__item.footer__item--international
              .footer__item__headline AXA worldwide
              .footer__item__headline--button AXA worldwide
              .footer__item__headline--button Hopfenblütentee
              ul.menu.menu--international
                li.menu__item
                  a(href='#facebook').icon.icon--facebook

      .footer__copyline
          ul.menu.menu--copyline
              li.menu__item
                  a(href='#').menu__link Sitemap
              li.menu__item
                  a(href='#').menu__link Privacy
              li.menu__item
                  a(href='#').menu__link Disclaimer
              li.menu__item
                .menu__link AXA 2014 ©
                
    
    
    
    
