---
title: Footnote
slug: footnote
collection: development_blocks
template: development.jade
---

:markdown
  The ``footnote`` block is used for footnotes in a form.
  
:sample
  .footnote * Pflichtfelder
// Copyright AXA Versicherungen AG 2015
