---
title: Heading
slug: heading
collection: development_blocks
template: development.jade
---

p.
  The heading block and it's modifieres can be used for special headings,
  e.g. a page heading.

h2 Page heading

:markdown
  ``heading--page``

:sample
  h1.heading.heading--page Page heading


h2 Fieldset heading

:markdown
  ``heading--fieldset``

:sample
  h2.heading.heading--fieldset Fieldset heading


h2 Summary heading

:markdown
  ``heading--summary``

:sample
  h3.heading.heading--summary Fieldset heading
