---
title: Heading
slug: heading
collection: development_blocks
template: development.jade
---

p.
  The heading block and it's modifieres can be used for special headings,
  e.g. a page heading.

h2 Page heading

:sample
  h1.heading.heading--page Page heading
