---
title: Heading
template: development.jade
---

p.paragraph.
  The heading block and it's modifieres can be used for special headings,
  e.g. a page heading.

h2.heading.heading--secondary Page heading

:markdown
  `heading--page`

:sample
  h1.heading.heading--page Page heading

h2.heading.heading--secondary Primary heading
:markdown
  `heading--primary`

:sample
  h1.heading.heading--primary Primary heading

h2.heading.heading--secondary Secondary heading

:markdown
  `heading--secondary`

:sample
  h2.heading.heading--secondary Secondary heading

h2.heading.heading--secondary Fieldset heading

:markdown
  `heading--fieldset`

:sample
  h2.heading.heading--fieldset Fieldset heading

h2.heading.heading--secondary Summary heading

:markdown
  `heading--summary`

:sample
  h3.heading.heading--summary Fieldset heading

// Copyright AXA Versicherungen AG 2015
