---
title: Header
template: development.jade
---

:markdown
  The ``header`` block is mandatory as defined by the AXA Group's Webcharter.

  You'll find the ``header__brand`` element on the left hand side.
  Further description available within the ``brand`` blocks section.

  On the right side there is a ``header__mobile-trigger`` or ``header__meta`` element on mobile or desktop respectively.

  The ``header__mobile-trigger`` element is designed to trigger a mobile slide-in menu
  as described within the ``menu`` block.

  The ``header__meta`` element is divided into an ``header__meta__upper`` and ``header__meta__lower`` element.
  The ``header__meta__upper`` element contains a ``header__meta__menu`` element and a ``header__meta__language`` element.
  The ``header__meta__lower`` element contains a ``header__meta__welcome`` element and a ``header__meta__social`` element.
:sample
  header.header
    .header__container.l-container
      .header__mobile-trigger
      .header__brand.brand
        .brand__logo
        .brand__tagline.brand__tagline--de
      .header__meta
        .header__meta__upper
          .header__meta__action
            .header__action
              a.menu__link.header__action__button Logout
          .header__meta__language
            ul.menu.menu--language
              li.menu__item
                a.menu__link DE
              li.menu__item
                a.menu__link FR
              li.menu__item
                a.menu__link IT
              li.menu__item
                a.menu__link EN
          .header__meta__menu
            ul.menu.menu--meta
              li.menu__item.is-active
                a.menu__link Individuals
              li.menu__item
                a.menu__link Small Business Insurance
              li.menu__item
                a.menu__link Business
        .header__meta__lower
          .header__meta__welcome
            div
              .header__meta__welcome__main Welcome to AXA
              .header__meta__welcome__secondary
                a(href='tel:0800809809') 0800 809 809
    .header__menu
      .l-container
        ul.menu.menu--main
          li.menu__item
            a(href='#0').menu__link.menu__link--home
          li.menu__item
            a(href='#1').menu__link Menu Item 1
          li.menu__item.is-active
            a(href='#2').menu__link Menu Item 2
          li.menu__item
            a(href='#3').menu__link Menu Item 3
          li.menu__item
            a(href='#4').menu__link Menu Item 4

// Copyright AXA Versicherungen AG 2015
