---
title: Icons
slug: icons
collection: visuals
order: 1
---

.icons
  ul.icons-list
    each icon in icons
      li.icons-list__item
        span.icons-list__icon.icon(class='icon--' + icon.name)
        span.icons-list__text= '.icon.icon--' + icon.name

:sample
  p
    = 'Yesterday I had a '
    i.icon.icon--burger
    = '. It was delicius!'
