---
title: Info-Text
template: development.jade
---

:markdown
  The ``info-text`` block is used to display informative text in a form.

  Combine it with the ``info-icon`` block and the ``info`` plugin for a slide
  in / slide out animation, triggered on a click.

:sample
  .l-container
    .form
      .form__group
        .form__group__label
          .form__group__label__info-icon
            .info-icon
          label.form__group__label__info-icon-text-wrapper
            .form__group__label__text Form label
        .form__group__control
          input.control.control--input(type='text')
          .form__info-text
            .info-text
              p.paragraph.
                Hallo Welt!
// Copyright AXA Versicherungen AG 2015
