---
title: Info-Text
slug: info-text
collection: development_blocks
template: development.jade
---

:markdown
  The ``info-text`` block is used to display informative text in a form.

  Combine it with the ``info-icon`` block and the ``slide`` plugin for a slide
  in and slide out animation, triggered on a click.

:sample
  .l-container
    .form
      .form__group
        .form__group__label
          .info-icon
            a(href='#').info-icon__icon
            label.info-icon__label Was wurde beschädigt?
        .form__group__control
          input.control.control--input(type='text')
        .form__group__info-text
          .info-text
            p.
              Hallo Welt!
