---
title: List
slug: list
collection: development_blocks
template: development.jade
---

h1.heading.heading--1 List

p.
  The list is the right block to display multiple records of similar
  structure in a nice and clear way. It's great if you can do certain
  actions on your records, like showing the details or selecting it.

p.callout.callout--danger.
  Note that you should use the table block if you have a large collection
  of structured numbers.

h3 Simple list

p.
  The items of the list block appear as boxes on mobile and as an usual
  list on larger devices.

:sample
  .list
    .list__item
      .list__item__cell.cell.cell--title
        i.cell__icon.icon.icon--cross
          span.cell__icon__badge.badge 2
        .cell__text
          strong Autoversicherung
          br
          span BMW
      .list__item__cell.cell
        span.cell__label Kontrollschild
        br
        span.cell__value ZH 380 299
      .list__item__cell.cell
        span.cell__label Prämie
        br
        span.cell__value CHF 645.10
      .list__item__cell.cell
        i.cell__icon.icon.icon--cross
        .cell__text
          span 01.01.2012
          br
          span 31.12.2015
      .list__item__cell.cell.cell--action
        a.cell__action(href='#', class=(item === 'Two' ? 'is-open' : ''))
          span Schaden melden
    .list__overlay
      .list__overlay__content.
        Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
    .list__item
      .list__item__cell.cell.cell--title
        i.cell__icon.icon.icon--home
        .cell__text
          strong Hausratversicherung
          br
          span BOX OPTIMA
      .list__item__cell.cell
        span.cell__label Adresse
        br
        span.cell__value Mutschellenstr. 67
      .list__item__cell.cell
        span.cell__label Prämie
        br
        span.cell__value CHF 869.21
      .list__item__cell.cell
        i.cell__icon.icon.icon--cross
        .cell__text
          span 01.01.2012
          br
          span 31.12.2015
      .list__item__cell.cell.cell--action
        a.cell__action(href='#', class=(item === 'Two' ? 'is-open' : ''))
          span Schaden melden


h3 Sortable list

p.
  In contrast to the simple list the sortable list has a heading on top of all
  rows instead one for each cell. The headers are clickable to have sorting.
  On mobile the headers disappear and a dropdown is display to have the sorting
  functionality.

p.
  Sorting has to be implemented for each individual application/framework
  since we can not provide a solution that works for every framework
  in every circumstances.

p.
  Use <code>.is-sorted.is-sorted--ascending</code> or
  <code>.is-sorted.is-sorted--descending</code> on the
  <code>.list__heading__cell</code> to indicate that this
  is the cell/value which is the current sort term.

p.
  Advanced sorting with multiple sort terms is not yet implemented.

:sample
  .list
    .list__heading
      .list__heading__cell
      .list__heading__cell.is-sorted.is-sorted--ascending
        a(href='#').list__heading__cell__link Prämie
          i.list__heading__cell__icon
      .list__heading__cell
        a(href='#').list__heading__cell__link Start
          i.list__heading__cell__icon
      .list__heading__cell
        a(href='#').list__heading__cell__link Ende
          i.list__heading__cell__icon
    .list__item
      .list__item__cell.cell.cell--title
        i.cell__icon.icon.icon--cross
          span.cell__icon__badge.badge 2
        .cell__text
          strong Autoversicherung
          br
          span ZH 380 229
      .list__item__cell.cell
        span.cell__text CHF 645.10
      .list__item__cell.cell
        span.cell__text 01.01.2012
      .list__item__cell.cell
        span.cell__text 31.12.2017
      .list__item__cell.cell.cell--action
        a.cell__action(href='#', class=(item === 'Two' ? 'is-open' : ''))
          span Schaden melden
    .list__item
      .list__item__cell.cell.cell--title
        i.cell__icon.icon.icon--home
        .cell__text
          strong Hausratversicherung
          br
          span Mutschellenstr. 67
      .list__item__cell.cell
        span.cell__text CHF 869.21
      .list__item__cell.cell
        span.cell__text 01.01.2012
      .list__item__cell.cell
        span.cell__text 31.12.2017
      .list__item__cell.cell.cell--action
        a.cell__action(href='#', class=(item === 'Two' ? 'is-open' : ''))
          span Schaden melden
