---
title: Main Nav
template: development.jade
status: experimental
---

:sample
  nav.main-nav
    .l-container
      ul.menu.menu--main
        li.menu__item
          a(href='#0').menu__link.menu__link--home
        li.menu__item
          a(href='#1').menu__link Menu Item 1
        li.menu__item.is-active
          a(href='#2').menu__link Menu Item 2
        li.menu__item
          a(href='#3').menu__link Menu Item 3
        li.menu__item
          a(href='#4').menu__link Menu Item 4
// Copyright AXA Versicherungen AG 2015
