---
title: Modal
template: development.jade
---

:markdown
  The modal block represents a modal dialog. It is hidden by default.
  Add the ``.is-active`` state to make it visible. When the modal is
  visible you have to add the ``.is-modal-open`` state to the body element
  of your page to hide the main scrollbar.

:sample
  .button(data-modal='#myModal') Show modal

  .modal#myModal
    .modal__backdrop
    .modal__wrapper
      .modal__dialog
        .modal__header
          a(data-modal='#myModal').modal__close
          .modal__heading
            .heading.heading--modal Datenschutzbestimmungen
        .modal__content-wrapper
          .modal__content
            :markdown
              # Datenschutz und Datensicherheit haben bei der AXA einen hohen Stellenwert.

              ## Datenschutz

              Sämtliche Personendaten werden gemäss den anwendbaren Datenschutzbestimmungen bearbeitet. Da der AXA Konzern in der Schweiz Teil der französischen AXA Gruppe ist, erfolgt die Abwicklung von Geschäftsprozessen zur Erzielung von Kosteneinsparungen zum Teil länderübergreifend in zentralen Serviceeinheiten und Datenverarbeitungssystemen. Soweit dabei auch Daten außerhalb der Europäischen Union verarbeitet werden, erfolgt dies auf der Basis einer Unternehmensrichtlinie der AXA Gruppe. Diese Unternehmensrichtlinie (sogenannte Binding Corporate Rules) ist von den Europäischen Datenschutzaufsichtsbehörden genehmigt und dem Eidgenössischen Datenschutz- und Öffentlichkeitsbeauftragten zur Information zugestellt worden. Sie gewährleisten ein angemessenes Datenschutzniveau bei der Datenverarbeitung durch AXA Gesellschaften, die außerhalb der EU ansässig sind.

              ## Datensicherheit im Internet

              Mit Ihrem Zugriff auf die Website der AXA erklären Sie Ihr Einverständnis mit den nachfolgenden Bedingungen. Wir machen Sie darauf aufmerksam, dass im Internet im Allgemeinen die Richtigkeit, Vollständigkeit, Vertraulichkeit und Geheimhaltung von Daten nicht gewährleistet sind.

              ## Die AXA übernimmt keine Verantwortung und lehnt jede Haftung ab für:

              die Sicherheit Ihrer Daten während der Übermittlung über das Internet
              den Fall, dass ein Dritter die von Ihnen oder der AXA eingegebenen Daten abändert, einsieht, übernimmt, verwendet oder verwertet
              Fehlfunktionen im Internet, importierte Daten aller Art (Einschmuggeln von Viren usw.) sowie für Links von und zu anderen Webseiten


              Die Nutzung Ihrer Daten zur Information über Dienstleistungen und Produkte der AXA erfolgt ausschliesslich im Rahmen der geltenden Gesetze und Vorschriften.

              ## Allgemeines über „Cookies“ und Nutzungsverhalten

              ## Cookies

              Bei den Besuchen der Webseiten der AXA werden sogenannte "Cookies" auf ihrem Rechner gespeichert. "Cookies" sind kleine Textdateien, in denen der Anbieter einer Internet-Seite oder Werbende für ihn relevante Daten abspeichert um das Surfen auf der Web-Seite zu erleichtern und zu verbessern.

              Ein solcher "Cookie" kann nicht von einer anderen Website gelesen werden als von der, die den „Cookie“ platziert hat. In den "Cookies" speichert die AXA keine personenbezogenen Daten wie Namen, Adressen etc. von Ihnen.

              Die maximale Lebensdauer des "Cookie" beträgt 90 Tage. Nach Ablauf dieser Frist, erfolgt eine automatische Löschung. Bei jedem Besuch der Webseiten von AXA wird ein neuer "Cookie" gesetzt. Bei Bestehen eines "Cookies", werden die Informationen aktualisiert. Dies entspricht einem Löschen und Neusetzen des "Cookies".

              ## Nutzungsverhalten

              Die Aufrufhistorie der Webseiten wird automatisch gespeichert. Die AXA wertet diese mit Hilfe sogenannter Web-Analyse-Tools anonym, ohne Rückbezug auf die sogenannte "IP-Adresse" (Ihre Rechneradresse) aus, um die Webseiten zu optimieren.

              ## „Cookie“- und Datenschutzbestimmungen für Google-Werbeprogramme DoubleClick, Google Adwords sowie Google Analytics

              Dies sind Dienstleistungen der Google Inc. (im Folgenden "Google"). Google verwendet ebenfalls „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden, um Ihre Nutzung der Website zu analysieren. Die durch den „Cookie“ erzeugten Informationen über Ihre Benutzung dieser Website (einschließlich Ihrer IP-Adresse) werden an einen Google-Server in den USA übertragen und dort gespeichert. Google beachtet die Datenschutzbestimmungen des U.S.-Swiss-Safe-Harbor-Abkommens und ist als Safe-Harbor zertifiziertes Unternehmen beim US-Handelsministerium registriert.

              IP-Adresse
              die besuchten Seiten und deren Reihenfolge (möglicherweise kann ein Tracking-Cookie gesetzt werden)
              das verwendete Betriebssystem und der verwendete Browser
              Datum und Zeit der Seitenaufrufe
              die Adresse der zuvor betrachteten Website, falls Ihr Besuch über einen dort platzierten direkten Link zustande gekommen ist


              Google wird diese Informationen verwenden, um Ihre Nutzung der Website auszuwerten, Reports über die Websiteaktivitäten für die AXA zusammenzustellen sowie um weitere mit der Internetnutzung verbundene Dienstleistungen zu erbringen. Google wird diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben ist oder soweit Dritte diese Daten im Auftrag von Google verarbeiten.

              Drittanbieter, einschliesslich Google, schalten Anzeigen auf Websites im Internet und verwenden gespeicherte Cookies zum Schalten von Anzeigen auf Grundlage vorheriger Besuche eines Nutzers auf dieser Website.

              Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten von Google in Verbindung bringen. Der Datenerhebung und -speicherung kann jederzeit widersprochen werden, allerdings nicht rückwirkend. Falls gewünscht, können Sie die Verwendung von Cookies in den meisten Internetbrowsern deaktivieren (siehe Anleitung Ihres Internetbrowsers). Wir weisen Sie darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser und anderer Websites vollumfänglich nutzen können.
              Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der beschriebenen Art und Weise und zum genannten Zweck einverstanden.

              Der Datenerhebung und -speicherung kann jederzeit widersprochen werden, allerdings nicht rückwirkend.

              [Hinweise zu den Bestimmungen von Google](#)


              ## Fragen zum Thema Datensicherheit im Internet

              Zum Thema Datensicherheit wenden Sie sich bitte an die [Fachstelle für Fragen zur Website]()
              (Fragen zu Ihrer Versicherung können hier nicht beantwortet werden! Benutzen Sie hierzu bitte [Kontakt & Service]()).
        .modal__footer
          .modal__footer__wrapper
            .modal__buttons
              a.modal__buttons__button.button.button--small.button--secondary Drucken
              a(data-modal='#myModal').modal__buttons__button.button.button--small.button--secondary Schliessen
// Copyright AXA Versicherungen AG 2015
