---
title: Popover
slug: popover
collection: development_blocks
template: development.jade
status: experimental
---

:markdown
  The modal block represents a modal dialog. It is hidden by default.
  Add the ``.is-active`` state to make it visible. When the modal is
  visible you have to add the ``.is-modal-open`` state to the body element
  of your page to hide the main scrollbar.

:sample
  a.button(id='toggleButton',data-popover='#popover') Show Popover
  .popover(id='popover', style='visibility:hidden')
    .popover__tail
    .popover__box
      .popover__box__header
        a.popover__close.icon.icon--modal-close
      .popover__box__content__wrapper
        .popover__box__content
          textarea.control.control--textarea
          p
            a.button.button--small 'clicky click'
