---
title: Progressbar
slug: progress
collection: development_blocks
template: development.jade
---

:markdown
  The ``progress`` block is used to indicate a progress
  within a process.

  Add as many ``progress__step`` elements as needed. But be
  carefull to not exceed the maximum available width on
  mobile devices!

:sample
  .progress
    ul.progress__flow
      li.progress__step.step.step--start.is-active
        span.step__bullet 1
      li.progress__step.step.is-active
        span.step__bullet 2
      li.progress__step.step.step--end
        span.step__bullet 3
