---
title: Segmented Control
template: development.jade
---

:markdown
  The ``segmented-control--js`` modifier will add custom styling to
  radio buttons to look like a segmented-control.
  Be aware that it **depends on JavaScript**. Therefore you have to
  include the jQuery plugin bundled with the style guide or set the
  ``.is-active`` state of the ``.segmented-control__item`` on your own,
  depending on the radio button option. See the segmented-control
  plugin docs for further information on this topic.

h2.heading.heading--secondary Non-enhanced segmented-control (no JavaScript)

:sample
  .segmented-control
    label.segmented-control__item
      input.segmented-control__item__radio(type='radio', name='foo')
      span.segmented-control__item__label Ja
    label.segmented-control__item
      input.segmented-control__item__radio(type='radio', name='foo')
      span.segmented-control__item__label Nein

h2.heading.heading--secondary Enhanced segmented-control (JavaScript)

:sample
  .segmented-control(data-segmented-control)
    label.segmented-control__item
      input.segmented-control__item__radio(type='radio', name='bar')
      span.segmented-control__item__label Ja
    label.segmented-control__item
      input.segmented-control__item__radio(type='radio', name='bar')
      span.segmented-control__item__label Nein

:markdown
  Add the ``segmented-control--stacked`` modifier to stack segmented
  controls when there's not enough space.

  The jQuery Plugin will do that automatically for you.

:sample
  div(style='max-width: 250px;')
    .segmented-control(data-segmented-control)
      label.segmented-control__item
        input.segmented-control__item__radio(type='radio', name='bar')
        span.segmented-control__item__label Foo bar
      label.segmented-control__item
        input.segmented-control__item__radio(type='radio', name='bar')
        span.segmented-control__item__label long text
      label.segmented-control__item
        input.segmented-control__item__radio(type='radio', name='bar')
        span.segmented-control__item__label and some
      label.segmented-control__item
        input.segmented-control__item__radio(type='radio', name='bar')
        span.segmented-control__item__label more controls
// Copyright AXA Versicherungen AG 2015
