---
title: Step
template: development.jade
---

:markdown
  The ``step`` block is designed to be used within the
  ``progress`` block. It represents a step within a process.

  Use the ``step--start`` and ``is-active``
  modifier/state for the first or active step respectively.


:sample
  // Add  a wrapper because the step block has overflow
  div(style='width: 50%; max-width: 200px; margin: 0 auto')
    .step
      span.step__bullet 1
      
:sample
  // Add  a wrapper because the step block has overflow
  div(style='width: 50%; max-width: 200px; margin: 0 auto')
    .step
      span.step__bullet.step__bullet--checkmark
        
:sample
  // Add  a wrapper because the step block has overflow
  div(style='width: 50%; max-width: 200px; margin: 0 auto')
    .step
      span.step__bullet.step__bullet--checkmark.is-active
      
:sample
  // Add  a wrapper because the step block has overflow
  div(style='width: 50%; max-width: 200px; margin: 0 auto')
    .step.step--start
      span.step__bullet 2

:sample
  // Add  a wrapper because the step block has overflow
  div(style='width: 50%; max-width: 200px; margin: 0 auto')
    .step.is-active
      span.step__bullet 3

// Copyright AXA Versicherungen AG 2015
