---
title: Table
template: development.jade
---

p.callout.
  It is important to not include any whitespace in the markup.

:sample
  table.table
    thead
      tr.table__header
        th.table__header__item
        th.table__header__item Art
        th.table__header__item Türen
        th.table__header__item Hubraum
        th.table__header__item PS
        th.table__header__item Preis
    tbody.table__content
      tr.table__row
        td.table__row__item.table__row__item--headline
          .table__row__item__content
            a.table__row__item__content__link Q5 2.0 TDI Quattro
        td.table__row__item
          .table__row__item__content Kombi
        td.table__row__item
          .table__row__item__content 5
            .table__row__item__content__label Türen
        td.table__row__item
          .table__row__item__content 1969 ccm
        td.table__row__item
          .table__row__item__content 170
            .table__row__item__content__label PS
        td.table__row__item
          .table__row__item__content CHF 60'000
      tr.table__row
        td.table__row__item.table__row__item--headline
          .table__row__item__content
            a.table__row__item__content__link Q5 2.0 TDI Quattro
        td.table__row__item
          .table__row__item__content Kombi
        td.table__row__item
          .table__row__item__content 5
            .table__row__item__content__label Türen
        td.table__row__item
          .table__row__item__content 1969 ccm
        td.table__row__item
          .table__row__item__content 170
            .table__row__item__content__label PS
        td.table__row__item
          .table__row__item__content CHF 60'000

p.pargraph.
  Use the <code>table__row__item--multirow</vode> modifier to add a border on the side for cells with a rowspan greater than 1.

p.paragraph.
  Use the <code>table--clickable</code> modifier to add a mouse over effect.

:sample
  table.table.table--clickable
    thead
      tr.table__header
        th.table__header__item
        th.table__header__item Art
        th.table__header__item Türen
        th.table__header__item Hubraum
        th.table__header__item PS
        th.table__header__item Preis
    tbody.table__content
      tr.table__row
        td.table__row__item.table__row__item--headline
          .table__row__item__content
            a.table__row__item__content__link Q5 2.0 TDI Quattro
        td.table__row__item

          .table__row__item__content Kombi
        td.table__row__item

          .table__row__item__content 5
            .table__row__item__content__label Türen
        td.table__row__item

          .table__row__item__content 1969 ccm
        td.table__row__item

          .table__row__item__content 170
            .table__row__item__content__label PS
        td.table__row__item

          .table__row__item__content CHF 60'000
      tr.table__row
        td.table__row__item.table__row__item--headline
          .table__row__item__content
            a.table__row__item__content__link Q5 2.0 TDI Quattro
        td.table__row__item

          .table__row__item__content Kombi
        td.table__row__item

          .table__row__item__content 5
            .table__row__item__content__label Türen
        td.table__row__item

          .table__row__item__content 1969 ccm
        td.table__row__item

          .table__row__item__content 170
            .table__row__item__content__label PS
        td.table__row__item

          .table__row__item__content CHF 60'000
      tr.table__row
        td.table__row__item.table__row__item--headline
          .table__row__item__content
            a.table__row__item__content__link Q5 2.0 TDI Quattro
        td.table__row__item

          .table__row__item__content Kombi
        td.table__row__item

          .table__row__item__content 5
            .table__row__item__content__label Türen
        td.table__row__item

          .table__row__item__content 1969 ccm
        td.table__row__item

          .table__row__item__content 170
            .table__row__item__content__label PS
        td.table__row__item

          .table__row__item__content CHF 60'000
      tr.table__row
        td.table__row__item.table__row__item--headline
          .table__row__item__content
            a.table__row__item__content__link Q5 2.0 TDI Quattro
        td.table__row__item

          .table__row__item__content Kombi
        td.table__row__item

          .table__row__item__content 5
            .table__row__item__content__label Türen
        td.table__row__item

          .table__row__item__content 1969 ccm
        td.table__row__item

          .table__row__item__content 170
            .table__row__item__content__label PS
        td.table__row__item

          .table__row__item__content CHF 60'000

// Copyright AXA Versicherungen AG 2015
