---
title: Table
slug: table
collection: development_blocks
template: development.jade
status: new
---

p.callout.
  It is important to not include any whitespace in the markup.

:sample
  table.table
    thead
      tr.table__header
        th.table__header__item
        th.table__header__item Art
        th.table__header__item Türen
        th.table__header__item Hubraum
        th.table__header__item PS
        th.table__header__item Preis
    tbody.table__content
      tr.table__item
        td.table__item__info.table__item__info--headline
          .table__item__info__content
            a.table__item__info__content__link Q5 2.0 TDI Quattro
        td.table__item__info
          .table__item__info__label Art
          .table__item__info__content Kombi
        td.table__item__info
          .table__item__info__label Türen
          .table__item__info__content 5
            .table__item__info__content__label Türen
        td.table__item__info
          .table__item__info__label Hubraum
          .table__item__info__content 1969 ccm
        td.table__item__info
          .table__item__info__label PS
          .table__item__info__content 170
            .table__item__info__content__label PS
        td.table__item__info
          .table__item__info__label Preis
          .table__item__info__content CHF 60'000
      tr.table__item
        td.table__item__info.table__item__info--headline
          .table__item__info__content
            a.table__item__info__content__link Q5 2.0 TDI Quattro
        td.table__item__info
          .table__item__info__label Art
          .table__item__info__content Kombi
        td.table__item__info
          .table__item__info__label Türen
          .table__item__info__content 5
            .table__item__info__content__label Türen
        td.table__item__info
          .table__item__info__label Hubraum
          .table__item__info__content 1969 ccm
        td.table__item__info
          .table__item__info__label PS
          .table__item__info__content 170
            .table__item__info__content__label PS
        td.table__item__info
          .table__item__info__label Preis
          .table__item__info__content CHF 60'000
      tr.table__item
        td.table__item__info.table__item__info--headline
          .table__item__info__content
            a.table__item__info__content__link Q5 2.0 TDI Quattro
        td.table__item__info
          .table__item__info__label Art
          .table__item__info__content Kombi
        td.table__item__info
          .table__item__info__label Türen
          .table__item__info__content 5
            .table__item__info__content__label Türen
        td.table__item__info
          .table__item__info__label Hubraum
          .table__item__info__content 1969 ccm
        td.table__item__info
          .table__item__info__label PS
          .table__item__info__content 170
            .table__item__info__content__label PS
        td.table__item__info
          .table__item__info__label Preis
          .table__item__info__content CHF 60'000
      tr.table__item
        td.table__item__info.table__item__info--headline
          .table__item__info__content
            a.table__item__info__content__link Q5 2.0 TDI Quattro
        td.table__item__info
          .table__item__info__label Art
          .table__item__info__content Kombi
        td.table__item__info
          .table__item__info__label Türen
          .table__item__info__content 5
            .table__item__info__content__label Türen
        td.table__item__info
          .table__item__info__label Hubraum
          .table__item__info__content 1969 ccm
        td.table__item__info
          .table__item__info__label PS
          .table__item__info__content 170
            .table__item__info__content__label PS
        td.table__item__info
          .table__item__info__label Preis
          .table__item__info__content CHF 60'000

p.
  Use the <code>table--clickable</code> modifiere to add a fancy mouse over effect.

:sample
  table.table.table--clickable
    thead
      tr.table__header
        th.table__header__item
        th.table__header__item Art
        th.table__header__item Türen
        th.table__header__item Hubraum
        th.table__header__item PS
        th.table__header__item Preis
    tbody.table__content
      tr.table__item
        td.table__item__info.table__item__info--headline
          .table__item__info__content
            a.table__item__info__content__link Q5 2.0 TDI Quattro
        td.table__item__info
          .table__item__info__label Art
          .table__item__info__content Kombi
        td.table__item__info
          .table__item__info__label Türen
          .table__item__info__content 5
            .table__item__info__content__label Türen
        td.table__item__info
          .table__item__info__label Hubraum
          .table__item__info__content 1969 ccm
        td.table__item__info
          .table__item__info__label PS
          .table__item__info__content 170
            .table__item__info__content__label PS
        td.table__item__info
          .table__item__info__label Preis
          .table__item__info__content CHF 60'000
      tr.table__item
        td.table__item__info.table__item__info--headline
          .table__item__info__content
            a.table__item__info__content__link Q5 2.0 TDI Quattro
        td.table__item__info
          .table__item__info__label Art
          .table__item__info__content Kombi
        td.table__item__info
          .table__item__info__label Türen
          .table__item__info__content 5
            .table__item__info__content__label Türen
        td.table__item__info
          .table__item__info__label Hubraum
          .table__item__info__content 1969 ccm
        td.table__item__info
          .table__item__info__label PS
          .table__item__info__content 170
            .table__item__info__content__label PS
        td.table__item__info
          .table__item__info__label Preis
          .table__item__info__content CHF 60'000
      tr.table__item
        td.table__item__info.table__item__info--headline
          .table__item__info__content
            a.table__item__info__content__link Q5 2.0 TDI Quattro
        td.table__item__info
          .table__item__info__label Art
          .table__item__info__content Kombi
        td.table__item__info
          .table__item__info__label Türen
          .table__item__info__content 5
            .table__item__info__content__label Türen
        td.table__item__info
          .table__item__info__label Hubraum
          .table__item__info__content 1969 ccm
        td.table__item__info
          .table__item__info__label PS
          .table__item__info__content 170
            .table__item__info__content__label PS
        td.table__item__info
          .table__item__info__label Preis
          .table__item__info__content CHF 60'000
      tr.table__item
        td.table__item__info.table__item__info--headline
          .table__item__info__content
            a.table__item__info__content__link Q5 2.0 TDI Quattro
        td.table__item__info
          .table__item__info__label Art
          .table__item__info__content Kombi
        td.table__item__info
          .table__item__info__label Türen
          .table__item__info__content 5
            .table__item__info__content__label Türen
        td.table__item__info
          .table__item__info__label Hubraum
          .table__item__info__content 1969 ccm
        td.table__item__info
          .table__item__info__label PS
          .table__item__info__content 170
            .table__item__info__content__label PS
        td.table__item__info
          .table__item__info__label Preis
          .table__item__info__content CHF 60'000
