---
title: Tag
template: development.jade
---


:markdown
  Use the ``tag`` block to display keywords. Use one of the ``default``,
  ``primary``, ``success`` or ``danger`` keywords as displayed below to express
  different states of urgency or status.

:sample
  .tag default
  span &nbsp;
  .tag.tag--primary primary
  span &nbsp;
  .tag.tag--success success
  span &nbsp;
  .tag.tag--danger danger

// Copyright AXA Versicherungen AG 2015
