---
title: Tile select
slug: tile-select
collection: development_blocks
template: development.jade
status: experimental
---

p.
  A bunch of tiles to select one of them.

:sample
  .tile-select
    .tile-select__group
      a.tile-select__tile Foo
      a.tile-select__tile Bar
      a.tile-select__tile Baz <br /> Böö
    .tile-select__group
      a.tile-select__tile A
      a.tile-select__tile B
      a.tile-select__tile C
