---
title: Tile select
template: development.jade
status: experimental
draft: true
---

p.paragraph.
  A bunch of tiles to select one of them.

:sample
  .tile-select
    .tile-select__group
      a.tile-select__tile Foo
      a.tile-select__tile Bar
      a.tile-select__tile Baz <br /> Böö
    .tile-select__group
      a.tile-select__tile A
      a.tile-select__tile B
      a.tile-select__tile C
// Copyright AXA Versicherungen AG 2015
