---
title: Bootstrap components
description: An overview of the AXA-themed Bootstrap components.
nav: side/components/bootstrap
order: -1
lunr: true
draft: true
toc:
- title: Title
  slug: title
---

{{#> page}}
  {{#*inline "content"}}
    <h1 class="docs-h2">{{title}}</h1>

    <p>
      The following is a visual overview of the themed Bootstrap
      components. For a detailed description please
      <a href="{{package.bootstrapDocs}}">head to the Bootstrap docs</a>.
    </p>

    {{> table-of-contents data=toc}}

    <h2 class="docs-h3" id="title">title</h2>
  {{/inline}}
{{/page}}
