---
title: Invisible Input
template: development.jade
---

:markdown
  The ``.invisible-input`` mixin can be used to hide checkboxes and
  radio buttons. It gives your element a width and height of 0 and
  positions it absolutely, so it doesn't affect your layout.

.highlight
  pre.highlight__listing.hljs: code.less
    :highlight
      selector {
        .invisible-input();
      }

// Copyright AXA Versicherungen AG 2015
