---
title: Drawer
description: Add a fixed drawer-like element for your mobile or desktop navigation.
nav: side/layout/drawer
order: 2
lunr: true
toc:
  - title: Overview
    slug: overview
  - title: Top drawer
    slug: top-drawer
  - title: Side drawer
    slug: side-drawer
  - title: Persistent side drawer
    slug: persistent-side-drawer
---

{{#> page}}
  {{#*inline "content"}}

    <h1 class="docs-h2">{{title}}</h1>

    <p class="lead">The drawer is a flexible layout component. It helps you
    create togglable mobile menus. On larger viewports,
    it can also stick persistently on one side. This website even uses
    both ways depending on the viewport!</p>

    {{> table-of-contents data=toc}}

    <h2 id="overview" class="docs-h3">Overview</h2>

    <p>...</p>

    <h2 id="top-drawer" class="docs-h3">Top drawer</h2>

    <p>...</p>

    {{> example path="/layout/drawer/demos/side-drawer.html"}}
    {{#code-snippet "html"}}
      <body data-make="drawer">
        <!-- Burger in header -->
        <a href="#" class="header-burger float-xs-right" data-fade="drawer" data-target="#site" data-in="is-open">
          <span class="header-burger-line"></span>
        </a>

        <!-- Content here... -->

        <div class="drawer togglable-xs-right" data-fade="drawer" data-target="#site" data-in="in">
          <!-- Drawer content here... -->
        </div>

        <a href="#" class="mask" data-fade="drawer" data-target="#site" data-in="fade-in-xs-down" data-out="fade-out-delayed-xs-down"></a>
      </body>
    {{/code-snippet}}

    <h2 id="side-drawer" class="docs-h3">Side drawer</h2>

    <p>...</p>

    {{> example path="/layout/drawer/demos/top-drawer.html"}}
    {{#code-snippet "html"}}
      <body data-make="drawer">
        <!-- Burger in header -->
        <a href="#" class="header-burger float-xs-right" data-fade="drawer" data-target="#site" data-in="is-open">
          <span class="header-burger-line"></span>
        </a>

        <!-- Content here... -->

        <div class="drawer togglable-xs-top" data-fade="drawer" data-target="#site" data-in="in">
          <!-- Drawer content here... -->
        </div>
      </body>
    {{/code-snippet}}

    <h2 id="persistent-side-drawer" class="docs-h3">Persistent side drawer</h2>

    <p>...</p>

    {{> example path="/layout/drawer/demos/persistent-drawer.html"}}
    {{#code-snippet "html"}}
      <body class="push-sm-left">
        <!-- Content here... -->

        <div class="drawer persistent-sm-left hidden-xs-down">
          <!-- Drawer content here... -->
        </div>
      </body>
    {{/code-snippet}}

  {{/inline}}
{{/page}}
