---
title: Auswahl
slug: auswahl
collection: visuals
---

:sample
  .auswahl
    .auswahl__header
      .auswahl__header__item
      .auswahl__header__item Art
      .auswahl__header__item Türen
      .auswahl__header__item Preis
      .auswahl__header__item Hubraum
      .auswahl__header__item PS
    .auswahl__content
      .auswahl__item
        .auswahl__item__info.auswahl__item__info--key
          .auswahl__item__info__content
            a.auswahl__item__info__content__link Q5 2.0 TDI Quattro
        .auswahl__item__info
          .auswahl__item__info__label Art
          .auswahl__item__info__content Kombi
        .auswahl__item__info
          .auswahl__item__info__label Türen
          .auswahl__item__info__content 5
        .auswahl__item__info
          .auswahl__item__info__label Preis
          .auswahl__item__info__content CHF 60'000
        .auswahl__item__info
          .auswahl__item__info__label Hubraum
          .auswahl__item__info__content 1969
        .auswahl__item__info
          .auswahl__item__info__label PS
          .auswahl__item__info__content 170
      .auswahl__item
        .auswahl__item__info.auswahl__item__info--key
          .auswahl__item__info__content
            a.auswahl__item__info__content__link Q5 2.0 TDI Quattro
        .auswahl__item__info
          .auswahl__item__info__label Art
          .auswahl__item__info__content Kombi
        .auswahl__item__info
          .auswahl__item__info__label Türen
          .auswahl__item__info__content 5
        .auswahl__item__info
          .auswahl__item__info__label Preis
          .auswahl__item__info__content CHF 60'000
        .auswahl__item__info
          .auswahl__item__info__label Hubraum
          .auswahl__item__info__content 1969
        .auswahl__item__info
          .auswahl__item__info__label PS
          .auswahl__item__info__content 170
