---
title: Badges
slug: badges
collection: visuals
---

p.
  With badges, you can highlight new or unread items. Use them standalone
  or in another block, like a button or on an icon.

:sample
  p
    span.badge 42
  p
    span.badge
  p
    a.button.button--secondary.button--small(href="#")
      span Hello
      span.button__badge.badge 2
