---
title: Buttons
slug: buttons
collection: visuals
order: 3
---

p.
  A longer description about the button visuals provided by this style guide.
  Let's clarify where to use these visuals, why and how. And show some fancy
  examples!

pre.hljs
  code.html
    :highlight
      <button>
        <i class="icon-boat"></i>
        <span>Bloated Boat</span>
      </button>
