---
title: Buttons
slug: buttons
collection: visuals
---

.example
  a.button(href="#button-one") Primary Action
  = ' '
  a.button.button--secondary(href="#button-two") Secondary Action

pre.highlight.hljs: code.html
  :highlight
    <a href="#" class="button">Primary Button</a>
    <a href="#" class="button button--secondary">Secondary Action</a>
