---
title: Buttons
slug: buttons
collection: visuals
order: 3
---

p.
  A longer description about the button visuals provided by this style guide.
  Let's clarify where to use these visuals, why and how. And show some fancy
  examples!

:sample
  button
    i.icon-boat
      span Bloated Boat
