---
title: Colors
slug: colors
collection: visuals
---

each category, categoryName in colors
  .color-palette
    h3.color-palette__headline #{categoryName}
    each color, colorName in category
      .color-palette__swatch
        span.color-palette__swatch__color(style='background: ' + color + ';')
        p.color-palette__swatch__variable @color-#{categoryName}-#{colorName}
        p.color-palette__swatch__code #{color}
