---
title: Colors
slug: colors
---

.color-palette
  .color-palette__swatch
    span.color-palette__swatch__color.color-palette__swatch__color--ui-alpha
    p.color-palette__swatch__text #243980
  .color-palette__swatch
    span.color-palette__swatch__color.color-palette__swatch__color--ui-beta
    p.color-palette__swatch__text #ff1821
  .color-palette__swatch
    span.color-palette__swatch__color.color-palette__swatch__color--ui-gamma
    p.color-palette__swatch__text #0f2e86
  .color-palette__swatch
    span.color-palette__swatch__color.color-palette__swatch__color--ui-delta
    p.color-palette__swatch__text #5c91c0
  .color-palette__swatch
    span.color-palette__swatch__color.color-palette__swatch__color--ui-epsilon
    p.color-palette__swatch__text #69be28
  .color-palette__swatch
    span.color-palette__swatch__color.color-palette__swatch__color--text-alpha
    p.color-palette__swatch__text #444
