---
title: Colors
slug: colors
---

.color-palette
  .color-palette__headline UI
  .color-palette__swatch
    span.color-palette__swatch__color.color-palette__swatch__color--ui-alpha
    p.color-palette__swatch__text #103184
    p.color-palette__swatch__text.color-palette__swatch__text--secondary @color-ui-alpha
  .color-palette__swatch
    span.color-palette__swatch__color.color-palette__swatch__color--ui-beta
    p.color-palette__swatch__text #ff1821
    p.color-palette__swatch__text.color-palette__swatch__text--secondary @color-ui-beta
  .color-palette__swatch
    span.color-palette__swatch__color.color-palette__swatch__color--ui-gamma
    p.color-palette__swatch__text #86a647
    p.color-palette__swatch__text.color-palette__swatch__text--secondary @color-ui-gamma
.color-palette
  .color-palette__headline Text
  .color-palette__swatch
    span.color-palette__swatch__color.color-palette__swatch__color--text-alpha
    p.color-palette__swatch__text #333333
    p.color-palette__swatch__text.color-palette__swatch__text--secondary @color-text-alpha
  .color-palette__swatch
    span.color-palette__swatch__color.color-palette__swatch__color--text-beta
    p.color-palette__swatch__text #6f6f6f
    p.color-palette__swatch__text.color-palette__swatch__text--secondary @color-text-beta
