---
title: Contract List
slug: contract-list
collection: visuals
---

:sample
  .contract-list.contract-list--tiles
    .contract-list__item
      .contract-list__item__header.icon.icon--home
        .contract-list__item__headline
          .contract-list__item__headline__primary BOX
          .contract-list__item__headline__secondary Die Haushaltsversicherung
      .contract-list__item__content
        .contract-list__item__content__item.contract-list__item__content__item--key
          .contract-list__item__content__item__label Kontrollschild
          .contract-list__item__content__item__value TG 163090
        .contract-list__item__content__item
          .contract-list__item__content__item__label Kontrollschild
          .contract-list__item__content__item__value TG 163090
        .contract-list__item__content__item.contract-list__item__content__item--sum
          .contract-list__item__content__item__label Kontrollschild
          .contract-list__item__content__item__value TG 163090
      .contract-list__item__footer
        a(href='#').contract-list__item__footer__link.contract-list__item__footer__link--secondary Details
        a(href='#').contract-list__item__footer__link.contract-list__item__footer__link--primary Services
    .contract-list__item
      .contract-list__item__header.icon.icon--home
        .contract-list__item__headline__primary BOX
        .contract-list__item__headline__secondary Die Haushaltsversicherung
      .contract-list__item__content
        .contract-list__item__content__item.contract-list__item__content__item--key
          .contract-list__item__content__item__label Kontrollschild
          .contract-list__item__content__item__value TG 163090
        .contract-list__item__content__item
          .contract-list__item__content__item__label Kontrollschild
          .contract-list__item__content__item__value TG 163090
        .contract-list__item__content__item.contract-list__item__content__item--sum
          .contract-list__item__content__item__label Kontrollschild
          .contract-list__item__content__item__value TG 163090
      .contract-list__item__footer
        a(href='#').contract-list__item__footer__link.contract-list__item__footer__link--secondary Details
        a(href='#').contract-list__item__footer__link.contract-list__item__footer__link--primary Services
    .contract-list__item
      .contract-list__item__header.icon.icon--home
        .contract-list__item__headline__primary BOX
        .contract-list__item__headline__secondary Die Haushaltsversicherung
      .contract-list__item__content
        .contract-list__item__content__item.contract-list__item__content__item--key
          .contract-list__item__content__item__label Kontrollschild
          .contract-list__item__content__item__value TG 163090
        .contract-list__item__content__item
          .contract-list__item__content__item__label Kontrollschild
          .contract-list__item__content__item__value TG 163090
        .contract-list__item__content__item.contract-list__item__content__item--sum
          .contract-list__item__content__item__label Kontrollschild
          .contract-list__item__content__item__value TG 163090
      .contract-list__item__footer
        a(href='#').contract-list__item__footer__link.contract-list__item__footer__link--secondary Details
        a(href='#').contract-list__item__footer__link.contract-list__item__footer__link--primary Services
