---
title: Footer
slug: footer
---

.example
  .footer
    .footer__content.l-holder
      .l-row
        .l-third
          h3 Keep In Touch
          ul.footer-list.footer-list--social
            li.footer-list__item
              a.footer-list__link.icon.icon--facebook(href="#facebook") Facebook
            li.footer-list__item
              a.footer-list__link.icon.icon--twitter(href="#twitter") Twitter
            li.footer-list__item
              a.footer-list__link.icon.icon--youtube(href="#youtube") YouTube
            li.footer-list__item
              a.footer-list__link.icon.icon--linkedin(href="#linkedin") LinkedIn

        .l-third
          h3 AXA & You
          ul.footer-list
            li.footer-list__item
              a.footer-list__link(href="#contact-us") Contact Us
            li.footer-list__item
              a.footer-list__link(href="#help-and-advice") Help & Advice
            li.footer-list__item
              a.footer-list__link(href="#latest-news") Latest News
            li.footer-list__item
              a.footer-list__link(href="#jobs") Jobs

        .l-third
          h3 AXA Worldwide
          ul.worldwide
            li.worldwide__item
              a.worldwide__link.worldwide__link--world(href="#axa-com", title="AXA International") AXA.com
            li.worldwide__item
              a.worldwide__link.worldwide__link--switzerland(href="#axa-ch", title="AXA Switzerland") AXA.ch

    .footer__copyline.l-holder
      .l-row
        .l-full
          ul.footer-list.footer-list--copyline
            li.footer-list__item
              a.footer-list__link(href="#sitemap") Sitemap
            li.footer-list__item
              a.footer-list__link(href="#privacy") Privacy
            li.footer-list__item
              a.footer-list__link(href="#disclaimer") Disclaimer
            li.footer-list__item
              span.footer-list__text AXA 2014 ©


pre.highlight.hljs
  code.html
    :highlight
      <footer class="footer">
        ...
      </footer>
