---
title: Grid
slug: grid
order: 2
---

.example
  .l-row
    .l-full.box.box--docs.box--grid
      p Full column
    .l-primary.box.box--docs.box--grid
      p Primary column
    .l-secondary.box.box--docs.box--grid
      p Secondary column
    .l-half.box.box--docs.box--grid
      p Half column
    .l-third.box.box--docs.box--grid
      p Third column
    .l-fourth.box.box--docs.box--grid
      p Fourth column
    .l-thumbnail.box.box--docs.box--grid
      p Thumbnail column

pre.highlight.hljs
  code.html
    :highlight
      <div class="l-row">
        <div class="l-full">...</div>
        <div class="l-primary">...</div>
        <div class="l-secondary">...</div>
        <div class="l-half">...</div>
        <div class="l-third">...</div>
        <div class="l-fourth">...</div>
        <div class="l-thumbnail">...</div>
      </div>
