---
title: Header
slug: header
---

header.header.header--main
  .mobile-trigger
  .header__brand.brand
    .brand__logo
    .brand__tagline.brand__tagline--de
  .header__meta
    nav.menu.menu--language
      ul
        li.menu__item
          a(href='#') DE
        li.menu__item
          a(href='#') FR
        li.menu__item
          a(href='#') IT
        li.menu__item
          a(href='#') EN
    nav.menu.menu--meta
      ul
        li.menu__item.is-active
          a(href='#') Individuals
        li.menu__item
          a(href='#') Small Business Insurance
        li.menu__item
          a(href='#') Business
