---
title: Header
slug: header
collection: visuals
order: 4
---

:markdown
  The ``header`` block is mandatory as defined by the AXA Group's Webcharter.

  You'll find the ``header__brand`` element on the left hand side.
  Further description available within the ``brand`` blocks section.

  On the right side there is a ``header__mobile-trigger`` or ``header__meta`` element on mobile or desktop respectively.

  The ``header__mobile-trigger`` element is designed to trigger a mobile slide-in menu
  as described within the ``menu`` block.

  The ``header__meta`` element is divided into an ``header__meta__upper`` and ``header__meta__lower`` element.
  The ``header__meta__upper`` element contains a ``header__meta__menu`` element and a ``header__meta__language`` element.
  The ``header__meta__lower`` element contains a ``header__meta__welcome`` element and a ``header__meta__social`` element.
:sample
  header.header.header--main
    .header__mobile-trigger
    .header__brand.brand
      .brand__logo
      .brand__tagline.brand__tagline--de
    .header__meta
      .header__meta__upper
        .header__meta__language
          ul.menu.menu--language
            li.menu__item
              a(href='#').menu__link DE
            li.menu__item
              a(href='#').menu__link FR
            li.menu__item
              a(href='#').menu__link IT
            li.menu__item
              a(href='#').menu__link EN
        .header__meta__menu
          ul.menu.menu--meta
            li.menu__item.is-active
              a(href='#').menu__link Individuals
            li.menu__item
              a(href='#').menu__link Small Business Insurance
            li.menu__item
              a(href='#').menu__link Business
      .header__meta__lower
        .header__meta__social
          ul.menu.menu--social
            li.menu__item
              a(href='#facebook').icon.icon--facebook
            li.menu__item
              a(href='#twitter').icon.icon--twitter
        .header__meta__welcome
          ul
            li.header__meta__welcome__item Welcome to AXA
            li.header__meta__welcome__item
              a(href='tel:0800809809') 0800 809 809
