---
title: List
slug: list
collection: visuals
---

:sample
  .list
    each item in ['One', 'Two', 'Three']
      .list__item
        .list__item__cell.list__item__cell--header
          i.icon.icon--home
          = ' '
          span= 'Product Number ' + item
        .list__item__cell
          div Kontrollschild
          div TG 163090
        .list__item__cell
          div Kontrollschild
          div TG 163090
        .list__item__cell
          a(href='#') Details
        .list__item__cell.list__item__cell--action
          a.list__item__cell__action-button.button.button--primary(href='#')
            span More
            != ' '
            i.icon.icon--arrow-bottom
