---
title: List
slug: list
collection: visuals
---

p.
  The list is the right block to display multiple records of similar
  structure in a nice and clear way. It's great if you can do certain
  actions on your records, like showing the details or selecting it.

p.callout.callout--danger.
  Note that you should use the table block if you have a large collection
  of structured numbers.

h3 Simple list

p.
  The items of the list block appear as boxes on mobile and as an usual
  list on larger devices.

:sample
  .list
    each item in ['One', 'Two', 'Three']
      .list__item
        .list__item__cell.list__item__cell--header
          i.icon.icon--home
          = ' '
          span= 'Product Number ' + item
        .list__item__cell
          div Kontrollschild
          div TG 163090
        .list__item__cell
          div Kontrollschild
          div TG 163090
        .list__item__cell
          a(href='#') Details
        .list__item__cell.list__item__cell--action
          a.list__item__cell__action-button.button.button--primary.button--small(href='#')
            span More
            != ' '
            i.icon.icon--arrow-bottom
