---
title: Menu
slug: menu
order: 6
---

:markdown
  A menu block represents a list of links with the same subject. 

nav
  ul.menu.menu--main
    li.menu__item
      a(href='#1').menu__link Menu Item 1
    li.menu__item.is-active
      a(href='#2').menu__link Menu Item 2
    li.menu__item
      a(href='#3').menu__link Menu Item 3
    li.menu__item
      a(href='#4').menu__link Menu Item 4
