---
title: Menu
slug: menu
order: 6
---

nav.menu.menu--main
  ul
    li.menu__item
      a(href='#1') Menu Item 1
    li.menu__item
      a(href='#2') Menu Item 2
    li.menu__item
      a(href='#3') Menu Item 3
    li.menu__item
      a(href='#4') Menu Item 4
