---
title: Table
slug: table
collection: visuals
order: 6
---

h3 Standard table

:sample
  table.table
    caption Peoples ages
    thead
      tr
        th First name
        th Last name
        th Age
    tbody
      tr
        td Don
        td Kong
        td 34
      tr
        td Robert
        td Davis
        td 30
      tr
        td Lina
        td Grand
        td 32
    tfoot
      tr
        td(colspan="2") Middle age
        td 32

h3 Responsive table

:sample
  .responsive-table
    table.responsive-table__table.table
      caption Peoples ages
      thead
        tr
          th
          th Ron
          th Donald
          th Mike
          th Lina
          th John
          th Alicia
          th Mary
          th Joe
          th Claire
          th Manny
          th Brent
          th Jony
        tr
          th Age
          td 51
          td 68
          td 46
          td 28
          td 33
          td 12
          td 94
          td 21
          td 54
          td 45
          td 13
          td 37
