---
title: Table
slug: table
collection: visuals
order: 6
---

h3 Standard table

:sample
  table.table
    caption Peoples ages
    thead
      tr
        th First name
        th Last name
        th Age
    tbody
      tr
        td Don
        td Kong
        td 34
      tr
        td Robert
        td Davis
        td 30
      tr
        td Lina
        td Grand
        td 32
    tfoot
      tr
        td(colspan="2") Middle age
        td 32
