---
title: Table
slug: table
collection: visuals
---

:sample
  .table
    .table__header
      .table__header__item
      .table__header__item Art
      .table__header__item Türen
      .table__header__item Hubraum
      .table__header__item PS
      .table__header__item Preis
    .table__content
      .table__item
        .table__item__info.table__item__info--headline
          .table__item__info__content
            a.table__item__info__content__link Q5 2.0 TDI Quattro
        .table__item__info
          .table__item__info__label Art
          .table__item__info__content Kombi
        .table__item__info
          .table__item__info__label Türen
          .table__item__info__content 5
            .table__item__info__content__label Türen
        .table__item__info
          .table__item__info__label Hubraum
          .table__item__info__content 1969 ccm
        .table__item__info
          .table__item__info__label PS
          .table__item__info__content 170
            .table__item__info__content__label PS
        .table__item__info
          .table__item__info__label Preis
          .table__item__info__content CHF 60'000
      .table__item
        .table__item__info.table__item__info--headline
          .table__item__info__content
            a.table__item__info__content__link Q5 2.0 TDI Quattro
        .table__item__info
          .table__item__info__label Art
          .table__item__info__content Kombi
        .table__item__info
          .table__item__info__label Türen
          .table__item__info__content 5
            .table__item__info__content__label Türen
        .table__item__info
          .table__item__info__label Hubraum
          .table__item__info__content 1969 ccm
        .table__item__info
          .table__item__info__label PS
          .table__item__info__content 170
            .table__item__info__content__label PS
        .table__item__info
          .table__item__info__label Preis
          .table__item__info__content CHF 60'000
      .table__item
        .table__item__info.table__item__info--headline
          .table__item__info__content
            a.table__item__info__content__link Q5 2.0 TDI Quattro
        .table__item__info
          .table__item__info__label Art
          .table__item__info__content Kombi
        .table__item__info
          .table__item__info__label Türen
          .table__item__info__content 5
            .table__item__info__content__label Türen
        .table__item__info
          .table__item__info__label Hubraum
          .table__item__info__content 1969 ccm
        .table__item__info
          .table__item__info__label PS
          .table__item__info__content 170
            .table__item__info__content__label PS
        .table__item__info
          .table__item__info__label Preis
          .table__item__info__content CHF 60'000
      .table__item
        .table__item__info.table__item__info--headline
          .table__item__info__content
            a.table__item__info__content__link Q5 2.0 TDI Quattro
        .table__item__info
          .table__item__info__label Art
          .table__item__info__content Kombi
        .table__item__info
          .table__item__info__label Türen
          .table__item__info__content 5
            .table__item__info__content__label Türen
        .table__item__info
          .table__item__info__label Hubraum
          .table__item__info__content 1969 ccm
        .table__item__info
          .table__item__info__label PS
          .table__item__info__content 170
            .table__item__info__content__label PS
        .table__item__info
          .table__item__info__label Preis
          .table__item__info__content CHF 60'000
