---
title: Getting Started
slug: getting-started
template: page.jade
---

.head
  .l-container
    h1.head__title Getting Started
    p.head__lead.
      Learn how the Style Guide works and how to use it in your next project.

.l-container
  .l-row
    .l-full
      p.callout
        | With the Style Guide we want to help you building
        | awesome responsive web sites and apps with ease.
        | If you struggle using the assets, miss a component
        | or face any other problem please feel free to
        = ' '
        a(href=config.repository.url, title=config.repository.name) file an issue
        | .
        // TODO: Or talk to the style guide team?

  .l-row
    .l-full
      h1 What comes with the Style Guide?
      p.
        The Style Guide provides all components needed to build
        responsive apps at AXA Switzerland.
      p.
        You can find all components included in the
        Style Guide in our kitchen sink example. TODO: Kitchen sink

  .l-row
    .l-full
      h1 Let's get started!
      p
        | There are two easy ways to get started.
        | Each of them requires you to
        = ' '
        a(href=config.urls.releases, title="See the releases on GitHub") download the release package
        = ' '
        | first.
      p.
        You can use the compiled CSS and JavaScript or you can use
        the source Less and CoffeScript.
        We recommend using the source files since it provides
        you much more flexibility.

  .l-row
    .l-half
      h2 Using the compiled CSS and JavaScript
      p.
        Copy the <code>css/</code>, <code>js/</code>,
        <code>images/</code> and <code>fonts/</code> folder
        from the downloaded Style Guide release
        to your project and use it as you like.
        See the <a href="#basic-template">Basic template</a> section
        for further information.
      p.callout.
        Note that the resources must be available from the web
        in the same hierarchy as provided by the Style Guide
        when using precompiled assets.
        For example the <code>images/</code> folder has to be
        in the same location as the <code>css/</code> folder
        since images are referenced in the CSS
        with a relative path (<code>../images/</code>).

    .l-half
      h2 Using the source files (Less, CoffeScript)
      p.
        Compiling the source files on your own is a
        little trickier than using the compiled CSS
        and JavaScript but provides you with much
        more flexibility.

      h3#compiling-less-files Compiling the Less files
      p.
        To have the flexibility of
        customizing Less variables of the
        Style Guide (see section TODO) and use the
        provided mixins you may want to include the
        Less files into your applications Less file.
      p.
        You could also compile the Style Guide on its own,
        but that would not make any sense since you could use
        the compiled version in this case.
        For instructions on building the Style Guide
        on its own see the projects README file.
      p.callout.
        We recommend using the official Less compiler
        provided at <a href='http://lesscss.org' >lesscss.org</a> since
        the Style Guide is tested with this compiler.

      h3 Compiling the CoffeeScript files
      p.
        Since you do not gain anything by compiling the CoffeeScript
        files on your own we do not recommend it.
        Simply use the JavaScript files provided.

      h3 Copying the other assets
      p.
        Make sure to copy the assets from the
        <code>images/</code> and <code>fonts/</code> folder
        to a location available from the web.
        See the section
        <a href="#compiling-less-files">Compiling the LESS files</a>
        on how to set the URL root for assets.

  .l-row
    .l-full
      h1#basic-template Basic template
      p.
        The basic template below should provide you with
        a starting point for your next web app.
        See the comments in the template itself for any explanations.

      pre.hljs: code.html
        :highlight
          <!-- Always use an HTML5 doctype. -->
          <!-- Note that HTML5 is no longer XML, so you do not need to close self closing tags. -->
          <!DOCTYPE html>
          <!-- The lang attribute helps screen readers having the right accent. -->
          <!-- It also enables Google Translate and similar to propose a proper translation.-->
          <html lang="en">
            <head>
              <!-- Set the contents character encoding. (see recommendations) -->
              <meta charset="utf-8">

              <!-- Force IE to NOT use compatibility mode. (see recommendations) -->
              <meta http-equiv="X-UA-Compatible" content="IE=edge">

              <!-- Mobile viewport. (see recommendations) -->
              <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

              <title>Style Guide - Basic template</title>

              <!-- Reference precompiled or custom CSS here. -->
              <!-- Which one depends on whether you use pre-built Less files or not. -->
              <link href="css/style.min.css" rel="stylesheet">

              <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries. -->
              <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
              <!-- TODO: Review license and bundle them with the Style Guide -->
              <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
              <![endif]-->
            </head>
            <body>
              <h1>Hello, world!</h1>

              <!-- jQuery is necessary if you make use of the Style Guide plugins. -->
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

              <!-- Include all compiled plugins or select individual files as needed. -->
              <script src="js/style.all.min.js"></script>
            </body>
          </html>

  .l-row
    .l-full
      h1 Customization

      h2 Less Variables

      table.table--docs
        thead
          tr
            th Name
            th Default
            th Description
        tbody
          tr
            td: code @icon-font-path
            td: code '../fonts'
            td.
              Relative (to the CSS file) or absolute path
              where the browser should download the icon font files from.
          tr
            td: code @images-path
            td: code '../images'
            td.
              Relative (to the CSS file) or absolute path
              where the browser should download the images from.
