---
title: Getting Started
slug: getting-started
template: page.jade
---

.masthead.masthead--docs
  .l-row
    .l-full
      h1 Getting Started

      p.
        The AXA Switzerland style guide (currently vTBD) is hosted on github.

      p
        a(href=config.urls.releases, title="See the releases on GitHub").button.
          Download Style Guide
        = ' '
        a(href=config.repository.url, title=config.repository.name).button.button--secondary.
          View project on GitHub

.l-row


  p.callout
    | The aim of the style guide is to help you building web apps with ease. If you strugle using the assets or face any other problems please feel free to file an issue
    != ' '
    a(href=config.repository.url) on github
    | .

  h1 Getting the assets

  p.
    There are two easy ways to get started with the style guide. Each of them requires you to download the archive from above.

  p.
    You can use the compiled CSS and JavaScript or you can use the source LESS and CoffeScript.
    We recommend using the source files since it provides you much more flexibility.

.l-row
  .l-half
    h2 Using the compiled CSS and JavaScript
    p.
      Copy the css/, js/, images/ and fonts/ folder from the downloaded style guide release to your project and use it as you like. See the "Basic template" section for further information.
    p.note.
      Note that the resources must be available from the web
      in the same hierarchy as provided by the style guide.
      (For example the images/ folder has to be in the same location
      as the css/ folder since images are referenced in the css files using a prefix of ../images/).

  .l-half
    h2 Using the source files (LESS, CoffeScript)
    p.
      Compiling the source files on your own is a little trickier than using the compiled CSS and JavaScript but provides you with much more flexibility.

    h3 Compiling the LESS files
    p.
      To have the flexibility of customizing LESS variables of the style guide (see section TODO) and use the provided mixins you may want to include the LESS files into your applications LESS file.

    p.
      You could also compile the style guide on its own, but that would not make any sense since you could use the compiled version in this case. For instructions on building the style guide on its own see the README.md file.

    p.callout
      | We recommend using the official LESS compiler provided at
      != ' '
      a(href='http://lesscss.org') lesscss.org
      != ' '
      | since the style guide is tested with this compiler.

    h3 Compiling the CoffeeScript files
    p.
      Since you do not gain anything by compiling the CoffeeScript files on your own we do not recommend it. Simply use the JavaScript files provided.

    h3 Copying the other assets
    p.
      Make sure to copy the assets from the images/ and fonts/ folder to a location available from the web. See the section "Compiling the LESS files" on how to set the URL root for assets.

.l-row
  h1 Basic template

  p.
    The basic template below should provide you a starting point for your next web app. See the comments in the template itself for any explanations.

  pre.hljs: code.html
    :highlight
      <!-- Always use an HTML 5 doctype. Note that HTML 5 is NO LONGER XML. You do NOT need to explicitly close self closing tags. -->
      <!DOCTYPE html>
        <!-- The lang attribute helps screen readers having the right accent and google translate/chrome to propose a proper translation.-->
        <html lang="en">
          <head>
            <!-- Set the contents character encoding. Please always use utf-8. Ensure your web server delivers content utf-8 encoded. -->
            <meta charset="utf-8">

            <!-- Force IE to NOT use compatibility mode -->
            <meta http-equiv="X-UA-Compatible" content="IE=edge">

            <!-- We want to have the viewport to have the width of the device (This in fact includes some normalizations. E.g. iPhone 5 (1136 x 640 @2x) will have a device-width of 320 and not 640 since it is 2x) -->
            <!-- Further we do not want the user to use pinch'n'zoom since the site is responsive. Therefore we set min and max scale to 1.0 -->
            <!-- (If you want to support pinch'n'zoom for some reason you may want to use initial-scale="1.0" instead) -->
            <!-- TODO: We should have a recommendations page to collect these sort of things -->
            <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

            <title>Style guide - Basic template</title>

            <!-- CSS -->
            <!-- reference pre compiled or custom css here depending on whether you use pre-build LESS files or not -->
            <link href="css/style.min.css" rel="stylesheet">

            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!-- TODO: Review license agreements and bundle them with the style guide -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
          </head>
          <body>
            <h1>Hello, world!</h1>

            <!-- jQuery (necessary for the style guide's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="js/style-all.min.js"></script>
          </body>
        </html>
