---
title: Getting started
description: Get started quickly with the AXA Web Toolkit.
nav: side/getting-started
order: -1
---

{{#> page}}
  {{#*inline "content"}}

    <div class="alert alert-info" role="alert" style="margin: 50px 0;">
      <p><strong>Heads up!</strong> This page is being rewritten
      in order to make getting started with the AXA Web Toolkit
      as easy as possible. Come back again in a couple of days!</p>
    </div>

  {{/inline}}
{{/page}}
