---
title: Overview
template: master.jade
---

.l-container
  .panel.panel--docs.l-row
    .thumbnail.l-third
      a.thumbnail__img-link(href="design/fundamentals/index.html")
        img.thumbnail__img(src="images/design.svg", alt="Design")
      h2.thumbnail__heading
        a.thumbnail__link(href="design/index.html") Design Guidelines
      p.thumbnail__text.
        Our design guidelines define how our applications
        look and behave to ensure consistency and ease of
        use.

    .thumbnail.l-third
      a.thumbnail__img-link(href="development/fundamentals/index.html")
        img.thumbnail__img(src="images/development.svg", alt="Development")
      h2.thumbnail__heading
        a.thumbnail__link(href="development/fundamentals/index.html") Developer Toolkit
      p.thumbnail__text.
        The developer toolkit is a front-end library which
        helps you build applications as defined in the design
        guidelines.

    .thumbnail.l-third
        a.thumbnail__img-link(href="examples/index.html")
          img.thumbnail__img(src="images/examples.svg", alt="Examples")
        h2.thumbnail__heading
          a.thumbnail__link(href="examples/index.html") Examples
        p.thumbnail__text.
          Find great implementations of our design guidelines
          using the developer toolkit and let them inspire you.

// Copyright AXA Versicherungen AG 2015
