---
title: Home
slug: home
template: page.jade
---

h1 This is one nice style guide! Isn't it?

p
  | The live style guide you see here is built by the
  | project
  = ' '
  a(href=config.repository.url)= config.repository.name
  | .

p
  | Take a look!
