---
title: Home
description: The CSS, JS and HTML framework for building responsive AXA web apps!
nav: side/home
order: -1
---

{{#> page}}
  {{#*inline "title"}}{{title}}{{/inline}}
  {{#*inline "content"}}

    <h2 id="welcome" class="h3">Welcome</h2>

  {{/inline}}
{{/page}}
