---
title: Home
slug: home
template: page.jade
---

.masthead.masthead--docs
  .l-row
    .l-full
      p.lead.masthead__lead.
        Meet the AXA Switzerland Web Style Guide – the HTML, CSS and JS
        framework for developing responsive, mobile first projects
        on the web.

      p
        a(href=config.urls.releases, title="See the releases on GitHub").
          Download Style Guide

      p
        a(href=config.repository.url, title=config.repository.name).
          View project on GitHub
