---
title: Home
description: The CSS, JS and HTML framework for building responsive AXA web apps!
nav: side/home
order: -1
---

{{#> page}}
  {{#*inline "content"}}

    <h2 class="h3">What is the AXA Web Toolkit?</h2>

    <p></p>

  {{/inline}}
{{/page}}
