---
title: Interactions
slug: interactions
template: page.jade
---

.head
  .l-container
    h1.head__title Interactions
    p.head__lead.lead.
      Interactions bring your web apps to life. They react to user
      input and move things around on your page.

.l-container
  .l-row
    .l-primary
      each interaction in interactions
        div.block
          h2(id=interaction.slug)= interaction.title
            a(href='#' + interaction.slug).anchor--docs
          div.block!= interaction.contents

    .l-secondary
      nav.js-affix-under-head.nav.nav--side
        ul.menu.menu--side
          each interaction in interactions
            li.menu__item
              a.menu__link(href='#' + interaction.slug)= interaction.title
