---
title: Interactions
slug: interactions
template: page.jade
---

.masthead.masthead--docs
  .l-container
    p.lead.masthead__lead.
      Interactions - moving components

.l-container
  .l-row
    .l-full
      h1 Interactions

  .l-row
    .l-primary
      each interaction in interactions
        div.block
          h2(id=interaction.slug)= interaction.title
            a(href='#' + interaction.slug).anchor--docs
          div.block!= interaction.contents

    .l-secondary
      nav.nav.nav--side(data-spy="affix", data-offset-top="230")
        ul.menu.menu--side
          each interaction in interactions
            li.menu__item
              a.menu__link(href='#' + interaction.slug)= interaction.title
