---
title: Mixins
slug: mixins
template: page.jade
---

.head
  .l-container
    h1.head__title Mixins
    p.head__lead.lead.
      Do you have a complex requirement? <em>Mixins</em> will help you
      customize the Style Guide while preserving visual guidelines.

.l-container
  .l-row
    .l-primary
      each mixin in mixins
        div.block
          h2(id=mixin.slug)= mixin.title
            a(href='#' + mixin.slug).anchor--docs
          div.block!= mixin.contents

    .l-secondary
      nav.js-affix-under-head.nav.nav--side
        ul.menu.menu--side
          each mixin in mixins
            li.menu__item
              a.menu__link(href='#' + mixin.slug)= mixin.title
