---
title: Mixins
slug: mixins
template: page.jade
---

.l-holder
  .l-row
    .l-full

      h1 Mixins

      nav
        ul.menu.menu--main.menu--docs-submenu
          each mixin in mixins
            li.menu__item
              a(href='#' + mixin.slug).menu__link= mixin.title

      each mixin in mixins
        div.block
          h2(id=mixin.slug)= mixin.title
            a(href='#' + mixin.slug).anchor--docs
          div.block!= mixin.contents
