---
title: Mixins
slug: mixins
template: page.jade
---

.l-row
  .l-full
    h1 Mixins

.l-row
  .l-primary
    each mixin in mixins
      div.block
        h2(id=mixin.slug)= mixin.title
          a(href='#' + mixin.slug).anchor--docs
        div.block!= mixin.contents

  .l-secondary
    nav
      ul
        each mixin in mixins
          li
            a(href='#' + mixin.slug)= mixin.title
