---
title: Mixins
slug: mixins
template: page.jade
---

h1 Mixins

ul.nav--docs
  each mixin in mixins
    li.nav__item
      a.nav__link(href='#' + mixin.slug)= mixin.title

each mixin in mixins
  div
    h1(id=mixin.slug)= mixin.title
      a(href='#' + mixin.slug).anchor--docs
    div!= mixin.contents
