---
title: Mixins
slug: mixins
template: page.jade
---

h1 Mixins

nav.menu.menu--main.menu--docs-submenu
  ul
    each mixin in mixins
      li.menu__item
        a(href='#' + mixin.slug)= mixin.title

each mixin in mixins
  div.block
    h2(id=mixin.slug)= mixin.title
      a(href='#' + mixin.slug).anchor--docs
    div.block!= mixin.contents
