---
title: UI Patterns
order: 3
collection: navigation
children: patterns/*
layout: page.pug
description: Find out more about certain special topics.
thumbnail: /images/home/ui-patterns.svg
headline: false
---
  
.hero
  .hero__image
    img.hero__image__img(
      src=relative('/images/pattern/uipattern.svg')
      alt="animated patterns graphic")
  .hero__content
    .hero__content__headline #{title}
    p.paragraph.
      Is it the same or the same it is?
      In the menu you can find patterns that will make
      our websites and apps truly consistent.
    p.paragraph.
      Now start exploring, building and being awesome.

//- Copyright AXA Versicherungen AG 2015
