---
title: Recommendations
slug: recommendations
template: page.jade
---

.head
  .l-container
    h1.head__title Recommendations
    p.head__lead.lead.
      A technical list of recommendations. Follow these instructions
      to fully benefit from the Style Guide.

.l-container
  .l-row
    .l-full
      p.callout.callout--danger.
        Please note that these recommendations are a working draft.

      table.table--docs
        tbody
          tr#viewport
            td viewport meta tag
            td
              p.
                We recommend using the following meta tag:

              pre.highlight.hljs: code.html
                :highlight
                  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

              p.
                The <code>width=device-width</code> forces
                the browsers viewport to have a width that
                equals the device width.
                The device width means the width in CSS pixels
                not in device pixels.
                This means that normalization is already done.
                The width for an iPhone (1136 * 640 @ 2x) in
                portrait mode would be 320px.

              p.
                The <code>minimum-scale=1.0</code> and
                <code>maximum-scale=1.0</code> force the browser
                to start at zoom 1.0 and disable pinch'n'zoom.
                This will provide the most "native-app-like" experience.

              p.
                If you'd like to enable pinch'n'zoom you can
                replace the min and max scale with an
                <code>initial-scale=1.0</code>.

              p.
                Find more information on the
                <a href="https://developer.mozilla.org/en-US/docs/Mozilla/Mobile/Viewport_meta_tag">Mozilla Developer Network</a>
                or on the
                <a href="http://www.quirksmode.org/mobile/viewports2.html">Blog of Peter Paul Koch</a>.

          tr#x-ua-compatible
            td X-UA-Compatible
            td
              p.
                We recommend using a <code>X-UA-Compatible</code> meta tag with
                the content <code>"IE=edge"</code>.
                This forces Internet Explorer not to use any compatibility mode.

              p.
                This is required because there are some preferences
                on the internal Internet Explorer package
                to fall into compatibility mode on intranet sites as a default.
                Furthermore invalid markup (HTML5 may
                be considered invalid in older versions of IE)
                will result in compatibility mode.

              pre.highlight.hljs: code.html
                :highlight
                  <meta http-equiv="X-UA-Compatible" content="IE=edge">

          tr#charset
            td charset
            td
              p.
                We recommend the UTF-8 character set since it is a
                de facto standard and we are operating in a
                multilingual country in an international group.

              pre.highlight.hljs: code.html
                :highlight
                  <meta charset="utf-8">

              p.callout.callout--danger.
                Be aware that your server has to deliver the HTML
                encoded in the character set specified.

          tr#less
            td Less compiler
            td
              p.
                Whenever you get in touch with Less we recommend
                using the
                <a href="http://lesscss.org">official Less compiler</a>
                (or plugins using this compiler).
                This compiler is proved to work with the Less specification
                and this Style Guide is based on it.

              p.callout.
                Sometimes Less might not be enough.
                If you need further templating logic in Less files
                we recommend using Lo-Dash or something similar.
                Have a look at our <code>icons.less.lodash</code> file for
                a real world example.
