---
title: Sassdoc
draft: true
---
{{#> page}}
  {{#*inline "title"}}{{title}}{{/inline}}
  {{#*inline "content"}}
    <div class="hero">
      <div class="hero__image">
        <img class="hero__image__img"
          src="{{relative "/images/components/components.svg"}}"
          alt="Animated Components Graphic" />
      </div>
      <div class="hero__content">
        <div class="hero__content__headline">{{title}}</div>
        <p class="paragraph">
          So, what exactly does that weird mixin actually do?
          Just magic or is there some logic behind it?
        </p>
        <p class="paragraph">
          Find out in the documentation of our scss code :)
        </p>
      </div>
    </div>
  {{/inline}}
{{/page}}
