---
title: Typography
slug: typography
template: page.jade
---

.head
  .l-container
    h1.head__title Typography
    p.head__lead.lead.
      <em>Typography</em> matters! The Style Guide comes packed with
      lots of typographic elements that make reading a breeze.

.l-container
  .l-row
    .l-primary
      h1#headings Headings
        a.anchor--docs(href="#headings")

      :sample
        h1 Heading one
        h2 Heading two
        h3 Heading three
        h4 Heading four
        h5 Heading five
        h6 Heading six

      h1#paragraphs Paragraphs
        a.anchor--docs(href="#paragraphs")

      :sample
        p.
          Some fancy paragraph followed by a bigger one.

        p.
          Bacon ipsum dolor amet nisi pancetta short ribs
          sed exercitation andouille landjaeger ad. Ball
          tip pariatur chuck, officia cupidatat qui eiusmod
          lorem in. Brisket reprehenderit laborum proident,
          deserunt filet mignon et sed. Incididunt prosciutto
          flank exercitation tempor. Beef et in minim. Commodo
          fatback adipisicing strip steak drumstick mollit sausage,
          sint deserunt officia eu tongue labore cupidatat kevin.

      h1#anchors Anchors
        a.anchor--docs(href="#anchors")

      :sample
        p.
          This paragraph shows an <a href="#" >awesome
          inline anchor</a> and lose some words about emphasizing.

      h1#inline-text Inline text
        a.anchor--docs(href="#inline-text")

      h2#marked-text Marked text
          a.anchor--docs(href="#marked-text")

      :sample
        p.
          You can use the mark tag to <mark>highlight</mark> text.

      h2#deleted-text Deleted text
        a.anchor--docs(href="#deleted-text")

      :sample
        p.
          Use <code>del</code> to indicate that <del>a part of a</del> some text has been deleted.

      h2#irrelevant-text Irrelevant text
        a.anchor--docs(href="#irrelevant-text")

      :sample
        p.
          <s>To show that a text is no longer relevant use the </s><code>s</code><s> tag. </s>

      h2#inserted-text Inserted text
        a.anchor--docs(href="#inserted-text")

      :sample
        p.
          The <code>ins</code> tag shows that a text <ins>has been inserted.</ins>

      h2#emphasize Emphasize
        a.anchor--docs(href="#emphasize")

      :sample
        p.
          Emphasizing text using <code>strong</code> or <code>em</code>
          will result in <strong>bold</strong> or <em>italic</em> text.
          It is not recommended to use <code>b</code> or <code>i</code>
          tags.

    .l-secondary
      nav.js-affix-under-head.nav.nav--side
        ul.menu.menu--side
          li.menu__item: a.menu__link(href="#headings") Headings
          li.menu__item: a.menu__link(href="#paragraphs") Paragraphs
          li.menu__item: a.menu__link(href="#anchors") Anchors
          li.menu__item: a.menu__link(href="#inline-text") Inline text
