---
title: Visuals
slug: visuals
template: page.jade
---

h1 Visuals

ul.nav--docs
  each visual in visuals
    li.nav__item
      a.nav__link(href='#' + visual.slug)= visual.title

each visual in visuals
  div
    h1(id=visual.slug)= visual.title
      a(href='#' + visual.slug).anchor--docs
    div!= visual.contents
