---
title: Visuals
slug: visuals
template: page.jade
---

.head
  .l-container
    h1.head__title Visuals
    p.head__lead.lead.
      <em>Visuals</em> are the building blocks for your next project.
      Find out what's available and how you can use them.

.l-container
  .l-row
    .l-primary
      each visual in visuals
        div.block
          h2(id=visual.slug)= visual.title
            a(href='#' + visual.slug).anchor--docs
          div!= visual.contents

    .l-secondary
      nav.js-affix-under-head.nav.nav--side
        ul.menu.menu--side
          each visual in visuals
            li.menu__item
              a.menu__link(href='#' + visual.slug)= visual.title
