---
title: Visuals
slug: visuals
template: page.jade
---

h1 Visuals

nav.menu.menu--main.menu--docs-submenu
  ul
    each visual in visuals
      li.menu__item
        a(href='#' + visual.slug)= visual.title

each visual in visuals
  div.block
    h2(id=visual.slug)= visual.title
      a(href='#' + visual.slug).anchor--docs
    div!= visual.contents
