// Icon mixins

$icons: (
  '\uE001' example
  '\uE002' test
);

$icon-font-path: '../fonts';

@mixin icon($name) {
  &:before {
    content: icon-codepoint($name);
  }
}

@for $i from 1 through ( length($icons) + 1 ) {
  @if ($i mod 2 == 1) {
    
  }
}

@function icon-codepoint($name) {
  @return nth( $icons, ( ( index($icons, $key) ) - 1) );
}
