$font-heading-primary--size: 1.75rem; // 28px
$font-heading-primary--weight: bold;
$font-heading-primary--line-height: 1.6;

$font-heading-primary--size--medium: 3rem; // 48px
$font-heading-primary--line-height--medium: 1.4;

/**
 * Primary Heading (H1 in PDF)
 *
 * Mobile: 28px (1.75rem), bold, 1.6
 * Desktop: 48px (3rem), bold, 1.4
 */
.make-font-heading-primary {
  font-size: $font-heading-primary--size;
  font-weight: $font-heading-primary--weight;
  line-height: $font-heading-primary--line-height;

  @include media-breakpoint-up(md) {
    font-size: $font-heading-primary--size--medium;
    line-height: $font-heading-primary--line-height--medium;
  }
}

$font-heading-secondary--size: 1.5rem; // 24px
$font-heading-secondary--weight: bold;
$font-heading-secondary--line-height: 1.6;

$font-heading-secondary--size--medium: 2rem; // 32px
$font-heading-secondary--line-height--medium: 1.4;

/**
 * Secondary Heading (H2 in PDF)
 *
 * Mobile: 24px (1.5rem), bold, 1.6
 * Desktop: 32px (2rem), bold, 1.4
 */
.make-font-heading-secondary {
  font-size: $font-heading-secondary--size;
  font-weight: $font-heading-secondary--weight;
  line-height: $font-heading-secondary--line-height;

  @include media-breakpoint-up(md) {
    font-size: $font-heading-secondary--size--medium;
    line-height: $font-heading-secondary--line-height--medium;
  }
}

$font-heading-tertiary--size: 1.25rem; // 20px
$font-heading-tertiary--weight: bold;
$font-heading-tertiary--line-height: 1.4;

$font-heading-tertiary--size--medium: 1.5rem; // 24px
$font-heading-tertiary--line-height--medium: 1.6;

/**
 * Tertiary Heading (H3 in PDF)
 *
 * Mobile: 20px (1.25rem), bold, 1.6
 * Desktop: 24px (1.5rem), bold, 1.4
 */
.make-font-heading-tertiary {
  font-size: $font-heading-tertiary--size; //22px
  font-weight: $font-heading-tertiary--weight;
  line-height: $font-heading-tertiary--line-height;

  @include media-breakpoint-up(md) {
    font-size: $font-heading-tertiary--size--medium; //24px
    line-height: $font-heading-tertiary--line-height--medium;
  }
}

$font-large--size: 1.0625rem; // 17px
$font-large--weight: normal;
$font-large--line-height: 1.6;

$font-large--size--medium: 1.0625rem; // 17px
$font-large--line-height--medium: 1.8; // make the font "feel" 19px as in design

/**
 * Large Font (H4 in PDF)
 *
 * Mobile: 17px (1.0625rem), normal, 1.6
 * Desktop: 17px (1.0625rem), normal, 1.6 (Should actually be 19px, but 19px doesn't render nicely)
 */
.make-font-large {
  font-size: $font-large--size;
  font-weight: $font-large--weight;
  line-height: $font-large--line-height;

  @include media-breakpoint-up(md) {
    font-size: $font-large--size--medium;
    line-height: $font-large--line-height--medium;
  }
}

$font-large-semibold--size: 1.0625rem; // 17px
$font-large-semibold--weight: $font-weight-medium;
$font-large-semibold--line-height: 1.6;

$font-large-semibold--size--medium: 1.0625rem; // 17px
$font-large-semibold--line-height--medium: 1.8; // make the font "feel" 19px as in design

/**
 * Large Semibold Font (H5 in PDF)
 *
 * Mobile: 17px (1rem), semibold (600), 1.6
 * Desktop: 17px (1.1875rem), semibold (600), 1.6 (Should actually be 19px, but 19px doesn't render nicely)
 */
.make-font-large-semibold {
  font-size: $font-large-semibold--size;
  font-weight: $font-large-semibold--weight;
  line-height: $font-large-semibold--line-height;

  @include media-breakpoint-up(md) {
    font-size: $font-large-semibold--size--medium;
    line-height: $font-large-semibold--line-height--medium;
  }
}

$font-medium--size: 0.875rem; // 14px
$font-medium--weight: normal;
$font-medium--line-height: 1.6;

$font-medium--size--medium: 1rem; // 16px

/**
 * Medium Font (H6 in PDF)
 *
 * Mobile: 14px (0.875rem), normal, 1.6
 * Desktop: 16px (1rem), normal, 1.6
 */
.make-font-medium {
  font-size: $font-medium--size; //14px
  font-weight: $font-medium--weight;
  line-height: $font-medium--line-height;

  @include media-breakpoint-up(md) {
    font-size: $font-medium--size--medium; //16px
  }
}

$font-medium-semibold--size: 0.875rem; //14px
$font-medium-semibold--weight: $font-weight-medium;
$font-medium-semibold--line-height: 1.6;

$font-medium-semibold--size--medium: 1rem; //16px

/**
 * Medium Semibold Font (H7 in PDF)
 *
 * Mobile: 14px (0.875rem), semibold (600), 1.6
 * Desktop: 16px (1rem), semibold (600), 1.6
 */
.make-font-medium-semibold {
  font-size: $font-medium-semibold--size; //14px
  font-weight: $font-medium-semibold--weight;
  line-height: $font-medium-semibold--line-height;

  @include media-breakpoint-up(md) {
    font-size: $font-medium-semibold--size--medium; //16px
  }
}

$font-small-semibold--size: 0.875rem; //14px
$font-small-semibold--weight: $font-weight-medium;
$font-small-semibold--line-height: 1.6;

/**
 * Small Semibold Font (H8 in PDF)
 *
 * Mobile: n/a
 * Desktop: 14px (0.875rem), semibold (600), 1.6
 */
.make-font-small-semibold {
  font-size: $font-small-semibold--size; //14px;
  font-weight: $font-small-semibold--weight;
  line-height: $font-small-semibold--line-height;
}
