@mixin invisible-font {
  font-size: 0;
  color: transparent;
}

@mixin undo-invisible-font {
  font-size: $font-size; // 8 IE Fallback
  font-size: 1rem;
  color: $font-color;
}

// Copyright AXA Versicherungen AG 2015
