.callout {
  border: 1px solid $color-gray--lighter;
  border-left: 3px solid $color-blue;
  padding: 20px;
  margin: 20px 0;
  max-width: 700px;
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.1);
}

.callout__heading {
  font-size: 21px;
  margin: 0 0 8px 0;
  color: $color-blue;
}

.callout--danger {
  border-left-color: $color-red;

  .callout__heading {
    color: $color-red;
  }
}

// Copyright AXA Versicherungen AG 2015
