.contribute {
  margin: 20px -15px;
  padding: 20px;
  background: $color-gray--lighter;

  @extend .clearfix;

  @include media-breakpoint-up(md) {
    display: table;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 100%;
  }
}

.contribute__row {
  @include media-breakpoint-up(md) {
    display: table-row;
  }
}

.contribute__content {
  @include media-breakpoint-up(md) {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
  }
}

.contribute__image {
  display: none;

  @include media-breakpoint-up(md) {
    display: table-cell;
    width: 100px;
    vertical-align: middle;
    padding: 20px 0 20px 20px;
  }
}

.contribute__octocat {
  width: 100px;
}

.contribute__headline {
  font-size: 19px;
  font-weight: bold;
}

// Copyright AXA Versicherungen AG 2015
