.easter-egg {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;

  transition: all $transition-normal $transition-default;
}

.easter-egg.is-unlocked {
  max-height: inherit;
  visibility: visible;
  opacity: 1;
}
