.head {
  padding: 20px inherit;
  margin-bottom: 20px;

  // This overlaps the border of the page header
  margin-top: -1px;

  background-color: $color-green;
  color: white;
  font-size: 16px;
  line-height: 22px;

  @include media-breakpoint-up(md) {
    font-size: 21px;
    line-height: 24px;

    // Reset the mobile border overlap
    margin-top: 0;
  }
}

.head__title {
  padding: 10px 0;
  margin: 0;

  font-weight: normal;

  @include media-breakpoint-up(md) {
    padding-top: 20px;
  }
}

.head__lead {
  padding: 10px 0;
  margin: 0;

  @include media-breakpoint-up(md) {
    padding: 20px 0;
  }
}

.head__actions {
  padding: 10px 0;
  margin: 0;

  @include media-breakpoint-up(md) {
    padding: 20px 0;
  }
}

.head__action {
  margin: 5px;
}

.head__notice {
  color: $color-blue;
}

.head.head--master {
  text-align: center;
  font-size: 22px;

  @include media-breakpoint-up(md) {
  }
}

.head.head--master .head__lead {
  @include media-breakpoint-up(md) {
    padding-left: 50px;
    padding-right: 50px;

    font-size: 29px;
  }
}

// Copyright AXA Versicherungen AG 2015
