@import '~style/blocks/heading';
@import '~style/mixins/clearfix';
@import '~style/mixins/respond';

.hero {
  @extend .clearfix;

  max-width: 800px;
}

.hero__image {
  float: right;
  width: 200px;

  @include respond(medium) {
    width: 300px;
  }
}

.hero__image__img {
  width: 100%;
}

.hero__content {
  margin-right: 250px;
  font-size: 1.2em;

  @include respond(medium) {
    margin-right: 380px;
  }
}

.hero__content__headline {
  @extend .heading;
  @extend .heading--page;

  border-bottom: 0;
  margin-bottom: 20px;
}

// Copyright AXA Versicherungen AG 2015
