.icons-list {
  padding-left: 0;
  list-style: none;
  display: block;

  &::after {
    clear: both;
    content: ' ';
    display: block;
  }

  &__item {
    float: left;

    width: 50%;
    padding: 20px 10px 10px 10px;

    @include media-breakpoint-up(lg) {
      width: 25%;
    }

    line-height: 1.4;
    text-align: center;
    background-color: $color-gray--lighter;
    border: 1px solid #fff;

    &:hover {
      color: #fff;
      background-color: $color-blue;
    }
  }

  &__icon {
    font-size: 2em;
  }

  &__text {
    display: block;
  }
}

// Copyright AXA Versicherungen AG 2015
