@import '../../../scss/style/blocks/heading';

.inspiration {
  margin: 40px 0 0 0;
}

.inspiration__item {
  @include make-row;
  margin: 0 0 40px 0;
}

.inspiration__item__image {
  display: block;
  @include make-column;
  @include make-column(3);
}

.inspiration__item__image__img {
  max-width: 100%;
}

.inspiration__item__content {
  @include make-column;
  @include make-column(9);
}

.inspiration__item__title {
  display: block;
  text-decoration: none;
  @extend .heading;
  @extend .heading--secondary;
}

.inspiration__item__description {
  display: block;
  text-decoration: none;
  color: $font-color;
}

// Copyright AXA Versicherungen AG 2015
