---
title: Brand
layout: demo.hbs
---
<header class="header">
  <div class="header-main">
    <div class="container-fluid">
      <a href="#" class="header-brand">
        <span>
          <strong>AXA</strong>
          <br />
          <span>Strategic Ventures</span>
        </span>
      </a>
    </div>
  </div>
</header>