---
title: Container
layout: demo.hbs
---
<header class="header">
  <div class="header-main">
    <div class="container">
      <div class="header-item">
        <span>I'm a constrained-width header!</span>
      </div>
    </div>
  </div>
</header>