---
title: Meta Menu
layout: demo.hbs
---
<header class="header">
  <div class="header-meta">
    <div class="container-fluid">
      <nav class="header-meta-menu">
        <ul class="header-meta-menu-list">
          <li class="header-meta-menu-item">
            <a href="#" class="header-meta-menu-link">Individuals</a>
          </li>
          <li class="header-meta-menu-item">
            <a href="#" class="header-meta-menu-link">Small Businesses</a>
          </li>
          <li class="header-meta-menu-item">
            <a href="#" class="header-meta-menu-link">Businesses</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
