---
title: Navigation
layout: demo.hbs
---
<header class="header">
  <div class="header-main">
    <div class="container-fluid">
      <nav id="demoNav" class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#" class="nav-link">Web Guidelines</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Toolkit</a>
          </li>
        </ul>
        <div class="nav-stroke" data-spy="stroke" data-target="#demoNav" />
      </nav>
    </div>
  </div>
</header>
