---
title: Search
layout: demo.hbs
---
<header class="header">
  <div class="header-main">
    <div class="container-fluid">
      <form class="header-search float-xs-right" data-search="header">
        <div class="header-search-dunno">
          <input type="text" class="header-search-input" name="q" placeholder="Search the entire axa.com" />
          <button type="submit" class="header-search-button">
            <span class="sr-only">Search</span>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</header>