---
title: Transparent Header
layout: demo.hbs
transparentBgImage: https://cloud.githubusercontent.com/assets/198988/19979108/8b2d3476-a1f9-11e6-8ffd-c352eeeb053e.jpg
---
<div style="position: relative">
  <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url({{transparentBgImage}}) no-repeat center top; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
  <header class="header transparent">
    <div class="header-meta hidden-md-down">
      <div class="container-fluid">
        <nav class="header-meta-menu float-xs-right">
          <ul class="header-meta-menu-list">
            <li class="header-meta-menu-item">
              <a href="#" class="header-meta-menu-link">Individuals</a>
            </li>
            <li class="header-meta-menu-item">
              <a href="#" class="header-meta-menu-link">Small Businesses</a>
            </li>
            <li class="header-meta-menu-item">
              <a href="#" class="header-meta-menu-link">Businesses</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="header-main">
      <div class="container-fluid">
        <a href="#" class="header-brand" data-fade="search" data-target="#transparentSearch" data-in="fade-in-delayed-xs-up" data-out="fade-out-xs-up">
          <span><strong>AXA</strong><br />Strategic <strong>Ventures</strong></span>
        </a>

        <a href="#" class="header-burger float-xs-right hidden-lg-up">
          <span class="header-burger-line"></span>
        </a>

        <form id="transparentSearch" class="header-search float-xs-right" data-search="header">
          <div class="header-search-dunno">
            <input type="text" class="header-search-input" name="q" placeholder="Search the entire axa.com" />
            <button type="submit" class="header-search-button">
              <span class="sr-only">Search</span>
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </div>
        </form>

        <div class="header-item float-xs-right hidden-xs-down" data-fade="search" data-target="#transparentSearch" data-in="fade-in-delayed-xs-up" data-out="fade-out-xs-up">
          <a href="#" class="btn btn-axa">File a Claim</a>
        </div>

        <nav id="transparentNav" class="nav float-xs-right hidden-md-down" data-fade="search" data-target="#transparentSearch" data-in="fade-in-delayed-xs-up" data-out="fade-out-xs-up">
          <ul class="nav-list">
            <li class="nav-item">
              <a href="#" class="nav-link">Web Guidelines</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Toolkit</a>
            </li>
          </ul>
          <div class="nav-stroke" data-spy="stroke" data-target="#transparentNav" />
        </nav>
      </div>
    </div>
  </header>
</div>