---
title: Checkbox-Group
layout: demo.hbs
---

include ../../../mixins.pug

.checkbox-group(data-checkbox-group)
  label.checkbox(data-checkbox)
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      +svg('checkmark', 'checkbox__label__icon')
      .checkbox__label__text Sample checkbox one
  label.checkbox(data-checkbox)
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      +svg('checkmark', 'checkbox__label__icon')
      .checkbox__label__text Sample checkbox two
  label.checkbox(data-checkbox)
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      +svg('checkmark', 'checkbox__label__icon')
      .checkbox__label__text Sample checkbox three
  label.checkbox(data-checkbox)
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      +svg('checkmark', 'checkbox__label__icon')
      .checkbox__label__text Sample checkbox four
  label.checkbox(data-checkbox)
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      +svg('checkmark', 'checkbox__label__icon')
      .checkbox__label__text Sample checkbox five
  label.checkbox(data-checkbox)
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      +svg('checkmark', 'checkbox__label__icon')
      .checkbox__label__text Sample checkbox six
  label.checkbox(data-checkbox)
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      +svg('checkmark', 'checkbox__label__icon')
      .checkbox__label__text Sample checkbox seven
  label.checkbox(data-checkbox)
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      +svg('checkmark', 'checkbox__label__icon')
      .checkbox__label__text Sample checkbox eight
  label.checkbox(data-checkbox)
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      +svg('checkmark', 'checkbox__label__icon')
      .checkbox__label__text Sample checkbox nine
  label.checkbox(data-checkbox)
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      +svg('checkmark', 'checkbox__label__icon')
      .checkbox__label__text Sample checkbox ten
  label.checkbox(data-checkbox)
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      +svg('checkmark', 'checkbox__label__icon')
      .checkbox__label__text Sample checkbox eleven
  label.checkbox(data-checkbox)
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      +svg('checkmark', 'checkbox__label__icon')
      .checkbox__label__text Sample checkbox twelve
  label.checkbox(data-checkbox)
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      +svg('checkmark', 'checkbox__label__icon')
      .checkbox__label__text Sample checkbox thirteen
  label.checkbox(data-checkbox)
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      +svg('checkmark', 'checkbox__label__icon')
      .checkbox__label__text Sample checkbox fourteen

//- Copyright AXA Versicherungen AG 2015
