---
title: Checkbox-Group as Buttons
layout: demo.pug
---

include ../../../mixins.pug

.checkbox-group(data-checkbox-group)
  label.checkbox.checkbox--button(data-checkbox)
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      +svg('checkmark', 'checkbox__label__icon')
      .checkbox__label__text Sample checkbox default
  label.checkbox.checkbox--button(data-checkbox, data-color="red")
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      +svg('checkmark', 'checkbox__label__icon')
      .checkbox__label__text Sample checkbox red
  label.checkbox.checkbox--button(data-checkbox, data-color="green")
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      +svg('checkmark', 'checkbox__label__icon')
      .checkbox__label__text Sample checkbox green
  label.checkbox.checkbox--button(data-checkbox, data-color="#ff6600")
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      +svg('checkmark', 'checkbox__label__icon')
      .checkbox__label__text Sample checkbox #ff6600

//- Copyright AXA Versicherungen AG 2015
