---
title: Basic-Dropdown
layout: demo.pug
---

include ../../../mixins.pug

.dropdown(data-dropdown)
  .dropdown__label(data-dropdown-label)
    +svg('arrow-bottom', 'dropdown__label__icon')
    .dropdown__label__text(data-dropdown-text)
  select.dropdown__select(data-dropdown-select)
    option Schweiz
    option Regenbogenland

//- Copyright AXA Versicherungen AG 2015
