---
title: Radio button 1
layout: demo.hbs
---

<div class="custom-radio1-wrapper">
  <label class="custom-control custom-radio radio1">
    <input id="radio1" name="radio" type="radio" class="custom-control-input">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Toggle this custom radio</span>
  </label>
  <label class="custom-control custom-radio radio1">
    <input id="radio2" name="radio" type="radio" class="custom-control-input">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Or toggle this other custom radio</span>
  </label>
  <label class="custom-control custom-radio radio1">
    <input id="radio2" name="radio" type="radio" class="custom-control-input" disabled>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">disabled</span>
  </label>
</div>
