---
title: Steps
layout: demo.hbs
---

include ../../../mixins.pug

.steps
  h3.steps__heading Die nächsten Schritte
  p.steps__info Die Organisation der Reparatur erfolgt durch die AXA.
  ul.steps__flow
    li.steps__step
      .steps__indicator
      .steps__content
        h3.steps__title Reparatur
        .steps__description
          p Eine AXA-Partnergarage ruft Sie oder den Geschädigten innerhalb von 48h an oder Sie erhalten die Adresse der nächstgelegenen AXA-Partnergarage. 
    li.steps__step
      .steps__indicator
      .steps__content
        h3.steps__title Bestätigung
        .steps__description
          p Die AXA wird Sie in den nächsten Tagen kontaktieren.
    li.steps__step
      .steps__indicator
      .steps__content
        h3.steps__title Rechnung
        .steps__description
          p Die Garage sendet die Rechnung im Doppel an die AXA und den Kunden oder einen eventuellen Geschädigten, auch wenn die AXA die Reparatur nicht organisiert. Die AXA prüft und begleicht die Rechnung.
    li.steps__step
      .steps__indicator
      .steps__content
        h3.steps__title Abschluss
        .steps__description.richtext
          p 10-15 Tage nach Rechnungsstellung der Garage erhalten Sie und ein eventueller Geschädigter ein Abschluss-Schreiben von der AXA mit Informationen über:
          ul
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultrices, magna sit amet lobortis eleifend, mi erat efficitur massa, eu aliquam nulla mi id enim. Maecenas sed venenatis neque.
            li Lorem Ipsum
            li Lorem Ispum

//- Copyright AXA Versicherungen AG 2015
