---
title: Summary
layout: demo.pug
---

include /components/includes/mixins.pug

.summary
  h3.summary__heading Form group name
  ul.summary__items
    li.summary__item
      h4.summary__label Field 1 label
      p.summary__content Field 2 content ...
    li.summary__item
      h4.summary__label Field 1 label
      p.summary__content Field 2 content ...
  a.summary__edit.link(href='#', title='Eingabe anpassen') ändern

//- Copyright AXA Versicherungen AG 2015
