---
title: Textfield with info icon
layout: demo.hbs
---

<div class="form-group">
  <label for="exampleInputEmail1">Email address</label>
  <div class="form-control-info-wrapper" >
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" aria-describedby="emailHelp">
    <!-- TODO: Implement custom tooltip -->
    <a class="form-control-info-indicator" data-toggle="tooltip" title="Some tooltip text!"><span id="emailHelp" class="sr-only" >Some tooltip text!</span></a>
  </div>
</div>
