---
title: Textfield with info icon
layout: demo.hbs
---

<div class="form-group">
  <label for="exampleInputEmail1">Email address</label>
  <div class="form-control-info-wrapper" >
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <a class="form-control-info-indicator" href="#" data-toggle="tooltip" data-trigger="click" title="Some tooltip text!"><span class="sr-only">info</span></a>
  </div>
  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div>
